[2018-07-12 08:08] L-Angel commented on #2062
@beiwei30 [https://github.com/L-Angel/dubbodemo](https://github.com/L-Angel/dubbodemo)
use callback-npe branch

[2018-07-12 09:03] ralf0131 commented on #1793
Hi, please subscribe to the mailing list, Dubbo 3.0 development is discussed there.

[2018-07-12 09:03] #1793 closed

[2018-07-12 09:05] ralf0131 commented on #1734
I am closing this issue for now. Feel free to reopen it you are still getting this.

[2018-07-12 09:05] #1734 closed

[2018-07-12 09:22] ralf0131 commented on #1714
Hi,

I noticed the two alternative for Redis Client: Jedis and Redisson, they are both recommended on the official Java client for Redis [1]. They both have their advantages.

Do you have any performance evaluation for these two clients?

Unless you have provided enough information, we can't make the decision  to replace Jedis with Redisson.

p.s. Uploading a zip file is not recommended, please us

[2018-07-12 09:36] ralf0131 commented on #1769
Hi,

I am afraid that there isn't a way to do so.

Since you can specify multiple container, how can you know which args should go with which container?

e.g.

[code]

How to specify args for container2?

Maybe sth. like this:

[code]

But this may require change for the current code, also you need consider the compatibility. Therefore it is kind of difficult.

Do you have interested in implement

[2018-07-12 11:23] beiwei30 opened #2072 "need javadoc and articles for spring annotation use."
we need to add javadoc for all Dubbo's spring annotations. Plus, we also need to provide more comprehensive tutorial to show how to use Dubbo with Spring. For example:

[code]

[2018-07-12 11:50] lovepoem commented on #2069
A bug same as ：
https://github.com/apache/incubator-dubbo/issues/146

[2018-07-12 16:31] lovepoem commented on #2069
What's the dubbo version of your project ? @13289872326
I fix it in https://github.com/dubbo/hessian-lite/pull/2, it belong to 2.7.x
Next I will patch it to 2.5.x and 2.6.x branches;

[2018-07-13 02:28] hanwangkun commented on #1992
就是如果把dubbo服务发布在docker容器里面，注册到zk里面的地址是docker的内网，这样，其他的机器就不能访问这个dubbo服务了。

[2018-07-13 02:31] lovepoem commented on #146
close this via https://github.com/dubbo/hessian-lite/pull/2

[2018-07-13 02:31] #146 closed

[2018-07-13 02:31] lovepoem commented on #2069
close this via https://github.com/dubbo/hessian-lite/pull/2

[2018-07-13 02:31] #2069 closed

[2018-07-13 03:23] 34176470 opened #2075 "Is Alibaba Cloud EDAS compatibile for dubbo?"
阿里云EDAS完全兼容dubbo吗？
EDAS环境是不是不支持dubbo自扩展Filter、ExtensionFactory？

[2018-07-13 05:38] for5million commented on #2075
是的，目前EDAS暂时不支持此类特性，能支持80%左右的特性。

[2018-07-13 05:40] kimmking commented on #2043
@chutian52 your suggestion can work well for a  little part of cases.

[2018-07-13 05:52] kimmking commented on #2075
see here:
https://www.aliyun.com/product/edas?spm=5176.8142029.388261.335.e9396d3esa0ozo

[2018-07-13 06:14] ralf0131 commented on #1992
Please check this example: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker

It should solve your problem. I am closing it now.

If not, please reopen this issue.

[2018-07-13 06:14] #1992 closed

[2018-07-13 06:55] wangchangbing commented on #2065
% encodig导致的  @simon518  你给下你的注册上去的原始值看看，去掉特殊符号应该就成

[2018-07-13 06:59] ralf0131 commented on #2063
Hi, this is fixed in the master branch, I think it should be back ported to 2.6.x branch. @beiwei30

[2018-07-13 09:36] diecui1202 commented on #2054
@L-Angel

I think there has two steps to use callback invoke mechanism:
1. register the callback, then provider side hold this callback service
2. the provider trigger invoking callback service with suitable time

Check this sample: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-callback

[2018-07-13 09:38] diecui1202 commented on #2075
The EDAS on Alibaba Cloud is compatible with Dubbo for the two features you mentioned. You can refer EDAS documentation for more information.

[2018-07-13 09:54] 34176470 commented on #2075
自己根据dubbo的filter扩展方式，自己扩展了一个filter

在本机spring boot方式启动时，可以正常进入filter，并执行后续逻辑

在测试环境docker方式启动时，也可以正常进入filter，并执行后续逻辑

但在UAT环境，使用阿里云EDAS环境时，始终进入不了自己扩展的filter

请问这与EDAS环境有关吗？如何解决？

下面是代码：

@Activate(group = {Constants.PROVIDER, Constants.CONSUMER}, value = "tracing")
public final class TracingFilter implements Filter {

    private static Logger logger = LoggerFactory.getLogger(TracingFilter.class);

[2018-07-13 11:29] yjqg6666 commented on #988
php > var_dump(urldecode("%24"));
string(1) "$"
php > var_dump(urlencode("%24"));
string(5) "%2524"
php > var_dump(urlencode("%2524"));
string(7) "%252524"
php > var_dump(urlencode("%252524"));
string(9) "%25252524"
php > var_dump(urlencode("%25252524"));
string(11) "%2525252524"

interface命名中含有特殊符号，然后多次转义的情况下会这样。　
转义是在什么情况下执行的？什么情况下会再次转义？　
我们有接口使用的是子类用到了$　出现了多个252524。
zk节点下面都有[consumers, routers,

[2018-07-13 11:31] yjqg6666 commented on #988
@Liubey
php > var_dump(urldecode("%2C"));
string(1) ","

[2018-07-13 12:05] ralf0131 commented on #2064
I am looking at this issue. I have a fix already, and I am doing some test locally.

[2018-07-13 20:03] L-Angel commented on #2054
I think the reason of this error is that the inner class defined in a class ,when we serialize this inner class must to serialize its parent class. In other words,In this demo the class demoController must to be serialized when the class DemoController$0.this$1 is serialized , and the DemoController is not implement
Serialiable interface.So we cant use func class.isAssignableFrom to judge that inn

[2018-07-13 20:32] L-Angel commented on #2054
If the consumer only have a instance.
consider one case like that there are saveral request at the same time to request provider.
the provider invoking callback service,
then i how to make a mapping with the callback result and request context.

[2018-07-14 01:42] luyuanwan commented on #2067
You can give the stack trace.

[2018-07-14 03:54] ralf0131 commented on #2072
This is fixed by #2076

[2018-07-14 05:19] lovepoem commented on #2031
close this via https://github.com/dubbo/hessian-lite/pull/1

If dubbo project want to use bugfix,should wat for the release v3.2.4 of https://github.com/dubbo/hessian-lite

[2018-07-14 05:19] #2031 closed

[2018-07-14 05:38] lovepoem commented on #2050
@chutian52 Would you please have a try?

[2018-07-14 06:19] nobodyiam commented on #2031
Thanks!

[2018-07-15 03:39] tswstarplanet commented on #1467
Because dubbo will resolve the @service annotation when it's initializinge the service bean, then spring framework will instantiate the corresponding bean. But dubbo doesn't read the config file when it's initializing the service bean

[2018-07-15 09:53] ralf0131 commented on #2028
Please check out the examples here: https://github.com/dubbo/dubbo-samples

Most of them are using embedded zookeeper.

[2018-07-15 09:53] #2028 closed

[2018-07-15 13:39] ralf0131 commented on #2046
Hi,

Could you please send a pull request to fix it?
I think it is a trivial change. I am going to a `good first issue` label.

[2018-07-15 13:43] ralf0131 commented on #2012
The placeholder feature has been added recently, please check the latest code. Feel free to reopen if it still exists.

[2018-07-15 13:43] #2012 closed

[2018-07-15 13:47] ralf0131 commented on #1947
You may check this example: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker

[2018-07-15 13:48] ralf0131 commented on #1928
Hi, I am closing this issue, feel free to reopen it if necessary.

[2018-07-15 13:48] #1928 closed

[2018-07-15 13:53] ralf0131 commented on #1848
Hi, I think @diecui1202 's comments clearly answered this question, I am closing it now.

[2018-07-15 13:53] #1848 closed

[2018-07-15 13:53] #1840 closed

[2018-07-15 14:08] ralf0131 commented on #1826
QOS can be disabled by programmable API in ApplicationConfig#setQosEnable, therefore is should be configurable if you are using Java API.

If you are running Dubbo in [spring-boot](https://github.com/apache/incubator-dubbo-spring-boot-project), you can configure in application.properties:

[code]

For XML configuration, I think we can't disabled for now, that is task to be fixed.

You can work it

[2018-07-15 14:44] luyuanwan commented on #2033
可以拉取最新代码，试试就知道是不是bug

[2018-07-16 01:17] yjx1045072812 commented on #1769
Using system properties is a good solution, but it may not be convenient in the case of automatic integration publishing.
And this:

`java -jar my.jar -container containerA arg1 arg2 -container containerB arg1 arg2 `

This should be the effect I want, I am willing to implement it, but I am afraid I don't have time.
Forgive me for my bad English.

[2018-07-16 01:44] #1929 closed

[2018-07-16 02:06] ralf0131 commented on #1769
@yjx1045072812

1.  Implement that feature don't require your English but coding skill :)
2. Your English is totally understandable, so don't be afraid of that! You can also add Chinese after English to describe your ideas.

You can implement it whenever you have time!

[2018-07-16 02:37] chickenlj commented on #2075
Can you give a complete runnable package, for example, your own Github repository? So that we can help to reproduce the problem.

[2018-07-16 04:44] 34176470 commented on #2075
https://github.com/34176470/springboot-dubbo-zipkin-brave.git

[2018-07-16 05:12] moayi opened #2083 "dubbo返回值不能序列化"
在使用dubbo时，如果返回值是public  GridFSDBFile findFileById(String id);
例如此类的接口，返回值要怎么处理？

[2018-07-16 05:17] lovepoem commented on #2083
What is wrong with your code?
Please paste some exception stack info

[2018-07-16 05:37] moayi commented on #2083
因为这个返回值是一个二进制文件，没有序列化导致的，我现在不方便截图，有时间给您截图，谢谢

[2018-07-16 05:37] moayi commented on #2083
因为这个返回值是一个二进制文件，没有序列化导致的，我现在不方便截图，有时间给您截图，谢谢

[2018-07-16 06:19] ralf0131 commented on #1753
I believe this issue has been solved.

[2018-07-16 06:19] #1753 closed

[2018-07-16 06:21] ralf0131 commented on #1749
Please check this example:
https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker

[2018-07-16 06:21] #1749 closed

[2018-07-16 06:29] ralf0131 commented on #1489
It has been done in 2.7.x branch.

[2018-07-16 06:29] #1489 closed

[2018-07-16 06:29] #1441 closed

[2018-07-16 06:31] ralf0131 commented on #1432
Please check this example: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker

[2018-07-16 06:31] #1432 closed

[2018-07-16 06:37] ralf0131 commented on #1280
As @chickenlj suggested, please use the following properties to disable qos:

[code]

I am closing this issue now.

[2018-07-16 06:37] #1280 closed

[2018-07-16 07:03] #892 closed

[2018-07-16 07:05] #890 closed

[2018-07-16 07:06] #879 closed

[2018-07-16 07:09] ralf0131 commented on #878
From your error log, I can see javassist version 3.7 is used, please make sure you are using latest javassist version.

[2018-07-16 07:13] ralf0131 commented on #875
Please provide a simple example to reproduce this issue.

[2018-07-16 07:16] ralf0131 commented on #830
Please check the latest version, I has been added recently.

[2018-07-16 07:16] #830 closed

[2018-07-16 07:18] ralf0131 commented on #808
Hi, please checkout this project: https://github.com/dubbo/dubbo-registry-etcd

[2018-07-16 07:20] ralf0131 commented on #802
@chickenlj I've noticed that you added `good first issue` and `help wanted`. What should be done here?

[2018-07-16 07:21] ralf0131 commented on #732
This has been fixed from 2.6.3 onwards.

[2018-07-16 07:21] #732 closed

[2018-07-16 07:29] ralf0131 commented on #631
Please check the latest version of Dubbo, it should solve your issue.

[2018-07-16 07:32] ralf0131 commented on #619
Hi, can you provide an example to reproduce this issue?

[2018-07-16 07:32] #585 closed

[2018-07-16 07:33] #560 closed

[2018-07-16 07:35] ralf0131 commented on #557
Is your issue solved?

[2018-07-16 07:40] ralf0131 commented on #538
I think the following actions should be made:

* Add a documentation on how to get ip and register to registry
* Add this kind to question to FAQ.

Related issue: #560

[2018-07-16 07:47] ralf0131 commented on #535
Please check this FAQ: https://github.com/apache/incubator-dubbo/wiki/FAQ

[2018-07-16 07:50] ralf0131 commented on #535
Hi,

I think the feature you proposed is not yet implemented, so I am leaving it open.

[2018-07-16 07:50] ralf0131 commented on #514
Can you provide an example output?

[2018-07-16 07:54] ralf0131 commented on #432
Can you provide an example to reproduce this issue?

[2018-07-16 08:08] ralf0131 commented on #1712
The pull request has been merged.

[2018-07-16 08:08] #1712 closed

[2018-07-16 08:45] houbic commented on #2013
I also hit this issue.Could I know when you can fix it please.

[2018-07-16 08:46] houbic commented on #2013
I also hit this issue.Could I know when you can fix it please. @chickenlj @lovepoem

[2018-07-16 10:29] #2065 closed

[2018-07-16 10:31] beiwei30 commented on #2062
great, I will take a look.

[2018-07-16 11:36] freeplato opened #2085 "dubbo rest javax.ws.rs.NotFoundException: RESTEASY003210: Could not find resource for full path:"
[code]

[2018-07-16 13:15] luyuanwan commented on #538
goot suggestion!

[2018-07-16 13:35] ralf0131 commented on #59
This is because tomcat has been stopped but some of the threads Dubbo created did not stopped correctly.

Previously Dubbo uses ShutdownHook to stop these threads, but when tomcat is stops the web application, Dubbo's ShutdownHook has not been executed yet.

The solution is to ensure Dubbo listens to web application's lifecycle and stops the threads properly.

This issue should be fixed from 2.6.3

[2018-07-16 13:35] #59 closed

[2018-07-16 13:36] ralf0131 commented on #128
Dubbo admin has been refactored to a spring-boot application, please check again!

[2018-07-16 13:36] #128 closed

[2018-07-16 13:41] ralf0131 commented on #117
The latest Dubbo should support annotation configuration very well, please checkout this latest code! I am closing this issue.

[2018-07-16 13:41] #117 closed

[2018-07-16 13:44] zhiyunliu opened #2087 "现在已经有Node,js, python ,php 的支持。请问一下，关于golang 的支持会在什么时候"
现在已经有Node,js, python ,php 的支持。请问一下，关于golang 的支持会在什么时候

[2018-07-16 13:46] ralf0131 commented on #105
Hi,

Please check the latest code, I run the dubbo-demo locally and it works fine.
I am going to close this issue, feel free to reopen it if the issue still exists.

[2018-07-16 13:46] #105 closed

[2018-07-16 13:56] ralf0131 commented on #74
This issue should be fixed from 2.6.3 onwards.

[2018-07-16 13:56] #74 closed

[2018-07-16 13:59] ralf0131 commented on #80
Please check this doc: http://dubbo.apache.org/#/docs/user/references/protocol/webservice.md?lang=zh-cn

[2018-07-16 13:59] #80 closed

[2018-07-16 14:01] beiwei30 commented on #2087
It will be available in the upcoming one or two months.

[2018-07-16 14:01] #2087 closed

[2018-07-16 14:01] ralf0131 commented on #71
Hi, I am planing to look at this issue.

[2018-07-16 14:13] ralf0131 commented on #69
Please check: https://github.com/apache/incubator-dubbo/wiki/FAQ, in the "How to register ip correctly in docker" section.

Under windows you can use:

[code]

[2018-07-16 14:13] #69 closed

[2018-07-16 14:17] ralf0131 commented on #66
Maybe you have encountered oom-killer, which mean you have required too much memory that operating system can provide.

[2018-07-16 14:17] #66 closed

[2018-07-16 14:19] #65 closed

[2018-07-16 14:24] ralf0131 commented on #43
Hi, I think the scenario is described in #68

[2018-07-16 14:32] ralf0131 commented on #221
Hi,

Please try the latest version, if you still encounter this issue, please provide a step by step guide to reproduce this issue.

I am closing it for now.

[2018-07-16 14:32] #221 closed

[2018-07-16 14:34] ralf0131 commented on #217
The dubbo-admin has been refactored to be a spring-boot project. Please check it again!

https://github.com/apache/incubator-dubbo-ops

[2018-07-16 14:34] #217 closed

[2018-07-16 14:40] kimmking commented on #2083
You can't serialize objects those reference external resources such as InputStream, Graphic, Connection...

[2018-07-16 14:40] ralf0131 commented on #2075
@34176470 Please don't mix up the issues, please file a new issue for your problem.

I am going to close this issue.

[2018-07-16 14:40] #2075 closed

[2018-07-16 14:48] 298 commented on #221
您好 我不知道为什么我会收到这封邮件？是我使用了什么APP吗？我也没有在github关注这个帖子。我也收到过类似的邮件，看起来是其他软件崩溃产生的错误报告。 rzx0311 邮箱：rzx0311@gmail.com 签名由 网易邮箱大师 定制 在2018年07月16日 22:35，Huxing Zhang 写道： Closed #221. — You are receiving this because you were mentioned. Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-16 15:00] htynkn commented on #221
@298 hey your github user name is 298. some error stack also contains this number. And if it has @ before 298, github will consider this is a notification for you, and send a email to you.

[2018-07-16 15:05] kimmking commented on #2085
hi, @freeplato
can you show your code and config?

[2018-07-16 16:23] kimmking opened #2088 "[BUG]Miss context path when export a rest service explicitly"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: latest

### Step to reproduce this issue

1. export a rest service DemoServ

[2018-07-16 23:08] ralf0131 commented on #150
1. Don't put Dubbo to Tomcat's CATALINA_HOME/lib directory.
2. Please check the latest Dubbo version.
3. If it still have this issue, please provide a description on how to reproduce the issue.
4. I am closing this issue now, feel free to reopen it.

[2018-07-16 23:08] #150 closed

[2018-07-16 23:12] ralf0131 commented on #156
You should be able to retrieve the values before the object is serialized, I think there is nothing to do on Dubbo side right now. I am closing this issue.

[2018-07-16 23:12] #156 closed

[2018-07-16 23:19] ralf0131 commented on #272
Hi,  dubbo-admin has been refactored to a spring-boot project, please check the latest code and try again.

[2018-07-16 23:19] #272 closed

[2018-07-16 23:21] #267 closed

[2018-07-16 23:23] #250 closed

[2018-07-16 23:30] ralf0131 commented on #355
Hi, could you please send a pull request?

[2018-07-17 00:47] mostcool opened #2089 "Dubbo自扩展Filter和ExtensionFactory在阿里云EDAS环境下无效果"
根据dubbo的Filter和ExtensionFactory扩展方式，自己扩展了一个Filter和ExtensionFactory

`@activate(group = {Constants.PROVIDER, Constants.CONSUMER}, value = "tracing")
public final class TracingFilter implements Filter {

private static Logger logger = LoggerFactory.getLogger(TracingFilter.class);

Tracer tracer;
TraceContext.Extractor<Map<String, String>> extractor;
TraceContext.Injector<Map<String, String>> injecto

[2018-07-17 02:08] mercyblitz commented on #168
Please use `@DubboComponentScan`

[2018-07-17 02:08] #168 closed

[2018-07-17 02:09] mercyblitz commented on #168
Please use https://github.com/apache/incubator-dubbo-spring-boot-project/

[2018-07-17 02:19] #2072 closed

[2018-07-17 02:32] moayi commented on #2083
那针对这种问题有什么好的解决办法呢？

[2018-07-17 04:36] whanice commented on #2030
The Registry URL for dubbo may contanins many information. I simply divided into several categories：

### 1.Service registration
1. where is the service? so comes ip and port
2. What services are provided? for dubbo use interface or path
3. how contact with the service? we may use protocol, codec, exchanger, serialization...
4. support multiple versions and isolated， can use group, version
5. ...

[2018-07-17 05:51] kingravi17 commented on #1136
Is this issue resolved? Am also facing a similar issue intermittently.

Or is there any workaround available?

Exception org.springframework.remoting.RemoteAccessException: Cannot access Hessian remote service at [http://******]; nested exception is com.caucho.hessian.io.HessianProtocolException: '￿' is an unknown code
	at org.springframework.remoting.caucho.HessianClientInterceptor.convertHessian

[2018-07-17 07:13] ralf0131 commented on #326
I think there is nothing to do with Dubbo, I am closing this issue.

[2018-07-17 07:13] #326 closed

[2018-07-17 08:32] token01 opened #2091 "代码规范问题"
在项目的整体结构上 是不是不用参考阿里规范写代码  我看该项目还有一些代码规范等级的问题？

[2018-07-17 08:58] kimmking commented on #2091
Hello, @token01
Could you take some review online or submit PR to polish codes?

[2018-07-17 09:01] kimmking commented on #2085
If you use Rest URL to access REST Service directly, plz refer: https://github.com/apache/incubator-dubbo/issues/2088

[2018-07-17 09:13] htynkn commented on #38
Verify this with:
1. dubbo 2.6.2
2. zookeeper 3.4.12
3. curator-framework 2.12.0

All good. Consider this issue is raised at 2014, so close this issue now. If you try latest version and still able to reproduce issue, please raise a new issue

[2018-07-17 09:13] #38 closed

[2018-07-17 09:14] htynkn commented on #339
Verify this with:

1. dubbo 2.6.2
2. zookeeper 3.4.12
3. curator-framework 2.12.0

All good. If you try latest version and still able to reproduce issue, please provide full error log.

[2018-07-17 09:48] carryxyh commented on #1737
@ralf0131
Fixed, able to close.

[2018-07-17 10:17] lovepoem commented on #280
The native Map from jdk is ok
But com.google.common.collect.SingletonImmutableMap  is from guava， the map initialize method is different。

So occurs bug

[code]
[code]

[2018-07-17 10:28] hsl727261250 opened #2093 "dubbo注解service与spring注解service同时在一个类上使用, 无法暴露服务"
dubbo: 2.6.6
spring: 4.3.2

背景:
spring+dubbo项目, spring使用xml配置, 配置文件中打开dubbo注解扫描. dubbo使用注解配置. 整个项目没有使用事务, 没有使用Transactional注解.

症状:
1. 在一个类上同时使用dubbo的service注解和spring的service(或component)注解, 无法暴露dubbo服务.
2. 如果在其他类中使用Autowried注入该类当做spring服务使用, 则dubbo服务也可正常暴露.
3. 使用delay=-1配置, 依然无法暴露.

[2018-07-17 13:47] ralf0131 commented on #1737
@carryxyh Thanks, I checked the latest code, I has been fixed by https://github.com/apache/incubator-dubbo/pull/1759

[2018-07-17 13:47] #1737 closed

[2018-07-17 13:52] carryxyh commented on #1737
: )
u are welcome

[2018-07-17 14:38] tswstarplanet commented on #303
I have commit a pr: https://github.com/apache/incubator-dubbo/pull/1989

[2018-07-17 17:12] kimmking commented on #2093
can you provide a test case to reproduce it?

[2018-07-17 17:15] kimmking commented on #2083
My suggestion is that you should implement a POJO to contains all data you need as the return value type of exported services.

[2018-07-18 01:17] limingwei opened #2095 "FailsafeLogger StackOverflowError 还没改么？都提了这么久了。"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: centos
* Java version: 1.8.0_144

### Ste

[2018-07-18 01:32] lilanlong opened #2096 "ConsumerConfig Load twice"
Duplicate consumer configs: <dubbo:consumer generic="false" version="1.0.1" check="false" /> and <dubbo:consumer generic="false" version="1.0.1" />

I am currently using dubbo, using annotations, but ConsumerConfig back to generate two, one should be created when the project starts, how can I get this ConsumerConfig to set some parameters

[2018-07-18 01:34] chutian52 commented on #2050
@lovepoem It works. Thanks  all of you. Should I close this or depends on you?

[2018-07-18 01:55] lilanlong commented on #2096
{com.alibaba.dubbo.config.ConsumerConfig#0=<dubbo:consumer generic="false" version="1.0.1" />}

[2018-07-18 02:03] ralf0131 commented on #317
Hi,

Would you please provide detail step/examples to reproduce this issue?

[2018-07-18 02:43] diecui1202 commented on #2054
Maybe the callback is not suitable for this scenario. When the callback result returns, the corresponding request has been released. Because the provider invokes the callback is not immediately, such as waiting for some condition occurs.

[2018-07-18 02:46] diecui1202 commented on #2062
The same issue? https://github.com/apache/incubator-dubbo/issues/2054

[2018-07-18 02:54] Jeff-Lv commented on #1947
Provider inside k8s and consumer out of control of k8s? Please take some time to look into K8S tutorial about Ingress part.

This issue is not related to Dubbo and should be closed.

[2018-07-18 03:07] #2096 closed

[2018-07-18 03:21] chickenlj commented on #1947
As @Jeff-Lv suggested, please try the Ingress part first.

Reopen this issue if necessary.

[2018-07-18 03:21] #1947 closed

[2018-07-18 03:34] Jeff-Lv commented on #2043
I agree this proposal about static resolution for registry service.

It can be achieved by extending the registry service but also should add more property for the referenceBean about the static host about the service.

[2018-07-18 04:33] tswstarplanet commented on #2093
It seems that you don't need to use @Service or @Component of spring if you use @Service of dubbo

[2018-07-18 04:34] #2083 closed

[2018-07-18 04:35] #2056 closed

[2018-07-18 04:35] chickenlj commented on #2083
Currently, Dubbo does not support the transmission of big files,  you can use [hessian protocol instead](http://dubbo.apache.org/#!/docs/user/references/protocol/hessian.md?lang=zh-cn). Hessian allows you can define an interface looks like this:
[code]

[2018-07-18 04:35] #2033 closed

[2018-07-18 04:57] diecui1202 commented on #2091
It would be great that you submit PRs for better code style. And we will also optimize the code continually.

[2018-07-18 05:16] #2091 closed

[2018-07-18 05:36] diecui1202 commented on #2067
@wallacepang could you please try out the lastest version 2.6.2?

Feel free to reopen it if you also get problem.

[2018-07-18 06:35] diecui1202 commented on #2095
hi, @limingwei This bug has been fixed, and will be release in next version, maybe 2.6.3.

https://github.com/apache/incubator-dubbo/commit/70ec90dae80cf1c1537f0dd83f8a844a905ebbdb

[2018-07-18 06:41] diecui1202 commented on #2095
Feel free to reopen it.

[2018-07-18 06:42] #2095 closed

[2018-07-18 06:52] nzomkxia commented on #125
now dubbo admin uses spring boot and the port is 7001, so you can start it with dubbo monitor at the same time.

[2018-07-18 06:55] #125 closed

[2018-07-18 07:20] luhggit opened #2099 "中文文档示例中"路由规则"中的"false"单词拼写错误"
中文用户指南文档中在"示例"中的"路由规则"中,有两处地方拼写错误,一处是"...forch=false,...缺省为flase",还有一处是"...runtime=false,...缺省为flase"
"flase"写错了吧,应该是"false"吧

[2018-07-18 07:32] diecui1202 commented on #2003
May be you need use the following value as the parameterTypes
* long[].class.getName()
* int[].class.getName()
* char[].class.getName()

You can try it out.

[2018-07-18 08:31] nzomkxia commented on #219
you can delete a static provider now

[2018-07-18 08:32] huduku commented on #538
我装过 vmware，然后多了两个虚拟网卡。dubbo 把我的VMnet1的ip解析成本机地址了。

[2018-07-18 08:59] MicroCountry opened #2100 "provider start qos-server can not bind localhost:22222"
### Environment

* Dubbo version:  2.6.2
* Operating System version: centos
* Java version: 1.8
* config :

dubbo.application.id=service-shop
dubbo.application.name=service-shop

dubbo.protocol.id=zookeeper
dubbo.protocol.name=dubbo
dubbo.protocol.port=12000
dubbo.protocol.status=server

dubbo.registry.id=jhmf
dubbo.registry.address=172.16.137.230:2181
dubbo.registry.protocol=zookeeper
dubbo.regis

[2018-07-18 09:32] tswstarplanet commented on #2100
You can change the port to another number to see if it works so that you know if it is a bug.

[2018-07-18 09:41] hsl727261250 commented on #2093
经过调试发现是lazy-init的原因.
我的项目指定了全局lazy-init=true, 所以一般情况下spring管理的类都会延迟加载.
当我单独使用dubbo的service注解时, 该类不由spring管理, 启动时正常加载正常暴露服务.
当同时使用两个注解时, spring启动时会延迟加载该类, 所以无法暴露服务.
当同时使用两个注解, 并在其他类中Autowired该类时, 不满足延迟加载条件, 启动时正常加载正常暴露服务.

为什么会同时使用dubbo和spring的service注解? 因为这个服务内部外部都要使用.

[2018-07-18 10:07] ningyu1 commented on #2003
@diecui1202 thanks.
Tried it, but still reported the wrong.

[2018-07-18 10:16] ralf0131 commented on #219
<READY-TO-CLOSE>

[2018-07-18 10:17] #219 closed

[2018-07-18 11:41] #1680 closed

[2018-07-18 12:35] #2088 closed

[2018-07-18 13:16] ralf0131 commented on #303
Fixed.

[2018-07-18 13:16] #303 closed

[2018-07-18 14:53] luyuanwan commented on #1685
I  can try it

[2018-07-18 15:11] tswstarplanet commented on #2013
I want to solve the problem, and I want to add a tag 'threadpool', but what complex tag should I add the tag to?

[2018-07-18 15:12] zonghaishang commented on #127
@zhouyuzhy

If the call failed, it will join the failure list and retry it. If the retry is successful, it will be removed.
Test code can be provided ?  This issue can be reopened at any time.

[2018-07-18 15:12] #127 closed

[2018-07-18 15:32] ralf0131 commented on #160
That is true, and the second protocol will fail.

This is not true, no matter what the server is, jetty or tomcat, only the first protocol will be used.

Example:

[code]

The second webservice protocol will fail because of the port conflict.

[code]

### Conclusion

If you would like to have 2 different protocols, you have to specify two different ports.

[2018-07-18 15:40] #160 closed

[2018-07-18 15:41] ralf0131 commented on #295
Hi,

I have tried the latest code on master branch, it works fine. I am closing this issue now.

Please feel free to reopen it if it still exists.

[2018-07-18 15:41] #295 closed

[2018-07-19 00:47] ralf0131 commented on #291
I am afraid currently Dubbo does not support retry on service registration. I think this can be an improvement.

[2018-07-19 01:35] wallacepang commented on #2067
2.6.2 也是这个问题，@Reference 默认 check=true,  把check改成false ,服务B能正常调用

[2018-07-19 01:37] wallacepang commented on #2067
@diecui1202  2.6.2 也是这个问题，@reference 默认 check=true, 把check改成false ,服务B能正常调用

[2018-07-19 01:42] ralf0131 commented on #244
Hi,

ThriftCodec is deprecated since 2.7.0, please check out this project: https://github.com/dubbo/dubbo-rpc-native-thrift

[2018-07-19 01:43] #244 closed

[2018-07-19 01:49] chickenlj commented on #2013
![15_38_40__05_31_2018](https://user-images.githubusercontent.com/18097545/42916623-cc5dfbfe-8b38-11e8-9e4a-de28cf1dd5e8.jpg)

I have a roughly drawn threadpool structure of Dubbo, hope it can help you understand how it works.

[2018-07-19 01:51] chickenlj commented on #2015
Please reopen this issue when you can provide more details.

[2018-07-19 01:51] #2015 closed

[2018-07-19 02:16] chickenlj commented on #1919
You cannot catch this kind of exception in a customized Filter, because it was thrown when trying to choose a provider, the filter chain not started yet.

In 3.0, we plan to start Filter chain before load balance, and your requirement can be matched by then.

[2018-07-19 02:53] linyu7878 commented on #1919
got it and thanks

[2018-07-19 03:04] ralf0131 commented on #284
Hi, I have checke the latest code,

AbstractServiceConfig#getListener() has been changed to:

[code]

So this is not an issue anymore.

[2018-07-19 03:04] #284 closed

[2018-07-19 03:08] diecui1202 commented on #2067
@wallacepang can you provide the stack trace?

[2018-07-19 03:10] ralf0131 commented on #283
Hi, please check your path, from the stack trace you provided, there is nothing to do on Dubbo side. I am closing it now.

[2018-07-19 03:10] #283 closed

[2018-07-19 03:11] mercyblitz commented on #285
An interesting issue 👍

[2018-07-19 03:12] ralf0131 commented on #280
@lovepoem Do we have anything to do with this issue?

[2018-07-19 03:41] kimmking commented on #2093
It seems  @service of dubbo should register bean to spring context to avoid this case.

[2018-07-19 03:41] kimmking commented on #2093
It seems  @service of dubbo should register bean to spring context to avoid this case.

[2018-07-19 04:11] tswstarplanet commented on #2013
@ralf0131 I'm sorry, I don't completely understand what your reply means. Do you mean that I should not add a "threadpool" tag to any complex tag, and I should solve this problem by other means?

[2018-07-19 04:49] htynkn commented on #223
you can use dubbo-admin to enable or disable service. refer #28.
or you can modify registery information adding `disabled=true`

[2018-07-19 04:49] #223 closed

[2018-07-19 05:09] lovepoem commented on #337
I know a reason for this: One of your business interface has two methods with the same names.

[2018-07-19 05:55] blackdancers commented on #2100
![image](https://user-images.githubusercontent.com/4956686/42924132-6220eca6-8b5b-11e8-8f4e-22f6ffb23fac.png)

[2018-07-19 06:50] #2050 closed

[2018-07-19 10:13] carryxyh commented on #1754
org.apache.dubbo.common.json.JSON is Deprecated. :)

And it is not a problem.
Setter method should be void.

NEED-CLOSE

[2018-07-19 10:27] xtylxx opened #2102 "Dubbo有什么因素会导致客户端调用服务超时"
线上环境稳定运行近1年，突然出现dubbo客户端调用服务超时情况，dubbo服务端启动正常，且dubboadmin看提供者也是正常的，服务端没有任何异常信息。这个服务只是一个基于zookeeper的主键生成服务，zookeeper是正常的，且基于zookeeper的solr集群也没有任何异常。想请问下，除了服务端不可用，还有什么因素会出现这个情况吗？

[2018-07-19 12:06] #1754 closed

[2018-07-19 12:06] #898 closed

[2018-07-19 12:32] ralf0131 commented on #2013
@tswstarplanet Maybe I misunderstood your meaning, I thought I were going to add a label called 'theadpool' :) So what do you actually mean?

[2018-07-19 12:33] ralf0131 commented on #262
I think Dubbo does not support this feature right now. Feel free to contribute.

[2018-07-19 12:37] ralf0131 commented on #256
I am not quite understand what your problem is, would you please elaborate more？

[2018-07-19 13:01] ralf0131 commented on #252
Hi, the latest Dubbo has supported REST, which is based on resteasy.

Please check the latest code.

I am closing this issue now, please feel free to reopen it if it still exists.

[2018-07-19 13:01] #252 closed

[2018-07-19 13:03] ralf0131 commented on #236
Hi, this issue has been fixed in the latest code.

[2018-07-19 13:03] #236 closed

[2018-07-19 13:05] ralf0131 commented on #235
Hi, from you description, there is nothing to do on Dubbo side.

[2018-07-19 13:05] #235 closed

[2018-07-19 13:08] ralf0131 commented on #211
Hi,

Please check org.apache.dubbo.common.utils.ClassHelper#getClassLoader(java.lang.Class<?>).

It has been changed to:

[code]

[2018-07-19 13:08] #211 closed

[2018-07-19 13:16] #366 closed

[2018-07-19 13:18] ralf0131 commented on #364
Please check this: http://dubbo.apache.org/#!/docs/user/demos/explicit-target.md

[2018-07-19 13:18] #364 closed

[2018-07-19 13:33] ralf0131 commented on #423
Maybe due to JIT compilation. The system is not warmed up yet.

It is hard to identify without more details.

I am closing it for now. If you still encounter this issue, please provide more details.

[2018-07-19 13:33] #423 closed

[2018-07-19 13:34] tswstarplanet commented on #2013
@ralf0131 Yes, I think adding a label "threadpool" can solve the problem. But maybe my English is a little poor, I don't understand your reply published this morning. I'm not sure you say yes or no to my plan.

[2018-07-19 13:34] #420 closed

[2018-07-19 13:42] ralf0131 commented on #419
@multiplyzero 's suggestion should work.

[2018-07-19 13:42] #419 closed

[2018-07-19 13:43] #417 closed

[2018-07-19 13:44] #415 closed

[2018-07-19 13:49] ralf0131 commented on #412
This is because you've compile your source on Java 8 with target 1.7 and run it on a JVM that is lower than Java 8.

If you are running a Java 7, please compile the source code with Java 7.

Check this: https://gist.github.com/AlainODea/1375759b8720a3f9f094

[2018-07-19 13:49] #412 closed

[2018-07-19 13:51] ralf0131 commented on #363
dup with #390

[2018-07-19 13:51] #363 closed

[2018-07-19 13:52] ralf0131 commented on #384
Hi, would you please provide more details?

[2018-07-19 13:53] ralf0131 commented on #383
Hi, please check the latest code, this issue has been fixed.

[2018-07-19 13:53] #383 closed

[2018-07-19 13:58] ralf0131 commented on #374
Hi, please check this blog: http://dubbo.apache.org/#!/blog/pinpoint.md?

[2018-07-19 14:00] #374 closed

[2018-07-19 14:05] ralf0131 commented on #510
I agree with @panhongliang . You can not force a thread to exit. Dubbo has done as much as it can to stop the threads. For those thread who do not respond to InterruptedException, there is no way to stop  them.

[2018-07-19 14:05] #510 closed

[2018-07-19 14:07] #496 closed

[2018-07-19 14:09] ralf0131 commented on #507
Please check this doc: http://dubbo.apache.org/#!/docs/user/demos/graceful-shutdown.md

[2018-07-19 14:09] #507 closed

[2018-07-19 14:13] #494 closed

[2018-07-19 14:14] #509 closed

[2018-07-19 14:20] ralf0131 commented on #355
dup with #512

[2018-07-19 14:20] #355 closed

[2018-07-19 14:23] ralf0131 commented on #483
Hi, I am planning to implement this feature. My plan is similar to @linux-china

[2018-07-19 14:30] #473 closed

[2018-07-19 14:32] ralf0131 commented on #68
dup with #448

[2018-07-19 14:32] #68 closed

[2018-07-19 23:34] #631 closed

[2018-07-19 23:39] ralf0131 commented on #619
Please check the link provided in @chickenlj 's comments.

I am going to close this issue, feel free to reopen it if it still exists.

[2018-07-19 23:39] #619 closed

[2018-07-19 23:41] ralf0131 commented on #618
Yes, it is already supported.

[2018-07-19 23:41] #618 closed

[2018-07-19 23:42] ralf0131 commented on #615
Hi, please check the latest code, it is already supported.

[2018-07-19 23:42] #615 closed

[2018-07-19 23:43] ralf0131 commented on #1182
Hi, please check the latest code, it is already supported.

[2018-07-19 23:43] #1182 closed

[2018-07-19 23:56] ralf0131 commented on #604
Could you please describe why you want to do so?

[2018-07-20 01:44] ralf0131 commented on #565
Hi, can you provide to reproduce your issue?

Stub can only be used in consumer side: http://dubbo.apache.org/#!/docs/user/demos/local-stub.md?lang=zh-cn

[2018-07-20 01:48] ralf0131 commented on #562
Hi, if you new provider comes online, the address will be pushed to consumer, the consumer will do the load balance according to your load balance strategy. If the consumer decide to choose the new provider, it will establish connection to the new provider.

Load balance will be done each time, but connection establishment will only be done once.

[2018-07-20 01:48] #562 closed

[2018-07-20 02:04] ralf0131 commented on #557
As mentioned in #614 ,

proxy bean support with annotation scan, was fixed in dubbox[1].

We need to port the fix to dubbo.

[1] dangdangdotcom@1b33f19

[2018-07-20 02:05] ralf0131 commented on #614
Let's track this issue in #557

[2018-07-20 02:05] #614 closed

[2018-07-20 02:08] ralf0131 commented on #680
related issue #557

[2018-07-20 02:29] ralf0131 commented on #524
Please check:

1. your hosts file configuration.
2. your network interface.

where Dubbo will get host ip from.

[2018-07-20 02:37] ralf0131 commented on #523
dup with #796

This issue has already been fixed. See https://github.com/apache/incubator-dubbo/commit/cae7c4cee89d2a11e957ae153eb9d5e567a0170a

[2018-07-20 02:37] #523 closed

[2018-07-20 02:43] ralf0131 commented on #517
This issue has already been fixed.

[2018-07-20 02:43] #517 closed

[2018-07-20 02:43] #878 closed

[2018-07-20 02:47] ralf0131 commented on #712
Hi, this issue is fixed. Please check the latest code. cae7c4cee89d2a11e957ae153eb9d5e567a0170a

[2018-07-20 02:47] #712 closed

[2018-07-20 02:52] ralf0131 commented on #904
Hi, could you please send a pull request?

[2018-07-20 02:58] ATAKing1023 commented on #2067
I opened a pull request for this issue. [https://github.com/apache/incubator-dubbo/pull/1999](url)
@ralf0131 can you please review the change? It's a minor fix.

[2018-07-20 03:19] ATAKing1023 commented on #2067
Here is another reported issue with stacktrace. #1765
@diecui1202

[2018-07-20 03:31] nzomkxia commented on #2008
I think this file is used by dubbo internal, you'd better not change it.

[2018-07-20 03:36] ralf0131 commented on #1648
dup with #1563

[2018-07-20 03:36] #1648 closed

[2018-07-20 03:38] nzomkxia commented on #2009
can you provide a demo that can reproduce this issue?

[2018-07-20 03:42] ralf0131 commented on #1447
This issue has been fixed.

[2018-07-20 03:42] #1447 closed

[2018-07-20 04:31] diecui1202 opened #2104 "get exception when consumer with 2.6.2 invoking provider with 2.7.x"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2 as consumer and 2.7.x as provider
* Operating System versio

[2018-07-20 04:52] carryxyh commented on #871
@ralf0131
NEED-CLOSE

[2018-07-20 05:56] carryxyh commented on #331
AllChannelHandler is designed to dispatch.
Dispatch the msg to business thread to increase provider system throughput. It can also deal some event like connected and disconnected.

The ExecutionChannelHandler will only dispatch request msg.
Other messages like response, connect, disconnect will be directly executed by I/O thread.

NEED-CLOSE

[2018-07-20 06:47] #871 closed

[2018-07-20 07:44] ralf0131 commented on #1030
@chickenlj What should we do in this issue?

[2018-07-20 07:47] ralf0131 commented on #1434
Please check this doc: http://dubbo.apache.org/#!/docs/user/references/protocol/rest.md?lang=zh-cn

[2018-07-20 07:47] #1434 closed

[2018-07-20 07:57] #331 closed

[2018-07-20 08:08] whanice commented on #170
already fixed by #1396

[2018-07-20 08:14] ralf0131 commented on #170
@whanice Thanks!

[2018-07-20 08:14] #170 closed

[2018-07-20 08:41] #1537 closed

[2018-07-20 08:42] ralf0131 commented on #1492
Confirmed duplicate of #1524

[2018-07-20 08:42] #1492 closed

[2018-07-20 09:39] ilevon opened #2106 "Dubbo注解参数是否考虑支持Placeholder"
比如：@Reference(version = "1.0.0")

是否考虑支持为： @Reference(version = "${xxx.version}")

[2018-07-20 10:36] nerososft commented on #604
api gateway

[2018-07-21 01:38] htynkn commented on #339
No more update. Close this issue.

[2018-07-21 01:38] #339 closed

[2018-07-21 02:06] tswstarplanet commented on #2106
现在不支持吗？

[2018-07-21 03:48] CoderCai commented on #1757
在哪里啊，我也找了好久了

[2018-07-21 06:06] jin82 opened #2108 "使用泛化调用，不能够使用到提供者配置的参数，如重试时间。"
* Dubbo version: 2.6.0
* Operating System version: macOS
* Java version: 1.8.0_101

使用泛化调用时，在FailoverClusterInvoker.java中的doInvoke中的
`int len = getUrl().getMethodParameter(invocation.getMethodName(), Constants.RETRIES_KEY, Constants.DEFAULT_RETRIES) + 1;`
invocation.getMethodName()只能读取到$invoke方法，这样就拿不到在提供者设置的具体参数了，期望这里可以判断如果是泛化调用，则通过泛化调用设置的方法名去拿取参数。

[2018-07-21 06:48] beiwei30 commented on #2043
+1. In a morden cluster environment, it would be more frequently to expand/shrink the cluster than expected. We should support putting name instead of static IP addr into the registry center.

[2018-07-21 07:49] q20096 commented on #2108
@Referece 的参数RETRIES 也不能获取到。

[2018-07-21 08:42] carryxyh commented on #171
The invoke will not over if invoke always failed like @patternman said.
DoInvoke method will only be called once. If failed, retry until the invoke success.

@ralf0131
close this issue,pls.

[2018-07-21 09:54] jin82 commented on #2108
这里 应该 使用
`RpcUtils.getMethodName(Invocation invocation)` 得到方法名，如DubboInvoker 中拿取timeout的实现
` final String methodName = RpcUtils.getMethodName(invocation);`
.....
`int timeout = getUrl().getMethodParameter(methodName, Constants.TIMEOUT_KEY, Constants.DEFAULT_TIMEOUT);`

[2018-07-21 16:16] jasonjoo2010 opened #2110 "Lack of ip and application name subscripting MonitorService"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: ALL
* Operating System version: nop
* Java version: nop

### Step

[2018-07-22 01:55] wenweihu86 opened #2112 "如何自定义serviceName、methodName？"
最近在扩展dubbo来支持brpc协议，遇到serviceName和methodName无法自定义问题。
我能想到的是，在接口方法上加注解，但是dubbo貌似没提供设置这两个字段？

[2018-07-22 03:56] tswstarplanet commented on #2112
这个好像目前不行，因为dubbo要靠这两个属性去路由，否则怎么知道调哪个接口哪个方法？

[2018-07-22 05:25] dictionaryshi opened #2113 "qos-server can not bind localhost:22222"
项目启动的时候报错:qos-server can not bind localhost:22222

[2018-07-22 10:03] tswstarplanet opened #2115 "It is time to add registry to nacos?"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

Now nacos is open sourced. I think it is time to develop registry to nacos

[2018-07-23 03:08] mercyblitz commented on #2093
Please use latest dubbo release, this issue has been fixed.

[2018-07-23 03:08] #2093 closed

[2018-07-23 05:36] #2113 closed

[2018-07-23 05:36] dictionaryshi commented on #2113
just perfect solution

[2018-07-23 05:42] longer3 commented on #1130
@rentian870423 请问你们这个问题最后怎么解决的？

[2018-07-23 06:50] llx206 opened #2116 "Two dubbo calls, kryo serialization failed（大神们帮忙看下吧，着急使用）"
### Environment
* Dubbo version: 2.6.2
* Operating System version: Red Hat Enterprise Linux Server release 6.6 (Santiago)
* Java version: 1.8

The two dubbo's SerializationOptimizer registered the bean separately, and the kryo serialization problem occurred. The problem is as follows:

![image](https://user-images.githubusercontent.com/39985288/43061337-82bc80cc-8e87-11e8-8d64-8d0a3a089a28.png)

[2018-07-23 08:48] GiilianRose commented on #671
请问一下怎么解决的，我现在也遇到同样的问题了。用的是incubator-dubbo springboot的版本

[2018-07-23 08:57] 121635629 commented on #671
@GiilianRose 设置超时时间，或者retries设置为0,或者cluster=failfast，你都可以试试

[2018-07-23 09:21] diecui1202 commented on #2115
You're right. We are communicating with Nacos team for this task. Stay tuned pls.

[2018-07-23 09:37] diecui1202 commented on #2116
hi, could you please provider a demo to reproduce this problem? Thanks a lot.

[2018-07-23 09:53] beiwei30 commented on #2112
@wenweihu86, would you mind explain a little bit more why these two fields are needed to customize?

[2018-07-23 10:41] gejun123456 opened #2120 "I hava write a Intellij dubbo plugin, can i put it to the readme ecosystem part"
here is the source code of the intellij dubbo plugin  https://github.com/gejun123456/IntellijDubboPlugin

[2018-07-23 14:50] luyuanwan commented on #2099
I can fix it

[2018-07-23 14:54] luyuanwan commented on #2011
Why haven't  this pr fixed? see pr #2066 @lovepoem

[2018-07-23 15:43] tswstarplanet commented on #2115
@diecui1202 I'm trying to finish the task, but I find it not so easy.

[2018-07-23 16:32] modiao2018 opened #2121 "强烈要求支持spring3.x"
老项目要拆分服务化，dubbo最好了，项目用的是jdk7，Spring3.2

[2018-07-24 01:03] #2011 closed

[2018-07-24 01:53] playaround88 commented on #2121
upgrade or degrade spring is estimate no problom.
just use maven exclude dubbo's spring dependency and use your project version.

[2018-07-24 02:12] playaround88 commented on #2120
hi, welcome!
You can follow the dubbo extension guilde[1] below to notify the community.
and your plugin maybe add to the awaresome of dubbo group.

[1] https://github.com/apache/incubator-dubbo/wiki/Dubbo-extension-guide

&READY-TO-CLOSE&

[2018-07-24 02:13] zhengjieyuan commented on #2045
同问 关注下

[2018-07-24 02:18] #2121 closed

[2018-07-24 02:31] nzomkxia commented on #2059
I've add default mapping for every i18n please try again

[2018-07-24 02:34] luyuanwan commented on #2102
我以前遇到过一个项目，运行近1年半，很久没有人维护，导致表数据越来越多（单表1000万，开发时没有考虑到后期缺少维护这个点，所以在设计时是按照单体引用来设计的），虽然系统能稳定运行1年半，但是之后会发生因SQL执行时间变长导致dubbo调用超时。

[2018-07-24 02:38] luyuanwan commented on #2108
could you please send a pr?

[2018-07-24 02:41] #2059 closed

[2018-07-24 02:43] llx206 commented on #2116
@diecui1202 ，The problem is that two dubbo's SerializationOptimizer registers the bean separately, and dubbo uses the map to store the bean class. The key is in numeric order and the value is the path class of the bean. Therefore, the bean cannot be found in the morning. The solution is in each case. The Service's SerializationOptimizer uses the same number of collections. I have tried it, or not.

[2018-07-24 03:07] xtylxx commented on #2102
我这个dubbo服务只是一个基于zookeeper的分布式主键服务，没有数据库。重启后就正常了，万能的重启~~

[2018-07-24 03:18] ralf0131 commented on #2120
As suggested by @playaround88 , please follow the guide above to transfer the repository to Dubbo ecosystem. After that you can send a pull request to update the readme.

[2018-07-24 03:18] #2120 closed

[2018-07-24 03:18] ralf0131 commented on #2099
Fixed.

[2018-07-24 03:18] #2099 closed

[2018-07-24 03:32] #171 closed

[2018-07-24 03:48] beiwei30 commented on #2006
@fingthinking this error log comes from https://github.com/apache/incubator-dubbo/blob/master/dubbo-remoting/dubbo-remoting-api/src/main/java/org/apache/dubbo/remoting/exchange/support/header/HeaderExchangeHandler.java#L204. Would you mind to attach the relevant info from your dubbo log so that we can analyze further based on that?

[2018-07-24 06:57] rentian870423 commented on #1130
@longer3 ,没解决，猜测和Dubbo的线程模型有关，Dubbo框架使用的建议是，consumer和provider的应用比例应该是N：1，在实际压测时，通过调试connections的数量，确实可以影响work的线程数，不过不是线性增长，硬件资源使用率有所提升，但是还是未压满。和压测工具也有一定关系，jemeter的压测结果相对loadrunner稍微好一点，通过线程堆栈分析，感觉瓶颈还是在日志输出，但是作为应用，不不可能完全摒弃日志，所以无法做到最佳调优，只能是研发和运维结合着考虑。

[2018-07-24 07:58] diecui1202 commented on #2003
@ningyu1 I got the same exception.

Sample is here: https://github.com/diecui1202/dubbo-samples/tree/samples-2.7.x/dubbo-samples-genericinvoke

[2018-07-24 08:17] ralf0131 commented on #1998
Hi, I think this issue will break the compatibility if user is going to upgrade to 2.6.3 or above, so I am going to re-open it.

[2018-07-24 08:46] chickenlj commented on #2095
Have been merged to 2.6.x branch

[2018-07-24 08:48] gaboolic opened #2127 "NullPointExexception in RpcContextFilter"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.1 - newest

### Step to reproduce this issue

1.
String value

[2018-07-24 08:55] gaboolic commented on #2127
I hope com.alibaba.dubbo.rpc.protocol.rest.RpcContextFilter can judge entry.getValue()  null

[2018-07-24 09:57] carryxyh commented on #2127
This is not a normal case that use put attachments.
I think there are only one case to use put(key,null) is to remove a key or value.
In this case, u can use remove to do the same thing.

[2018-07-24 11:00] cnn112002 commented on #538
netInterfaces = NetworkInterface.getNetworkInterfaces();
然后从中选一个合适的，行吗 ？参考的是elastic-job-lite的实现，可以的话 ，可以PR下

[2018-07-24 14:01] chunInsane opened #2128 "should use dubbo.qos.port instead of dubbo.application.qos.port about set qos port?"
### Environment
* Dubbo version: 2.5.8
* Java version: 1.8.0_40

### Step to reproduce this issue

使用文档(http://dubbo.apache.org/#!/docs/user/references/qos.md?lang=zh-cn)
介绍dubbo.application.qos.port参数设置qos端口无用，查看源码用的dubbo.qos.port参数进行设置，是文档有问题还是使用姿势不对？

dubbo源码
public interface Constants {

    int DEFAULT_PORT = 22222;
    // 通过-D参数指定port
    String QOS_PORT = "dubbo.qos.port";
    String BR_STR

[2018-07-25 02:00] ralf0131 opened #2129 "Enable ASF header check for Travis CI"

[2018-07-25 02:30] chickenlj opened #2131 "Check if we can switch serialization/deser between IO and Dubbo Threads."
Here's the doc describing Dubbo's ThreadPool Model: http://dubbo.apache.org/#!/docs/user/demos/thread-model.md?lang=zh-cn

Here's the code deciding Serialization thread
https://github.com/apache/incubator-dubbo/blob/70e1e6220b82fd20611d7ec2624726442671bf95/dubbo-rpc/dubbo-rpc-dubbo/src/main/java/org/apache/dubbo/rpc/protocol/dubbo/DubboCodec.java#L88

[2018-07-25 02:32] #2013 closed

[2018-07-25 03:07] DC-ET opened #2132 "Dubbo序列化多个 CopyOnWriteArrayList 对象, 反序列化后得到的对象变成同一个!"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: win10
* Java version: 1.8

###

[2018-07-25 04:38] gangzi828 commented on #1446
I encounter the same question? Caused by: com.alibaba.dubbo.common.bytecode.NoSuchMethodException: Not found method "$echo" in class XXXService.This is caused by Dubbo Provider's EchoFilter has no effect?

[2018-07-25 05:44] wenweihu86 commented on #2112
@beiwei30 brpc中namespace和method的命名规则和java都不一样，比如c++中namespace不会命名成java的包名，methodName一般是首字母大写的。所以对于brpc提供的服务，java client需要做自定义serviceName和methodName。

[2018-07-25 07:07] carryxyh commented on #2127
&READY-TO-CLOSE&

[2018-07-25 09:13] luopeng0613 commented on #1012
组织：好慷在家
地点：福建厦门
联系方式：luop@homeking365.com
场景：微服务化改造

[2018-07-25 09:35] beiwei30 commented on #2116
would you mind to attach a simple project on github to reproduce so that we could understand this issue better? @llx206

[2018-07-25 10:31] #2129 closed

[2018-07-25 11:55] #2127 closed

[2018-07-25 12:50] carryxyh commented on #334
public class LRUCache<K, V> extends LinkedHashMap<K, V> {
    public LRUCache(int maxCapacity) {
        super(16, DEFAULT_LOAD_FACTOR, true);
        this.maxCapacity = maxCapacity;
    }
}

This issue has been fixed.

&NEED-TO-CLOSE&

[2018-07-25 12:55] carryxyh commented on #448
Provider can not send param to consumer so far.

&READY-TO-CLOSE&

[2018-07-25 12:57] carryxyh commented on #540
@chixuan777
Hi, is this problem solved so far?
If it is, we will close this issue.

[2018-07-25 13:02] carryxyh commented on #469
This problem will not occur in the new async way(new aysnc way code is in master).

&READY-TO-CLOSE&

[2018-07-25 13:08] carryxyh commented on #513
Invocation is should be the same in once invoke.
So the traceId to Provider A and Provider B is same.

[2018-07-25 13:19] carryxyh commented on #854
I think this feature should be delegated to the APM framework. Dubbo itself should pay more attention to the remote call.

How do u think about it?

[2018-07-25 13:39] LeoAugust19 opened #2134 "java.lang.NoClassDefFoundError in com.alibaba:dubbo-rpc-thrift, due to dependency conflict issue"
### Environment
* Dubbo version: com.alibaba:dubbo-rpc-thrift:jar:2.6.2
* Operating System version: Windows
* Java version: Jdk 1.7

### Descirption
Hi, there are two versions of **org.apache.httpcomponents:httpcore:jar** exist in com.alibaba:dubbo-rpc-thrift, and only **org.apache.httpcomponents:httpcore:jar:4.1.3** can be loaded during packaging process based on "nearest wins strategy". However,

[2018-07-26 01:45] #1998 closed

[2018-07-26 03:12] chickenlj opened #2136 "Replace hard coded version number of hessian-lite with unified property variable."
Notice, this work should be done on branch 2.6.x.

https://github.com/apache/incubator-dubbo/tree/2.6.x

[2018-07-26 05:34] ATAKing1023 commented on #1998
I will verify and comment later. Thank you.

[2018-07-26 06:14] kimmking commented on #2134
you can submit a PR to exclude the older version.

[2018-07-26 08:43] zonghaishang commented on #2003
fixed, refer: https://github.com/apache/incubator-dubbo/commit/0882c83bb9c772966d57cbf161a60ec3633f1e1e

[2018-07-26 08:43] #2003 closed

[2018-07-26 09:42] ningyu1 commented on #2003
@diecui1202 @zonghaishang thanks

[2018-07-26 09:46] diecui1202 opened #2140 "Add dubbo eco-system on README.md"
Now, we list the following items on the README:
* Dubbo website
* Dubbo samples
* Dubbo Spring Boot
* Dubbo ops

* Node.js
* Python
* Php

We can add the eco-system link, which is https://github.com/dubbo on it.

[2018-07-26 10:05] gaboolic commented on #2127
String value = getStringFromXXX();
RpcContext.getContext().getAttachments().put("demokey", value)
这种场景做数据透传的时候会用。我并不需要校验value是否为空，我仅仅是从某个地方去获取几个字符串然后放到上下文里面透传到下一个服务。
然鹅这样会报错，而且报的错是服务提供方有空指针，实际上这个异常是dubbo自己的filter抛出的，但是被catch了。那个filter的作用仅仅是校验一下value是否有逗号和等于号，然后throw一个异常。如果Nul也不是预期的值，至少也该和逗号等于号一样，抛出一个异常来有一个友好提示吧？

[2018-07-26 10:07] gaboolic commented on #2127
另外只有rest协议 会有这个RpcContextFilter。其他的协议似乎我可以想往RpcContext.getContext().getAttachments()里放什么就放什么吧，应该是可以放null的；就算我用rest协议，null   逗号 等于号 为什么不让我放呢，不能因为dubbo自己内部实现是用逗号和等于号就不让我用吧，其实完全可以做个转码啊。

[2018-07-26 10:07] gaboolic commented on #2127
@carryxyh

[2018-07-26 10:07] zonghaishang commented on #944
fixed, refer: https://github.com/apache/incubator-dubbo/pull/2135

[2018-07-26 10:07] #944 closed

[2018-07-26 10:36] carryxyh commented on #2127
First case :

[code]

Why do u didn't check the value is null ?
In this way it is obviously more rigorous:

[code]

Second case :
I haven't said that "u can not put null into attachment".
Can u just tell us, in which case u want to put a null into attachment?
If just the case that u don't check the value u put in, I don't think this is a bug which should be fixed.

[2018-07-26 12:16] #1061 closed

[2018-07-26 12:16] #469 closed

[2018-07-26 12:17] #448 closed

[2018-07-26 12:18] zonghaishang commented on #448
Temporarily closed, can open again if there is a problem

[2018-07-26 12:19] #334 closed

[2018-07-27 01:51] kimmking opened #2142 "add features list to README"
I guess adding features list to README, just like other Apache projects, then everyone can know dubbo canbe used to do something, include those they need.

[2018-07-27 02:00] everything8 commented on #1012
组织：联泰基金
地点：中国上海
联系方式：everything8@163.com
场景：公司内部微服务、部分开放平台

[2018-07-27 02:04] ralf0131 commented on #2142
I've added a short feature list to README, and personally I would like to keep the README simple and concise, so that user won't be frustrated.

So would you please given an example or send a pull request and let's discuss it.

[2018-07-27 02:12] zonghaishang commented on #944
@chenliuyang1989  Which version of dubbo you use?

[2018-07-27 02:43] diecui1202 commented on #2115
We are going to close this issue. Feel free to reopen it if necessary.

&READY-TO-CLOSE&

[2018-07-27 02:59] hengyunabc opened #2144 "dubbo-compatible do not work in dubbo 2.7"
* User has a filter:

[code]

* `org.apache.dubbo.common.extension.ExtensionLoader.loadClass(Map<String, Class<?>>, URL, Class<?>, String)` load the `TraceIdFilter` class, but `@Activate` check fail, because in `loadClass` method the annotation is `@org.apache.dubbo.common.extension.Activate`.

[code]

* Need to add annotation check for `@com.alibaba.dubbo.common.extension.Activate`

[2018-07-27 03:12] diecui1202 commented on #2144
Get it. I will check it ASAP.

[2018-07-27 03:55] eMorphling commented on #2127
@carryxyh One common case I image is that, in a hashmap, can not get a key and a key's value is null is different in some special business case.
有一些特殊的case是在一个map里面，拿不到一个key和这个key的值是null应该是不一样的意义。

[2018-07-27 04:14] q20096 commented on #2108
您好， 是这样的， 准确的说，如果把@Service /@Reference 的retries 设置为0， 则会走默认的2次

[2018-07-27 04:32] beiwei30 commented on #2134
@LeoAugust19

dubbo-rpc-thrift doesn't introduce multiple versions for http-core. I think the only reason you see two versions is because you introduce `org.apache.http.impl.conn.Wire` in `org.apache.dubbo.rpc.protocol.thrift.io.RandomAccessByteArrayOutputStream`, which is only available in http-client 4.5.3.

[code]

[2018-07-27 04:32] #2134 closed

[2018-07-27 04:36] beiwei30 commented on #2132
where's GenericObjectInput introduced?

[2018-07-27 05:09] lovepoem commented on #2132
Now the dubbo use hessian serialize component  by default
[code]
Your problem can't be reproduced

Ian Luo <notifications@github.com> 于2018年7月27日周五 下午12:36写道：

[2018-07-27 06:08] LeoAugust19 commented on #2134
@beiwei30
Hi, executing the command **mvn dependency:tree -Dverbose**, you can get the complete dependency tree of  dubbo-rpc-thrift.

PS C:\Users\Apple\Downloads\incubator-dubbo-dubbo-2.6.2\dubbo-rpc\dubbo-rpc-thrift> mvn dependency:tree -Dverbose
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building dubbo-rpc-thrift

[2018-07-27 06:31] 15058126273 commented on #2132
GenericObjectInput was imported from com.alibaba.dubbo.common.serialize.support.dubbo.GenericObjectInput; (dubbo:2.5.10)

I'm using dubbo serialization not hessian. config like this:

ProtocolConfig config = new ProtocolConfig();
config.setSerialization("dubbo");

should i change the serialization to solve this problem?

note:

I use com.alibaba.dubbo.common.serialize.support.hessian.Hessian2Objec

[2018-07-27 08:04] gaboolic commented on #2127
first case:
 目前的解决方案就是预先做了null检查，因为看了最新的dubbo实现，那个filter还是那个样子
second case:
 因为一些值我只是透传到下一个应用，我并不关心里面的内容，为什么要做null校验？但那个filter的目的仅仅是为了校验逗号和等于号而抛了空指针，我不认为这不是bug
就算校验逗号和等于号，在之前也应该先校验一下Null，如果不允许为null，也请抛一个异常出来，而不是空指针被另外的一个地方catch，导致我debug很久才找到原因

[2018-07-27 08:05] gaboolic commented on #2127
@eMorphling 说的也是对的，在一些场景里面，能取到一个Key，value是null 和压根没有这个key意义是不一样的

[2018-07-27 08:41] carryxyh commented on #2127
@gaboolic
In some case, we should get a null value like @eMorphling  said.
Ok, I know, thank you very much for your issue.
I will fix this problem as soon as possible.
:)

[2018-07-27 10:37] drluorose commented on #1784
我也遇到同样问题，com.alibaba.dubbo.rpc.RpcException: Invoke remote method timeout. method: takeAppAd, provider: dubbo://192.168.2.13:20805/com.douyu.wsd.adx.exchange.rpc.api.virtualaccount.AdLuaRService?actives=0&alive=60000&anyhost=true&application=adx-gateway&async=false&check=false&connections=4&corethreads=0&dispatcher=message&dubbo=2.6.0&generic=false&group=pro&interface=com.douyu.wsd.adx.exchange.rp

[2018-07-27 10:38] drluorose commented on #1784
服务端响应时间最长时间是345ms

[2018-07-27 10:39] drluorose commented on #1784
配置信息：
dubboProtocol:
      name: dubbo
      port: 20805
      dispatcher: message
      serialization: kryo
      keepAlive: true
      optimizer: com.douyu.adx.exchange.dubbo.internal.SerializationOptimizerImpl
      threads: 1000
      queues: 2000
Service：@Service(
        interfaceClass = AdLuaRService.class,
        protocol = PROTOCOL_DUBBO,
        retries = 0,
        parameters = {"threa

[2018-07-27 10:41] drluorose commented on #1784
如果是网络原因，有哪些方能能够证明？

[2018-07-27 11:10] carryxyh commented on #540
No person feedback about this issue this two days, I think it should be closed.
Maybe reopen if sth feedback.

&READY-TO-CLOSE&

[2018-07-27 11:11] carryxyh commented on #513
Hi, @skygr
Is there still sth about this issue? If not, we will close this issue soon.
Waiting for your feedback.

[2018-07-27 11:17] #540 closed

[2018-07-28 09:35] snifferhu commented on #2115
yeah.I want join it. it's powerful feature.

[2018-07-29 02:45] kanghouchao opened #2149 "dubbo配置好springMVC之后怎么访问呢"
### Environment

* Dubbo version: 2.6.2
* Operating System version: ubuntu 18.04
* Java version: 1.8

1. 我新建了一个dubbo项目，加入了spring和loj4j的依赖，配置成功了，项目也启动起来了，我在zookeeper可以看到server已经注册了
2. 在provider和consumer我都是用dubbo自带的Main.main启动的
3. 然而，有个迷思，consumer启动之后，我的springMVC怎么访问，我没有web.xml，也没有配置tomcat，那我应该怎么访问我在consumer端配置的controller呢?

谢谢

[2018-07-29 11:46] tswstarplanet opened #2151 "The code about the port of Protocol config is not consiste with the description of the Document"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: latest

### Step to reproduce this issue

1. Config the protocol,

[2018-07-29 11:56] tswstarplanet commented on #1343
I think your solution code is not appropriate. If one has configged the port of protocol. And the port that he/she want to use. It will also throw the RpcException. And the application will retry to bind the same port in the infinite loop.

[2018-07-29 12:52] #2115 closed

[2018-07-29 13:16] eonezhang commented on #483
@ralf0131  does @linux-china  support prometheus in dubbo now?

[2018-07-30 01:44] blackdancers commented on #875
我把dubbo版本升级到2.6.1，运行正常，还有个原因可能是我添加了
`
		<dependency>
			<groupId>com.alibaba</groupId>
			<artifactId>dubbo</artifactId>
		</dependency>
		<dependency>
			<groupId>org.apache.curator</groupId>
			<artifactId>curator-framework</artifactId>
		</dependency>
		<dependency>
			<groupId>org.apache.curator</groupId>
			<artifactId>curator-recipes</artifactId>
		</dependency>`
@web1992

[2018-07-30 02:16] diecui1202 commented on #2149
@kanghouchao Maybe you need to start the consumer with spring boot or tomcat. If tomcat, you need to package it to war(it required web.xml, then put the war to webapps dir).

If spring boot, refer http://start.dubbo.io for more information.

%READY-TO-CLOSE&, please reopen it if you also have problem.

[2018-07-30 02:47] haiyang1985 commented on #2016
@chickenlj  it happens again, in 1600 QPS these days.

[2018-07-30 03:48] carryxyh commented on #854
If no more feedback for this issue, we will close is soon.
:)

[2018-07-30 06:48] zonghaishang commented on #2149
@kanghouchao Maybe you should use rest protocol, see: http://dubbo.apache.org/#!/docs/user/references/protocol/rest.md?lang=zh-cn

[2018-07-30 06:48] #2149 closed

[2018-07-30 07:32] carryxyh commented on #1942
@breakenknife
Still have any problems?
If not we will close this issue soon. :)

[2018-07-30 07:33] mthhk commented on #983
这个is为什么关闭了呢？
对于一些有consul，但是无zk的场景，想用dubbo就有些难受。

[2018-07-30 09:36] #1942 closed

[2018-07-30 11:10] beiwei30 commented on #2116
@llx206, I did a little bit investigation today, and cannot reproduce it.

I tried to configure two optimizer like this:

[code]

I can successfully invoke the calls twice with no exception. I put the project at https://github.com/beiwei30/issue2116. Pls. take a look and submit pull request to modify if my test case is incorrect.

[2018-07-30 11:10] #2116 closed

[2018-07-30 11:20] gaboolic commented on #2127
不过rest协议 应该也可以支持往Attachments里面放,= 啊，只要做一个编解码就可以了。不过这又是另一个issue的故事了……

[2018-07-30 22:59] linux-china commented on #483
@eonezhang  已经添加好啦，请看这里 https://github.com/linux-china/spring-boot-apache-dubbo    这个是基于Spring Boot 2.0的，2.0已经通过 http://micrometer.io/  完成对prometheus的集成啦。

[2018-07-30 23:43] linux-china opened #2154 "Write interface name and version twice in one request"
Code as following in org.apache.dubbo.rpc.protocol.dubbo.DubboCodec.encodeRequestData:
[code]
Any protocol architecture consideration?

![duplication_class](https://user-images.githubusercontent.com/46711/43429288-79386120-9417-11e8-89cd-3714862846cc.png)

[2018-07-31 01:42] diecui1202 commented on #483
@linux-china Great job.

[2018-07-31 01:57] diecui1202 commented on #85
As we have provide new async invoke in 2.7.x, I think this issue can be closed.

2.7.x is on the way. @yuyijq you also can build from master to try the new async invoke.

&READY-TO-CLOSE&

[2018-07-31 01:59] diecui1202 commented on #85
check https://github.com/apache/incubator-dubbo/pull/1957 for more infos.

[2018-07-31 02:02] diecui1202 commented on #43
@ludvik This feature is provided in 2.6.3, which is on the releasing vote thread.

%READY-TO-CLOSE&

[2018-07-31 02:30] diecui1202 commented on #70
@janwenjohn Are you there? Could you please provide a demo for us to reproduce this problem?

Anyway, thanks for your participate, feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 02:34] diecui1202 commented on #89
We have provided a extension name 'native-thrift', check https://github.com/dubbo/dubbo-rpc-native-thrift for more infos.

I think it can be used online, @lovepoem Is that right?

Feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 02:47] diecui1202 commented on #122
@wpc009 We provide a new async invoke implementation in 2.7.x.

Check https://github.com/apache/incubator-dubbo/pull/1957 for more infos.

Feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 02:48] diecui1202 commented on #126
@luoyifan @lintghi Could you please provide a demo to reproduce this problem?

[2018-07-31 02:51] diecui1202 commented on #177
@Spectrumleeee We have provided a new async invoke implementation in 2.7.x

check https://github.com/apache/incubator-dubbo/pull/1957 for more infos.

Feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 03:04] diecui1202 commented on #181
I suggest you can dive into the code, set a breakpoint on the exception line, check the two objects' ClassLoader. And then check your application, why loading the class twice.

Feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 03:14] diecui1202 commented on #185
&READY-TO-CLOSE&

[2018-07-31 03:25] diecui1202 commented on #194
@xinyonda Have you solved the problem? We are going to close this issue. Feel free to reopen it.

&READY-TO-CLOSE&

[2018-07-31 03:58] zhaixiaoxiang commented on #619
我们还是有这个问题,偶现的,帖子里面说的加上默认构造方法也试过了,还是偶现有问题
`java.lang.NullPointerException: null
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance

[2018-07-31 05:14] #1978 closed

[2018-07-31 06:15] diecui1202 commented on #368
@gotheworld failover cluster satisfies your requirement. Make sure that when invokes to other providers, the providers are still online and healthy.

Feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 06:24] diecui1202 commented on #357
@jaylinwang Could you please describe your requirement in detail? Or you could provide a demo for us.

Also, we are going to close it, feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 06:26] diecui1202 commented on #375
&READY-TO-CLOSE& ?

[2018-07-31 06:30] kimmking commented on #2151
can you submit a PR for document in https://github.com/apache/incubator-dubbo-website

[2018-07-31 06:31] diecui1202 commented on #376
我们线上的环境是一个应用里provider大概有300个，provider应用台数大概有5台左右，对全部的5台provider应用同时进行重启，在这个时候consumer持续进行服务调用，就会发生consumer端的fullGC
////
You need to restart the app by groups. For example, 3 groups, 2, 2, 1.

Make sure there has providers online anytime.

[2018-07-31 06:32] diecui1202 commented on #376
Feel free to reopen it. &READY-TO-CLOSE&

[2018-07-31 06:41] carryxyh commented on #513
&READY-TO-CLOSE&

[2018-07-31 07:01] kimmking commented on #2132
I think it's a bug on dubbox branch.
When dubbox rest and kryo+fst functionalities transferred to dubbo master repo, GenericObjectInput is not contained.
So we suggest you use hessian serialization or update your dubbo version to 2.6.x.

[2018-07-31 07:45] carryxyh commented on #311
Maybe spend lots of time to create invokers.
Is this problem still have?
If not, we will close this issue soon.

[2018-07-31 07:47] carryxyh commented on #264
Is this issue still exist?
Can u send a simple demo to recreate this problem?

[2018-07-31 07:54] carryxyh commented on #384
There has no feedback for this issue.
I think it can be closed.

&READY-TO-CLOSE&

[2018-07-31 08:00] carryxyh commented on #365
@ Reference annotation don't support this at soon.
Do u still have problems about this?
If not, we will close it.

[2018-07-31 08:01] www1350 commented on #365
now.no problem on it.

[2018-07-31 08:04] carryxyh commented on #365
Thx for your issue.
 :)

&READY-TO-CLOSE&

[2018-07-31 08:05] zondahuman opened #2157 "Do Dubbo plans to support the traceId for application ?"
traceId is a function which is similar to zipkin in spring cloud ? traceId is using to track the log chain

[2018-07-31 09:39] chickenlj opened #2158 "Adaptive extension could not return the right SPI extension."
If I have an SPI configured like this:
[code]

[code]

1. Give a URL:
[code]
getAdaptiveExtension() will return the `nop` extension, but according to javadoc, it should return 'zookeeper'.

[2018-07-31 09:51] diecui1202 commented on #365
@mercyblitz

[2018-07-31 11:16] chickenlj commented on #2158
I have tried again, and it returned the right extension `zookeeper`. I will close this issue.

[2018-07-31 11:16] #2158 closed

[2018-07-31 12:55] tswstarplanet commented on #2151
@kimmking You means that we should update the document to comply with the code

[2018-07-31 13:13] tswstarplanet commented on #2151
@kimmking I have submit a PR #64

[2018-07-31 22:26] yangqun123 commented on #1311
I tried the version 2.5.7,it seems worked,see #796 will be useful

[2018-07-31 22:26] #1311 closed

[2018-08-01 02:06] zonghaishang commented on #2154
@linux-china
`out.writeUTF(inv.getAttachment(Constants.PATH_KEY));`  The default Path and interface are the same, but not required, you can refer `org.apache.dubbo.config.spring.ServiceBean#afterPropertiesSet` :

[code]

[2018-08-01 02:06] #2154 closed

[2018-08-01 02:14] linux-china commented on #2154
@zonghaishang  so you will fix it?

[2018-08-01 02:27] zonghaishang commented on #1765
fixed, refer: https://github.com/apache/incubator-dubbo/pull/1999

[2018-08-01 02:27] #1765 closed

[2018-08-01 03:04] dslchd commented on #2045
目前好像不能，我之前一直想在provider方的@Service注解，配置方法级别的服务provider配置，没有这些选项，只能用xml配置。但是既然用了注解，就肯定不再单独用xml配置了。

[2018-08-01 03:34] zonghaishang commented on #854
If there is a problem, you can reopen it.

[2018-08-01 03:34] #854 closed

[2018-08-01 03:35] zonghaishang commented on #513
Temporarily closed, can be reopened

[2018-08-01 03:35] #513 closed

[2018-08-01 03:46] zonghaishang commented on #368
Invoke failed dubbo framework will automatically find available nodes(excluding biz exception caught)
Temporarily closed, can be reopened

[2018-08-01 03:46] #368 closed

[2018-08-01 03:50] zonghaishang commented on #365
I have checked reference annotation, missing `merger ` attribute, it should be support in the future.

[2018-08-01 03:51] #89 closed

[2018-08-01 03:52] #85 closed

[2018-08-01 03:54] #185 closed

[2018-08-01 03:55] zonghaishang commented on #357
feel free to reopen it

[2018-08-01 03:55] #357 closed

[2018-08-01 03:55] zonghaishang commented on #194
Feel free to reopen it

[2018-08-01 03:55] #194 closed

[2018-08-01 03:56] zonghaishang commented on #384
Feel free to reopen it.

[2018-08-01 03:56] #384 closed

[2018-08-01 03:58] #177 closed

[2018-08-01 04:08] zonghaishang commented on #2154
This is not a bug.

[2018-08-01 04:11] zonghaishang commented on #2102
Please provide the error stack
1. Possible network jitter
2. Provider time consuming
3. server full gc (stop the world)
4. Timeout parameter configuration is incorrect
and so on..

Reopen whenever is necesary

[2018-08-01 04:11] #2102 closed

[2018-08-01 04:13] Jaskey commented on #1784
@lovepoem @chickenlj

It seems most of the users face the same problem , can you provide some advice?

[2018-08-01 04:15] Jaskey commented on #2013
@chickenlj what is the bug fix pull request? is it merged into master, why is this issue closed now

[2018-08-01 05:01] #365 closed

[2018-08-01 05:38] htynkn commented on #1914
@llx206 this issue was fixed
 via https://github.com/apache/incubator-dubbo-ops/commit/3dc581f938eb84ae424cb7b2c63f0f8571150a03

Could you try latest version?

[2018-08-01 06:01] caohenghui commented on #1012
组织：北京智慧眼（湖南）
地点：长沙
联系方式：caohenghui@163.com
场景：社保基金身份认证系统

[2018-08-01 06:32] ralf0131 commented on #2013
@Jaskey https://github.com/apache/incubator-dubbo/pull/2114, which is included in 2.6.3 release. Please check whether it will solve your problem.

[2018-08-01 06:36] #43 closed

[2018-08-01 06:40] ralf0131 commented on #375
I am closing this issue now, please feel free to reopen it if you still encounter it.

[2018-08-01 06:40] #375 closed

[2018-08-01 07:36] carryxyh commented on #904
If the offsetWeight doesn't decrease lower than 0 after loop, it maybe mean that all the least active invokers are in warmup, then the LeastActiveLoadBalance will select a random one from these same active invokers.
Or, continue to loop until the value of offsetWeight drops below 0?

[2018-08-01 09:58] beiwei30 opened #2162 "wrong default value defined on org.apache.dubbo.config.annotation.Reference#retries"
org.apache.dubbo.config.annotation.Reference#retries should have the default value consistent with Constants#DEFAULT_LOADBALANCE, which should be 2 instead of 0.

[2018-08-01 11:16] Jackson-soft opened #2163 "golang client support"

[2018-08-01 12:18] carryxyh commented on #2163
Maybe need a 'help-wanted' label.
:)

[2018-08-01 12:27] carryxyh commented on #453
@zhw1992
Is this problem solved now?
If no more feedback, we will close the issue soon.

[2018-08-01 12:36] carryxyh commented on #1742
Exposing the IP to the remote side is to hope that the remote side will locate the problem more quickly.
Any other questions about this issue?
If not, we will close this issue soon.
:)

[2018-08-01 12:41] carryxyh commented on #1824
It is recommended that you integrate a distributed transaction framework or ensure data consistency. :)

&READY-TO-CLOSE&

[2018-08-01 12:42] kimmking commented on #2163
https://github.com/AlexStocks/dubbogo
is your need.

[2018-08-01 12:43] carryxyh commented on #1919
&READY-TO-CLOSE&

[2018-08-01 12:46] carryxyh commented on #1869
I tried to integrate, but for now, dubbo still can't support Domain socket.
I have already feedback this question to the community, and may integrate in the future.
:)

&READY-TO-CLOSE&

[2018-08-01 12:47] kute commented on #2045
看看这个 https://my.oschina.net/roccn/blog/871032

[2018-08-01 12:47] carryxyh commented on #1861
hi @smallh0a1n1d0s
Is this PR of mine the result you want?

https://github.com/apache/incubator-dubbo/pull/2156

[2018-08-02 01:49] YoungHu opened #2164 "@Reference annotation issue"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: mac os  10.13/win10
* Java vers

[2018-08-02 02:26] carryxyh commented on #264
There no more feedback for this issue.
I think we can close this.
Reopen it if there are still sth about this issue.

&READY-TO-CLOSE&

[2018-08-02 02:27] carryxyh commented on #311
There are no more feedback for this issue.
I think we can close it now.
Reopen it if still have sth about this issue.

&READY-TO-CLOSE&

[2018-08-02 02:52] Jackson-soft commented on #2163
OK

[2018-08-02 02:52] #2163 closed

[2018-08-02 03:29] #70 closed

[2018-08-02 03:29] #181 closed

[2018-08-02 03:30] #264 closed

[2018-08-02 03:30] #311 closed

[2018-08-02 03:30] #376 closed

[2018-08-02 03:31] #1869 closed

[2018-08-02 03:34] zonghaishang commented on #2100
@MicroCountry
The local port should be occupied by other processes, try the solution provided by ralf0131

[2018-08-02 03:34] #2100 closed

[2018-08-02 03:37] zonghaishang commented on #2067
merged, see: https://github.com/apache/incubator-dubbo/pull/1999

[2018-08-02 03:37] #2067 closed

[2018-08-02 03:46] zonghaishang commented on #2044
@SkyDriveCN
Please provide a demo project to github.

[2018-08-02 03:54] #1914 closed

[2018-08-02 04:03] SkyDriveCN commented on #2044
@zonghaishang 这是我在GitHub上提供的Demo项目，网址是https://github.com/SkyDriveCN/pinyougou-parent，Demo项目当中用到了ZooKeeper集群作为注册中心，你可以根据情况修改下

[2018-08-02 04:08] JoeXie opened #2165 "Hessian2SerializerFactory 序列化问题"
有个奇怪的问题:我们使用spring+dubbo2.5.6版本最近发现,在服务重启后,远端调用dubbo provider接口,发现总出现 classcastexception 异常: com.alibaba.com.caucho.hessian.io.SerializerFactory.getDeserializer Hessian/Burlap: 'com.ba.org.MarketPlace' is an unknown class in null:  发现
![image](https://user-images.githubusercontent.com/7114235/43561996-760ffc9c-964c-11e8-9861-52892767502b.png)   此处的loader=null,dubbo在发现为null时候, 反序列化对象会使用默认的HashMap序列

[2018-08-02 06:31] zonghaishang commented on #2165
'com.ba.org.MarketPlace' is an unknown class in null， I think it should be a class not found， it doesn't matter to classloader

@JoeXie Can you provide a demo to github?

[2018-08-02 06:33] zonghaishang commented on #2064
fixed, closed it now.

[2018-08-02 06:33] #2064 closed

[2018-08-02 06:59] zonghaishang commented on #2110
fixed, it will be closed

[2018-08-02 06:59] #2110 closed

[2018-08-02 07:17] JoeXie commented on #2165
@zonghaishang 抱歉,可能描述不清除,   应用在web容器初始化完毕后, 调用远端provider提供的接口,发现:
Caused by: java.lang.ClassCastException: java.util.HashMap cannot be cast to com.ba.org.QueryInst$BackupStatus   跟踪类型异常的时候代码走到如下标红
![Uploading image.png…]()
正常情况下应该是
![Uploading image.png…]()
跟踪发现此时deserializer==null,原因是Hessian2SerializerFactory对象在初始化时,拿到的classloader==null
![Uploading image.png…]()
我并未在dubbo中发现设置Thread.currentThread

[2018-08-02 07:35] #2151 closed

[2018-08-02 07:43] #2157 closed

[2018-08-02 07:51] tswstarplanet commented on #2131
Excuse me. What is the meaning of "switch serialization/deser between IO and Dubbo Threads"

[2018-08-02 07:54] zonghaishang commented on #2131
Netty io thread & dubbo thread pool

[2018-08-02 08:18] ralf0131 commented on #514
Hi,

In Dubbo 2.6.3 we have improved the elegant shutdown, the issue you described should been fixed. Please try it out with 2.6.3. Feel free to reopen this issue if it still exists.

[2018-08-02 08:18] #514 closed

[2018-08-02 08:31] diecui1202 commented on #2144
@hengyunabc I've fix this issue. You can try it out.

[2018-08-02 08:37] tswstarplanet commented on #2131
@zonghaishang So it just means that we should check if the serialization/deser can success ?

[2018-08-02 08:42] diecui1202 opened #2169 "Add compatible class for com.alibaba.dubbo.config.XXXConfig"
ApplicationConfig
ReferenceConfig
ServiceConfig
...

[2018-08-02 08:43] zonghaishang commented on #2165
@JoeXie
You should check if the provider has this class `com.ba.org.QueryInst$BackupStatus`. If you still can't solve it, please provide a demo for me to check and solve.

[2018-08-02 10:00] zonghaishang commented on #2131
You are right, but more likely to provide a parameter configuration, the internal decision of the framework

[2018-08-02 11:55] renlei413326889 commented on #2006
线上碰到一样的错误：
2018-08-02 17:36:16 [com.alibaba.dubbo.common.logger.slf4j.Slf4jLogger:74] -  [DUBBO] Dubbo client can not supported string message: 慩試ZC0(com.tontisa.erpweb.entity.BaseLineTravel�^BID^EerpID^FlineID^FtheDay
theTraffic^GtheFrom^EtheTtheTitle^GtheDestheHotel^FtheCan       theFlight^FbySort^FisLock^EadmID^EisDel^Cimg    theScenic
updateTime^GaddTime^VbaseLineTravelJourneys`<画NN�^B椋炴満NN^L绂

[2018-08-02 14:04] smallh0a1n1d0s commented on #1861
It's good  to  optimize  initialization of loadbalance .  To my confusion : l can't  extend the SPI for ( loadbalancer.select )  when there is  none or  only one  invoker 。 Actually ,   the  sortable routers can't  support very well , So that l have to accomplish a sortable composition.   If some logics like  alarm notification when none or only one invoker , we can also extend the SPI  ( loadbala

[2018-08-02 14:15] tswstarplanet commented on #2131
But how do we know if the serialization/deser will succeed?

[2018-08-03 01:54] jasonjoo2010 opened #2174 "dubbo 2.6.3 is not compatible with dubbo >= 2.5.9"
- [X] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.9~2.5.10
* Operating System version: any
* Java version: any

[2018-08-03 01:56] carryxyh commented on #1861
OK, I know, thx for your issue and looking forward to your pr to solve this problem.
:)

[2018-08-03 03:04] jasonjoo2010 commented on #2174
You can switch the consumer's dubbo to 2.5.9 or 2.5.10 and make rpc calling to provider which dubbo version is 2.6.3, it will fail.

[code]

[2018-08-03 03:14] diecui1202 commented on #2174
@jasonjoo2010 I do have reproduce it. Thanks.

Now I suggest cancel the release for 2.6.3, then fix it, and start a new release.

[2018-08-03 03:32] jasonjoo2010 commented on #2128
版本过低，这个改动应该貌似是从2.5.9开始的，2.6.x应该也一致。

[2018-08-03 03:34] jasonjoo2010 commented on #2128
另外目前正处在改package的阶段，建议追一下版本到2.6，无坑版建议先上2.6.2

[2018-08-03 03:37] chickenlj commented on #2174
Hi @jasonjoo2010 , would you mind to send a PR to solve this compatible problem?

[2018-08-03 03:41] jasonjoo2010 commented on #2174
@chickenlj patch to which branch?

2.6.3-release/2.6.x/master ?

[2018-08-03 06:37] chickenlj opened #2177 "Unit Test for dubbo-registry/dubbo-registry-api"
Sub-task of #1690

[2018-08-03 06:40] chickenlj commented on #2177
The following branches are in need of UT:
* org.apache.dubbo.registry.support.AbstractRegistry#register
* org.apache.dubbo.registry.support.AbstractRegistry#unregister
* org.apache.dubbo.registry.support.AbstractRegistry#subscribe
* org.apache.dubbo.registry.support.AbstractRegistry#unsubscribe
* org.apache.dubbo.registry.support.AbstractRegistry#recover
* org.apache.dubbo.registry.support.Abstrac

[2018-08-03 06:43] kennyliao1982 opened #2178 "Please consider supporting Java 8 Date/Time type when serializing with Kryo"
### Environment

* Dubbo version: 2.6.2
* Java version: 1.8

I am using java.time.LocalDateTime and Dubbo complains "**class java.time.LocalDateTime has no zero-arg constructor and this will affect the serialization performance**", which is caused by Dubbo's wrapper class "**CompatibleKryo**"

Any thoughts ??

[code]

[2018-08-03 07:25] llx206 opened #2179 "Kryo serialization fails when the service is both a provider and a consumer（新版本解决了吗？）"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version:Red Hat Enterprise Linux Server

[2018-08-03 07:55] chickenlj commented on #1821
I guess it's mainly caused by the [rat](https://github.com/apache/incubator-dubbo/blob/413a2a0288d0b0800234132aff9f7c5f3803b633/pom.xml#L496) and [style](https://github.com/apache/incubator-dubbo/blob/413a2a0288d0b0800234132aff9f7c5f3803b633/pom.xml#L248) plugin.

I have set them closed by default and only open on travis.
https://github.com/apache/incubator-dubbo/blob/413a2a0288d0b0800234132aff9f7

[2018-08-03 07:55] #1821 closed

[2018-08-03 07:55] #1819 closed

[2018-08-03 08:05] #705 closed

[2018-08-03 08:19] wannshan commented on #904
Change the line
int weight = invoker.getUrl().getMethodParameter(invocation.getMethodName(), Constants.WEIGHT_KEY, Constants.DEFAULT_WEIGHT); // Weight
TO
int weight = getWeight(invoker, invocation); // have warm up  value

[2018-08-03 08:27] wannshan commented on #904
may be  taotalWeightWithWarmUp   will be better ,after all not after  but warming....

[2018-08-03 08:30] carryxyh commented on #904
That make sense.
Would u pls review this into my pr? And I will fix it soon.

[2018-08-03 08:32] #1742 closed

[2018-08-03 08:43] #2174 closed

[2018-08-03 09:29] diecui1202 opened #2180 "Proposal for deprecated o.a.d.c.extension.Activate#before and #after"
I've checked the whole source code, these two methods haven't be used. Instead, #order is used more frequent.

More important, use these two properties for sorting is not correct. There has a issue and PR about it. See https://github.com/apache/incubator-dubbo/issues/1926 and https://github.com/apache/incubator-dubbo/pull/639

So, I suggest deprecating these two method on annotation Activate.

[2018-08-03 09:41] chunInsane commented on #2128
已经升级2.5.9了。当时看文档里写的2.5.8，有点尴尬

[2018-08-03 09:41] #2128 closed

[2018-08-03 09:41] cwt9562 opened #2181 "Unsupported protocol hessian when using API Configuration and Generic Reference"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: win10
* Java version: 10

###

[2018-08-03 09:50] diecui1202 commented on #2181
@cwt9562 Could you please provider a demo for us to reproduce the problem ?

[2018-08-03 10:27] xryg2276287715 opened #2182 "dubbo monitor建议"
感谢抽空查看。
..../services/statistics/method?service=XXXProvider&method=XXXmethod
关于这个链接对应的页面，建议优化以下2点：
1、可以考虑将consumer以对应的应用名称进行显示，不要以ip显示，同个ip上会存在若干个不同的应用，生产问题排查时，有时需要查看各个应用产生的调用量。
2、列表页(Success,Failure,Avg Elapsed,Max Elapsed,Max Concurrent)要是能够增加可选排序就好了，类似于js控件datatables差不多效果。

[2018-08-03 11:33] kimmking commented on #1784
provider的业务方法执行的时间PT=5ms，但是
consumer调用的时间CT=consumer本地代码执行时间CLT（生成stub、两次编解码）
+网络请求时间NRT1
+网络响应数据NRT2
+provider本地的dubbo代码执行时间PLT（生成skeleton、两次编解码）
+PT

[2018-08-03 11:36] kimmking commented on #2180
+1
and I think vote should be via email？

[2018-08-03 16:20] jtanza commented on #2178
hi, I haven't contributed before but would like to take this one on, is that okay? I am not actually sure of how to best address this one, but may get a better handle on things after taking a closer look at this portion of the code

[2018-08-03 23:55] chickenlj commented on #2181
Did you specify the protocols to consume on the Consumer side? If so, make sure `hessian` included.
For example:
[code]

[2018-08-04 00:44] chickenlj commented on #2136
https://github.com/apache/incubator-dubbo/blob/69311abe3a84996ec6b1a38a381fd39f48bbfdf3/dubbo-serialization/dubbo-serialization-api/pom.xml#L41

https://github.com/apache/incubator-dubbo/blob/69311abe3a84996ec6b1a38a381fd39f48bbfdf3/dubbo-serialization/dubbo-serialization-hessian2/pom.xml#L41

[2018-08-04 00:45] chickenlj commented on #655
http://www.eclipse.org/jetty/previousversions.html

I think we can upgrade to the latest version listed here, http://www.eclipse.org/jetty/previousversions.html

[2018-08-04 00:53] chickenlj commented on #1984
Docs: http://dubbo.apache.org/#!/docs/user/demos/local-stub.md?lang=zh-cn
Demo: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-stub

[2018-08-04 01:16] chickenlj opened #2184 "Return the hanging client requests ASAP. when connection is broken unexpectedly."
I think we should solve the case 1 mentioned in #1968 .

[2018-08-04 06:49] rocky-peng commented on #2164
this issue had been resolved in the newest master . test date: 2018-08-4

[2018-08-04 07:27] cwt9562 commented on #2181
I reimport maven dependencies
then system dont throw this exception
so, no bug

[2018-08-04 07:27] #2181 closed

[2018-08-06 02:12] #453 closed

[2018-08-06 02:42] #2169 closed

[2018-08-06 03:27] chickenlj opened #2187 "Use CompletableFuture to rewrite the embedded ListenableFuture."
We have some functionalities which were implemented with ListenableFuture, ListenableFuture is supplementary for Future introduced in Java 5. Now I think we can rewrite those codes with CompletableFuture provided by Java 8.

* The ListenableFuture related classes are defined here: https://github.com/apache/incubator-dubbo/tree/master/dubbo-common/src/main/java/org/apache/dubbo/common/concurrent
*

[2018-08-06 03:34] huangyunbin opened #2188 "ConsistentHashLoadBalance selectForKey can optimization"
Map.Entry<Long, Invoker<T>> entry = virtualInvokers.tailMap(hash, true).firstEntry();
==》
Map.Entry<Long,` Invoker<T>> entry = virtualInvokers.ceilingEntry(hash);

[2018-08-06 06:30] huangyunbin commented on #2188
ok, pr is https://github.com/apache/incubator-dubbo/pull/2190

[2018-08-06 06:34] beiwei30 commented on #2179
step2. is not necessary, the key is there are two optimizers are registered on step3, one for provider and the other for consumer. I will look into it.

[2018-08-06 06:35] carryxyh commented on #2188
👍
Thx for your contribution.

[2018-08-06 07:06] #2144 closed

[2018-08-06 07:08] diecui1202 commented on #483
@linux-china Could you contribute this work to dubbo ? We all expect that.

[2018-08-06 07:31] shijunsong opened #2191 "org.apache.curator.ConnectionState - Connection timed out for connection"
provider注册启动时，报如下错配置dubbo.registry.timeout不生效，一直是5000Ms，求解。
org.apache.curator.ConnectionState - Connection timed out for connection string (localhost:2183) and timeout (5000) / elapsed (5103)
org.apache.curator.CuratorConnectionLossException: KeeperErrorCode = ConnectionLoss
	at org.apache.curator.ConnectionState.checkTimeouts(ConnectionState.java:225)
	at org.apache.curator.ConnectionState.getZo

[2018-08-06 07:41] #2188 closed

[2018-08-06 08:05] diecui1202 commented on #858
@GuldanChen Welcome to Dubbo community. Refer this contributor guide: https://github.com/apache/incubator-dubbo/wiki/New-contributor-guide

Also, you can start from issues labeled with `good first issue` and `help wanted`. It's a good way to start, believe you and try it.

[2018-08-06 08:06] diecui1202 commented on #936
@ycfang @Loveless070 Could you fix this and start a PR ?

[2018-08-06 08:46] carryxyh commented on #2023
This issue has been fixed by #2024.
Close this one.

[2018-08-06 08:46] #2023 closed

[2018-08-06 09:36] LeoAugust19 commented on #2134
@kimmking Could you please reopen this issue?
What kind of evidence do you need to confirm its a bug?

[2018-08-06 12:41] ranchoswang commented on #2131
Since I noticed that only in decoding it is able to switch the two different thread models, I am wondering if it is neccessary or useful to make encoding capable of switching as well? Will doing this optimize performances in any cases?

[2018-08-06 14:44] ralf0131 commented on #984
Nice suggestion, I've created here: https://github.com/apache/incubator-dubbo-website/issues/69

[2018-08-06 14:44] #984 closed

[2018-08-06 21:07] jtanza commented on #2178
Awesome, will do!

[2018-08-07 01:48] diecui1202 commented on #2180
I'll send a PR to deprecate these two methods.

[2018-08-07 02:35] #2180 closed

[2018-08-07 02:49] jayruen opened #2194 "Annotation @Reference can't support to export a service with a sync one and an async one"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: Win7
* Java version: 1.8

### S

[2018-08-07 04:00] ranchoswang commented on #2131
In default , decode in io is open , You can use <dubbo:decode.in.io="false"> in xml to close it (when you think deser takes long enough time).

[2018-08-07 04:04] sinmaystar commented on #2131
we can switch serialization thread like this:
    <dubbo:protocol name="dubbo" port="20880">
        <dubbo:parameter key="decode.in.io" value="false"/>
    </dubbo:protocol>

there is no need to modify source code or add user define xml schema

[2018-08-07 07:25] nzomkxia commented on #2182
thank you for your advice, i'll take this into consideration during dubbo ops refactoring

[2018-08-07 08:03] softxiang opened #2215 "与spring结合使用时循环依赖导致事务失效问题"
- [&radic;] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [&radic;] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.7
* Operating System version: win10
* Java versio

[2018-08-07 08:14] softxiang commented on #2215
使用spring service标记服务C、D模拟上面类似情况，未出现事务失效的问题

[2018-08-07 09:35] diecui1202 commented on #2054
@L-Angel We'll close this issue. Feel free to reopen it

[2018-08-07 09:35] #2054 closed

[2018-08-07 09:36] diecui1202 commented on #2062
@L-Angel Feel free to reopen it if also have problem.

[2018-08-07 09:36] #2062 closed

[2018-08-07 13:03] zjzhujie125 opened #2216 "客户端调服务端，服务端代码有输出，客户端接收却为"""
批量场景：服务A每3秒调用一次服务B，用于获取实时报价。
1.交易端服务A调用报价端服务B。
2.服务B查完数据库有数据返回，并封装好返回服务A。
3.服务A在获取服务B的返回结果时，为""，（请注意是空，不是null）。
分析：
通过日志文件，发现服务B并没有被调用的日志。
所以开始产生各种猜想：难道服务B有缓存？？取了服务B的缓存结果？

[2018-08-07 14:54] kimmking commented on #2216
can you submit a demo to reproduce it?

[2018-08-07 14:54] kimmking commented on #2216
can you submit a demo to reproduce it?

[2018-08-07 15:00] kimmking commented on #2215
dubbo can't support transactions.

[2018-08-08 01:55] softxiang commented on #2215
但是A和B之间还没有调用关系，只是做了申明就失效了

如果把A、B都显式申明为dubbo service，A可以注入，B就注入不了

如：在AServiceImpl、BServiceImpl将 a b循环依赖的@Autowired改为
`@Reference(group = "test", version = "1.0.0")`
后，测试方法中的
[code]
注入为null

[2018-08-08 02:06] Jaskey commented on #1784
@kimmking  , 但是如果网络正常的情况下，现在这种很奇怪的场景就是损失在 CLT(stub+编解码)？什么情况下会损失几秒

[2018-08-08 03:02] elvis9xu163 opened #2218 "When using telnet "invoke" method, if there is a [null] param, the response always be [null]"
dubbo> invoke com.alibaba.dubbo.demo.DemoService.sayHello(null)    // null as parameter
null

reason:
InvokeTelnetHandler.isMatch(Class<?>[] types, List<Object> args)
    ...
    } else if (ReflectUtils.isPrimitive(arg.getClass())) {  // there should judge arg is null first

原因： InvokeTelnetHandler.isMatch(Class<?>[] types, List<Object> args)中判断arg的类型时未做null值判断, arg.getClass()抛出了空指针异常

[2018-08-08 03:05] drluorose commented on #1784
![image](https://user-images.githubusercontent.com/1845767/43814001-c81fdc48-9afa-11e8-9a64-07769baf0c99.png)
这个是对应的图标，在并发高的时候，consumer的时间会有很大的波动，而且provider的时间不变！问一下这种情况能从哪些方面来优化？

[2018-08-08 13:29] carryxyh commented on #758
Solve this problem like this.

&READY-TO-CLOSE&

[2018-08-08 13:33] carryxyh commented on #1179
Hi,@coolspring1293
Is there still sth about this issue? Why reopen it.

[2018-08-08 13:35] carryxyh commented on #1823
Netty4 is the default transport in the latest(2.7.0-SNAPSHOT) version.
:)
&READY-TO-CLOSE&

[2018-08-08 13:40] carryxyh commented on #1743
will fix soon by this pr:
https://github.com/apache/incubator-dubbo/pull/2217

[2018-08-08 13:57] carryxyh commented on #1883
This param control a client do `connect()` when send a request.
The default ExchangeClient is HeaderExchangeClient which doesn't need to connect when send request, so the default SEND_RECONNECT_KEY is `false` to match the HeaderExchangeClient.

If u choose LazyConnectExchangeClient, the constructor like:
`this.url = url.addParameter(Constants.SEND_RECONNECT_KEY, Boolean.TRUE.toString());`
The SEND

[2018-08-09 01:33] #317 closed

[2018-08-09 01:34] #758 closed

[2018-08-09 01:35] #1823 closed

[2018-08-09 01:40] #1883 closed

[2018-08-09 02:13] Johnson-Jia commented on #1012
组织：上海时代光华教育发展有限公司
地点：中国上海
官网：http://www.21tb.com
联系方式：johnson_jia@163.com
场景：业务拆分，SASS平台服务化，服务管控与治理

[2018-08-09 02:50] chickenlj commented on #2178
I think this snippet works, only too much warn logs, is that right?
[code]

[2018-08-09 03:00] #655 closed

[2018-08-09 03:13] #1743 closed

[2018-08-09 03:13] #2191 closed

[2018-08-09 03:37] wuqke opened #2219 "Dubbo Server 老是会调用DubboShutdownHook 自动关闭"
### Environment
* zookeeper 3.4.6
* Dubbo version: 2.6.2
* Operating System version: ubuntu 16.04 (64bit)
* Java version: OpenJDK Runtime Environment (IcedTea 2.6.4) (7u95-2.6.4-3)

### Step to reproduce this issue

1. mvn 打包 provider 代码
2. java -jar -Ddubbo.application.logger=slf4j xxx.jar &
3. 启动Main类方法调用：com.alibaba.dubbo.containerMain.main(args);

### Expected Result

What do you expected from

[2018-08-09 03:37] chickenlj commented on #2178
It seems that Kryo 4.0.1 used by Dubbo already support Java 8 Date types. It's the CompatibleKryo short-circuited that logic by checking zero-arg constructor.

[2018-08-09 03:40] diecui1202 commented on #2219
@wuqke Could u pls provide a demo to reproduce this scenario ?

[2018-08-09 03:52] ralf0131 commented on #2218
Hi, would you mind send a pull request?

[2018-08-09 06:02] LeoAugust19 commented on #2134
### Stack trace
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/http/util/Args
	at org.apache.http.impl.conn.Wire.output(Wire.java:110)
	at org.apache.http.impl.conn.LoggingOutputStream.write(LoggingOutputStream.java:73)
	at com.alibaba.dubbo.rpc.protocol.thrift.io.RandomAccessByteArrayOutputStream.writeTo(RandomAccessByteArrayOutputStream.java:93)
	at com.alibaba.dubbo.rpc.p

[2018-08-09 06:57] ximmy commented on #2219
遇到相同的问题，而且发现dubbo的version变成了服务的名字，非常诡异。

=2018-08-09 13:50:59,969 INFO  [DubboMonitorSendTimer-thread-2] dubbo.DubboMonitor (DubboMonitor.java:80)     -  [DUBBO] Send statistics to monitor zookeeper://********:31811/com.alibaba.dubbo.monitor.MonitorService?anyhost=true&application=simple-monitor&check=false&delay=-1&dubbo=w_service_deer&generic=false&interface=com.alibaba.dubbo.monitor.MonitorServ

[2018-08-09 08:37] playaround88 commented on #2219
hi，on linux cannot use system.in.read to block the main thread.
try to change to use a blockqueue and use it's  block method.

[2018-08-09 08:46] wuqke commented on #2219
@diecui1202
sorry，forget to upload the demo project。Below is the demo
https://github.com/wuqke/crashDownIssueDemo

[2018-08-09 08:55] wuqke commented on #2219
@playaround88
 u mean there's a usage of system.in.read in com.alibaba.dubbo.containerMain.main(args) and that cause the problem?

but it's the dubbo recommend usage to start a provider service.

And what exact method should I use instead of containerMain.main(args) .

is that a demo,appreciate for your concern and help!

[2018-08-09 09:02] playaround88 commented on #2219
@wuqke
yes, it's true, I have face the problem on ubuntu.
just create a BlockingQueue, and use it's block method to block main thread go dead.

[2018-08-09 09:32] luyunfeng opened #2222 "禁止某个Filter的执行"
由于继承了别人的模块，能不能有办法在不修改别人源码的情况，在自己的模块中禁止掉某个Filter的执行

[2018-08-09 09:55] diecui1202 commented on #2222
Maybe this documentation can help you. http://dubbo.apache.org/#!/docs/dev/impls/filter.md?lang=zh-cn

[2018-08-09 09:58] #2108 closed

[2018-08-09 10:17] diecui1202 commented on #1909
Feel free to reopen it if u get other problem

[2018-08-09 10:17] #1909 closed

[2018-08-09 10:23] haiyang1985 opened #2224 "Any better solutions for http request"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

# Http R

[2018-08-09 11:54] yy-Eddy commented on #2216
嘿, 我也遇到这个问题了,但是我的不同点是可以确定我没有使用缓存,也没有配置dubbo使用缓存,我这边因为提供者返回的对象 所以返回的是空对象 而非"", 我也是在提供者return结果上一行打印的信息是不为空的

[2018-08-10 03:00] #2136 closed

[2018-08-10 03:02] kimmking commented on #2219
@wuqke I fork your code and run an instance since 20:33 yesterday on MacOS, do not crash.
Is linux only?
[code]

[2018-08-10 03:17] kimmking commented on #2224
Rest via HTTP is not a high perfermance protocol in RPC domain.
1. If you wanna add some biz logic above dubbo-service, proxy layer is a good choice.
1. If you throw returnValue of service method directly, then rest protocol +filter is a nice way.
1. For perfermance, think about mutil-level cache strategy, multiple providers loadbalance, etc.

[2018-08-10 04:57] carryxyh commented on #1179
Close it now.
no more feedback

&READY-TO-CLOSE&

[2018-08-10 05:37] #1179 closed

[2018-08-10 05:42] diecui1202 commented on #2089
@34176470 Now EDAS does not support custom SPI extension, such as Filter.

[2018-08-10 05:45] diecui1202 commented on #2008
@zk789987 Any other problem for this issue ? Feel free to reopen it.

[2018-08-10 05:45] #2008 closed

[2018-08-10 05:55] diecui1202 commented on #1710
@darknesstm As the code shown, it will be activated when group is not set.

[code]

Feel free to reopen it if it also confuse u.

[2018-08-10 05:56] #1710 closed

[2018-08-10 06:02] diecui1202 commented on #380
@summer9989 Could u pls provide a demo to reproduce this scenario ?

[2018-08-10 06:02] haiyang1985 commented on #2224
Thanks!
Is there any existing products for rest protocol + filter solution?

[2018-08-10 07:04] JKTerrific commented on #1012
组织：壹点灵心理咨询
 地点：中国杭州
 官网：https://ydl.com
 联系方式：huangjk@yidianling.com
 场景：微服务拆分

[2018-08-10 07:07] imayou commented on #1012
组织：软通动力
地点：中国北京
官网：http://www.isoftstone.com
联系方式：contact@isoftstone.com
场景：微服务，基础服务，业务系统

[2018-08-10 07:16] chickenlj commented on #2216
Hi @zjzhujie125 , have you checked the serialization part?

[2018-08-10 07:30] lovepoem commented on #2216
@zjzhujie125 What's the dubbo version of your project?

[2018-08-10 07:40] beiwei30 opened #2226 "remove hessian-lite license info from LICENSE in the next release."
Since we remove the hessian-lite, I suggest we remove the license info
in LICENSE.

I checked ASF release policy[1], it says:

Each package MUST provide a LICENSE file and a NOTICE file which
account for the package's exact content. LICENSE and NOTICE MUST NOT
provide unnecessary information about materials which are not bundled
in the package, such as separately downloaded dependencies.

[2018-08-10 07:53] kimmking commented on #2224
dubbox with its samples

[2018-08-10 07:59] luyunfeng commented on #2222
但是这个是只能禁止dubbo原生的filter，不能禁止用户自定义的

[2018-08-10 08:09] luyunfeng commented on #2222
在 AbstractInterfaceConfig 中 直接限制住了 ，所以非dubbo framework下的会出现```No such extension....```异常
[code]
[code]

[2018-08-10 08:11] beiwei30 commented on #2116
I could reproduce the issue. If the optimizer is not globally known and kept consistent to all participated parties, then the serialization exception gets happen, for example:

[code]

In order to solve the issue, optimizer must be registered on service level, which in fact disobeys the current design. One particular serialization optimizer must be bound together with serialization mode onto a pro

[2018-08-10 08:50] #2222 closed

[2018-08-10 08:54] ralf0131 opened #2227 "Unstable unit test"
Sometime the following unit test will fail:

[code]

[2018-08-10 09:08] chickenlj commented on #1728
http://dubbo.apache.org/#!/docs/user/demos/delay-publish.md?lang=zh-cn

http://dubbo.apache.org/#!/docs/user/configuration/properties.md?lang=zh-cn

[2018-08-10 09:10] chickenlj commented on #2218
http://dubbo.apache.org/#!/docs/user/references/telnet.md?lang=zh-cn

[2018-08-10 14:16] wuqke commented on #2219
@kimmking  yes,it crashed on MacOS either. The logs shows below:

The version of my macOS is  Sierra10.12 (16A323).

[code]
Otherwise,I folllow the method that @playaround88 provided,which was blocking the main thread go dead.And it truely works on linux and macOS.

[code]

[2018-08-10 14:29] carryxyh commented on #1917
Feel free to submit a PR to optimize this section.
 I also think that you can optimize the indentation of the code...
The current indentation is not beautiful.
:)

[2018-08-11 03:56] klboke commented on #1012
组织：凯京集团
地点：中国上海
官网：http://www.keking.cn/
联系方式：632104866@qq.com
场景：RPC通讯，服务治理，分布式去中心化系统

[2018-08-12 14:42] haiyang1985 commented on #2224
Not sure whether I've got your points of rest protocol+filter way. I've generally looked at the dubbox these days, please help me to confirm on whether dubbox is the rest protocol+filter way? And this is the samples as you said https://blog.csdn.net/nmyphp/article/details/79174225?

[2018-08-13 01:59] ilyaml218 commented on #432
@woshidagouxiong 您好，cache文件出现很多\u0000的原因没找到。分析了多次内存文件，通过下面的方法解决了自己项目的full gc问题。1. 把full gc模块的内存扩大一倍； 2. 减少full gc模块中的定时任务数量及执行频率； 3. 删除原有cache文件，为不同服务配置不同的cache ；

[2018-08-13 02:28] ralf0131 commented on #2226
I have removed the hessian-lite license info from LICENSE and committed to 2.6.3-release branch, it will be merged into 2.6.x branch.

I also checked master branch, it has already been removed.

In 2.5.x branch, hessian-lite is not removed, so everything is fine.

So I think this issued has been fixed.

[2018-08-13 02:28] #2226 closed

[2018-08-13 02:48] #2178 closed

[2018-08-13 03:45] softxiang commented on #2215
有其他人发现并解决了问题，希望官方能处理一下
[https://blog.csdn.net/liangshf520/article/details/79621345](https://blog.csdn.net/liangshf520/article/details/79621345)

[2018-08-13 06:49] diecui1202 commented on #2227
I'll take it.

[2018-08-13 07:30] YoungHu opened #2233 "ReferenceConfigCache doesn't work well when no provider"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2 and lower
* Operating System version: all version
* Java ve

[2018-08-13 07:44] #2187 closed

[2018-08-13 08:05] nlskyfree opened #2234 "zk做注册中心时，怎么设置dubbo在zk中的根路径？"
### Environment

* Dubbo version: 2.5.7
* Operating System version: centos
* Java version:1.8

如题，多个环境依赖于同一个zk集群，是否支持修改zookeeper注册中心的根路径
比如将/dubbo改为/dubbo1 /dubbo2

[2018-08-13 08:48] diecui1202 commented on #2233
@YoungHu Could u please send a PR to solve this problem ?

[2018-08-13 09:03] playaround88 commented on #2234
Did you test zookeeper's chroot? feature added in zookeeper 3.2.0.
like this: "host1:port,host2:port/dubbo1"

[2018-08-13 09:07] mercyblitz opened #2235 "[Enhancement] Reactor the generation rule for @Service Bean name"
- [X] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Target

Add a generation rule of `@Service` Bean name in order to avoid duplication and is easy

[2018-08-13 11:17] nlskyfree commented on #2234
@kimmking 恩，看源码发现了，group就是根路径名称，问题我关了

[2018-08-13 11:17] #2234 closed

[2018-08-13 11:44] windlikelyc opened #2238 "This is lyc test issue."
### When I watch the issue,I found there only is one sentence,so I wonder if I can take a picture
Here we go
![issue_1_previous](https://user-images.githubusercontent.com/31197332/44029831-53957686-9f31-11e8-951c-0e88fa8a12bb.png)

[2018-08-13 11:48] windlikelyc commented on #2238
321

[2018-08-13 12:00] #2238 closed

[2018-08-13 12:56] Caellian commented on #1342
Error might've been avoided by using `@JvmField` annotation on kotlin fields one wants to have same appearance to Java. Kotlin's compiler replaces fields with internal private fields and creates getter and setter methods which are a standard in Java. Direct Kotlin field access from Kotlin files is only syntactic sugar AFAIK, it might be optimized a lot on bytecode level - who knows.

Sorry for bum

[2018-08-14 01:43] yangpancode opened #2249 "How to choose a loadbalance strategy?"
dubbo的几种负载策略分别为随机、轮询、最小活跃数；随机策略可能取到相同的随机数，导致负载不均衡；轮询策略、最少活跃调用数（LeastActive LoadBalance ）看了源码都是针对每个方法的统计，并不是针对整个provider 的负载均衡，记录每个服务每个方法的调用次数，然后获取该方法调用次数最小的服务进行请求。该策略可以有效避免”相同方法”不再发往处理该方法数量小的服务器上。这还是无法将请求分发到活跃数小的服务器。请问有针对整个provider 服务器的最小活跃数的负载策略吗？另外当集群在高并发时出现，一两台机器会出现Thread pool is EXHAUSTED，200个线程耗尽，像这种场景，用哪种轮询策略会比较好？谢谢。

[2018-08-14 01:50] mercyblitz opened #2251 "[Feature] Introduce a new Spring ApplicationEvent for ServiceBean exporting"
- [X ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Details

Dubbo will introduce a new Spring `ApplicationEvent` for for `ServiceBean` exporting,

[2018-08-14 02:34] xujunjie97 commented on #2218
#2259

[2018-08-14 04:04] carryxyh opened #2295 "Try to remove the lock in DefaultFuture."

[2018-08-14 10:25] mercyblitz opened #2297 "[Enhancement] Resolve the placeholders for sub-properties"
- [X] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Details

For now on, Dubbo does not support to resolve all placeholders from property value fro

[2018-08-14 10:33] mercyblitz opened #2298 "[Feature] Add Annotation-Driven for MethodConfig and ArgumentConfig"
- [X] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Brief

Dubbo should be added new annotations for `MethodConfig` and `ArgumentConfig` in order t

[2018-08-14 10:35] LiZhenNet commented on #2249
调用量大比较建议Random

[2018-08-14 13:54] hupuxiaojun opened #2300 "动态修改accepts配置效果非预期"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: win7
* Java version: 1.8

### S

[2018-08-14 15:52] kimmking commented on #2249
see loadbalance strategies here:
http://dubbo.apache.org/zh-cn/docs/user/demos/loadbalance.html

[2018-08-14 20:17] mercyblitz commented on #1467
Please have a look at this :

https://github.com/mercyblitz/blogs/blob/master/java/dubbo/Dubbo-Externalized-Configuration.md#%E5%A4%9A-dubbo-%E9%85%8D%E7%BD%AE-bean-%E7%BB%91%E5%AE%9A

`dubbo.protocols.` is a prefix for multiple binding

[2018-08-15 00:57] mercyblitz opened #2301 "[BUG] @Reference#parameters() does not work"
- [X] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3
* Operating System version: all
* Java version: all

### St

[2018-08-15 01:38] yangpancode commented on #2249
1、随机算法在调用量大的情况下，长的时间维度是均衡的，但是瞬时的均衡性不是太好，这就会导致某个时候有一台机器负载非常大，当然是存在一定概率性。长时间肯定是均衡的，短时间就不一定了，而往往出问题都是在那较短的时间发生。
2、很理想的方法是，LeastActive LoadBalance，但是这个方法我不太明白为什么计数正对的是每个方法，而不是整个provider。整个每个方法的话，其实还是不能保证整个provider的均衡。比如有一台机器上A方法卡死，B方法再该服务器上调用的次数最少，此时会把B方法调用分配到该机器上，这样就会出现问题了。如果最小活跃数是针对整个provider的话，这个问题就好多了。不是太明白作者这样做的用意，后期是不是可以支持针对整个provider的LeastActive实现。

[2018-08-15 12:06] 65725738 opened #2304 "qos-server can not bind localhost:22222, dubbo version: 2.6.2。what is qos-server？"
qos-server can not bind localhost:22222, dubbo version: 2.6.2

what is qos-server？ manual doesn't mention it。

where to set qos-sever port？

[2018-08-15 13:26] diecui1202 opened #2305 "2.6.4 release todo list"
1. #2303 Change consumer retries default value from 0 to 2. Need to change docs
2. #2024 Fix the problem that attachment is lost when retry
3. #2166 Add ip and application name for MonitorService
4. #2146 Support access Redis with password
5. #2137 Support char array for GenericService
6. #2402 New ASCII logo for Dubbo
7. #2451 Direct return when the server goes down abnormally
8. #2453 Fix NPE wh

[2018-08-15 13:28] diecui1202 commented on #2162
need to modify documentation, the checklist is #2305

[2018-08-15 13:28] #2162 closed

[2018-08-15 13:29] #2227 closed

[2018-08-16 01:37] ningyu1 commented on #2300
@hupuxiaojun
Do you have a good idea? Do in the startup phase control is reasonable, you can provide a ` PR ` up to discuss.
Mandatory stop of services that have been started will have several problems:
1. Which one to stop?
2. If a request is being processed, it needs to be stopped after the request is completed

[2018-08-16 04:57] ralf0131 commented on #2304
Please refer to this blog: http://dubbo.apache.org/zh-cn/blog/introduction-to-dubbo-qos.html

[2018-08-16 04:57] #2304 closed

[2018-08-16 05:09] #2177 closed

[2018-08-16 05:12] diecui1202 commented on #1971
#2097 has fixed this problem.

[2018-08-16 05:12] #1971 closed

[2018-08-16 05:14] diecui1202 commented on #1972
this test case has been ignored.

[2018-08-16 05:14] #1972 closed

[2018-08-16 05:15] diecui1202 commented on #1867
Feel free to reopen if necessary.

[2018-08-16 05:15] #1867 closed

[2018-08-16 06:17] zhongzunfa opened #2308 "dubbo how Dynamic modification service group?"
dubbo can Dynamic modification service group?
Like enable service or disabled service.

for example ：
<dubbo:reference id="demoServiceA" check="false" interface="com.alibaba.dubbo.demo.DemoService" group="A"/>
<dubbo:reference id="demoServiceB" check="false" interface="com.alibaba.dubbo.demo.DemoService" group="B"/>
<dubbo:service interface="com.alibaba.dubbo.demo.DemoService" id="demoService" gro

[2018-08-16 06:59] diecui1202 commented on #1817
@wujun8 IMO, if your Filter with Annotation Activate, it will be activated by default. You do not need to config like `<dubbo:service filter="f1,f2"/>`.

@Activate doesn't means that it's internal, also may be user's custom filter, right?
/// Yes, u r right. But once your filter with this annotation, it will be performed.

u can refer this doc: http://dubbo.apache.org/zh-cn/docs/dev/impls/filter.h

[2018-08-16 07:12] renlei413326889 commented on #432
一台机器启动多个dubbo服务，没有为每个服务指定不同的cache文件
<dubbo:registry file="dubboregistry/xxx.properties"/> ,所有服务都默认共用了一个cache导致

[2018-08-16 07:26] wujun8 commented on #1817
OK, annotation only applies to certain filter that exec before filters on a specify service, or don't use annotation.

[2018-08-16 07:26] #1817 closed

[2018-08-16 07:27] zonghaishang commented on #2308
Currently dubbo has no way to support this feature, We have noticed this demand and have plans to solve it.
There is a solution that is not elegant：
1. Calling cached services that need to be grouped by generalization

[2018-08-16 08:41] diecui1202 commented on #487
This exception message is not correct, we have fixed it in #566. Pls check the newest version.

[2018-08-16 09:48] zhongzunfa commented on #2308
@zonghaishang Thank you for your answer, Take the liberty to ask. Will dubbo version 2.7.0 solve this problem?

[2018-08-16 13:54] xiaoniutect commented on #1410
2.6.2是这样的：在配置文件里面`dubbo.application.qos-enable = false`或者JVM启动参数：`-Ddubbo.application.qosEnable=false`

[2018-08-16 14:06] steveguoshao commented on #1410
在2.6.2版本是这样设置的
配置文件：`dubbo.application.qos-enable = false`  或者  `dubbo.application.qosEnable = false`，如果是Spring Boot环境，以上两种都支持，如果是非Spring Boot环境，则只支持第二种
设置JVM启动参数：`-Ddubbo.application.qosEnable = false`

[2018-08-17 01:43] kimmking commented on #2308
@zhongzunfa uncertainty

[2018-08-17 02:34] bobchengit opened #2310 "Bootstrap blocked"
When I use the version of dubbo 2.6.2, application blocking occurs on some machines. Check out the update history of dubbo, this bug has been fixed in version 2.5.7. Since there is no log to view, how do I need to locate this problem?

[2018-08-17 02:35] diecui1202 commented on #2310
@bobchengit you can use jstack to check the main thread stack.

[2018-08-17 05:43] jiangzzwy opened #2311 "Dubbo 2.6.2 version do not support specify the protocol type on consumer side"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### 问题描述

使用注解开发dubbo的服务端和消费端。当服务端暴露多个协议的时候，dubbo客户端@Reference无法指定协议去消费。但是在dubbo的消费XML配置方式是支持的
[cod

[2018-08-17 05:52] diecui1202 opened #2312 "implement existing telnet commands with new qos mechanism"
In master branch, a new module is provided: dubbo-qos. It implements a framework to process telnet command on another port instead of dubbo protocol's port. Now offline/online/ls commands are provided.

But I found that there also have 2 modules including telnet commands, such as:

* org.apache.dubbo.remoting.telnet.support.command
* org.apache.dubbo.rpc.protocol.dubbo.telnet

We need to implement

[2018-08-17 06:42] beiwei30 commented on #1343
it's rare race case, no need to fix.

[2018-08-17 06:42] #1343 closed

[2018-08-17 06:47] changwei0708 opened #2313 "About the issue of using the dubbo-2.5.10 boot log output version is 2.0.1,Why?"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: windows7
* Java version: jdk1.

[2018-08-17 06:59] changwei0708 opened #2314 "About Handle "Duplicate class com/alibaba/dubbo/common/Version.class in 2 jar""
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: windows7
* Java version: jdk1.

[2018-08-17 07:43] diecui1202 commented on #2312
The LogTelnetHandler does not work under slf4j, such as change log level and get log file content. Change log level is useful, but get log file content, I think it's useless.

[2018-08-17 08:02] xt8469 commented on #1724
check="true/false" means check if the service provider exists when started , rather than check if  the registration center (like zookeeper) exists.

[2018-08-17 08:44] yiwugou commented on #1724
no body?

[2018-08-17 08:49] zonghaishang commented on #2308
Temporarily closed, can be reopened if needed

[2018-08-17 08:49] #2308 closed

[2018-08-17 08:56] mercyblitz opened #2315 "[BUG] Maven package issues on JavaDoc plugin in 2.6.x"
- [X] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [X] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.x
* Operating System version: all
* Java version: 1.6+

### S

[2018-08-17 09:06] diecui1202 commented on #165
@Dreampie Could you provide a demo to reproduce this problem? Also, please check your restart.sh.

[2018-08-17 09:06] diecui1202 commented on #524
Feel free to reopen if necessary.

[2018-08-17 09:06] #524 closed

[2018-08-17 09:07] diecui1202 commented on #565
Feel free to reopen if necessary.

[2018-08-17 09:07] #565 closed

[2018-08-17 09:09] diecui1202 commented on #604
@nerososft Maybe you can try generic invoke.

[2018-08-17 09:09] #858 closed

[2018-08-17 09:10] #875 closed

[2018-08-17 09:11] diecui1202 commented on #2085
Feel free to reopen if necessary.

[2018-08-17 09:11] #2085 closed

[2018-08-17 09:12] diecui1202 commented on #1640
Feel free to reopen if necessary.

[2018-08-17 09:12] #1640 closed

[2018-08-17 09:13] diecui1202 commented on #1090
Feel free to reopen if necessary.

[2018-08-17 09:13] #1090 closed

[2018-08-17 09:14] diecui1202 commented on #685
Without more discussion about this issue, I'll close it. Feel free to reopen if necessary.

[2018-08-17 09:14] #685 closed

[2018-08-17 09:15] diecui1202 commented on #165
This issue is too old to track. Feel free to reopen if necessary.

[2018-08-17 09:15] #165 closed

[2018-08-17 09:28] lovepoem commented on #213
What's the mean of "RMI prtoclol" ?
Now the default prtoclol is Dubbo protocol
I will close it. Feel free to reopen it when you have any queations.

[2018-08-17 09:28] #213 closed

[2018-08-17 09:40] lovepoem commented on #313
The solution to the problem of multiple network cards is here: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker

You can aslo configure them in the server hosts file

[2018-08-17 09:40] #313 closed

[2018-08-17 09:42] diecui1202 opened #2316 "move some extensions to ecosystem"
Move the following modules to ecosystem, each extension as a single project.
* dubbo-registry-redis

* dubbo-remoting-grizzly
* dubbo-remoting-p2p
* dubbo-remoting-zookeeper
* dubbo-remoting-mina

* dubbo-rpc-memcached
* dubbo-rpc-redis
* dubbo-rpc-thrift
* dubbo-rpc-webservice

* dubbo-serialization-fst

The previous discussion thread is here: https://lists.apache.org/thread.html/6cddfb3edf3d2c66

[2018-08-17 09:46] lovepoem commented on #337
Now the hessian protocol cannot support that：one server interface  multiple methods with the same name (overload)

I will close it now, if you have any question, free feel to reopen it

[2018-08-17 09:46] #337 closed

[2018-08-17 09:57] diecui1202 commented on #432
Feel free to reopen if necessary.

[2018-08-17 09:57] #432 closed

[2018-08-17 09:58] diecui1202 commented on #1559
Feel free to reopen.

[2018-08-17 09:58] #1559 closed

[2018-08-18 03:34] htynkn opened #2317 "Add @author rule in checkstyle"
According to [code-conventions](https://github.com/apache/incubator-dubbo/blob/master/CONTRIBUTING.md#code-conventions), "@ author" tag is not allow in source code.

I notice some PR and some test code still have "@ author" tag, considering we already have checkstyle plugin, I suggest add a new rule to check @ author tag. it can save time to review PR.

Some configuration sample:
https://github.co

[2018-08-18 06:36] carryxyh commented on #2317
Agree with this proposal.
I think:
1. We should check and remove present author tag.
2. The same thing should be done in branch 2.6.x.
:)

[2018-08-18 07:07] 65725738 opened #2318 "dubbo序列化为什么结果不是预期的。"
服务提供者的数据。
Page{count=true, pageNum=1, pageSize=2, startRow=0, endRow=0, total=10, pages=5, reasonable=null, pageSizeZero=null}[com.bdsaas.distribution.oa.dao.domain.Profile@2e7f1d08, com.bdsaas.distribution.oa.dao.domain.Profile@78162f84]

服务消费者的数据。
Page{count=true, pageNum=0, pageSize=0, startRow=0, endRow=0, total=0, pages=0, reasonable=null, pageSizeZero=null}[com.bdsaas.distribution.oa.dao.dom

[2018-08-18 07:27] 65725738 commented on #2318
public class Test<E> extends ArrayList<E> {

    private static final long serialVersionUID = 1L;

    private long total;
}

这样的类，jdk本身是可以序列化反序列化的。
但是dubbo接口不行。

什么原因？

[2018-08-18 08:50] ZhuoSiChen commented on #2318
默认采用的是Hessian 序列化，所以需要在 Test 里加默认构造函数。同理也需要在Page里加默认构造函数。

[2018-08-18 16:39] ls9527 opened #2320 "自定义异常处理"
关于ExceptionFilter最后面一句 return new RpcResult(new RuntimeException(StringUtils.toString(exception))); 换成一个可以继承的。

如下:

   public Result invoke(Invoker<?> invoker, Invocation invocation) throws RpcException {
       ///省略...
       return getDefaultRpcResult(exception);
    }

    protected RpcResult getDefaultRpcResult(Result result) {
        return new RpcResult(new RuntimeException(StringUtils.to

[2018-08-19 06:33] fingthinking opened #2321 "Does provider "async = true" need to be remove from url when register to registry?"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version:  2.7.0-SNAPSHOT

### Step to reproduce this issue

1. https://git

[2018-08-19 14:15] kimmking commented on #2317
@htynkn
I think we should post this proposal to mail list.

[2018-08-19 14:25] kimmking commented on #2318
My suggestion is:
Using Composite Style instead of Extend extension.
In your case, a more graceful design is:
[code]

[2018-08-20 00:25] 65725738 commented on #2318
yes i did, but i don't know why it can't be serialized. @kimmking

[2018-08-20 00:26] 65725738 commented on #2318
@ZhuoSiChen
public class Test<E> extends ArrayList<E> {

    private static final long serialVersionUID = 1L;

    private long total;

    private int pages;

    private int pageNum;

    private int pageSize;

    public Test() {
    }

}

这样吗？结果还是一样。

[2018-08-20 02:48] fingthinking opened #2323 "[BUG]新版异步调用 Context 传递未必正确"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0-SNAPSHOT

场景描述：
新版异步方式，会在ConsumerContextFilter中设置 remoteAdd

[2018-08-20 04:29] diecui1202 commented on #2317
@htynkn I suggest running checkstyle and rat plugin during release phase. For daily travis ci, just running mvn test, it needs to be completed ASAP.

Now the ci task takes a bit long time.

[2018-08-20 06:31] #2318 closed

[2018-08-20 07:27] xiaobzhou opened #2324 "使用注解方式配置服务，怎么对Service里面的方法配置retries？"
使用注解方式配置服务，怎么对Service里面的方法配置retries？基于xml的方式采用<dubbo:method/>

[2018-08-20 07:32] dengjiexiao commented on #2324
我想问下dubbo admin 怎么看不到消费者了？

[2018-08-20 07:41] dengjiexiao commented on #2182
我想问下dubbo admin 怎么看不到消费者了？

[2018-08-20 07:42] dengjiexiao commented on #1933
我想问下dubbo admin 怎么看不到消费者了？

[2018-08-20 07:48] markt-asf commented on #2317
An approach I have seen taken in other projects is to remove @author tags but move the names to the appropriate POM section (if they are not already present).

[2018-08-20 07:54] diecui1202 commented on #1933
@dengjiexiao You could provide more information here, maybe you need to check the consumer is exist.

[2018-08-20 08:02] diecui1202 commented on #2313
similar to #2174

2.0.1 and 2.0.2(will be present in 2.6.3 and 2.7.x) is the dubbo protocol version, it's useless for users, just for dubbo developers for compatibility.

This problem is only exists in 2.5.9 and 2.5.10. I suggest you upgrade to 2.6.2 or 2.6.3(coming soon).

[2018-08-20 08:06] dengjiexiao commented on #1933
@diecui1202  https://github.com/apache/incubator-dubbo/issues/663

[2018-08-20 08:09] dengjiexiao commented on #1933
![image](https://user-images.githubusercontent.com/26115736/44328045-17b9cb00-a493-11e8-97fe-cb493a8d6a9b.png) 提供者服务启动成功和消费者也是启动成功，但是只能看到服务者，但是看不到消费者

[2018-08-20 08:10] diecui1202 commented on #1933
@dengjiexiao Make sure the process of the consumer is still alive.

[2018-08-20 08:13] dengjiexiao commented on #1933
消费者是存活的。
![image](https://user-images.githubusercontent.com/26115736/44328351-e55c9d80-a493-11e8-9a34-52c1ab7904d8.png)

[2018-08-20 08:40] diecui1202 commented on #1933
@nzomkxia check this problem in the dubbo ops if necessary.

@dengjiexiao Is your dubbo ops the lastest version?

[2018-08-20 08:49] dengjiexiao commented on #1933
@diecui1202   从你们incubator-dubbo-ops项目下载的打包，是最新的

[2018-08-20 08:52] dengjiexiao commented on #663
@chickenlj dubbo-admin中看不到消费者consumer 这个是不是正常的

[2018-08-20 09:39] diecui1202 commented on #2320
@ls9527 Why do you need to process biz exception in your project ?

[2018-08-20 11:28] ls9527 commented on #2320
我是想说，我想扩展 ExceptionFilter 默认的处理。

以这个场景为例子。  我必须复制`ExceptionFilter` 整个类。

我可能需要 com.mycompany 包下的都抛出去，
也可能A包的Exception与B包的Interface 的情况下，抛出去。
也可能指定的com.a.b.MyExcpetion的无论怎么样都抛出去

就以目前的业务而言，我就希望对于指定某几个类一定要抛出去，不管调用者是不是找得到。
我列举的这些场景，如果扩展 ExceptionFilter 的默认处理方式自然是最好的。
但是我不得不抄一遍ExceptionFilter的实现

加入自定义处理器根本处理不了这些异常。
必须删除默认的，然后自己扩展 ExceptionFilter 的默认情况

[2018-08-20 13:03] kimmking commented on #2320
@diecui1202
Do we make RpcException instead of RuntimeException?

[2018-08-20 13:05] kimmking commented on #2324
@xiaobzhou I think we miss an annotation for method config.

[2018-08-20 13:06] kimmking commented on #2324
@dengjiexiao  maybe a new issue is good for our discussion.

[2018-08-21 01:38] huadong opened #2326 "Failed to read artifact descriptor for com.alibaba:dubbo:jar:2.6.3"
### Environment

* Dubbo version: 2.6.3
* Operating System version: Ubuntu 18.04
* Java version: 10.0.1

### Step to reproduce this issue

1. create a new project with maven pom.xml depend on dubbo 2.6.3
2. compile the project

### Actual Result

com.alibaba:dubbo-parent:pom:2.6.3 has not been deployed to [http://mvnrepository.com/artifact/com.alibaba/dubbo-parent](http://mvnrepository.com/artifac

[2018-08-21 02:35] dslchd commented on #2326
I have the same question. Is there any official answer?

[2018-08-21 03:30] dslchd commented on #2326
I rolled back to version 2.5.10.
Version 2.6.2 also had the shutdown graceful problem in tomcat 8.5.23, and I had to use the following method in my listener:
ProtocolConfig.destroyAll();

[2018-08-21 03:46] diecui1202 commented on #2320
@kimmking IMO, use RpcException can not support this requirement yet.

[2018-08-21 04:37] chickenlj commented on #2326
@huadong The Apache community is still voting for v2.6.3, so it's not available at present. I have updated the release note: https://github.com/apache/incubator-dubbo/releases/tag/untagged-24fcb73b05663c44192a

[2018-08-21 04:46] wj1369884616 opened #2328 "[BUG]ActiveLimitFilter 在消费者并发调用时不能真正限制并发数if (active >= max)与 RpcStatus.beginCount(url, methodName);操作不是原子的"
[code]

[2018-08-21 05:56] huadong commented on #2326
@chickenlj Thank you!
The tag for v2.6.3 is very helpful, I can try the v2.6.3 from the source code. I think the feature which shutdown graceful is very important, for sometimes we need to use the hot reload feature of tomcat.

[2018-08-21 06:25] dotnet123 commented on #546
我也遇到同样的问题，求解

[2018-08-21 06:51] panyi5202 commented on #2311
我按照上面的配置，启动就报错：
[code]

[2018-08-21 07:07] ulinkwo commented on #2316
I sent a pull request #2330 for this issue, but how could I contribute to ecosystem ( https://github.com/dubbo), I cloud not create a dubbo-serialization-fst repository in the group.

[2018-08-21 08:14] beiwei30 commented on #478
I also verified generic invocation, it works too.

[2018-08-21 08:14] #478 closed

[2018-08-21 08:15] dotnet123 commented on #2326
I have the same question.

[2018-08-21 09:41] huadong commented on #2326
@chickenlj I had packaged v2.6.3 from the source code. When shutdown tomcat, it logged this WARNING:

So I had to kill the tomcat process instead of executing the shutdown.sh of tomcat.

Should I do any more configurations?

[2018-08-21 13:22] chpinck opened #2331 "2.6.3 dubbo-parent 没有发布到中央库"
[ERROR] Failed to execute goal on project cust-imp: Could not resolve dependencies for project com.cifm.money:cust-imp:jar:1.0: Failed to collect dependencies at com.alibaba:dubbo:jar:2.6.3: Failed to read artifact descriptor for com.alibaba:dubbo:jar:2.6.3: Failure to find com.alibaba:dubbo-parent:pom:2.6.3 in http://repo1.maven.org/maven2/ was cached in the local repository, resolution will not

[2018-08-21 13:23] #2331 closed, assigned to nobody

[2018-08-22 02:26] diecui1202 commented on #2249
@ningyu1

[2018-08-22 02:29] diecui1202 commented on #230
@xsjie Could you pls. file a PR to solve this problem ?

[2018-08-22 02:33] diecui1202 commented on #2313
Feel free to reopen if necessary.

[2018-08-22 02:33] #2313 closed

[2018-08-22 04:49] fingthinking commented on #2006
@chickenlj @beiwei30 今天又遇到同样的问题了，我怎么也无法分析出来原因，哎~同楼上代码类似，麻烦两位帮忙分析一下。

[2018-08-22 04:52] fingthinking commented on #1784
这种情况是不是大多数出现在服务发版新实例上线的时候。

[2018-08-22 07:24] carryxyh opened #2332 "[DISCUSS]A new Dubbo ascii logo is wanted"
A new ASCII LOGO is wanted.

Here are some examples:
https://devops.datenkollektiv.de/banner.txt/index.html

pls. vote your favorite by clicking 👍

[2018-08-22 07:28] diecui1202 commented on #2332
Another choice: http://patorjk.com/software/taag/#p=display&h=1&f=Small%20Slant&t=DUBBO

[code]

Please thumbs up if you like this logo.

[2018-08-22 07:31] carryxyh commented on #2332
[code]

[2018-08-22 07:35] kimmking commented on #2332
[dubbo-logo.txt](https://github.com/apache/incubator-dubbo/files/2309292/dubbo-logo.txt)
here is many logos
you can write your logo font here.

I liiikkkeee varsity
![image](https://user-images.githubusercontent.com/807508/44449468-d35c3580-a620-11e8-9d37-0aba8988c096.png)

[2018-08-22 07:39] xwlmdd commented on #2332
big

[2018-08-22 07:39] xwlmdd commented on #2332
standard

[2018-08-22 07:41] maqiang commented on #2332
standard

[2018-08-22 07:42] beiwei30 commented on #2332
standard:

[code]

[2018-08-22 07:43] beiwei30 commented on #2332
big:

[code]

[2018-08-22 07:44] beiwei30 commented on #2332
cybermedium

[code]

[2018-08-22 07:45] beiwei30 commented on #2332
jerusalem

[code]

[2018-08-22 07:45] wenshenjun commented on #2332
@diecui1202  this good.

[2018-08-22 07:46] beiwei30 commented on #2332
lcd

[code]

[2018-08-22 07:46] yida-lxw commented on #2332
I choose the big one.

|  _ \ | | | || __ ) | __ )  / _ \
| | | || | | ||  _ \ |  _ \ | | | |
| |_| || |_| || |_) || |_) || |_| |
|____/  \___/ |____/ |____/  \___/

[2018-08-22 07:46] beiwei30 commented on #2332
mini

[code]

[2018-08-22 07:46] beiwei30 commented on #2332
old banner

[code]

[2018-08-22 07:47] wenshenjun commented on #2332
,--.          ,--.    ,--.
 ,-|  | ,--.,--. |  |-.  |  |-.   ,---.
' .-. | |  ||  | | .-. ' | .-. ' | .-. |
\ `-' | '  ''  ' | `-' | | `-' | ' '-' '
 `---'   `----'   `---'   `---'   `---'

[2018-08-22 07:48] beiwei30 commented on #2332
slant

[code]

[2018-08-22 07:52] beiwei30 commented on #2332
smslant

[code]

[2018-08-22 07:54] htynkn commented on #2332
standard looks good

[2018-08-22 07:54] wenshenjun commented on #2332
soft

<pre _ngcontent-c0="" class="form-control-static">
   ,--.          ,--.    ,--.
 ,-|  | ,--.,--. |  |-.  |  |-.   ,---.
' .-. | |  ||  | | .-. ' | .-. ' | .-. |
\ `-' | '  ''  ' | `-' | | `-' | ' '-' '
 `---'   `----'   `---'   `---'   `---'

</pre>

[2018-08-22 07:55] wenshenjun commented on #2332
speed
<pre _ngcontent-c0="" class="form-control-static">_________        ______  ______
______  /____  _____  /_ ___  /_ ______
_  __  / _  / / /__  __ \__  __ \_  __ \
/ /_/ /  / /_/ / _  /_/ /_  /_/ // /_/ /
\__,_/   \__,_/  /_.___/ /_.___/ \____/

</pre>

[2018-08-22 07:56] wenshenjun commented on #2332
eftirobot

<pre _ngcontent-c0="" class="form-control-static">   _       _    _
  ( )     ( )  ( )
 _| | _ _ | |_ | |_  ___
/ o )( U )( o \( o \( o )
\___\/___\/___//___/ \_/

</pre>

[2018-08-22 07:57] wenshenjun commented on #2332
double

<pre _ngcontent-c0="" class="form-control-static"> ____   __ __ ____  ____    ___
 || \\  || || || )) || ))  // \\
 ||  )) || || ||=)  ||=)  ((   ))
 ||_//  \\_// ||_)) ||_))  \\_//

</pre>

[2018-08-22 07:58] wenshenjun commented on #2332
alpha

<pre _ngcontent-c0="" class="form-control-static">          _____                    _____                    _____                    _____                   _______
         /\    \                  /\    \                  /\    \                  /\    \                 /::\    \
        /::\    \                /::\____\                /::\    \                /::\    \               /

[2018-08-22 07:58] majinkai commented on #2332
block

[2018-08-22 07:59] wenshenjun commented on #2332
alligator

<pre _ngcontent-c0="" class="form-control-static">      :::::::::      :::    :::       :::::::::       :::::::::       ::::::::
     :+:    :+:     :+:    :+:       :+:    :+:      :+:    :+:     :+:    :+:
    +:+    +:+     +:+    +:+       +:+    +:+      +:+    +:+     +:+    +:+
   +#+    +:+     +#+    +:+       +#++:++#+       +#++:++#+      +#+    +:+
  +#+    +#+     +#+    +#

[2018-08-22 07:59] lexburner commented on #2332
The font `small slant` looks very coooooool.
[code]

[2018-08-22 08:00] wenshenjun commented on #2332
standard

<pre _ngcontent-c0="" class="form-control-static">      _           _       _
   __| |  _   _  | |__   | |__     ___
  / _` | | | | | | '_ \  | '_ \   / _ \
 | (_| | | |_| | | |_) | | |_) | | (_) |
  \__,_|  \__,_| |_.__/  |_.__/   \___/

</pre>

[2018-08-22 08:04] wenshenjun commented on #2332
jerusalem

<pre _ngcontent-c0="" class="form-control-static">
   ____   ___   ___   ___  ________
  |__  | |_  | |_  | |_  ||.  ___  |
     | |   | |   | |   | | | |   | |
 ____| |   | | __| | __| | | |___| |
/____/\_\  |_||____||____| |_______|

</pre>

[2018-08-22 08:04] majinkai commented on #2332
Block
[code]

[2018-08-22 08:04] beiwei30 commented on #2332
pls. don't dup, just vote on your favorite with thumb up.

[2018-08-22 08:06] wenshenjun commented on #2332
pls.using 👍 to vote.

[2018-08-22 08:08] wenshenjun commented on #2332
how about this?

spliff
<pre _ngcontent-c0="" class="form-control-static"> _____  __ __  _____  _____  _____
|  _  \/  |  \/  _  \/  _  \/  _  \
|  |  ||  |  ||  _  &lt;|  _  &lt;|  |  |
|_____/\_____/\_____/\_____/\_____/

</pre>

[2018-08-22 08:11] carryxyh commented on #2332
@wenshenjun
Nice, too. :)

[2018-08-22 08:13] kongchong commented on #2332
i like the block style

 _|_|_|    _|    _|  _|_|_|    _|_|_|      _|_|
 _|    _|  _|    _|  _|    _|  _|    _|  _|    _|
 _|    _|  _|    _|  _|_|_|    _|_|_|    _|    _|
 _|    _|  _|    _|  _|    _|  _|    _|  _|    _|
 _|_|_|      _|_|    _|_|_|    _|_|_|      _|_|

[2018-08-22 08:17] chickenlj commented on #2332
I think it would better if the ASCII banner looks similar like the official LOGO
http://dubbo.apache.org/zh-cn/index.html

[2018-08-22 08:18] huahaihuang commented on #2332
@wenshenjun so good~

[2018-08-22 08:19] kongchong commented on #2332
like block style

[2018-08-22 09:30] huadong commented on #2326
@dslchd According to #1155, the netty blocks shutdown tomcat.
the conflict is :

tomcat shutdown normally after exclude netty from curator-framework.
Maybe dubbo should explicitly close zookeeper client in the future.

[2018-08-22 09:47] KingBlueSky commented on #2332
the big one

[2018-08-22 09:58] dslchd commented on #2326
@huadong Thank you for your answer.
But I'm not using dubbo v2.6.x right now, because I was using v2.6.2 and the graceful shutdown of dubbo was still a problem in tomcat, which is probably why you said it.
I'm now rolling back to v2.5.10 to solve this problem using the following solution
The code is as follows:
`        ProtocolConfig.destroyAll();
`
`            Field field = NettyClient.class.ge

[2018-08-22 10:50] ningyu1 commented on #2332
![image](https://user-images.githubusercontent.com/3387548/44459389-0fe95a80-a63c-11e8-924c-521171ada0c7.png)
big style +1

[2018-08-22 17:38] huadong opened #2334 "Dubbo v2.6.3 can't elegant shutdown with curator-framework v2.12.0"
### Environment

* Dubbo version: v2.6.3
* Operating System version: ubuntu 18.04
* Java version: 10.0.1

### Step to reproduce this issue

1. create a new project with maven pom.xml depend on dubbo 2.6.3
2. use curator-framework v2.12.0 as zookeeper client
3. startup tomcat
4. shutdown tomcat

### Expected Result

tomcat shutdown graceful

### Actual Result

tomcat's process was blocked.

netty p

[2018-08-22 17:39] huadong commented on #2326
@ralf0131 Sorry! I filed a new issue #2334 for the elegant shutdown.

[2018-08-23 01:13] zackszhang commented on #103
这个问题怎么没人解决就关闭了?

[2018-08-23 02:55] Jaskey commented on #1784
@fingthinking 设置了这个现象就解决了？

[2018-08-23 04:29] bianjp commented on #126
Demo: https://github.com/bianjp/spring-examples/tree/master/dubbo-joda-time

[2018-08-23 04:54] beiwei30 opened #2335 "Need to publish artifacts to snapshot repository if CI passes"
I'm not quite sure if it's done, but what I suggest is, if it's not done yet, we should consider to add instruction in .travis.yaml to publish all artifacts to snapshot repository every time when CI passes, to make everyone's life easier.

[2018-08-23 05:10] zhugleo opened #2336 "Spring Boot集成Dubbo, Dubbo读取不到Config Server配置文件里配置"
Spring Boot使用Config Server集中管理应用的配置文件 , Dubbo相关配置也在该文件中 ; 对比本地YAML文件和Config Server中YAML文件的读取 , Dubbo并不能读取到Config Server中的配置。导致Reference注入为null.
![image](https://user-images.githubusercontent.com/23161243/44505808-eb41c100-a6d5-11e8-811d-dbfaf68f3c3e.png)

[2018-08-23 09:48] zonghaishang opened #2339 "[Dubbo bug] Dubbo xml parsing does not handle multi-word configuration correctly"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0-SNAPSHOT
* Operating System version: mac pro
* Java version

[2018-08-23 17:49] lexburner opened #2341 "[DISCUSS] Introduce TagRouter, a new route feature."
Hi, community.
This issue is related to this [pull request](https://github.com/apache/incubator-dubbo/pull/2228). A simple and incomplete `TagRouter` implementation has been merged into dubbo v2.7.0-snapshot.In this issue，i will introduce what problem did it solve，while i want to refer to your opinion and proposal, decide the final behavior of  `TagRouter` .

### What is TagRouter

TagRouter is a

[2018-08-23 18:50] 356082462 opened #2342 "该Bug已经在2.6.2中解决"

[2018-08-24 02:35] kimmking commented on #2341
We should discuss issues in mail list.

[2018-08-24 03:44] Aruforce opened #2344 "NPE with MockInvokersSelector.getNormalInvokers(final List<Invoker<T>> invokers)"
Triggering conditions On Client Side：
0.P2PModel
1.Client config with More than one provider（2 and 3 has bean tested）like this：
`
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/

[2018-08-24 06:51] renlei413326889 commented on #2006
@lllichen 默认的dubbo协议 <dubbo:protocol name="dubbo" dubbox最新分支

[2018-08-24 07:40] fingthinking commented on #2006
@lllichen 我分析不出会有那种协议会走到[https://github.com/apache/incubator-dubbo/blob/master/dubbo-remoting/dubbo-remoting-api/src/main/java/org/apache/dubbo/remoting/exchange/support/header/HeaderExchangeHandler.java#L204](https://github.com/apache/incubator-dubbo/blob/master/dubbo-remoting/dubbo-remoting-api/src/main/java/org/apache/dubbo/remoting/exchange/support/header/HeaderExchangeHandler.java#L204)这段代码中去

[2018-08-24 09:32] chutian52 commented on #2336
Dubbo默认是读取application.properties/application.yaml中的配置，Dubbo的解析是通过ConfigUtils来实现的。你可以写一个类集成EnvironmentPostProcessor，把Environment中的所有的Dubbo配置都写进来。
或者你可以使用Dubbo Spring Boot Project。最好是让你的EnvironmentPostProcessor执行在Config拉取之后，应该可以解决你的问题

[2018-08-24 10:45] #2344 closed

[2018-08-24 18:05] EdgarTeng opened #2345 "dubbo的TPS限流模块在运行时系统时间发生变化的情况下限流不能正常工作"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3

### Step to reproduce this issue

1. 配置限流过滤器；
2. 运行时修改系统时间

[2018-08-24 23:26] DreamHill opened #2346 "Some problems were encountered while processing the POMs:"
Non-resolvable import POM: Failure to find org.apache.dubbo:dubbo-dependencies-bom:pom:2.7.0-SNAPSHOT
in https://maven.aliyun.com/repository/public/ was cached in the local repository, resolution will not be reattempted until the update interval of alimaven has elapsed or updates are forced @ org.apache.dubbo:dubbo-parent:2.7.0-SNAPSHOT, G:\Einker\incubator-dubbo\pom.xml, line 152, column 25
 @

[2018-08-26 03:17] ralf0131 commented on #2346
Hi,
2.7.0-SNAPSHOT has not been deployed to repository yet. Please build it locally.

[2018-08-26 03:33] ralf0131 commented on #1713
This issue has been fixed from 2.7.0 onwards.

[2018-08-26 03:33] #1713 closed

[2018-08-26 08:26] diecui1202 commented on #2346
Stay tuned pls.

[2018-08-26 08:39] #2346 closed

[2018-08-26 14:35] chickenlj opened #2348 "AbstractRegistry unit test enhancement."
Design and provide unit tests to cover more use cases.

[2018-08-26 15:04] xiaguangme commented on #2345
可以采用“倒计时”的方式解决这个问题，每一次开始重置时，做一个interval时间的等待，等待结束后重置。这样就不依赖于系统时间了。有访问时启动等待，无访问时，无需启动等待。
另：

是您猜测的系统时间不对的原因。 也有那种测试时确实需要修改系统时间的，如银行的测试环境，会有针对某个特定过去日期测试，此时不能停服务。

[2018-08-26 15:25] chickenlj opened #2349 "Blog translation for Baiji"
* Part 1, 2, 3, 4
[REST](https://github.com/apache/incubator-dubbo-website/blob/asf-site/docs/zh-cn/user/rest.md)

* Part 5
[incubator-dubbo-rpc-jsonrpc](https://github.com/apache/incubator-dubbo-rpc-jsonrpc)
[dubo-samples-docker](https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker)

* Part 6
[serialization](https://github.com/apache/incubator-dubbo-website/blob/asf-site/docs/z

[2018-08-27 02:07] carryxyh commented on #2332
Close this issue.
I will vote for the new dubbo logo as soon as possible.
Thank you everyone for voting

[2018-08-27 02:07] #2332 closed

[2018-08-27 02:10] EdgarTeng commented on #2345
该限流算法的实现导致拒绝请求不是猜测，为真实地在生产环境中碰到的场景。
修复如下：
[code]
修复：采用一个异步线程定期（interval间隔）去重置令牌桶，而不再依赖于系统时间。但增加了一个线程的开销。

[2018-08-27 02:38] yejunyu opened #2350 "Error running demo"
### Environment

* Dubbo version: master
* Operating System version: 4.9.0-deepin13-amd64 #1 SMP PREEMPT Deepin 4.9.57-1 (2017-10-19) x86_64 GNU/Linux
* Java version: 1.8.0_161

### Step to reproduce this issue
if i didn't write `<dubbo:provider server="netty4"></dubbo:provider>` in `dubbo-demo-provider.xml`,
this program will report an error

If there is an exception, please attach the exception

[2018-08-27 02:58] hupuxiaojun commented on #2345
@EdgarTeng 这种方式好像也是有问题的，限流的时间窗口是一个滑动(sliding window)窗口(最近60秒)，不是一个翻滚（Tumbling window）窗口（0-60,60-120）。
假设interval=60,rate=5000
你这个线程是固定周期重置，极端情况下，59秒的时候，进来4999个请求，都放行了，然后第60秒，你重置了rate，然后第61秒又进来4999个请求，这时候由于已经重置，所以这4999个请求仍然可以通行。
结果就是你的服务在3秒内就收到了4999*2个请求，远大于你设置的1分钟5000的rate。

[2018-08-27 03:11] imloki commented on #2345
滑动窗口来限流天然就存在毛刺的问题，可以扩展漏桶或者令牌桶来做~~

[2018-08-27 03:22] jacendfeng opened #2351 "dubbo 中文文档错别字"
http://dubbo.apache.org/zh-cn/docs/user/references/xml/dubbo-reference.html
![image](https://user-images.githubusercontent.com/11593158/44638848-83e48380-a9eb-11e8-8b51-a5b610103ee3.png)

[2018-08-27 07:13] chickenlj opened #2352 "Add unit test for HeaderExchangeChannel"

[2018-08-27 09:34] xiaguangme commented on #2345
@EdgarTeng 其实我搜了下 除了限流依赖系统时间之外，还有好多地方都依赖系统时间，比如一些dump日志的地方，但或许多业务影响不大吧

[2018-08-27 11:06] carryxyh commented on #2332
After a few days of voting, the top three LOGOs were: small slant, big and standard.
So we will choose to use small slant as the new ascii logo.
Thank you everyone for voting. :)

[2018-08-27 12:25] hupuxiaojun opened #2353 "@Service注解中的interfaceName属性与ServiceConfig中的的属性名（interface）不一致导致无法启动"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: win7
* Java version: 1.8

@Serv

[2018-08-27 15:37] EdgarTeng commented on #2345
@hupuxiaojun 上面的修复通过调度去定期重置令牌桶，确实存在不是任意时间窗口请求量都是设定的值的问题，会存在毛刺。其实dubbo本身的令牌桶实现也同样存在这样的毛刺。

意味着1分钟最多能接受5000次请求。假设在10:00:00时刻令牌桶被重置了（即lastResetTime=10:00:00.000），根据`if (now > lastResetTime + interval) `的条件，最早需要在10:01:00.001时刻令牌桶才被重新重置（“最早”是因为重置令牌为有请求进来且满足时间条件，被动策略），在极端情况，在10:00:01 ~ 10:00:59这段时间没有请求，在第59秒有4999个请求，然后第60秒又1毫秒接受了一个新的请求 **由于满足了： 当前系统时间 > 上次重置时间 + 时间间隔** 被重置了rate，然后第61秒又进来4999个请求，那么在10:00

[2018-08-27 15:59] EdgarTeng commented on #2345
@xiaguangme 由于很多应用系统（或中间件）都会使用系统时间这一属性作为控制条件，系统时间的准确性差不多是很多软件系统能够正确运行的基本前提，这也是准确NTP服务非常非常的重要原因。至于系统时间的偏差对业务造成的影响有多大，需要根据不同的业务场景来做评判。如果是记录应用日志，有几分钟的时间偏差，在大部分情况下还是属于可接受范围之内吧。像限流这样的场景，如果因系统时间偏差而拒绝了所有的正常交易，是难以接受的。（难以接受的场景还包括：在做请求有效性验证时，以当前系统时间和客户端发送过来的时间戳进行对比，如果偏差大于某一阈值，则验证不通过）。因此，对系统时间的依赖可能也是在做算法和软件设计时需要考虑的。

[2018-08-28 02:54] caneo commented on #465
xml配置<dubbo:registry>
<dubbo:registry>中存在wait标签：表示在注册中心配置的优雅停机的超时时间
在provider.xml中新增：
<dubbo:registry address="multicast://224.5.6.7:1234" wait="100000"/>

[2018-08-28 03:01] caneo commented on #1054
1）	配置xml文件：在comsumer.xml中application name属性定义了应用名
<dubbo:application name="demo-provider"/>
2）  RpcContext: RpcContext中存在attachments字段，以key-value的形式支持开发者扩展字段值。
3)   ComsumerContextFilter的invoke()方法中调用RpcContext.setAttachment()方法，“application”为key, application name为value封装在RpcContext的扩展字段attachments中,如下：
.setAttachment(Constants.APPLICATION_KEY, invoker.getUrl().getParameter("application"))
4）服务提供方

[2018-08-28 03:04] carryxyh commented on #2351
Hi, would u pls send a pr to fix it?

[2018-08-28 03:04] caneo commented on #2043
Dubbo目前已支持Provider将自身的host注册到注册中心，注册中心可以根据host自动获取服务的IP。
1.	在provier 的xml配文件中配置provider的host值。
    <dubbo:protocol name="dubbo" port="20880" host="localhost"/>
2.  ContextFilter中通过getIpByHost方法根据provider的host获得获取provider的IP：
NetUtils.getIpByHost()方法

您可以尝试一下

[2018-08-28 03:11] diecui1202 commented on #2332
Cool

[2018-08-28 03:37] caneo commented on #1814
[Dubbo-1814][Baiji-4] configure "provider.XML"
add a tag named Wait <dubbo:registry>: set timeout time for graceful downtime configuration in the registry.
<dubbo:registry address="multicast://224.5.6.7:1234" wait="100000"/>

[2018-08-28 03:41] lisirrx commented on #1814
In dubbo.properties, `dubbo.service.shutdown.wait` is used for config wait timeout of graceful shutdown. So we can use `dubbo:parameter` of `dubbo:service` to pass a timeout value to `DubboProtocal` to overide the value of `dubbo.service.shutdown.wait`

However a static field `wait` is added into `DubboProtocal`, I can't find a more elegance way to implement it.
#2375

[2018-08-28 03:44] lisirrx commented on #1054
In `DubboInvoker.doInvoke`, there are some lines to add attachment to the `invocation`.
The application name from url parameter can be put into the attachments of invocation for sending to provider.

User can work with `DubboProtocol.reply` to print logs and so on.
#2377

[2018-08-28 03:56] chaoKing commented on #465
The timeout for getting graceful downtime in dubbo is obtained from the method ConfigUtils.getServerShutdownTimeout, which is to get value of dubbo.service.shutdown.wait (new key) or dubbo.service.shutdown.wait.seconds (old key).

Configure the dubbo:registry configuration wait tag in xml, and the spring tag resolution will configure dubbo.service.shutdown.wait.
So configure the wait tag directly

[2018-08-28 03:57] caneo commented on #1054
1) Configure "consumer.xml" file:  "consumer.xml" already defines the application name attribute like this:
<dubbo:application name="demo-provider"/>
2) RpcContext: There is an field "attachments" in the "RpcContext.java" to support the developer to extend the field values in the form of a key-value.
3) in the ComsumerContextFilter, we use the invoke() method to call the RpcContext.setAttachment()

[2018-08-28 03:58] lamianer commented on #2043
Dubbo has supported Providers to register their host to the registry server, and registry server can automatically get the IP by host name.
 Firstly config the host name of provider in the xml configuration file, the configuration can be: <dubbo:protocol name="dubbo" port="20880" host="localhost"/>.
Then ContextFilter obtains the IP of provider through the NetUtil.getIpByHost method. You could try

[2018-08-28 04:00] lisirrx commented on #2043
I think this proposal can lead to another question that how can we use dubbo on a kubernetes cluster. There are some scenarios that kube-dns provides a service-name to pod mapping, and users want to using Dubbo to call  a service(in dubbo) by a service-name(in k8s).

[2018-08-28 05:00] ralf0131 commented on #2342
Hi, I am closing this issue.

[2018-08-28 05:00] #2342 closed

[2018-08-28 05:04] ralf0131 commented on #2328
Hi,

Would you please send a pull request?

[2018-08-28 05:06] ralf0131 commented on #2351
Please send a pull request to https://github.com/apache/incubator-dubbo-website

[2018-08-28 06:10] diecui1202 commented on #2350
In my local env, it works only with adding `-Djava.net.preferIPv4Stack=true` to vm args.

@yejunyu u can check it again. Make sure your local repo is clean.

[2018-08-28 07:16] diecui1202 commented on #2341
Since the feature has been merged to master, I'll close this issue.

[2018-08-28 07:17] #2341 closed

[2018-08-28 07:39] Leorowe commented on #1677
请问max.total 要在哪里设置？我也遇到这个问题

[2018-08-28 07:57] Leorowe commented on #1677
知道了，追加在address后， redis://127.0.0.1:6370?max.total=100

[2018-08-28 09:38] diecui1202 commented on #2350
Pls. feel free to reopen if necessary.

[2018-08-28 09:38] #2350 closed

[2018-08-28 09:38] #2326 closed

[2018-08-28 09:41] diecui1202 commented on #2334
@carryxyh Could u pls. help to check this issue ?

[2018-08-28 09:42] diecui1202 commented on #2317
I've enabled checkstyle and rat plugin for default travis CI.

[2018-08-28 09:46] carryxyh commented on #2334
@diecui1202
Ok,I will check it.

[2018-08-28 09:51] diecui1202 commented on #2317
https://github.com/apache/incubator-dubbo/pull/2393

[2018-08-28 09:51] #2317 closed

[2018-08-28 13:15] lamianer opened #2397 "[issue465_1054_2043]Issue Conclusion"
# Issue 1：xml configuration for shutdown
## 1、Basic concepts
### Graceful Shutdown
Dubbo's native support for graceful downtime is based on the configured file named “dubbo.properties”. We added the value as follows:

that is to say, Dubbo stops receiving tasks, and waits for the completion of existing tasks, waiting for XX milleseconds.
### Configuration
1) Properties Configuration "dubbo.propert

[2018-08-28 13:45] freeseawind opened #2398 "Is it necessary to set the value of SPI?"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

Dubbo version: 2.6.2
Operating System version: win7
Java version: 1.8

### Step to

[2018-08-28 14:54] wcp1231 commented on #1279
@charpty @chickenlj 请教一下，在 `ServiceAnnotationBeanPostProcessor.java` 中是通过 `AnnotationUtils.findAnnotation(beanClass, Service.class);` 获取的 `@Service` 注解，那这里自定义的 `@DubboService` 注解里的属性是怎么传递给 `@Service` 的？

我在 Provider 上只用 `@DubboService` 最后得到的 bean 并没有我配置的信息。

[2018-08-29 03:52] EdgarTeng commented on #2345
一种对源码修改更小的方式：
[code]
修改后，令牌桶的重置条件：**当前系统时间与上次重置令牌桶的时间偏差 > 时间间隔interval**。

[2018-08-29 04:54] valiantwu opened #2400 "ReferenceConfig(dubbo://127.0.0.1:20880) is not DESTROYED when FINALIZ"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-08-29 06:09] YoungHu commented on #2233
PR already done

[2018-08-29 06:49] hupuxiaojun commented on #2345
@EdgarTeng 所以你可能陷入了一个思维怪圈，一直在纠结这个时间问题，我想阿里为什么没有考虑这个问题？是因为时间同步是运维标准化的东西，你举的极端案例，时间同步差了那么多。。。
问题是出在时间同步上，是运维的锅，把自身运维做好就能避免这个问题。
当然dubbo自身实现也不完美，所以这个Filter都没放在默认扩展里面.
或许可以采用guava的RateLimiter实现单实例限流。如果要全局限流，可以通过RateLimiter的Redis实现(springboot2里面有)

[2018-08-29 06:57] fingthinking commented on #2006
@renlei413326889 看看是不是因为这个原因，我在我们公司这么修复的，没毛病。

[2018-08-29 08:52] diecui1202 commented on #2398
@freeseawind Could u describe your problem more detailedly ?

[2018-08-29 08:55] diecui1202 commented on #2353
@hupuxiaojun Could u pls. provide a demo for us ?

[2018-08-29 09:03] freeseawind commented on #2398
dubbo里的服务扩展接口包含@SPI注解，但没有指定默认值，而是在Adaptive中指定，是否给@SPI注解指定默认值会更合理

[2018-08-29 10:49] xiabobin opened #2403 "Can Dubbo support network isolation between Consumer and Provider?"
咨询一下Dubbo是否满足以下需求、场景。

废话不多说。

### 需求描述

假设一台服务器命名为A，其IP为192.168.1.100，部署Dubbo Provider。另一台服务器命名为B，部署Dubbo Consumer。在A、B两台服务器之间使用“网闸”隔离，服务器B可以通过网闸IP：172.10.1.100映射到服务器A（192.168.1.100）上。此时Consumer无法调通Provider，因为Consumer通过注册中心获取的是Provider真实IP，而Consumer与Provider之间有网闸隔离，无法使用真实IP通讯，必须使用其他IP代理。那么此种场景Dubbo该如何处理。

请赐教。

[2018-08-29 11:01] carryxyh commented on #1968
@baigod
Hi, I have fix the issue in case 1 by this pr:
https://github.com/apache/incubator-dubbo/pull/2185

For case 2, I agree with chickenlj.
U can keep it "eventually consistent".

Is there any other questions about this issue? If not, we will close it soon. :)

[2018-08-29 11:03] carryxyh commented on #2046
This problem has been fixed by this pr:
https://github.com/apache/incubator-dubbo/pull/2153

Is there any other questions for this issue?  If not, we will close it soon. :)

[2018-08-29 11:58] zerochending opened #2404 "SpringExtensionFactory 导致的OOM"
![Uploading image.png…]()

使用256版本dubbo，测试时候发现应用有OOM，dump日志后发现大量的 SpringExtensionFactory中的hashmap占了真个4G内存的76%，发现xmlwebapplication大量加载？什么情况下会导致SpringExtensionFactory重复加载xmlwebapplication？

[2018-08-29 12:01] zerochending commented on #2404
![Uploading image.png…]()
使用256版本dubbo，测试时候发现应用有OOM，dump日志后发现大量的 SpringExtensionFactory中的hashmap占了整个4G内存的76%，发现xmlwebapplication大量加载？什么情况下会导致SpringExtensionFactory重复加载xmlwebapplication？

[2018-08-29 12:24] JoeXie opened #2405 "SpringExtensionFactory 导致的OOM"
使用256版本dubbo，测试时候发现应用有OOM，dump日志后发现大量的 SpringExtensionFactory中的hashmap占了真个4G内存的76%，发现加载了大量不同的xmlwebapplication对象.

什么情况下会导致SpringExtensionFactory重复加载xmlwebapplication？

以下是dump出来的内存占用分析:
![image](https://user-images.githubusercontent.com/7114235/44787340-75ec5980-abc9-11e8-8875-ba8f377d0f45.png)

[2018-08-29 12:28] #2404 closed

[2018-08-29 12:40] JoeXie commented on #2165
@zonghaishang
There is a class we need. It is not caused by Class not Found.
If I didn't call rest url immediately and wait 30s, the service will be OK,  and the thread context class loader is not null.  If I call the url immediately when spring mvc started, the servcie is bad, and the class loader is null.

It seens that the Hessian2SerializerFactory initiates itself after spring context initated

[2018-08-29 13:37] carryxyh commented on #2334
Hi @huadong ,
Can u give me your demo in github?

[2018-08-29 14:43] EdgarTeng commented on #2345
@hupuxiaojun 嗯，谢谢，您后面给的建议很中肯。确实，系统时间是一个基本的服务，如果时间都错了，很多服务都不能正常运转。当然，至于阿里有没有想到这个问题我不能冒昧揣测，只能说很多情况下软件的容错性是需要考虑的（常见的像是硬盘故障、内存故障、网络闪断等），并不能完全说是运维的锅，真的出现极端的场景，软件设计如果考虑到这些情况，即便不能完全的解决问题，能尽量减少黑天鹅带来的损失，并具有相应的兜底方案，对于可用率要求很高的系统，这种努力也是值得的。

[2018-08-29 16:15] kexianjun commented on #2353
it seems that if use the Service annotation and set the value of interfaceName,it always throws the exception above

[2018-08-30 02:25] diecui1202 commented on #2233
The same issue: #1765 . But it's not ReferenceConfigCache's problem.

I think we need to fix it like #1999

[2018-08-30 02:27] diecui1202 commented on #2233
@YoungHu Could u refer to #1999 and fix it on dubbo-2.6.x ?

[2018-08-30 02:44] carryxyh commented on #2403
I don't think this scene is currently supported if u have to use registry.
Maybe use explicit-target to solve this problem:
https://dubbo.incubator.apache.org/zh-cn/docs/user/demos/explicit-target.html

[2018-08-30 02:46] carryxyh commented on #2400
Hi, would you like to provide some details that will reproduce the problem?

[2018-08-30 02:54] carryxyh commented on #1729
Hi, would u like to provide your config to us to recreate this problem?

[2018-08-30 06:56] diecui1202 commented on #2405
@JoeXie Does this problem occur on the product or test environment ? If test environment, maybe you could check whether the reload mechanism is enabled, such as tomcat reload.

[2018-08-30 07:26] z499326979 opened #2407 ".ConstraintDescriptorImpl' could not be instantiated"
* Dubbo version: 2.6.2
* Operating System version: win7
* Java version: 1.8
开启配置：
dubbo.provider.validation = true

consumer端报错如下：
com.alibaba.com.caucho.hessian.io.HessianFieldException: org.hibernate.validator.internal.engine.ConstraintViolationImpl.constraintDescriptor: 'org.hibernate.validator.internal.metadata.descriptor.ConstraintDescriptorImpl' could not be instantiated

[2018-08-30 07:46] diecui1202 commented on #1293
It's not a good way to provide `get` method for ReferenceConfigCache, we do not know the method arguments. It's also not easy-to-use.

Defer it firstly until we reach a reasonable approach.

[2018-08-30 08:02] ralf0131 commented on #1888
#1454, #1365, #1450 are all closed.
Leaving it open since #1371 is still open.

[2018-08-30 08:04] ralf0131 commented on #1371
This has been fixed and will be available at 2.7.0 onwards.

[2018-08-30 08:04] #1371 closed

[2018-08-30 08:04] ralf0131 commented on #1888
All the related issues are closed. I am closing this now.

[2018-08-30 08:04] #1888 closed

[2018-08-30 08:06] chutian52 commented on #2043
set host=service-name for purpose? @lisirrx

[2018-08-30 11:41] JoeXie commented on #2405
@diecui1202
Our env is test.
and tomcat reloadble is false.
![image](https://user-images.githubusercontent.com/7114235/44849337-6255f700-ac8c-11e8-85d5-eb6ca6f17857.png)

[2018-08-30 16:05] YoungHu commented on #2164
same issue with #1999 ,so close this one

[2018-08-30 16:05] #2164 closed

[2018-08-30 16:10] YoungHu commented on #2233
will check it tomorrow by using the master branch code

[2018-08-31 01:04] chenshun00 opened #2410 "can i get consumer form provider?"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.2(test)，but there are many different versions inside the comp

[2018-08-31 01:10] chenshun00 opened #2411 "can i get consumer from provider"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.2(test)，but there are many different versions inside the comp

[2018-08-31 01:11] #2410 closed

[2018-08-31 02:06] xishian opened #2412 "I want to know why."
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.8
* Operating System version: win10
* Java version: 1.8

###

[2018-08-31 02:12] carryxyh commented on #2412
Hi, the dubbo protocol didn't support for stream.
I think u can change the protocol to rmi.
If u still want to use dubbo protocol, I think u should use byte[] instead of stream.
You can fix it and have a try.

If still have problem, pls send us a demo to recreate the problem.

[2018-08-31 02:16] carryxyh commented on #2403
Hi, do u still have problem for this issue?
If not, we will close it soon.
@xiabobin

[2018-08-31 03:24] biyuhao opened #2413 "Resource leak in StreamUtils"
### Environment

* Dubbo version: master branch latest
* Operating System version: all
* Java version: 1.8

### Step to reproduce this issue
1. start StreamUtils UT
2. using `lsof test-class/StreamUtilsTest.txt` to check opened file handle

### Expected Result
after running all the UT, there shouldn't be any opened handles left

### Actual Result
several file handles left

### How to fix
- `overwr

[2018-08-31 03:56] cnhans commented on #1012
公司：兴收科技（广州）有限公司
地址：海珠区黄埔古港景观区榕树巷8号楼
联系方式： 微信 cnhaixiang ，邮箱：haixiang.dai@ssxingshou.com
业务场景：中大型酒店餐饮会员业务系统架构

[2018-08-31 04:42] zonghaishang commented on #2411
dubbo-2.6.3 support shtdown gracefully, please try use it: https://github.com/apache/incubator-dubbo/releases
Do you want to get all consumer calls for a particular provider?

[2018-08-31 04:49] zonghaishang commented on #2411
dubbo-2.6.3 support shtdown gracefully, please try use it: https://github.com/apache/incubator-dubbo/releases.
 If you just want to support graceful downtime, don't need to know consumers.

[2018-08-31 05:00] zonghaishang commented on #2403
Currently dubbo does not support registration of logical service identifiers， You can use @carryxyh  advice

[2018-08-31 05:00] #2403 closed

[2018-08-31 05:06] chenshun00 commented on #2411
yeah , don't need to know consumers indeed , and i have found how to get the count about consumer,  thinks again. 😄

[2018-08-31 05:06] #2411 closed

[2018-08-31 05:07] zonghaishang commented on #2398
Existing logic should not be modified, no reasonable demand.
[code]
Just check that the interface belongs to SPI

[2018-08-31 05:11] freeseawind commented on #2398
@zonghaishang  不是改这个逻辑，而是改SPI
[code]

[2018-08-31 06:04] gudegg commented on #2398
不指定就没有默认扩展，这并没有什么问题，不需要改。

[2018-08-31 06:07] freeseawind commented on #2398
@gudegg  问题是DUBBO在动态类里有代码去生成了默认

[2018-08-31 06:09] carryxyh commented on #2398
Hi, there are some problems with your understanding of SPI. The value in SPI refers to the default implementation. And withExtensionAnnotation is to determine whether there is a SPI annotation modification on a class. You can observe the ChannelHandler class, which is a typical extension class without a default implementation.
@freeseawind

[2018-08-31 06:11] carryxyh commented on #2398
So setting the SPI value to required is problematic, as @gudegg said.

[2018-08-31 06:14] freeseawind commented on #2398
if SPI value is not required why dymaic class Protocol$Adaptive check extension name like this
`
String extName = (url.getProtocol() == null ? "dubbo" : url.getProtocol());`

[2018-08-31 06:14] gudegg commented on #2398
@freeseawind  See ExtensionLoader createAdaptiveExtensionClassCode,it will produce different proxy codes according to different situations.

[2018-08-31 06:15] freeseawind commented on #2398
@gudegg I have read most of the implementations of dubbo.

[2018-08-31 06:17] freeseawind commented on #2398
@gudegg  createAdaptiveExtensionClassCode just implement dymaic proxy by service interface

[2018-08-31 06:26] freeseawind commented on #2398
@zonghaishang  dubbo 的SPI宗旨在于不依赖于容器时，如spring，对bean进行加载和管理，类似于Spring ioc的功能，从源码上来看，实现的是byName的方式

[2018-08-31 06:33] carryxyh commented on #2398
Yep, always implement on one way. But it is confused right?
The value of SPI means "default extension name". Can interface didn't have default extension?
I think it could.

A typical example is the ChannelHandler. For such extension points that do not have a default implementation.

[2018-08-31 06:35] carryxyh commented on #2398
I agree with @zonghaishang . At least we should not modify it at present. :)

[2018-08-31 06:40] freeseawind commented on #2398
@carryxyh  I find the code ChannelHandler when it use, It is not injected through @SPI

See  NettyClient.java :
[code]

[2018-08-31 06:42] zonghaishang commented on #2398
@freeseawind

I have check your point , `org.apache.dubbo.common.extension.ExtensionLoader#getExtension` spi value is required. The actual usage habits will specify a name

[2018-08-31 06:45] zonghaishang commented on #2398
@freeseawind  Thank you very much for your contribution to dubbo, Welcome to submit pr

[2018-08-31 06:53] freeseawind commented on #2398
@zonghaishang  I down the release code .  but  miss some maven depency version like log4j2 jetty

[2018-08-31 06:59] freeseawind commented on #2398
@zonghaishang

![image](https://user-images.githubusercontent.com/19760912/44897503-7b16e900-ad2e-11e8-8526-fe44e59e4cbb.png)

[2018-08-31 07:05] freeseawind commented on #2398
@zonghaishang I have never compile success once.

![image](https://user-images.githubusercontent.com/19760912/44897712-3a6b9f80-ad2f-11e8-9fe2-9eceb017c4d6.png)

![image](https://user-images.githubusercontent.com/19760912/44897725-48b9bb80-ad2f-11e8-8efa-2371e3cea261.png)

[2018-08-31 07:19] chickenlj opened #2416 "Add profile for quickly check files meet ASF standards: enable rat and style plugin."
mvn clean test \# This will run all unit tests
\# you can also open rat and style plugin to check if every file meets
requirements.
mvn clean test -Drat.skip=false -Dcheckstyle.skip=false

I suggest to use a dedicate profile for release, which will including
all the checks, rat, checkstyle, etc, so that we can run

[2018-08-31 07:44] carryxyh commented on #2398
Hi, @freeseawind
This is a good issue, thx for your issue first. :)

I think the reason for the SPI value is not necessarily required: First, the meaning of the SPI value is "default extension name", we should allow classes with no default extensions (ex: Merger, RouterFactory, ChannelHandler, etc.). Second, there is no need, because with @Adaptive annotations, we can still specify an extension im

[2018-08-31 07:48] carryxyh commented on #2398
@freeseawind
Use SPI means "it can be used" into dubbo extension, not "it have to".
I can use channelHandler as spi, or not. :)

[2018-08-31 07:59] freeseawind commented on #2398
@carryxyh  I don't agree with you . I find the code ChannelHandler when it use, It is not injected through @SPI
see DubboProcotol.java

[code]

important code :
`
server = Exchangers.bind(url, requestHandler);`

how it create

`private ExchangeHandler requestHandler = new ExchangeHandlerAdapter()`

important thing ExchangeHandler  implements channelHandler

[2018-08-31 08:28] carryxyh commented on #2398
@freeseawind
Use SPI means "it can be used" into dubbo extension, not "it have to".
I can use RouterFactory as:
`private static final RouterFactory routerFactory = ExtensionLoader.getExtensionLoader(RouterFactory.class).getAdaptiveExtension();`

But RouterFactory didn't have a spi value. I can just use @Adaptive and spi too.

[2018-08-31 08:41] freeseawind commented on #2398
@carryxyh  yet , without you use @SPI or @adaptive , it providers extension name. Why you add @SPI into interface,  may be you want use extension loader feture. you can  also inject without container manager like
`ExchangeHandler requestHandler = new ExchangeHandlerAdapter()`

but if you  use extension loader you must provider default extension name, may be you can check dubbo source code. The ord

[2018-08-31 08:50] carryxyh commented on #2398
@freeseawind
`阅读源码发现，每个代理实现类都会去判断默认实现`
It is incorrect. U can look at the code which create by RouterFactory.

Some interfaces have no default extensions.
Dynamic adjustment is always better than hard code.
Write value in Adaptive instead of spi, this is the real adaptive.

The default extension point is only the last level, not a prerequisite.

As you mean, you must have an existing default exten

[2018-08-31 09:00] freeseawind commented on #2398
@carryxyh  you can try it . if you not provider URL key to extension name . How it work , if have not default SPI value.
I saw the RouterFactory code follow, it provider default value "null" :

[code]

[2018-08-31 09:04] carryxyh commented on #2398
If not, it will throw exception. But provide the key into url is the user thing.

That is what I said: The default extension point is only the last level, not a prerequisite.

And default value "null" means that there are no default extension for RouterFactory.

With this issue, I can tell u that SPI value is not need to be necessary.
:)

[2018-08-31 09:04] #2398 closed

[2018-08-31 09:06] freeseawind commented on #2398
@carryxyh  we talk about use extension. your opinion is not necessary , why dubbo source code check default value like this
`String extName = (url.getProtocol() == null ? "dubbo" : url.getProtocol());`

that's not a good idea

[2018-08-31 09:14] carryxyh commented on #2398
first, not everytime, it didn't check in RouterFactory.
The default extension point is only the last level, not a prerequisite.(I said three times for this. :) )

Throwing an exception is obviously better than using the default value such as for RouterFactory.
It can tell user that RouterFactory didn't have a default extension, u should provide one.

If u make it necessary, what do you think is th

[2018-08-31 09:18] freeseawind commented on #2398
if you think this code is not idea please remove from source code (I said more times)
`String extName = (url.getProtocol() == null ? "dubbo" : url.getProtocol());`
I agree with not use hard code. so how to change it.

[2018-08-31 09:33] carryxyh commented on #2398
1. If it has a default extension:
     (1). user didn't provide -> use default.
     (2). user provided -> use provided one.
2. If not:
     (1). user didn't provide -> throw exception.
     (2). user provided -> use provided one.

`String extName = (url.getProtocol() == null ? "dubbo" : url.getProtocol());`
This is useful into case 1.

:)

[2018-08-31 09:37] freeseawind commented on #2398
@carryxyh  I know this logic. I ignore the code generate by reflect. so I think this is hard code. This is my mistake.

[2018-08-31 09:40] carryxyh commented on #2398
This is a good issue!
Welcome to dubbo community to discuss with us.
Thx for your contribution.
:)

[2018-08-31 09:42] freeseawind commented on #2398
I think can optimization byte code generate. When I want to customer my SPI. dubbo could not provider good way.

[2018-08-31 09:45] carryxyh commented on #2398
Get it.
I agree with u. The code readability here needs to be improved.
Maybe it will be better soon. :)

[2018-08-31 13:53] YoungHu commented on #2233
confirmed this issue fix at master branch with #1999 ,close this one

[2018-08-31 13:53] #2233 closed

[2018-09-01 06:54] freeseawind opened #2419 "Server side loadbalance problem"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: win7
* Java version: 1.8

### S

[2018-09-01 07:32] smwsk opened #2420 "No such extension erpFilter for filter/com.alibaba.dubbo.rpc.Filter"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.0
* Operating System version: windows10
* Java version: 1.8

[2018-09-01 07:35] carryxyh commented on #2419
Hi, I will check the issue first.

[2018-09-01 07:36] carryxyh commented on #2420
Hi, would u like to send this demo which can reproduce the problem to github ?

[2018-09-01 07:39] carryxyh commented on #2407
Would u pls to send the demo which can recreate the issue to github?
And provide the demo address, pls.

[2018-09-01 07:40] smwsk commented on #2420
yes,but i don't kown how to send demo to github for you

[2018-09-01 08:02] shenfx opened #2421 "roundrobin 负载不均衡问题"
同一台机器，不同provider dubbo服务端口方式测试

consume.xml, provider.xml 服务均配置 loadbalance="roundrobin"， 使用zookeeper注册中心。

如果一上来就启动好2个provider， 再启动consumer，通过日志观察2个provider基本上是轮询负载的，但是如果先启动一个 provider + consumer 运行一段时间，在启动第二个provider，则发现2个provider之间的轮询负载很不均衡。

[2018-09-01 09:44] carryxyh commented on #2421
Hi,
Can u provide a demo or unit test to reproduce this problem?

[2018-09-02 02:25] freeseawind commented on #2419
@carryxyh

### demo reproduce this problem
https://github.com/freeseawind/copycat-dubbo

###  blog link
https://www.jianshu.com/p/08718775f162

[2018-09-02 03:08] yxhsmart opened #2422 "中文文档语意词调整（“轮循”应调整为“轮询”）"
http://dubbo.apache.org/zh-cn/docs/user/references/xml/dubbo-reference.html
错误所在位置，左侧的菜单 ，“轮循”应调整为“轮询”
1、用户文档》成熟度》
2、示例》负载均衡》

[2018-09-02 03:27] ralf0131 commented on #2422
Hi,

Would you please send a pull request to https://github.com/apache/incubator-dubbo-website?

Thanks!

[2018-09-02 03:37] ralf0131 opened #2423 "Multicast demo fails with message "Can't assign requested address""
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: master branch
* Operating System version: macOS 10.13.6
* Java ve

[2018-09-02 03:50] ralf0131 commented on #2423
This is because there are multiple network interfaces in my macOS, both for ipv4 and ipv6:

[code]

`awdl0` is ipv6 only and `en0` is both ipv4 and ipv6 available. However the JVM selects `awdl0` as the default Network Interface in `java.net.DefaultInterface#getDefault()` method.  So if we use a ipv4 address for multicasting, the error will occur.

If `-Djava.net.preferIPv4Stack=true` is specified

[2018-09-02 06:02] biyuhao opened #2424 "Switch-case fall through in ChannelEventRunnable"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: latest master branch
* Operating System version: macos
* Java ver

[2018-09-02 06:02] ralf0131 opened #2425 "FailbackClusterInvoker should limit the size of failed invocations"
Currently in `FailbackClusterInvoker` there is a map to store the failed invocations, however the size is unlimited.

In a high throughput application, It is possible that the failed invocations will fill up the memory and exhaust the memory.

I think it is better to:
* limit the size of the map
* choose the strategy to discard the failed invocations. e.g. FIFO, LIFO, etc.
* retry period should be

[2018-09-02 08:08] ralf0131 opened #2427 "Could not configure number of forks of ForkingCluster in XML"
If specify number of forks in dubbo-demo-consumer.xml

[code]

The following error will occur:

[code]

[2018-09-03 02:02] #2422 closed

[2018-09-03 02:27] diecui1202 commented on #2427
dubbo.xsd do not define this attribute. So it definitely throws exception.

Another question, how to specify forks when I use ForkCluster? Change the URL through ops ?

[2018-09-03 02:31] diecui1202 commented on #2420
@smwsk Pls. make sure that the configuration file has been packaged to the jar file or classpath.

[2018-09-03 02:33] #2348 closed

[2018-09-03 02:33] #2349 closed

[2018-09-03 02:33] #2352 closed

[2018-09-03 02:34] diecui1202 commented on #2416
IMO, we just remove the following two properties in the pom:

[code]

so that we can run them each time except you absolutely do not want then to run.

[2018-09-03 02:46] smwsk commented on #2420
i find the reason, my project has configuration maven filter, i don't know why it can effect dubbo filter

[2018-09-03 02:47] #2351 closed

[2018-09-03 02:48] diecui1202 commented on #440
Now the dubbo ops has been refactored, it's a spring boot application, u can try it.

Feel free to reopen it.

[2018-09-03 02:48] #440 closed

[2018-09-03 02:49] diecui1202 commented on #476
@bingowen u can upgrade dubbo to 2.6.2 and try it. Feel free to reopen it.

[2018-09-03 02:49] #476 closed

[2018-09-03 02:50] diecui1202 commented on #442
Long time no feedback. Feel free to reopen if necessary.

[2018-09-03 02:50] #442 closed

[2018-09-03 02:51] diecui1202 commented on #484
Feel free to reopen if necessary.

[2018-09-03 02:51] #484 closed

[2018-09-03 02:57] diecui1202 commented on #873
Long time no feedback, will close it. Feel free to reopen.

[2018-09-03 02:57] #873 closed

[2018-09-03 03:14] smwsk commented on #2420
i has solve the problem、 the reason is my maven filter config have problem、i forget packaged dubbo file to my project , thank you all

[2018-09-03 03:35] carryxyh commented on #2420
Close this issue.

[2018-09-03 03:35] #2420 closed

[2018-09-03 04:31] lzimd opened #2429 "dubbo + quartz + spring NPE"
### Environment

* Dubbo version: 2.6.2
* spring boot 2.0.0.RELEASE

### Actual Result

[code]

1.  org.springframework.scheduling.quartz.AdaptableJobFactory.newJob
[code]
2. initializeBean(**beanName = null**)
org.springframework.boot.autoconfigure.quartz.AutowireCapableBeanJobFactory
[code]
3.  AbstractAutowireCapableBeanFactory.applyBeanPostProcessorsAfterInitialization
[code]
4. **NPE DubboCon

[2018-09-03 05:54] diecui1202 commented on #866
Long time no feedback, will close it.

[2018-09-03 05:54] #866 closed

[2018-09-03 05:54] diecui1202 commented on #860
Feel free to reopen if necessary.

[2018-09-03 05:54] #860 closed

[2018-09-03 05:56] diecui1202 commented on #887
Feel free to reopen.

[2018-09-03 05:56] #887 closed

[2018-09-03 05:58] diecui1202 commented on #896
@meiping05 Hope this article can help you. http://dubbo.apache.org/zh-cn/blog/dubbo-integrate-with-hystrix.html

Feel free to reopen.

[2018-09-03 05:58] #896 closed

[2018-09-03 06:47] smartwjw commented on #117
@genghaizhou 我们碰到了相同问题，provider 先启动没有问题，后启动旧 null.

[code]

dubbo version 2.6.2.

[2018-09-03 07:46] ningyu1 commented on #2407
@z499326979  You can refer to the following ways
similar issue:  https://github.com/apache/incubator-dubbo/issues/1637
pr: https://github.com/apache/incubator-dubbo/pull/1708

[2018-09-03 07:56] #1844 closed

[2018-09-03 07:57] #1826 closed

[2018-09-03 07:59] #1787 closed

[2018-09-03 08:01] ningyu1 commented on #2397
@lamianer You can send pull request?

[2018-09-03 08:02] smartwjw commented on #117
配置 ` dubbo.consumer.check=false` 解决问题

[2018-09-03 08:03] diecui1202 commented on #1599
Will close it. Feel free to reopen if necessary.

[2018-09-03 08:03] #1599 closed

[2018-09-03 08:06] chlsmile opened #2430 "用户文档中给出的分组聚合相关的示例代码404"
用户文档中给出的分组聚合相关的示例代码404

文档链接：https://dubbo.incubator.apache.org/zh-cn/docs/user/demos/group-merger.html

404链接：https://github.com/apache/incubator-dubbo/tree/master/dubbo-test/dubbo-test-examples/src/main/java/com/alibaba/dubbo/examples/merge

[2018-09-03 08:07] diecui1202 commented on #1474
Without feedback, we will close it. Feel free to reopen if necessary.

[2018-09-03 08:08] #1474 closed

[2018-09-03 08:08] #1470 closed

[2018-09-03 08:10] diecui1202 commented on #1892
Long time no feedback, so close it. Feel free to reopen if necessary.

[2018-09-03 08:10] #1892 closed

[2018-09-03 08:14] diecui1202 commented on #2430
The correct link is https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-merge

@chlsmile could u pls. send a PR to fix this? Thanks so much.

[2018-09-03 10:06] chlsmile commented on #2430
Already send a PR to fix
https://github.com/apache/incubator-dubbo-website/pull/129

@diecui1202

[2018-09-03 11:48] carryxyh commented on #2412
Hi, I will close this issue.
Reopen if there still some problems.

[2018-09-03 11:48] #2412 closed

[2018-09-03 11:51] carryxyh commented on #2345
Hi,
I will close this issue. Reopen it if there are still some problems with it.

[2018-09-03 11:51] #2345 closed

[2018-09-03 16:00] satansk commented on #2430
@chlsmile 可以在 PR 评论中将 issue 连接贴上，这样能直接引用 issue，在 issue 页面也能看到有 PR 引用它，非常直观。

[2018-09-04 01:15] #2430 closed

[2018-09-04 02:37] lexburner commented on #2419
I have reviewed your code and have a general understanding of your problem , here is my opinion (just consider me as a discusser ).

`pseudo cluster` of dubbo is a fresh definition occur to me, and the way to test loadbalance feature is also debatable.

Two implementations of `DemoService` may distinguish by `group` or `version` , otherwise these tow implementations are ambiguous. A crucial point

[2018-09-04 02:41] freeseawind commented on #2419
@lexburner you can change Dubboscane to start two application provider with different port

[2018-09-04 02:47] freeseawind commented on #2419
@lexburner pseudo cluster most run on different port or machines. What makes me puzzled is dubbo registe two provider on zookeeper.

see my problem on blog: [Dubbo loadbalance](https://www.jianshu.com/p/08718775f162)

[2018-09-04 03:39] lexburner commented on #2419
@freeseawind GOT it.
[code]
notice the last attribute `timestamp` is different, it means that the two implementations both trigger the registry operation. So in the zookeeper, you can see two providers, while in the spring IOC context, it also has two implementations.

The problem is that Dubbo invoker can not distinguish the two provider because their main attributes are the same. While dubbo try

[2018-09-04 03:48] carryxyh commented on #2419
Hi, @freeseawind
As @lexburner said, you can retest with two spring containers.
I have check the unit test and I can not reproduce this problem.

[2018-09-04 04:21] shuaijunlan opened #2431 "Got an exception when debugging"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0-SNAPSHOT
* Operating System version: Ubuntu 18.04 LTS
* Jav

[2018-09-04 04:57] diecui1202 commented on #2431
@shuaijunlan  Make sure `<dubbo:application name="..." />` has been configured.

[2018-09-04 04:59] zonghaishang commented on #2431
`Intellij Idea -> Prefrencence -> Build -> Debuger -> Data Views -> Java` uncheck  Enable 'toString' object view:

![image](https://user-images.githubusercontent.com/15549777/45010892-4b275880-b042-11e8-99b9-74d8bf38ad37.png)

If you have any questions, feel free to open

[2018-09-04 04:59] #2431 closed

[2018-09-04 06:13] freeseawind commented on #2419
@lexburner How to distinguish between two service providers when it's host and port are same.(include service interface).
pseudo cluster Just one of the problems

#### I have three misunderstand problem:

* client side or server side hight priority.
* mixed loadbalance stragy priority.
* single web container pseudo cluster.

the concept of load balancing is blurred here.

[2018-09-04 06:44] carryxyh commented on #2419
`client side or server side hight priority.` Check the dubbo-user-book.

`mixed loadbalance stragy priority.`
This is incorrect, but if it appeared, a random one(I mean not RandomLoadBalance but random one of all the LoadBalance) may be used. The code to init loadbalance is:

[code]
The important code is `invokers.get(0).getURL()`.

`How to distinguish between two service providers when it's host

[2018-09-04 06:46] carryxyh commented on #2419
Alternatively, you can send an email to dev@dubbo.apache.org for help. :)

[2018-09-04 07:49] carryxyh commented on #2334
Focus on https://github.com/apache/incubator-dubbo/issues/2326

[2018-09-04 09:27] diecui1202 commented on #41
@mercyblitz Pls. take a look at this.

[2018-09-04 09:28] diecui1202 commented on #71
@ralf0131 Any progress ?

[2018-09-04 09:35] diecui1202 commented on #86
Long time no feedback, will close it. Feel free to reopen if necessary.

[2018-09-04 09:35] #86 closed

[2018-09-04 09:35] carryxyh commented on #2321
Hi, I have check this case.

When using <dubbo:service async="true" .../>, the Consumer will not be affected. However, the Consumer call will be affected when using <dubbo:method name="sayHello" async="true"/>.

But I think the better solution is that Consumer ignores the async attribute of the Provider, instead of forbidding the provider to register the async attribute on the registry.

[2018-09-04 11:53] carryxyh commented on #2419
Hi, @freeseawind
Do u have any questions with this issue?
If not, I will close it.

[2018-09-04 11:57] freeseawind commented on #2419
@carryxyh  I think server side loadbalace is strangy. compare with nginx、lvs etc.

[2018-09-04 12:04] carryxyh commented on #2419
Of course, there are specific examples to view the official documentation. :)

[2018-09-04 12:04] #2419 closed

[2018-09-04 12:06] freeseawind commented on #2419
@carryxyh  official documentation no instructions provided

[2018-09-04 12:15] carryxyh commented on #2419
Find it from here, if it still doesn't, you can submit pr to complete the example.
https://github.com/dubbo/dubbo-samples

[2018-09-04 12:20] rangtao opened #2435 "Summary of several issues of graceful shutdown"
我们在测试及生产环境下总结目前Dubbo优雅停机问题存在几个问题：
[1]Spring可能先于框架关闭，导致业务服务无法正确执行完成；
[2]tomcat+spring场景，中间件停机可能会导致class被回收，导致log日志无法输出，甚至报class not found；
[3]如果存在多个hook，如spring本身有hook，无法保证hook执行顺序；
[4]zk在大数据量同步通知下延迟严重，导致注销后仍有请求（目前版本简单sleep了一下）；
[5]停机时间无法设置，官方关于“停机设置标志位”的描述有误。

综上所述，我们的优化作法是将框架的优雅停机委托给Spring管理，通过监听Spring的close事件触发停机，这样做有两个好处：(1)保证框架停机优于Spring关闭;(2)应用用起来简单，只需要维护Spring生命周期；(3)相对于hook方式，主动调用停机接口更让人放心。

[2018-09-04 12:51] zonghaishang opened #2436 "[Dubbo remove demo module] Delete redundant demos"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0-SNAPSHOT
* Operating System version: mac os
* Java version:

[2018-09-04 13:29] carryxyh commented on #2419
Your understanding of the loadbalance parameter on the server side is wrong. The loadbalance attribute on the server takes effect when it is not configured on the consumer side.

Please see the Dubbo official manual "Configuration Coverage Relationship" chapter.
If you have other questions, resubmit an issue. If you still don't understand, please send an email to the community for help.

[2018-09-04 13:37] freeseawind commented on #2419
there is not Configuration Coverage Relationship chapter

![4d00da e52x9cv _m e x](https://user-images.githubusercontent.com/19760912/45034639-a54c0c00-b08a-11e8-9973-07ab19611c61.png)

[2018-09-04 13:41] freeseawind commented on #2419
@carryxyh loadbalance parameter on provider is not a good idea.
Beacause provider is interface implement, will cause problems with the hybrid strategy.

[2018-09-04 14:46] ningyu1 commented on #2328
repaired PR: #2437

[2018-09-04 15:39] wj1369884616 commented on #2328
ok,I will be send a pull request  after two days。

[2018-09-04 18:08] ZhuoSiChen commented on #2179
建议你还是升级dubbo吧，因为在2.6.1版本中，创建KryoObjectInput这个的Kryo对象会把SerializableClassRegistry里的registrations里采用的是Set集合来缓存类，全都注册进Kryo对象中，所以导致在DefaultClassResolver里的idToRegistration无法和客户端idToRegistration无法对齐。
在2.6.3里采用registrations用了Map<>来缓存类 了。

[2018-09-05 02:44] Vensence opened #2441 "Frequent register and unregister of services using Redis registry"
-  I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
-  I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

本人第一次在GitHub发issue，如有不妥请大佬见谅
* Dubbo version: 2.6.2
* Operating System version: cent os

[2018-09-05 02:45] MLeft opened #2442 "Hope user manual can search by keyword"
Noticed [Dubbo user manual](http://dubbo.apache.org/zh-cn/docs/user/quick-start.html) has no search button, it will be nice if support search by keyword

[2018-09-05 02:56] #2407 closed

[2018-09-05 03:55] lexburner opened #2444 "[Enhancement] Replace Random with ThreadLocalRandom"
### Details

This issue links to this [pull request](https://github.com/apache/incubator-dubbo/pull/2433)

A little change, replace `Random` with `ThreadLocalRandom` in `LeastActiveLoadBalance` and `RandomLoadBalance`.

Use of ThreadLocalRandom rather than shared Random objects in concurrent programs will typically encounter much less overhead and contention.

Use of ThreadLocalRandom is particula

[2018-09-05 04:09] diecui1202 commented on #2315
@mercyblitz Could u pls. send a PR for this?

[2018-09-05 04:11] diecui1202 commented on #2301
@mercyblitz could u pls. send a PR?

[2018-09-05 04:12] diecui1202 commented on #2298
@mercyblitz How about this issue?

[2018-09-05 04:12] diecui1202 commented on #2297
@mercyblitz How about this issue? Ready for merge?

[2018-09-05 04:14] diecui1202 commented on #2194
@mercyblitz How about this issue ?

[2018-09-05 04:32] wj1369884616 commented on #2328
repaired PR:#2445

[2018-09-05 04:37] ralf0131 commented on #2046
I think so. @diecui1202 I can do the back port

[2018-09-05 04:42] dz005 opened #2446 "jarslink做module隔离时,dubbo调用会抛ClassNotFoundException"
用jarslink做module隔离时,dubbo调用会抛ClassNotFoundException.经查是ClassLoader不一致.

[code]

[2018-09-05 06:17] carryxyh commented on #2444
Hi, nice work!
The pr has been merged and I will close this issue.

[2018-09-05 06:17] #2444 closed

[2018-09-05 06:26] diecui1202 commented on #1485
@chickenlj Could u describe it with more details ?

[2018-09-05 06:59] lovepoem commented on #2442
Hi,   @purple-force
As the author of https://github.com/purple-force/docsite-doc
Would you please  provider "Website local search" function for https://github.com/apache/incubator-dubbo-website

[2018-09-05 07:13] diecui1202 commented on #2305
@chickenlj

[2018-09-05 07:26] diecui1202 commented on #1968
@carryxyh Does the PR #2185 need to merge back to 2.6.x?

[2018-09-05 07:31] carryxyh commented on #1968
@diecui1202
Thanks for reminding me, I have not considered it before. I will submit a pr as soon as possible.

[2018-09-05 07:48] diecui1202 commented on #2218
Since the PR #2273 has been merged to master, we need a new PR that merge it to 2.6.x

[2018-09-05 08:01] diecui1202 commented on #1968
@carryxyh Great thanks.

[2018-09-05 08:12] diecui1202 commented on #2131
@chickenlj IMO, there is nothing we can do from the comments, I'll close it. Any thoughts ?

[2018-09-05 08:15] diecui1202 commented on #1967
Any suggestion for this issue ?

[2018-09-05 08:17] diecui1202 commented on #1256
@chickenlj Could u pls. describe it with more details?

[2018-09-05 08:27] TimiQ opened #2450 "2.6版本以后为什么没有dubbo-admin的代码了？"
如题

[2018-09-05 08:28] diecui1202 commented on #2450
@TimiQ dubbo-admin is here: https://github.com/apache/incubator-dubbo-ops

[2018-09-05 08:32] diecui1202 commented on #1641
@mercyblitz Any progress with this ?

[2018-09-05 08:33] diecui1202 commented on #1755
@mercyblitz Any progress?

[2018-09-05 08:50] diecui1202 commented on #1981
@wodebite We found that Eureka is suitable for rest service discovery, but not for RPC service. In Spring Cloud application can just registry the ip, port and metadata to Eureka, which is called ServiceInstance. But for Dubbo, we need to registry all the services.

We try to put all the service meta info into ServiceInstance metadata, and find that we need to use ApplicationName as the key for ser

[2018-09-05 08:51] diecui1202 commented on #1981
Feel free to reopen if necessary. Welcome more discussions.

[2018-09-05 08:51] #1981 closed

[2018-09-05 08:54] llx206 commented on #2179
非常感谢，我试一下看看！

在 2018-09-05 02:10:57，"Muxin" <notifications@github.com> 写道：

建议你还是升级dubbo吧，因为在2.6.1版本中，创建KryoObjectInput这个的Kryo对象会把SerializableClassRegistry里的registrations里采用的是Set集合来缓存类，全都注册进Kryo对象中，所以导致在DefaultClassResolver里的idToRegistration无法和客户端idToRegistration无法对齐。
在2.6.3里采用registrations用了Map<>来缓存类 了。

—
You are receiving this because you authored the thread.
Reply to this email directly, view