[2018-11-16 22:34] OrDTesters commented on #2758
I have submitted PR 2797 that adds dubbo-remoting-mina to the module.

However, one concern I have is that before the change, testDubboProtocolWithMina would pass when run after testDubboProtocol in the same test class. When testDubboProtocol runs, it creates a server that is then shared with testDubboProtocolWithMina, so no new server is created when testDubboProtocolWithMina runs afterwards.

Th

[2018-11-17 01:54] kexianjun opened #2798 "DubboBeanDefinitionParser#parse method add property to beanDefinition may cause a NotWritablePropertyException"
I found that when dubbo sets a properties for a beanDefinition when parsing an XML in DubboBeanDefinitionParser#parse method, the propertyName is split with "-",which is the propertyName used in xml file,not the bean class attrubute name,if somewhere has configed such a property,the beanDefinition contains a property with a name like xxx-yy,and the bean class attribute name like xxxYy,when spring

[2018-11-17 02:38] cdfive commented on #2770
目前把validation="true"去掉，没有再出现这个问题了；
线上应用换2.7.0-SNAPSHOT版本暂时不方便，目前大部分应用都是在接口代码里做的参数验证；
等RELEASE版发布了，JSR303验证这种方式我们在调研下哈；
感谢两位回复~

[2018-11-17 03:01] 63914578 opened #2799 "Router compareTo 方法实现引发异常"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: Linux
* Java version: 8

### St

[2018-11-17 03:16] #2770 closed

[2018-11-17 03:19] carryxyh commented on #2758
Make this two protocol locally can solve your problem. It will create a new server

[2018-11-17 03:58] AnyOSR commented on #2799
不让指定相同的priority是正常的吧？要不然怎么确保确定的顺序？

[2018-11-17 05:10] kexianjun commented on #2795
当前版本似乎没有看到关闭telnet的代码

[2018-11-17 13:51] tswstarplanet commented on #2795
你是指的telnet之后invoke吗？

[2018-11-17 21:01] OrDTesters commented on #2758
Thanks for the suggestion. However, I tried making the fields local to the test method as suggested, but from my tracing it seems the two test methods still share the same server (server is only created once). It seems creating a new protocol locally does not make a new DubboProtocol instance, it still grabs the same cached instance from ExtensionLoader.

Aside from the fact that they always share

[2018-11-18 03:21] #2224 closed

[2018-11-18 15:57] gangxing commented on #1784
@FS1360472174  你解决了吗 我最近也遇到相同的问题

[2018-11-19 01:04] AnyOSR commented on #2795
我看的2.6.x版本好像没有关闭telnet的代码，可以稍微改下源码然后重新编译一下

[2018-11-19 01:35] WinstonGao commented on #1784
看来同样的问题大家都碰到了很多啊

[2018-11-19 04:04] carryxyh commented on #2758
Ah, it is my fault.
We can still use global protocols and proxy.
But we need to modify the URL in the single test case. Take testDubboProtocolWithMina as an example. We need to adjust the port number of the url to ensure that we create a new instance when creating the server and client.
Are you willing to adjust the PR?

[2018-11-19 06:38] carryxyh commented on #2795
目前大体情况是，dubbo协议不允许关闭telnet。
rest等协议不支持telnet。

https://github.com/apache/incubator-dubbo/issues/2033#issuecomment-405797434

[2018-11-19 07:59] kexianjun commented on #2795
支持关闭telnet，我本地有实现过，在下面调用handler.telnet(channel, (String) message)的时候加个配置判断一下，不知道这样是否可行？ @carryxyh
[code]

[2018-11-20 02:39] zhenghui317 commented on #2782
我也遇到这个问题了，你这边是否有解决此问题。

[2018-11-20 02:43] netyjq commented on #2782
@zhenghui317 没有

[2018-11-20 03:17] zhenghui317 commented on #2782
看了源码，已经解决了。
我们遇到的问题是Long型在序列化的时候出错，看了源码，源码在readObject的时候会判断最后一个字符，如果是L，则使用Long型转换，所以我们强制加了L字母。
之所以我们Long型需要定义成String，是因为前端JS在处理Long的时候会有精度损失，所以我们后端直接定义成了String，而dubbo在转换的时候自动转成了Int，在加了L字母在最后之后解决了此问题。

[2018-11-20 04:29] #2798 closed

[2018-11-20 04:43] lminggang commented on #2089
请问本机 jar 包可以进入filter吗？

[2018-11-20 09:26] CrazyHZM opened #2806 "secondary directory in dubbo's developer guide is not responding"
I want to reflect a problem, the User doc secondary directory in dubbo's developer guide is not responding.
Address：http://dubbo.apache.org/en-us/docs/dev/build.html

[2018-11-20 13:47] jinchaoxiang commented on #1012
公司：浙江瑞安农村商业银行股份有限公司
地址：温州
联系方式：702290433@qq.com
业务场景：业务系统服务化改造

[2018-11-21 00:56] chelsea2010yl commented on #1012
公司：武汉中地数码科技有限公司
地址：武汉
联系方式：wujunhui@mapgis.com
业务场景：WEBGIS云服务平台

[2018-11-21 01:46] yangpancode opened #2808 "dubbo zookeeper上出现大量的节点，并且出现很多数字252525，导致Len error 16809104"
dubbo zookeeper上出现大量的节点，并且出现很多数字admin://10.11.119.219/MidBuisPlatServiceImpl.premiumOutSide%25252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525252525

[2018-11-21 01:55] satansk commented on #2808
可以先升级下 Dubbo 试试，你这版本有点老啊

[2018-11-21 03:03] carryxyh commented on #2806
I can show the page after clicking it, and there is no problem you said.

[2018-11-21 03:15] carryxyh commented on #2799
Personally think it is indeed a problem.
Here you can find the [incompatibility list](https://www.oracle.com/technetwork/java/javase/compatibility-417013.html#incompatibilities) of JDK6 and 7, which contains the sorting problem of Collections.
In the 1.7 version, the problem you describe will be thrown, and will not be thrown in 1.6. We need to optimize this problem, allowing the same priority to

[2018-11-21 03:16] carryxyh commented on #2795
@kexianjun
个人认为可以。可以成为一个临时方案。未来dubbo的telnet功能应该会集成到QOS里，到时候关闭QOS即可。但是目前我在issue列表里看到好多次关闭telnet的问题，我们可以暂时用配置修复它。愿意提交一个PR来解决这个问题么

[2018-11-21 03:56] satansk commented on #2806
seems like a browser compatibility issue.

[2018-11-21 04:49] lovepoem commented on #2806
Maybe a network problem

[2018-11-21 04:57] kexianjun commented on #2795
pls review this pr #2809

[2018-11-21 06:34] yangpancode commented on #2808
zookeeper的node节点里删除了，但是Home > Registries > localhost:2181 > Registered | Subscribed 下一直有这个信息，不知道存到哪个地方？

[2018-11-21 06:50] satansk commented on #2808
消费者注册信息在 `/dubbo/com.foo.BarService/consumers` 下，可以直接用 `zkCli` 登录 zk 删除。

还有你的 dubbo monitor 可以用最新版试试。

[2018-11-21 06:55] #33 closed

[2018-11-21 06:58] #41 closed

[2018-11-21 07:09] yangpancode commented on #2808
/dubbo/com.foo.BarService/consumers  我已经用zkCli 删掉了所有的异常节点，从控制台来看，consumers  也没有了异常节点，但是Home > Registries > localhost:2181 > Registered | Subscribed   Subscribed (1594) 下还是有那些异常节点信息，所以我很奇怪，不知道存在什么地方了。
![_20181121150812](https://user-images.githubusercontent.com/16751135/48824466-60896480-ed9f-11e8-8120-2f6ddb9b89e9.png)

[2018-11-21 10:06] zonghaishang opened #2811 "[Dubbo -Wrapper typo] typo"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0+
* Operating System version: mac
* Java version: 1.8

`com.

[2018-11-21 12:11] KeRan213539 opened #2812 "升级2.6.5后启动报找不到类异常 com.alibaba.spring.util.PropertySourcesUtils"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment
* Dubbo version: 2.6.5
* Operating System version: win10
* Java version: 1.8

### S

[2018-11-21 13:28] moayi opened #2813 "dubbo的hessian协议上传文件限制的问题"
各位大佬，dubbo的hessian协议上传文件的大小的限制吗？我用的server默认为jetty，上传几十M的文件没啥问题，倒是上传一个152m的文件就报堆内存溢出的异常了，请教各位大佬，谢谢。

[2018-11-21 13:29] moayi opened #2814 "hessian"

[2018-11-21 13:29] #2814 closed

[2018-11-22 02:00] #2758 closed

[2018-11-22 06:08] liangjiezhu commented on #2715
I have the same problem,how to resvoled?

[2018-11-22 06:57] a601942905git commented on #2715
you can refer to http://note.youdao.com/noteshare?id=3483658e6cce573c00c920eefa680617

[2018-11-22 07:18] moayi commented on #2664
你好，你的这个解决了吗？谢谢

[2018-11-22 07:21] k5h9999 commented on #2664
@moayi 解决了。

[2018-11-22 07:44] moayi commented on #2664
方便请教一下吗？谢谢
qq:1558056914

[2018-11-22 08:11] chutian52 opened #2819 "Dubbo有没有开关可以用于测试的时候不优先走injvm？"
在本地编写测试代码的时候，由于需要模拟完整的测试，可以模拟完整的client端调用情况，测试用例代码如下
[code]
不过在发生调用的过程中，dubbo总是走injvm方式进行调用。导致无法实现完整的调用链（连接->序列化->发送报文->接收报文->反序列化）
上述测试并不是完整的语境测试。可能会导致序列化失败，客户端发起调用时服务并不一定可用。

目前可以得到的解决方案是使用url直接调用,代码如下
[code]

想问下dubbo的这种injvm思路是否符合rpc整体协议。另外，是否有其他我不知道的方式可以解决上述问题

[2018-11-22 12:54] gt0012 commented on #2813
路人甲路过，我无法解决你的问题，但是我想说一下我的看法，dubbo是一个rpc的通信框架，在使用上尽量做到传输多次，数据量小，保证dubbo响应时间尽量缩短，所以是否可以更换一个路子，不要用dubbo传递文件，把文件存储到一个地方，dubbo服务去获取。

[2018-11-22 15:52] 83yeardabiao opened #2821 "hessain协议接口Server returned HTTP response code: 413"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
yes
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.
yes
### Environment

* Dubbo version: 2.6.2
* Operating System version: centos6.2
* Java version

[2018-11-23 00:07] code4wt commented on #2819
官方文档上有相关说明，可以试一下。
![image](https://user-images.githubusercontent.com/25877772/48924768-b3296480-eef6-11e8-837a-4b3dca172514.png)

[2018-11-23 01:06] chutian52 commented on #2819
@code4wt Thanks，通过指定ConsumerConfig解决这个问题了。

[2018-11-23 01:12] #2819 closed

[2018-11-23 06:54] cvictory commented on #2812
If you are in a hurry, you can add dependency firstly:

<dependency>
    <groupId>com.alibaba.spring</groupId>
    <artifactId>spring-context-support</artifactId>
    <version>1.0.2</version>
</dependency>

I will check the cause of this issue soon later.

zhangjr <notifications@github.com> 于2018年11月23日周五 下午1:22写道：

--

Best Regard!
cvitory

[2018-11-23 07:00] KeRan213539 commented on #2812
灰常感谢~~~

[2018-11-23 07:01] #2812 closed

[2018-11-23 07:05] #2793 closed

[2018-11-23 07:08] cvictory commented on #2812
I also want to know which version you used before you raised your version.
I think this is very important for us.

邪影oO <notifications@github.com> 于2018年11月23日周五 下午3:01写道：

--

Best Regard!
cvitory

[2018-11-23 07:17] KeRan213539 commented on #2812
之前使用的 2.6.2 因为听说 2.6.5 修复了 QOS 端口无法修改的问题,才升级试试的

[2018-11-23 09:08] jacky8466 commented on #2812
按照你的方式，问题已解决，谢谢

[2018-11-23 09:53] carryxyh commented on #2806
@CrazyHZM
Can u visit the guide now?

[2018-11-23 09:55] #2663 closed

[2018-11-23 09:56] carryxyh commented on #2789
@zonghaishang

[2018-11-23 10:04] jacky8466 opened #2824 "多协议配置 不支持注解方式？"
**问题：**
使用最新版本的dubbo和starter 想使用多协议于是就有了下面的配置：
dubbo:
  application:
    name: demo-provider
    id: pro-id
    version: 1.0.0
  registry:
    address: zookeeper://127.0.0.1:2181
  protocols:
    dubbo:
      name: dubbo
      port: 20880
    rest:
      name: rest
      port: 9999
**service注解为：**
@Service(protocol = "rest", interfaceClass = DemoService.class)

**启动后报：**
Error creating bean with n

[2018-11-23 10:10] newpanjing commented on #1410
直接设置环境变量也可以

` public static void main(String[] args) {

        System.setProperty("dubbo.qos.port", "22223");
        SpringApplication.run(ApiApplication.class, args);
    }`

[2018-11-23 15:32] charish00 commented on #557
这个其实是BeanPostProcessor的执行顺序的问题，我的做法是把dubbo sevice的代理放到了spring生命周期的refresh阶段做了。这个需要修改部分源码

[2018-11-24 03:35] wangmingbo123 commented on #2824
1、需要配置@EnableDubboConfig(multiple = true)
2、如果配置多协议，则其他的配置都需要配置多个`，否则其他配置无法识别

例如
application.prefixes = dubbo.applications.

#
dubbo.registries.my.id = my
dubbo.registries.my.address = zookeeper://192.168.1.101:2181

#必须指定id
dubbo.protocols.dubbo.id = dubbo
dubbo.protocols.dubbo.name = dubbo
dubbo.protocols.dubbo.port = 20880

dubbo.protocols.http.id = http
dubbo.protocols.http.name = http
dubbo.

[2018-11-24 03:35] htynkn commented on #2811
I think this is fixed by #2825

[2018-11-24 03:35] #2811 closed

[2018-11-24 03:47] htynkn commented on #2780
According to git history, it was removed by commit https://github.com/apache/incubator-dubbo/commit/e62d3ff805c13eb2c530f50fb6afe2c640ed60ad
@chickenlj could you provide some detail?

[2018-11-25 03:50] HuangDayu opened #2827 "2.6.5版本报WARN"
[code]

`dubbo`:2.6.5
`zookeeper`:3.4.13
`zkclient`:0.1

dubbo.properties

[code]

[2018-11-25 11:05] gMan1990 commented on #1897
@llx206 ```perl工具+Flame，获取程序运行的火焰图```是什么东西，什么作用？

[2018-11-25 11:56] gMan1990 opened #2828 "一般错误级别：指定点对点直连地址的消费者，配置无法继承提供者"
https://github.com/apache/incubator-dubbo/blob/46b3458564cd0387d50f26f566556917cb74b999/dubbo-config/dubbo-config-api/src/main/java/org/apache/dubbo/config/ReferenceConfig.java#L329
[code]

比如提供者配置了serialization=kryo，然后消费者使用直连：
```@Reference(url = "dubbo://127.0.0.1:20880")```
根据这段代码，消费者还是使用serialization默认的hessian2
如果是不配置走到```assemble URL from register center's configuration```里就能继承提供者的配置

update:

[2018-11-25 14:55] gMan1990 commented on #2052
```[DUBBO] No spring extension(bean) named:defaultCompiler, try to find an extension(bean) of type java.lang.String, dubbo version: 2.6.4```
同楼上，日志里有的，但不知道啥？

[2018-11-26 03:02] keke8614 opened #2829 "使用分组聚合问题"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-11-26 03:22] yanghongge opened #2830 "setSkyWalkingDynamicField(java.lang.Object) not found"
### Environment

* Dubbo version: 2.6.0+
* Operating System version: Centos7
* Java version: 1.8
* skywalking 6.0

[apache/incubator-skywalking/issues/1955](https://github.com/apache/incubator-skywalking/issues/1955)

[2018-11-26 05:56] joytismile commented on #1285
how did you solve the problem,and I meet the same problem

[2018-11-26 07:49] fuhao715 commented on #2781
update it to 2.6.5, also have this problem.

 ===2018-11-26 15:42:52.405 INFO  com.alibaba.dubbo.config.spring.beans.factory.annotation.DubboConfigBindingBeanPostProcessor Line:86  - The properties of bean [name : protocol1] have been binding by prefix of configuration properties : dubbo.protocols.protocol1
===2018-11-26 15:42:52.411 INFO  com.alibaba.dubbo.config.spring.beans.factory.annotation.D

[2018-11-26 07:51] fuhao715 commented on #2824
遇到同样的问题

[2018-11-26 08:13] carryxyh commented on #2781
@mercyblitz
Could u pls have a look?

[2018-11-26 11:42] GuldanChen commented on #2781
why did you more question？

                                陈大清

                                    邮箱：mccrea.jsk@gmail.com

        签名由 网易邮箱大师 定制

在2018年11月26日 16:15，时无两丶 写道： @mercyblitz
Could u pls have a look?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.
{"api_version":"1.0","publisher":{"api_key":"05dde

[2018-11-26 11:52] GuldanChen commented on #2781
不好意思发错了

                                陈大清

                                    邮箱：mccrea.jsk@gmail.com

        签名由 网易邮箱大师 定制

在2018年11月26日 19:42，陈大清 写道：
why did you more question？

                                陈大清

                                    邮箱：mccrea.jsk@gmail.com

        签名由 网易邮箱大师 定制

在2018年11月26日 16:15，时无两丶 写道： @mercyblitz
Could u pls have a look?

—You are receiving this beca

[2018-11-26 11:53] GuldanChen commented on #2781
great

                                陈大清

                                    邮箱：mccrea.jsk@gmail.com

        签名由 网易邮箱大师 定制

在2018年11月26日 16:15，时无两丶 写道： @mercyblitz
Could u pls have a look?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.
{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c554

[2018-11-26 12:48] John-Smile commented on #2531
Does this fixed? I run the newest code and pass the UT

[2018-11-27 01:02] xilipilige opened #2833 "服务路由怎么在XML中配置？"

[2018-11-27 02:30] walker2012 commented on #2782
有两个序列化的问题修改了，有点坑~

[2018-11-27 04:12] gMan1990 opened #2834 "dubbo.io 老站的网页/源码/文档还有吗？dubbo-2.5时代的那种"

[2018-11-27 04:42] #2834 closed

[2018-11-27 04:44] gMan1990 commented on #2834
https://github.com/alibaba/dubbo-doc-static/tree/d4df1111a79ebb14be22b6a02d3e7526ff6b8e9e

[2018-11-27 05:49] gMan1990 opened #2835 "讨论: <dubbo:annotation />配置"
* 老的文档：
https://github.com/alibaba/dubbo-doc-static/blob/d4df1111a79ebb14be22b6a02d3e7526ff6b8e9e/Annotation%2BConfig-zh.htm#L838
[code]
* 新版本：2.6.3
https://github.com/apache/incubator-dubbo/blob/6ce7b11f982c5f7beb2ac5897fb33d48da357ada/dubbo-config/dubbo-config-spring/src/main/java/com/alibaba/dubbo/config/spring/schema/DubboNamespaceHandler.java#L53
然后我看AnnotationBeanDefinitionParser里面会注册Referen

[2018-11-27 07:16] hunterzhang86 commented on #487
我也是加上版本号就好了。

[2018-11-27 07:39] ThomasLau commented on #1213
THX. this is helpful.

[2018-11-27 08:44] JobsZCQ opened #2836 "2.6.5的到来是dubbo无侵入的终结？"

[2018-11-27 08:45] carryxyh commented on #2828
日志的地方是有点重复了。你可以提交一个pr修复掉。
第一个问题和最后一个问题不明白，继承P端配置和ReferenceConfig有什么关系？
internal里的内容能提供一下么，我在2.6.x分支上是看不到重复的。

[2018-11-27 08:47] carryxyh commented on #2836
请准确描述你的问题。

[2018-11-27 08:56] JobsZCQ commented on #2836
@carryxyh 之前版本，实现业务逻辑的时候，只用关系业务逻辑，顶多一个@Autowire。现在都用@了，如果对Service或Component有配置，岂不是在业务里面出现了很多dubbo的annotation。

[2018-11-27 08:57] carryxyh commented on #2813
有，8M。个人认为你的问题和dubbo没有什么关系。几十M的文件你也是通过http上传给jetty上的应用的，也不是用dubbo的接口传输的，通过rpc传输超过8M的数据会报错的。
内存溢出调整内存大小即可。

[2018-11-27 08:57] #2813 closed

[2018-11-27 09:00] carryxyh commented on #2836
新版本也支持xml，不喜欢用注解就使用xml不就好了么。

[2018-11-27 09:03] JobsZCQ commented on #2836
@carryxyh

如果你曾使用旧版annotation配置，请删除所有相关配置，我们将在下个版本删除所有旧版配置项。

<dubbo:annotation package="com.alibaba.dubbo.test.service" />

以上来自[http://dubbo.apache.org/zh-cn/docs/user/configuration/annotation.html](文档)， <dubbo:annotation package="com.alibaba.dubbo.test.service" /> 这都取消了，在服务中调用其他服务，然后在高一堆 apiconfig 获取bean然后在调用？ 这也太繁琐了

[2018-11-27 09:05] JobsZCQ commented on #2836
然后用新的 Api， 使用@scan，又要进行javacode级的配置，这样的调整真的有必要么。既然保留xml，为何不让xml可以做到config的所有工作。一件事变成两件事。

[2018-11-27 09:19] carryxyh commented on #2836
繁琐和入侵是两回事，所以到底你是觉得新版本的api太繁琐还是觉得dubbo对你的业务有入侵呢？

现在xml是可以做所有的配置工作，只不过xml的配置方式在升级以后需要修改一下。升级有兼容升级就有不兼容升级。

[2018-11-27 09:35] JobsZCQ commented on #2836
我看到的差异就是 旧版本的 可以在xml中指定scan路径，然后在业务中，@Autowire即可引用服务；新版本，Reference与@Autowire使用方式基本上一致，但是使用时，却需要很多的配置。而且这些配置还是基于code的。

[2018-11-27 09:38] carryxyh commented on #2836
这个地方我要去问一下spring相关改动的人员。目前2.6.x分支上和master分支上都是可以使用dubbo:annotation进行scan的。之前提到的文档上的内容好像确实有点迷惑。

差别很大，Reference可以完全替代xml中的dubbo:reference，autowire是spring的注解，@Reference是dubbo的注解，当然有一些对于dubbo特有的功能，比如配置timeout。建议你用一下新版本的@Reference

[2018-11-27 09:42] JobsZCQ commented on #2836
Reference与@Autowire差异这块，你说的我认同。但是我表达的是，在业务中引用服务的时候，他们的差异是很小的。

另外dubbo:annotation的scan，我今天刚用2.6.5测试了。

应该是已经调整了。

[2018-11-27 09:42] carryxyh commented on #2836
新版本的@Reference和@Service就是为了替代xml配置文件。你可以选择完全使用注解的方式配置所有xml中的内容，当然也可以沿用xml。个人认为这两者都没有`入侵业务`，入侵业务我理解是在业务方法中写业务无关的代码，比如业务代码中用springcontext去获取bean，再比如在业务代码里初始化httpclient之类的操作。

[2018-11-27 09:46] JobsZCQ commented on #2836
这个可能是你我的理解差异吧。 我所理解的无入侵，就是所有的业务逻辑，就像一个完全独立的东西。不需要任何东西。在业务中看到的除了业务还是业务。这些config的东西，也contain的东西，为什么应该存在与业务中。即使只是注解，你脱了了dubbo，你的code走得动吗？ 无入侵的，旧版本dubbo就可以做到。 我把jar放到任何地方，new Impl()即可work

[2018-11-27 10:03] carryxyh commented on #2836
那你认为spring侵入了你的业务么？脱离了spring，@service  @autowire 也跑不动
如果业务完全独立，那么可能只有写一个main方法这种jar包才算无入侵。那么你将自己管理所有bean的生命周期，所有的http请求，只有这样才是无入侵是么？

这就是我说的我认为没有入侵业务，如果这个修改导致你必须修改你的业务方法的内容，那么我认为这是入侵了业务。

[code]

哪里矛盾哪里看不懂了呢？XML和reference是解决同一个问题的两种方式而已。获取bean你可以用注解，也可以用spring给你提供的上下文，那你也要说spring自己是矛盾的么？？？？

[2018-11-27 10:08] JobsZCQ commented on #2836
@Service和@Reference 使用的提前是什么？ 是基于codeconfig，对吧？只有xml，这可以用吗？所以我说的是xml不能独立用，xml配置在服务间调用需要codeconfig+@Reference。这不就是有些矛盾的意思吗？ 目的是简化，这反倒成繁琐了。

Spring，我理解不算是入侵，因为我需要他的Autowire呀——至少没有那么多的config。

可以想象一下，一个service上一堆的注解额

[2018-11-27 10:16] gMan1990 opened #2837 "InjvmProtocol isInjvmRefer 方法是不是有bug？"
https://github.com/apache/incubator-dubbo/blob/46b3458564cd0387d50f26f566556917cb74b999/dubbo-rpc/dubbo-rpc-injvm/src/main/java/org/apache/dubbo/rpc/protocol/injvm/InjvmProtocol.java#L99
这一行 isJvmRefer = false?true

[2018-11-27 10:44] JobsZCQ commented on #2836
用过呀。我先说说我的理解，不一定对，但的确我发现了一个我觉得是问题的问题。
对service和reference，他们只有在apiconfig指定scan时才会被load。那么这个就有一个问题，只是我觉得是问题。举个场景，服务A调用服务B，服务B调用服务C，服务C调用服务A。假设服务A是xml配置的，然后B和C都是@refrence的，服务C调用A时是不是也需要refrence 服务A，这样A岂不是又在xml配置又在用注解配置了？当然了，如果都有注解没有问题。但是，情况就在用注解，真的太多不必要的配置在code中了，虽然不影响业务，但真的让人有强迫症。

[2018-11-27 10:45] carryxyh commented on #2836
你要用spring的autowire所以认为不入侵，那你要用dubbo的rpc功能，加个注解怎么就算成入侵了呢？

[2018-11-27 10:46] carryxyh commented on #2836
不需要，在xml中配置了的，@Resource或者@autowire就可以用了。

[2018-11-27 10:50] JobsZCQ commented on #2836
首先，dubbo是一个容器，就像tomcat就像jboss，应该尽可能少的关注甚至不关注与他配置相关的东西，他们都是与业务不直接相关的才对呀。tomcat的配置如果在用户业务中，你觉得合理吗？

[2018-11-27 10:51] carryxyh commented on #2836
完全不是，dubbo是框架，不存放任何bean。和spring和jboss tomcat完全不是同一回事。

[2018-11-27 10:53] JobsZCQ commented on #2836
不需要refrence A，服务C咋引用A呀？

[2018-11-27 10:53] carryxyh commented on #2836
@autowire
A

从spring容器中获取啊。。。你之前在xml里配置，不就是为了把A注入到spring里么。。。。。。

[2018-11-27 10:53] JobsZCQ commented on #2836
autowire需要指定scan位置，而scan又给去掉了额

[2018-11-27 10:58] JobsZCQ commented on #2836
好，就如你所说不是容器，但是意思是那个意思。框架的config不应该交给用户的业务来管理。至少应该透明。

[2018-11-27 11:00] carryxyh commented on #2836
1. 我觉得你对dubbo理解有点问题，dubbo是rpc框架，跟容器完全不是一回事。
2. 我不同意你对入侵业务理解，你说你要用spring的autowire，所以在业务代码中价格注解不算入侵。那我就问你，你要不要用dubbo的rpc功能，要用的话，加个注解为什么就入侵了你的业务？这个逻辑没法自圆其说。
3. 我觉得你的使用方式可能有问题（注意是可能。。。），最好的方式是你上传一个demo，我们看一下。@Reference和@Service注解可以替代@autowire和spring的@service。所以并不需要很多注解配置，并不繁琐。

[2018-11-27 11:04] carryxyh commented on #2836
用config的方式可以完全摒弃xml，终极目的是不用xml，都是用注解配置。这个跟spring的趋势很像。spring boot基本都是注解和你说的code config。
你说的那种注解和xml混用的场景，同样的问题你都可以在spring中找到答案。另外关于你说的繁琐问题，其实只是xml中不再允许scan，而是需要用一个注解scan，说白了增加了一个class，这远远不能算繁琐。

[2018-11-27 11:04] #2836 closed

[2018-11-27 11:08] JobsZCQ commented on #2836
如你所说，我们对dubbo理解可能有些差异。我所描述的场景应该属于正常状态。c引用a时使用autowire没有xml的scan就不可能引用成功，加上reference与xml配置就重复配置了。这个描述应该很清楚的呀。我会抽空搞一个demo

[2018-11-27 11:12] JobsZCQ commented on #2836
今天其实早想说了，这太多springboot的影子了

[2018-11-27 11:12] carryxyh commented on #2836
很简单，不要又用注解又用xml就好了，选一个用不就行了么。为什么明知道繁琐还要xml和注解一起用呢

[2018-11-27 11:14] carryxyh commented on #2836
所以其实相同的问题我觉得你倒是应该先反馈给spring。问问他们为什么要入侵你的业务，为什么配置很繁琐。dubbo对于注解配置这方面，都是依托于spring的。如果spring可以做到不入侵你的业务，不这么繁琐的配置，那么dubbo就可以。所以建议你去spring的社区询问一下。

[2018-11-27 11:19] JobsZCQ commented on #2836
不是必须xml和config混用，以前之前做的启动器基于xml的，原来这样设计就是未来对业务的尽可能0入侵。

兄台，要我去咨询spring，有点别样意味的哦

[2018-11-27 11:36] gudegg commented on #2835
问题1：可以去看下`org.springframework.beans.factory.support.MergedBeanDefinitionPostProcessor#postProcessMergedBeanDefinition`何时被调用就明白了
<img width="896" alt="dubbo" src="https://user-images.githubusercontent.com/13344666/49079075-aa2fee80-f27a-11e8-8906-e65efff22f7d.png">
作者说过@Reference实现和@Autowired实现相似，参考了AutowiredAnnotationBeanPostProcessor
问题2：
注解不填写时扫描包路径，看`org.apache.dubbo.config.spring.context.annot

[2018-11-27 12:00] biyuhao opened #2838 "UT failed on windows with FileNetworkerTest"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: master branch
* Operating System version: windows 10
* Java versi

[2018-11-27 12:16] carryxyh commented on #2838
Thx for your issue.
This place can indeed be optimized.

[2018-11-27 13:22] biyuhao commented on #2838
@carryxyh I've sent a PR, would you mind having a look at it? Thanks

[2018-11-27 20:52] gMan1990 commented on #2835
@gudegg 就一个问题，我重新编辑了下，问题地方我加粗了。我是问
我写了<dubbo:annotation package="x.x.x.x" />
按照以前老文档的说法```扫描注解包路径，多个包用逗号分隔，不填pacakge表示```
但我用2.6.3测试发现文中列出的class都会执行到```ReflectionUtils.doWithFields```有的还执行3-4次。当然我知道新的jar新的改动。所以我就问问<dubbo:annotation package现在的逻辑之类的。

[2018-11-27 21:04] gMan1990 commented on #2828
@carryxyh
Q1: 比如一个提供者运行着（protocol=dubbo，配置是serialization=kryo）
* 消费者配置直连(peer-to-peer address)，此时消费者使用的serialization方式是hessian2
* 消费者不配置(assemble URL from register center's configuration)，此时消费者使用的serialization方式是kryo
好吧，可能这也不算什么错误，消费者自定serialization方式也合理。至少我发现了上面两种配置又一个不同点

Q3: 是打包之后的文件，你可以在你本地的maven仓库里解压开来看，或者去仓库下载。。就是本来是一份内容的都变成3份了，比如内容是1行aaa变成3行aaa

[2018-11-28 02:08] carryxyh commented on #2828
q1你是想说配置直连和使用zk的方式，消费者使用的序列化方式不一样是么？这个你能提供一个demo么我看一下。

q3，这个我看到了，确实重复了三遍，这个可能有问题，老版本是不会出现的。我看一下。

[2018-11-28 02:15] code4wt commented on #2837
不算bug，只是逻辑上让人有点奇怪。当协议头为 injvm 时，Protocol 自适应拓展类会自动根据协议头加载指定的 Protocol 实现类。比如协议头为 injvm，就去加载 InjvmProtocol。自适应拓展类代码如下：

[code]

[2018-11-28 02:41] gMan1990 commented on #2837
soga 。。了解了

[2018-11-28 02:41] #2837 closed

[2018-11-28 04:01] gMan1990 opened #2840 "Q: 如何控制单台不并发，多台之间可以并发？"
比如提供者A，在a机器上部署了A1，在b机器上部署了A2(人工保证不会在同一台设备下部署多份)
怎么控制a/b单台下不能并发，a与b之间是可以同时执行的？
我试了```并发控制```里说的```<dubbo:service interface="com.foo.BarService" executes="1" />```
但是不是我想要的结果，消费者一并发消费者这边就报错了。我以为是请求到提供者那边wait住。
Q：那这种情况我应该如何实现？

[2018-11-28 06:32] gMan1990 opened #2841 "消费者项目里：如何从服务中心获得某个提供者的列表或个数？"
RT

[2018-11-28 07:48] beiwei30 opened #2842 "SPI entires dup by 3 times."
Recently, a user commit a issue[1] about that the dubbo.internal's files
has repeated content like this:

[code]

Looks like the entries are dup by 3 times, see details from #2828

[2018-11-28 07:53] carryxyh commented on #2841
请描述一下场景。
提供者信息对于消费者而言应该是屏蔽的。

[2018-11-28 07:59] carryxyh commented on #2840
如果ab都配置executes，对于a来说最多有executes个请求在处理。

消费者报错是因为服务端返回的是错误。

[2018-11-28 07:59] #2840 closed

[2018-11-28 08:00] JoneWeng opened #2843 "Telnet does not support invoke a method of set parameter"
- [ x ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ x ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version:  latest
* Operating System version:  mac
* Java version: 1.8

[2018-11-28 08:20] gMan1990 commented on #2840
@carryxyh  那这种场景有什么好的实现方案吗，不要报错的那种。哇o(╥﹏╥)o关闭了？可以让大家讨论下解决方案~

[2018-11-28 08:57] carryxyh commented on #2840
首先生产级别限流不会使用wait，所以这个问题就关闭了。如果有请你描述清楚业务场景我重新打开这个issue。

2、b机器的提供者A2在执行了，那么下一个请求到b机器的消费者只能被等待(/报错)
3、a的A1在执行了，b的A2是可以被同时执行的，机器与机器之间不用控制并发

使用executes配置就可以做到。

[2018-11-28 09:14] kexianjun commented on #2843
may this pr #2801  can solve you problem.

[2018-11-28 09:19] JoneWeng commented on #2843
no,  did not resolve this problem

[2018-11-28 09:20] JoneWeng commented on #2843
the cause of the problem:  org.apache.dubbo.rpc.protocol.dubbo.telnet.InvokeTelnetHandler#isMatch

    // arg(JSONArray instance) is Assignable From List
    // Set not match
    else if (arg instanceof Collection) {
            if (!type.isArray() && !type.isAssignableFrom(arg.getClass())) {
                return false;
            }
    }

actually,   PojoUtils#realize can convert JSONArray to

[2018-11-28 10:38] carryxyh commented on #2840
catch住rpc调用即可。

[2018-11-28 16:38] biyuhao opened #2845 "OOM in UT testSelectByWeight"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: master branch
* Operating System version: macos
* Java version: 1

[2018-11-29 02:12] #2845 closed

[2018-11-29 05:50] liuyi9608 opened #2847 "dubbo 2.6.2版本 使用 @Reference 注解 指定version 如何从配置中读取"
@Reference 注解 指定version 这个version怎么从配置中拿，不直接写死在代码里

[2018-11-29 05:57] carryxyh commented on #2806
Let's focus on this issue:
https://github.com/apache/incubator-dubbo-website/issues/183

[2018-11-29 05:57] #2806 closed

[2018-11-29 06:43] chickenlj commented on #2830
Can you please commit a simple demo to your private repo so that we can reproduce your problem?

[2018-11-29 07:52] carryxyh commented on #2838
I will close this issue via https://github.com/apache/incubator-dubbo/pull/2848.
Thx for your issue. 👍

[2018-11-29 07:52] #2838 closed

[2018-11-29 08:48] misselvexu commented on #1012
* Orgnizatioin: Acmedcare+
* Location: Suzhou, China
* Contact: iskp.me@gmail.com
* Purpose: used as cornerstone in distributed service architecture ,hybrid Cloud architecture;

[2018-11-29 09:03] lunda1 opened #2850 "consumer stub logic don't run when config multi registries"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.5
* Operating System version: Windows 7
* Java version: 1.8.0

[2018-11-29 13:06] wangmingbo123 commented on #2847
升级dubbo版本

[2018-11-29 13:11] liuyi9608 commented on #2847
具体呢，升级到那个版本，生完之后在代码中该怎么写？

[2018-11-29 13:34] wangmingbo123 opened #2851 "配置多个procotol时，和单个protocol处理逻辑不一致"
![2018-11-29 9 19 56](https://user-images.githubusercontent.com/14872046/49224694-06cb0f00-f41d-11e8-9313-d5dc0b9f20ff.png)

<dubbo:service interface="org.apache.dubbo.demo.DemoService" ref="demoService" protocol="dubbo,http"/>

如代码所示，当配置多个protocol时，类型为RuntimeBeanReference，则意味者必须有相应的协议bean，
否则回报没法找到相应的bean,
当配置单个protocol时，类型为ProtocolConfig，导致即使 不配置<dubbo:protocol>标签，也不会报错

[2018-11-29 20:51] tswstarplanet commented on #2851
请问你贴出来这个是哪个类？

[2018-11-30 01:59] wangmingbo123 commented on #2851
DubboBeanDefinitionParser

[2018-11-30 03:01] kcysk commented on #2795
这个功能将会在哪个版本放出来？

[2018-11-30 03:11] ywww opened #2853 "dubbo 目前是否支持TLS,如果支持,有使用文档吗"
dubbo 目前是否支持TLS,如果支持,有使用文档吗

[2018-11-30 05:11] yhzl opened #2854 "2.6.3是否不支持在外置tomcat中运行了？"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3
* Operating System version: xxx
* Java version: 1.8.0_181

[2018-11-30 05:49] gMan1990 opened #2855 "2.6.5问题，ReferenceAnnotationBeanPostProcessor$ReferenceBeanInvocationHandler#bean"
* dubbo: 2.6.5
* 测试，所以提供者和消费者在同一个jvm里

------
ReferenceBeanInvocationHandler的invoke就是消费者方法执行后会调用到的方法，它有个init方法用来初始化bean字段，这个方法有两处调用：
1. https://github.com/apache/incubator-dubbo/blob/38e0f15be33a5edb35b45d2c5d7c6be753bdd888/dubbo-config/dubbo-config-spring/src/main/java/com/alibaba/dubbo/config/spring/beans/factory/annotation/ReferenceAnnotationBeanPostProcessor.java#L128
[code]
2. https://github.

[2018-11-30 06:43] lunda1 opened #2856 "2.6.5 META-INF\dubbo\internal下配置文件内容重复了3遍"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.5
* Operating System version: xxx
* Java version: xxx

### St

[2018-11-30 06:57] carryxyh commented on #2856
Focus on this issue:
https://github.com/apache/incubator-dubbo/issues/2856

[2018-11-30 06:57] #2856 closed

[2018-11-30 07:15] liuxuejava opened #2857 "dubbo如何做服务熔断"
项目中使用的技术栈是:spring+mybatis+dubbo,现在想在现有的技术栈上面和hystrix整合做一个服务熔断机制，但是在网上找的教程大多是用springboot+dubbo+hystrix相关的案例，求一个相关demo,谢谢

[2018-11-30 07:18] lunda1 commented on #2856
you mean #2842？sorry，i didn't find this before.

[2018-11-30 07:48] wangnimaa opened #2858 "dubbo分布式事务"
dubbo以后会不会集成或者添加一些分布式事务的组件（如GTS之类)，以后的版本有没有这方面的计划呢？

[2018-11-30 07:53] bestLibra opened #2859 "dubbo和springcloud技术的出现是为了解决什么样的痛点问题？"
Dubbo和SpringCloud技术的出现是为了解决什么样的痛点问题？

[2018-11-30 08:19] carryxyh commented on #2856
Yep.
My mistake. 2842 is the right one.

[2018-11-30 08:31] carryxyh commented on #2859
dubbo是一个RPC框架，主要解决远程通讯问题，尤其是TCP/IP层面的远程通讯。
springcloud是微服务的解决方案。

[2018-11-30 08:31] #2859 closed

[2018-11-30 08:37] carryxyh commented on #2853
我看到你在这里也留过言了，目前是不支持。你可以在这个问题下面继续讨论：
https://github.com/apache/incubator-dubbo/issues/1605

[2018-11-30 08:37] #2853 closed

[2018-11-30 10:20] kcysk commented on #2795
👌，谢谢

[2018-11-30 11:32] paddy-w opened #2860 "客户端获取不到服务端暴露的服务 No such any registry to reference"
dubbo版本2.6.0，用xml配置方式，没有用注解，点对点直连。
之前一直运行正常，最近加了一个服务接口。通过服务端的debug日志发现新加服务已经Export了，从客户端调用ApplicationContext#getBean获取代理时，报No such any registry to reference 。之前其他的服务都正常，就这个新加的找不到。

[2018-11-30 12:56] kexianjun commented on #2854
看看是不是类似的问题 #2535

[2018-11-30 13:03] yhzl commented on #2854
回退到2.6.2就没问题了,试过很多方法都解决不了，启动后两条严重，数条警告，最后还报个异常

[2018-11-30 13:03] #2854 closed

[2018-12-02 01:46] clevertension commented on #2860
please paste more logs and exception stacktrace, thanks

[2018-12-02 04:11] gMan1990 opened #2862 "com.alibaba.dubbo.config.ServiceConfig#findConfigedPorts 多次执行"
log:
[code]

打印了两行```Use random available port```对应项目里两个提供者。
是每个提供者可以注册到不同端口还是这个被多次调用了？

[2018-12-02 06:29] code4wt commented on #2860
这个错误应该是服务消费者找不到注册中心，表明 Dubbo 走的是注册中心，但又找不到。如果你通过直联的方式连接服务提供者，理论上是不会报这个错。建议你检查一下直联的配置是否正确。你提供的信息比较少，建议以后可以把“核心”的配置以及日志贴出来，方便大家排查问题

[2018-12-02 06:59] techyang commented on #1012
组织：北京创金启富基金销售有限公司
地点：中国·北京
联系方式：techyang@163.com
场景：微服务架构、开放平台、业务服务化

[2018-12-02 08:55] biyuhao opened #2864 "Build failed with -Prelease"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: master branch
* Operating System version: macos
* Java version: j

[2018-12-02 14:29] zonghaishang opened #2865 "Questions about shutdown graceful"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: mac
* Java version: 1.8

`org.a

[2018-12-02 14:32] zonghaishang commented on #2865
@beiwei30 @chickenlj  Please take a look

[2018-12-02 14:37] zonghaishang commented on #2860
@paddy-w

try use ：

[code]

please replace `ip:port` to your real `ip&port` and `interface`

[2018-12-02 14:54] zonghaishang commented on #2862
@gMan1990 please provide a demo , I am using 2.6.3 version that cannot be reproduced

[2018-12-02 15:21] violetgo opened #2866 "Questions can I controls the routing rules of overload methods?"
can I controls the routing rules of overload methods? I wonder if Dubbo can support it. The details are as follows:

I have a hotspot service A, like this:

[code]

Then I need to refactor the Interface A,
Then it may have two different service versions until refactor is completed. (An old version will provide a method `hotMethod()` , and a new version will provide a method `hotMethod (Object some

[2018-12-03 00:57] 34176470 opened #2867 "升级2.6.5后启动报找不到类异常 com.alibaba.dubbo.config.spring.util.PropertySourcesUtils"
Environment
Dubbo version: 2.6.5
Operating System version: win10
Java version: 1.8
升级到2.6.5后，启动就报错，
Caused by: java.lang.ClassNotFoundException: com.alibaba.dubbo.config.spring.util.PropertySourcesUtils

[2018-12-03 01:59] #2867 closed

[2018-12-03 03:18] mercyblitz commented on #2827
Could you please attach your sample code?

[2018-12-03 03:25] cvictory opened #2868 "In dubbo-2.7.0, @DubboAsync generating another interface is best way？"
In dubbo-2.7.0,  @DubboAsync will generate another interface.
For original interface ，
[code]
will generate another interface:
[code]
It will generate two interface.
If we can merge two interfaces into GreetingService, such as:
[code]

[2018-12-03 05:16] paddy-w commented on #2860
I got it wrong and sorry for the less information. One important thing that I forgot is some configuration is programmic except XML. What the code do is the same like that referred by @zonghaishang .

After I fix the code. It works well!

Thanks all again! @clevertension @code4wt @zonghaishang

[2018-12-03 05:16] #2860 closed

[2018-12-03 05:24] zfvipgit opened #2869 "Caused by: java.lang.ClassNotFoundException: com.alibaba.spring.beans.factory.annotation.AnnotationInjectedBeanPostProcessor"
版本:2.6.5
采用注解的方式进行配置,提示找不到com.alibaba.spring.beans.factory.annotation.AnnotationInjectedBeanPostProcessor
这个类,

原因:
ReferenceAnnotationBeanPostProcessor这个类继承了AnnotationInjectedBeanPostProcessor
但是AnnotationInjectedBeanPostProcessor这个类根本不存在

[2018-12-03 05:51] #2833 closed

[2018-12-03 05:58] ralf0131 opened #2870 "Add daily average number of invocations to 'Who is using Dubbo' template"
Add daily average number of invocations to [Who is using Dubbo](https://github.com/apache/incubator-dubbo/issues/1012) template.

This metric can help us learn more about how extensible our user is using Dubbo.

Of course, they can skip this if they want to.

[2018-12-03 06:48] vio-lin commented on #2869
add this dependency

        <dependency>
            <groupId>com.alibaba.spring</groupId>
            <artifactId>spring-context-support</artifactId>
            <version>1.0.2</version>
        </dependency>

[2018-12-03 06:57] ralf0131 commented on #2776
Thanks for everyone who voted, Dubbo ranks Top 3!

[2018-12-03 06:57] #2776 closed

[2018-12-03 07:32] 18161293713 opened #2871 "@Reference(url = "localhost:port") is invalid"

[2018-12-03 09:10] lazyman54 commented on #1852
same situation as you do：
2018-12-03 05:22:33.309 [] ERROR [com.alibaba.dubbo.qos.server.handler.TelnetProcessHandler.channelRead0:61]  [DUBBO] can not found command com.alibaba.dubbo.qos.command.CommandContext@24e1c54c, dubbo version:
2.6.0, current host: 10.14.16.88
com.alibaba.dubbo.qos.command.NoSuchCommandException: NoSuchCommandException:HELP
	at com.alibaba.dubbo.qos.command.DefaultCommandE

[2018-12-03 09:11] lazyman54 commented on #1852
same situation as you do：
2018-12-03 05:22:33.309 [] ERROR [com.alibaba.dubbo.qos.server.handler.TelnetProcessHandler.channelRead0:61] [DUBBO] can not found command com.alibaba.dubbo.qos.command.CommandContext@24e1c54c, dubbo version:
2.6.0, current host: ****
com.alibaba.dubbo.qos.command.NoSuchCommandException: NoSuchCommandException:HELP
at com.alibaba.dubbo.qos.command.DefaultCommandExecutor.e

[2018-12-03 09:11] carryxyh commented on #2828
对于Q1还有问题么？
如果有问题请提供一个demo。
关于Q3请跟踪这里：https://github.com/apache/incubator-dubbo/issues/2842

[2018-12-03 09:12] carryxyh commented on #2835
如果没有其他讨论，我会关闭这个issue

[2018-12-03 09:20] carryxyh commented on #1852
@lazyman54

`NoSuchCommandException:HELP`

Maybe change to help.

[2018-12-04 03:18] LiZhenNet opened #2877 "DEFAULT_SERVER_SHUTDOWN_TIMEOUT，This number is too big"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: mac os
* Java version: 1.8

###

[2018-12-04 04:17] carryxyh commented on #2877
Can u give some reason?

[2018-12-04 05:31] beiwei30 commented on #2851
@wangmingbo123 pls. check my comments https://github.com/apache/incubator-dubbo/pull/2852#issuecomment-443976988, we cannot do this.

[2018-12-04 05:31] #2851 closed

[2018-12-04 06:44] VanXD commented on #1852
同样的问题, 我们没有使用任何的telnet和qos命令, 就跑着跑着就出现了~
same as you , we don't use any telnet CMD or qos CMD. It happens at intervals.

2018-12-04 07:35:00 [qos-worker-3-4] [com.alibaba.dubbo.qos.server.handler.TelnetProcessHandler]-[ERROR] -  [DUBBO] can not found command com.alibaba.dubbo.qos.command.CommandContext@6e636bf3, dubbo version: 2.6.2, current host: 10.81.9.7
com.alibaba.dubbo.qos.command.NoSuchComm

[2018-12-04 07:08] llx206 opened #2881 "Kryo serialization fails（服务既是生产者又是消费者出现问题）"
https://github.com/apache/incubator-dubbo/issues/2179#issue-347287850

传输的数据较大，想使用kryo序列化，来提高性能。请问，在最新的2.6.5版本下，还是会出现
![image](https://user-images.githubusercontent.com/39985288/49424678-4a839700-f7d6-11e8-8230-815d0555edb1.png)

请问大神们，这个问题要如何解决呢，谢谢！！！！

[2018-12-04 08:03] carryxyh commented on #2835
暂时关闭这个issue。如果有其他讨论可以重新开启。

[2018-12-04 08:03] #2835 closed

[2018-12-04 08:14] carryxyh opened #2882 "Replace the map<Long,Object> in dubbo with longObjectMap"
We can use longObjectMap to replace Map<Long, Object> in dubbo to improve performance.

We need to do the following:
1. Organize the map that can be replaced
2. Perform replacement work

我们可以使用longObjectMap来替换dubbo中的Map<Long,Object>来提升性能。

我们需要做下面的事情：
1. 整理可以替换的Map
2. 进行替换工作

[2018-12-04 08:22] grumpyAmber opened #2883 "Subscribe button links to the wrong address on Dubbo website."
![](http://ww1.sinaimg.cn/large/7231c228ly1fxusbzhnkfj21w210ygqd.jpg)
http://dubbo.apache.org/en-us/community/index.html

Subscribe button links to the wrong address dev@dubbo.apache.org
The correct one should be dev-subscribe@dubbo.apache.org.

[2018-12-04 08:33] Brave-Andy commented on #1739
我是直接下的 incubator-dubbo-ops,但是在idea中启动还是报错Unable to locate Spring NamespaceHandler for XML schema namespace [http://dubbo.apache.org/schema/dubbo]
Offending resource: URL [file:/home/ubuntu-xjg/IdeaProjects/incubator-dubbo-ops/dubbo-admin/target/classes/dubbo-admin.xml]

[2018-12-04 09:00] carryxyh opened #2884 "We need more code comments"
目前我们的代码中，注释的覆盖率非常低，这对于初入dubbo的开发者是不友好的，我们应该开始着手解决这个问题。非常欢迎开发者为我们提交PR来完善注释。

At present, the coverage of comments in our code is very low, which is not friendly to developers who are new to dubbo. We should start to solve this problem. Developers are welcome to submit PRs for us to complete the comments.
:)

[2018-12-04 09:01] LiZhenNet commented on #2877
I know  it can change value by change the dubbo.service.shutdown.wait, But, 10 second is not  a appropriate value.

In 2.5.x , it will sleep 10 second between Registry destroy and Protocol

[2018-12-04 09:14] carryxyh commented on #2877
Since this sleep occurs when the service goes offline, what problems will it cause when you sleep longer?

[2018-12-04 09:16] carryxyh commented on #2877
In my opinion, the difference between 10s or 5s is not very big. I can't decide which is better. Each has its own advantages and disadvantages. 5s is better? maybe.

[2018-12-04 10:35] dev4java commented on #627
Compile error. #1101

[2018-12-04 11:55] htynkn commented on #2882
this work make sense, but do we have a official way to measure performance improvement? we don't have benchmark running in CI or other stable platform.

[2018-12-04 12:01] carryxyh commented on #2882
good question. At the moment we really lack the internal benchmark. I think you can add a benchmark to the module. The performance of the new submission benchmark cannot be significantly lower than the previous benchmark results. What do u think?

[2018-12-04 12:14] LiZhenNet commented on #2877
It will make the application shutdown slow  in old version。
This config in 2.6.x  ，it's role that make the request which is excuting  return success. In general,  a request  should not execute more than 5 seconds。

[2018-12-04 12:38] carryxyh commented on #2877
I agree with what you said. But personally think that the difference between fast closing and slow closing is not very big.
Should we modify it? Maybe. @zonghaishang Can u give some ideas?

[2018-12-04 12:47] khanimteyaz commented on #2884
I am new to open source contribution world and new to dubbo also. I see this is has been tagged as 'Help wanted' and 'good first issue'. Is there any way I help one this one. Would request someone to be my mentor guide me here as well.

[2018-12-04 13:51] ralf0131 commented on #2884
@oldratlee Can you break it down by modules? We can start from the lowest.

[2018-12-04 14:01] chenlushun commented on #2884
I recommend that when you write comments, you change lines in the right place so that it's easy to read. The following comments needs to slide.
[code]

[2018-12-04 14:03] lovepoem commented on #2884
@oldratlee，can we  statistics the comment coverage as test coverage in the
codecov.io ?

Huxing Zhang <notifications@github.com> 于 2018年12月4日周二 下午9:51写道：

[2018-12-04 14:04] oldratlee commented on #2884
[code]

[2018-12-04 14:50] iorilchen commented on #1784
有时是服务端接收消息延迟，有时是调用端接收结果延迟，最终都是超时

[2018-12-04 14:53] oldratlee commented on #2884
comment coverage report generated by blow scripts:

module | product code | test code
------ | ------------ | ---------
dubbo-registry-redis | 6.8% | 16.5%
dubbo-registry-multicast | 10.9% | 34.1%
dubbo-rpc-redis | 11.1% | 16.5%
dubbo-registry-zookeeper | 12.9% | 14.5%
dubbo-rpc-webservice | 13.4% | 41.5%
dubbo-monitor-default | 15.4% | 18.1%
dubbo-rpc-http | 15.8% | 22.0%
dubbo-remoting-netty | 1

[2018-12-04 15:24] oldratlee commented on #2884
I have found comment coverage info in the codecov.io yet.

[2018-12-04 16:56] khanimteyaz commented on #2884
Being a new to open source development mythology will be possible for some one to guide me how I can proceed further to help the community regarding the current issue.

[2018-12-05 02:30] cvictory opened #2886 "[discussion]Redis registry or Redis Metadata store need support redis cluster"
Before redis 3.0
1. redis was used in one machine.
2.Redis also used in sentinel mode, the client can write the data into master machine, and all of the client can read from both master and slave machine.
3. Twitter create a proxy named twemproxy to support cluster .

After redis 3,
the redis start to support cluster. Until now it is not proved it is the best solution.

Is it necessary that we sho

[2018-12-05 03:00] carryxyh commented on #2884
Project is here
https://github.com/apache/incubator-dubbo/projects/2

[2018-12-05 03:04] carryxyh commented on #2884
@khanimteyaz
We are of course willing to help you with some work, very welcome!

I recommend that you subscribe to our mailing list. U can subscribe the dev group and go there directly for help, send your questions, I will help you.
:)

[2018-12-05 06:58] khanimteyaz commented on #2884
@carryxyh
  Thanks for the greeting. I would do that.

[2018-12-05 08:25] 89333367 opened #2890 "No provider available from registry cdh0:2181 for service"
[code]

[2018-12-05 09:42] yinghonghui opened #2891 "DubboMonitor类 bug"
1.DubboMonitor 类的属性scheduledExecutorService 并不是 static ,虽然DubboMonitor 在项目里面只会实例化一次,但是这样的代码风格并不好,建议单例模式
2.send方法bug

wrong code:

public void send() {
        logger.debug("Send statistics to monitor " + getUrl());
        String timestamp = String.valueOf(System.currentTimeMillis());
        for (Map.Entry<Statistics, AtomicReference<long[]>> entry : statisticsMap.entrySet()) {
            // get

[2018-12-05 11:20] slankka commented on #2827
我也遇到这个问题了，dubbo version: 2.6.5，Spring version 4.3.18 @HuangDayu 请问你解决了吗

[2018-12-05 13:22] #2828 closed

[2018-12-05 15:30] lanpeiluoqi commented on #2808
问题出在dubbo admin的注册类上，监听收到了ZK的节点通知，结果字符不符合规则，服务名包含非法字符转义导致admin BUG 不停的新建25节点，直到ZK崩溃

[2018-12-06 02:12] carryxyh commented on #2808
@lanpeiluoqi
提交一个pr修复一下吧

[2018-12-06 02:49] nzomkxia commented on #2891
后续会基于dubbo的metrics api来实现dubbo monitor的数据采集

[2018-12-06 02:58] carryxyh commented on #2808
@nzomkxia

[2018-12-06 03:03] carryxyh commented on #2886
I think we need it.
Just as dubbo supports zk clusters, we also need to guarantee the high availability of redis registry.
Maybe we should send a mail for more suggestions.

[2018-12-06 07:17] moayi opened #2894 "https 使用dubbo 的Hessian协议上传文件报错问题"
各位大佬：
    今天在项目中添加https协议，再做文件上传时，报了以下异常，以前没有添加https时是没有问题的。
异常如下:
     14:28:30.309 [http-nio-443-exec-26] ERROR com.wits.ucp.system.controller.WorkflowController - OH,MY GOD! SOME ERRORS OCCURED! AS FOLLOWS :
com.alibaba.dubbo.rpc.RpcException: Failed to invoke the method saveFiles in the service com.wits.file.provider.FileGridfsProvider. Tried 3 times of the providers [10.1.100.35:8080] (1/1) f

[2018-12-06 08:51] streamfly commented on #876
我今天也遇到了这个问题
![image](https://user-images.githubusercontent.com/17963187/49572551-08de2200-f977-11e8-8014-332323e70e76.png)
不知道是不是代码里有什么BUG。

[2018-12-06 08:53] streamfly commented on #876
DubboSaveRegistryCache-thread-1 里面的data  有1个G还多，是一个对象哦。应该是某种情况下导致对象数据累加了。但没查出来

[2018-12-06 08:56] streamfly commented on #876
![image](https://user-images.githubusercontent.com/17963187/49572964-db45a880-f977-11e8-84d9-06c07d4971aa.png)

[2018-12-06 08:57] streamfly commented on #876
![image](https://user-images.githubusercontent.com/17963187/49573035-0203df00-f978-11e8-9fc5-f815d8f53caf.png)

[2018-12-06 09:06] kexianjun opened #2896 "dubbo spi自动注入疑问"
关于dubbo spi ioc com.alibaba.dubbo.common.extension.ExtensionLoader#injectExtension注入这一块
[code]
这个地方objectFactory是AdaptiveExtensionFactory，在com.alibaba.dubbo.common.extension.factory.AdaptiveExtensionFactory#getExtension
[code]
方法里面执行的时候，按照这个方法的意图应该是返回第一个不为空的扩展实例，这个循环里面遍历的时候没有异常处理，导致如果前面的factory没有获取到扩展实例抛出异常，即时后面的factory有对应的扩展实例都无法正常工作。这个地方我调试了一下，遍历的第一个factory为SpiExtensionFactory，而com.alibaba.dubbo

[2018-12-06 09:30] llx206 commented on #2881
@eoc2015 ,是要修改dubbo的代码，才能解决吗？

[2018-12-06 09:50] streamfly commented on #876
顺便说一下，上面URL也就占用了3000多个字符，后面全部是空格
![image](https://user-images.githubusercontent.com/17963187/49576076-329b4700-f97f-11e8-8d78-56a8d776ba75.png)
怀疑是某些原因导致java.util.Properties里面
![image](https://user-images.githubusercontent.com/17963187/49576116-4a72cb00-f97f-11e8-8367-d538ef62cff1.png)
构建了一个最大INT值的BUFFER。

[2018-12-06 10:01] mercyblitz opened #2897 "[BUG] DubboConfigConfigurationSelector precedence is too high"
`DubboConfigConfigurationSelector#getOrder()` is `HIGHEST_PRECEDENCE`, thus its precedence is  too high and should be configured by the property from `Environment`.

Version : `2.6.5`

[2018-12-06 11:06] beiwei30 opened #2899 "enhance org.apache.dubbo.common.concurrent.CompletableFutureTaskTest#testCustomExecutor"
org.apache.dubbo.common.concurrent.CompletableFutureTaskTest#testCustomExecutor need to enhance. Recently Traivs CI reports the following error:

[code]

[2018-12-06 11:55] LiZhenNet commented on #2877
I have pull a request to talk about it  https://github.com/apache/incubator-dubbo/pull/2901

[2018-12-06 11:57] LiZhenNet commented on #2865
I have  pull  a request about this。 you can take a look  https://github.com/apache/incubator-dubbo/pull/2901

[2018-12-06 12:08] mercyblitz commented on #2868
Good question.

[2018-12-06 13:31] bpaull1981 opened #2902 "😎"
Thanks

[2018-12-06 13:32] #2902 closed

[2018-12-07 01:47] beiwei30 commented on #2899
@biyuhao will be on this issue.

[2018-12-07 02:00] #2899 closed

[2018-12-07 03:43] liuyi9608 opened #2908 "2.6.5使用注解方式怎么配置dubbo:provider filter"
2.6.5使用注解方式怎么配置dubbo:provider filter

[2018-12-07 04:56] zonghaishang commented on #2865
[code]

It looks good, close it now.

[2018-12-07 04:56] #2865 closed

[2018-12-07 07:34] mercyblitz commented on #2908
You could
- add `@EnableDubboConfig` to enable Dubbo Config
- annotate `@PropertySource("classpath:/config.properties")` for properties :

[code]

- annotate `@Service(provider="provider1")` on your service's implementation

[2018-12-07 07:34] #2908 closed

[2018-12-07 09:14] byronzoz commented on #1784
用链路追逐跟踪一下，看看网络耗时是在网络传输层，还是在业务处理层

[2018-12-07 09:15] chickenlj opened #2910 "[2.7.0-development docs] Background"
## 总体目标

在2.7.0版本中，Dubbo提出了将注册中心和服务治理中心分离的思想，概念上向时下流行的微服务注册中心、配置中心模型看齐。同时在此基础上，2.7.0版本又额外引入了一个元数据中心，通过更丰富的元数据内容进一步提高服务治理能力。

![threecenters](https://user-images.githubusercontent.com/18097545/49638277-aeaa9300-fa42-11e8-9eb7-c876cd33a4c1.jpg)

从每个中心的职责划分的角度，我们期望带来的好处是：

- 注册中心。通过裁剪冗余的URL数据，减轻配置中心的存储和推送压力
- 配置中心。让开发者可以对接微服务场景下更常用的、更专业的配置中心，如Nacos, Apollo, Consul, Etcd等。如果按不同的生命周期阶段划分，配置中心在Dubbo中承担了

[2018-12-07 09:15] byronzoz commented on #1784
用链路追踪系统跟踪一下，看看RPC的时间分布：网络传输层or业务处理层

[2018-12-07 09:21] chickenlj opened #2911 "[2.7.0-development docs] How to use Config Centre to externalize configurations and manage governance rules."
本篇主要包含两部分内容：演示如何使用ConfigCenter配置启动Dubbo应用；演示如何使用覆盖、路由等规则实现服务治理；共包含9个示例，所有示例都存储在[dubbo-samples](https://github.com/dubbo/dubbo-samples/tree/samples-for-2.7.0-SNAPSHOT)仓库，并且在详细讲解每个示例时我们都给出了链接。

## 启动配置加载

2.7版本开始，在启动阶段，Dubbo支持从ConfigCenter、XML或Annotation、dubbo.properties文件以及System Properties等读取配置，并自动根据优先级完成配置的覆盖。其中ConfigCenter配置方式是2.7中新增的，并且对各种配置的读取和覆盖关系做了系统的优化。

默认优先级为：System Properties -> ConfigCe

[2018-12-07 09:25] chickenlj opened #2912 "[2.7.0-development docs] Config Center API design and default implementations."
## 设计目标

主要目标是将注册和配置分离，对接微服务体系的配置中心，同时提高配置中心单独扩展的能力。

从配置中心的角度，主要承担Dubbo的两个职责：

1. 启动阶段的集中式配置托管。类似SpringCloud Config的职责，简化用户端感知的配置，做到Dubbo外部化配置的集中式管理，同时使Dubbo更容易遵循已有的应用配置加载模式。
2. 运行期的规则推送。负责各种服务治理规则的推送，包括覆盖规则、路由规则等。

以SPI的形式做到方便扩展，默认提供Zookeeper, Apollo, Nacos的适配支持。

## 实现方式

#### 动态配置中心对接

1. 引入[ConfigCenter模块](https://github.com/apache/incubator-dubbo/tree/dev-metadata/dubbo-configcenter)及SPI

![

[2018-12-07 09:34] chickenlj opened #2914 "[2.7.0-development docs] Routing rules"
## 路由规则回顾

Dubbo提供了具有一定扩展性的[路由规则](http://dubbo.apache.org/zh-cn/docs/user/demos/routing-rule.html)，其中具有代表性的是条件路由和脚本路由。

## 面临的问题

- 路由规则存储在注册中心
- 只支持服务粒度的路由，应用级别无法定义路由规则
- 支持路由缓存，但基本不具有扩展性
- 一个服务或应用允许定义多条路由规则，服务治理无法管控
- 实现上，每条规则生成一个Router实例并动态加载

## 解决方法

### 类图

![router uml](https://user-images.githubusercontent.com/18097545/49639534-38a82b00-fa46-11e8-805b-a8c1a31c155a.jpg)

我们简单概括下各个类的协作关系。

-

[2018-12-07 09:38] chickenlj opened #2915 "[2.7.0-development docs] Dynamic Configuration."
## 覆盖规则什么

此功能目的是运行期修改RPC相关参数，如timeout、loadbalance、threadpool等，Dubbo支持动态下发[配置规则](http://dubbo.apache.org/zh-cn/docs/user/demos/config-rule.html)

## 存在的问题

- 以override协议的UR形式下发；override://10.20.153.10/com.foo.BarService?category=configurators&dynamic=false&disbaled=true
- 以服务为粒度，无法满足全局变更某个应用的配置的需求
- 允许配置多条规则，导致具体哪条生效无法跟踪
- 之前版本的配置格式设计存在问题，是bug重灾区，甚至连要怎么配置我们框架开发者也搞不明白
- 提到多次的，和注册中心绑定在一起

## 解决方法

!

[2018-12-07 09:39] chickenlj opened #2916 "[2.7.0-development docs] Externalized Configuration."
## 存在的问题

- 配置覆盖关系硬编码，职责划分不清，难以理解和扩展。
- 引入配置中心、元数据中心后，暴露给一线开发者的配置项太多，容易造成混淆，同时各个环境的配置也缺乏统一管控。
- properties文件的加载本身存在一些bug，没有严格遵循配置规范，导致配置无法被读取

## 解决方法

### 一切围绕Configuration

抽象出Configuration的概念，实现基于Configuration的层次化的配置加载和覆盖体系

- Configuration接口定义

[code]

- Configuration种类丰富

  新增DynamicConfiguration和ExternalConfiguration概念；统一了Properties File、System Properties等的配置约定格式，解决之前版本配置混乱不生效的问题；确定了统一向XxxCo

[2018-12-07 10:13] majinkai opened #2918 "2.7泛化调用找不到提供者"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7（dev-metadata）
* Operating System version:  Mac
* Java version

[2018-12-07 10:16] chickenlj commented on #2918
Thanks for the report, I will take a look at this problem.

[2018-12-07 12:04] chickenlj opened #2919 "development documentation collections for v2.7.0, draft"
Documentation collections of v2.7.0 (draft).
1. [Background](https://github.com/apache/incubator-dubbo/issues/2910)
2. [How to use Config Centre to externalize configurations and governance services](https://github.com/apache/incubator-dubbo/issues/2911)
3. [Config Center API design and default implementations.](https://github.com/apache/incubator-dubbo/issues/2912)
4. [Routing rules](https://gith

[2018-12-07 13:35] khanimteyaz commented on #2884
Created the [pull ](https://github.com/apache/incubator-dubbo/pull/2921)request for addition of comments for dubbo-filter module

[2018-12-07 19:14] khanimteyaz commented on #2884
How can I create the card under this project and assigned it to me, so that it can be easier for reported to track.

[2018-12-07 19:41] khanimteyaz commented on #2769
@carryxyh,
    Would be possible to guide me on some documentation or code related to this topic. Actually wanted to understand this part so that it could become easy for me to follow you on this topic.

[2018-12-08 03:32] tswstarplanet commented on #2918
dubbo还没有2.7版本吧？

[2018-12-08 03:33] tswstarplanet commented on #2918
哦。原来是snapshot

[2018-12-08 04:10] tswstarplanet commented on #2918
你的代码是不是不完整啊？粘出来报错
PS: 我自己根据dubbo官方文档的泛化调用，没有问题啊

[2018-12-08 05:20] tswstarplanet commented on #2855
请问是protocol配置成injvm吗？

[2018-12-08 06:35] gMan1990 commented on #2855
@tswstarplanet 没有，是com.alibaba.dubbo.config.ReferenceConfig#createProxy方法自己查找提供者的

[2018-12-08 07:00] gMan1990 commented on #2862
@zonghaishang 不好意思，我再展开说下：
- <dubbo:protocol name="dubbo" port="-1"
- DUBBO_PORT_TO_BIND未配置
---
以dubbo-2.6.3来说：
1. 假设写了2个Service，那么就会有2个com.alibaba.dubbo.config.spring.ServiceBean实例
[code]

2. 每个实例都会执行doExportUrls方法：
https://github.com/apache/incubator-dubbo/blob/6ce7b11f982c5f7beb2ac5897fb33d48da357ada/dubbo-config/dubbo-config-api/src/main/java/com/alibaba/dubbo/config/ServiceConfig.java#L355
[c

[2018-12-08 13:14] LiZhenNet commented on #71
I have push a request to fix it。

[2018-12-08 13:23] #2883 closed, assigned to nobody

[2018-12-08 17:31] khanimteyaz commented on #2918
@majinkai Would it be possible for you to provide a executable sample to reproduce this issue?

[2018-12-09 02:59] HuangDayu commented on #2827
@slankka 我也还没解决，不影响使用所以我不理了。换成 `2.6.2` 版本不会出现这个问题。

[2018-12-09 03:51] cdfive commented on #2180
@diecui1202
Hi, I found the ActivateComparator class use these two methods, and there is also a test case:
https://github.com/apache/incubator-dubbo/blob/master/dubbo-common/src/test/java/org/apache/dubbo/common/extension/support/ActivateComparatorTest.java
The test case use before and after method in filter's @Activate， and the case is passed.

#1926 is confusing, since I tried the before,after i

[2018-12-09 06:59] luchy0120 opened #2926 "Some problems with dubbo-cluster rpc merger"
Hello, dubbo team. I'm learning the dubbo project , and I found  some problems with rpc.merger module
listed as below:

1,  The ArrayMerger uses its first element's component type to create a new Array. But some times
if we use
[code]
This will fail with "array element type mismatch"

2,  The ArrayMerger doesn't allow null object , but ListMerger and MapMerger allows user to input
null object
[cod

[2018-12-10 03:15] ralf0131 commented on #2884
@khanimteyaz Maybe you don't have the permission. Please leave a comment about what you'd like to add, we can help you do that!

Please create an issue for your work, so that I can add your issue the to the project.

[2018-12-10 03:16] ralf0131 commented on #71
@LiZhenNet Not yet, sorry for being late. I should have some time to review it this week.

[2018-12-10 05:39] #71 closed

[2018-12-10 06:16] majinkai commented on #2918
dubbo-demo[1]是提供者，ops是泛化调用端[2]

[1] https://github.com/nzomkxia/dubbo-demo
[2] https://github.com/apache/incubator-dubbo-ops/tree/service-test

[2018-12-10 08:36] beiwei30 commented on #2795
I believe #2925 from @kexianjun should satisfy this particular requirement, to disable telnet, simply configure

[code]

In this way, only `help` is available for executing, and other commands are disabled.

I don't agree with the idea of introducing another flag to control this func. A better way to disable telent should be:

[code]

Then we can use this magic word `disabled` in org.apache.dubbo.

[2018-12-10 11:49] kexianjun commented on #2795
Sure it's better to config ```<dubbo:protocol name="dubbo" port="20890" telnet="disabled"/>``` to disable telnet than this pr  #2809 of mine.

[2018-12-10 11:54] carryxyh commented on #2795
@kexianjun @beiwei30
Maybe we should close the duplicate pr https://github.com/apache/incubator-dubbo/pull/2809 and fix the doc.
Then we can close this issue.
How do u think?

[2018-12-10 12:02] kexianjun commented on #2795
@carryxyh @beiwei30 I've close this pr #2809. And do we need config like ```<dubbo:protocol name="dubbo" port="20890" telnet="disabled"/>``` ?

[2018-12-10 18:56] khanimteyaz opened #2935 "Creating dubbo dubbo-rpc-api java documentation"
Adding java class documentation for dubbo-rpc-api module.

[2018-12-10 18:57] khanimteyaz commented on #2935
I am claiming this issue.

[2018-12-10 18:58] khanimteyaz commented on #2884
@ralf0131 I have created an issue #2935 (Creating dubbo dubbo-rpc-api java documentation) and will be on it. Claiming to work on this.

[2018-12-11 02:33] #2864 closed

[2018-12-11 03:16] cvictory commented on #2926
1,  The ArrayMerger uses its first element's component type to create a new Array. But some times
if we use
[code]
This will fail with "array element type mismatch"
------
It can work well, but it is not right.
As the source code said:
[code]
It will get the first param's type as parameter, I think  you should keep the same type for the merge type.  And it is not used by another module, so it is i

[2018-12-11 03:20] cvictory commented on #2890
ok, I will check this issue.

[2018-12-11 03:37] goal578 opened #2937 "dubbo2.5.3 版本升级"
### Environment

* Dubbo version: 2.5.3
* Operating System version: Linux version 2.6.32-642.el6.x86_64/win10 64位
* Java version: jdk1.6.0_25

### Steps to reproduce this issue

想升级jdk为1.8，换上jdk1.8以后，dubbo服务直接起不来，是否需要连带升级 dubbo?如果需要，升级为什么版本合适？升级dubbo是否又会导致spring版本的升级？

[2018-12-11 03:48] cvictory commented on #2890
I test in the sample project , I find it work well.
You can find:
https://github.com/apache/incubator-dubbo-samples/tree/master/dubbo-samples-monitor
.

If you still have the problem, you can upload a demo.

89333367 <notifications@github.com> 于2018年12月5日周三 下午4:26写道：

--

Best Regard!
cvitory

[2018-12-11 04:37] cvictory commented on #2891
@yinghonghui
you can commit a pr to optimize the code.

[2018-12-11 04:57] khanimteyaz commented on #2884
@ralf0131 I have raised a pull request regarding the current thread issue #2921 ,should bring #2921 issue into this group and close it as well as it got merged to master?

[2018-12-11 05:49] limingwei commented on #2782
@carryxyh

[2018-12-11 05:54] luchy0120 commented on #2926
@cvictory , I also think the origin one works well  , but this may be a good practice for me while I'm learning and I can do something for it , thanks . By the way , is it used by Consumer or it is only internal use ? I see some blogs' description of merger, and it says it can be configured to be used by consumers to aggregate results .

[2018-12-11 05:54] goal578 commented on #2937
Which version should I choose?
Currently, dubbo keeps 3 versions evolve in parallel:

2.7.x (master): requires Java 1.8, major feature branch.

2.6.x: requires Java 1.6, minor feature & bugfix branch, GA, production ready.

2.5.x: requires Java 1.6, maintenance branch, only accept security vulnerability and critical bugfix, expected to be EOL soon.

[2018-12-11 06:00] limingwei commented on #2782
@ralf0131

[2018-12-11 06:04] limingwei commented on #2782
@kimmking

[2018-12-11 07:59] #2766 closed

[2018-12-11 08:01] beiwei30 commented on #2766
@kexianjun I merged your change. Pls. check my comments on the pull request, and consider to update doc.

[2018-12-11 09:53] ralf0131 commented on #2884
@khanimteyaz I've added #2921 to https://github.com/apache/incubator-dubbo/projects/2, and marked it as Done.

[2018-12-11 09:54] kimmking commented on #2926
hi, @luchy0120  If you have any ideas for improvement, I guess you could submit a proposal via email to community and then we discuss it, complete it.

[2018-12-11 09:58] kimmking commented on #2914
that's great, router is useful feature for mock service and dynamic runtime strategy.

[2018-12-11 11:13] zengqiyan opened #2942 "user Kryo,reporting error in high concurrency environment"
java.lang.NullPointerException: null
	at reflectasm.java.lang.NullPointerExceptionConstructorAccess.newInstance(Unknown Source) ~[na:na]
	at com.esotericsoftware.kryo.Kryo$DefaultInstantiatorStrategy$1.newInstance(Kryo.java:1275) ~[kryo-4.0.0.jar!/:na]
	at com.esotericsoftware.kryo.Kryo.newInstance(Kryo.java:1139) ~[kryo-4.0.0.jar!/:na]
	at com.esotericsoftware.kryo.serializers.FieldSerializer.cre

[2018-12-11 12:47] luchy0120 commented on #2926
hi , @kimmking , I'm trying to join the email , but failed .  May be I should try agian .

[2018-12-11 15:41] #2862 closed

[2018-12-11 16:24] khanimteyaz commented on #2884
@ralf0131  thanks for doing it.Appreciate it.

[2018-12-11 22:18] tswstarplanet commented on #2866
Does it can route request based on parameters if the names of method are identical ?

[2018-12-11 22:22] tswstarplanet commented on #2855
能提供demo吗？我自己复现没出现这个问题

[2018-12-12 05:39] kongwu- commented on #2011
我也发现了，郁闷老半天，看源码才发现打成warning了

[2018-12-12 06:09] beiwei30 commented on #2926
@luchy0120 pls. follow [this guide](http://dubbo.apache.org/zh-cn/docs/developers/contributor-guide/mailing-list-subscription-guide_dev.html) to subscribe to Dubbo mailing list.

[2018-12-12 06:09] #2926 closed

[2018-12-12 07:04] cvictory commented on #2881
I find the how it is happen.  I will commit a pr to complete the kryo
serialization.
But if you want to control the registry class , there will be some constraint
to use.

llx206 <notifications@github.com> 于2018年12月6日周四 下午5:31写道：

--

Best Regard!
cvitory

[2018-12-12 09:13] SawamuraEriri commented on #2867
<dependency>
                <groupId>com.alibaba.spring</groupId>
                <artifactId>spring-context-support</artifactId>
                <version>1.0.2</version>
            </dependency>

[2018-12-12 10:13] water-coder commented on #2882
for this issue
I want to do this job of using longObjectMap replacing LongObjectMap.
I am willing to take this task and I will start doing it.

[2018-12-12 10:42] bpaull1981 commented on #2882
Can you help me with the details of the process

On Wed, Dec 12, 2018, 4:15 AM water-coder <notifications@github.com wrote:

[2018-12-12 12:59] chenk008 commented on #2165
i met this bug too in SpringBoot2

[2018-12-12 12:59] kexianjun commented on #2918
@majinkai 我本地从master打出来的2.7.0-SNAPSHOT泛化调用是正常的，不知道你的2.7.0-SNAPSHOT 包是从哪个分支打出来的

[2018-12-12 13:12] majinkai commented on #2918
我是从dev-metadata分支，用到了configcenter

[2018-12-12 15:20] byronzoz commented on #983
建议把consul支持起来

[2018-12-12 15:47] tswstarplanet opened #2948 "[Question] About registering of dubbo service using injvm protocol"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

I have a following question:

Should a service using injvm protocol register to a registry ?

[2018-12-12 23:48] meiping05 opened #2949 "spring boot external config invalid"
### Environment

* Dubbo version: 2.6.0
* Operating System version: Red Hat Enterprise Linux Server release 6.3
* Java version: 1.8.0_92

### Steps to reproduce this issue

Spring Boot使用外部配置文件,没有起作用,还是使用的包内application.properties

[2018-12-13 02:13] carryxyh commented on #2882
@bpaull1981
Hi, seems like @water-coder has claimed this job.

@water-coder I'd like to help u to finish this.

[2018-12-13 02:24] #2869 closed, assigned to mercyblitz

[2018-12-13 02:30] hjq2016 opened #2952 "provider优雅停机，call需要30秒，consumer10秒后主动中断channel，导致优雅停机失败"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.5
* Operating System version: CentOS6.9
* Java version: 1.8

[2018-12-13 03:39] dslchd commented on #2795
请问这个功能 telnet="disabled" 必须是2.6.6？才支持吗？

[2018-12-13 03:41] meiping05 commented on #2949
https://github.com/meiping05/incubator-dubbo-spring-boot-project

[2018-12-13 06:01] meiping05 commented on #2949
* 目前master使用的是DefaultDubboConfigBinder,都是读取默认的参数
* sample中使用的RelaxedDubboConfigBinder,RelaxedDubboConfigBinder数据版本是正确的,但是beanId是错误的,只有beanId读取是通过前缀去查找的

[2018-12-13 06:01] water-coder commented on #2882
@carryxyh
OK,thx. I will try my best to do this.

[2018-12-13 06:18] xiaobzhou opened #2953 "springboot集成dubbo @Reference注入值为null"
springboot集成dubbo(dubbo-spring-boot-starter:0.2.0)采用注解配置，在@com.alibaba.dubbo.config.annotation.Service的服务类中用@Reference注入另一个服务接口为null。请问这是什么原因？

[2018-12-13 06:48] lemon2004122034 commented on #351
求解决~

[2018-12-13 07:10] edwardlee03 commented on #685
“使用姿势”很重要，功能好坏在于怎么使用。

同机房调用场景下，使用一个注册中心即可，建议优先使用服务分组或服务版本做隔离；跨机房调用场景下，可能需要多个注册中心。

[2018-12-13 07:35] jmjyw opened #2954 "CuratorZookeeperClient的重试次数变成1"
我看之前版本的CuratorZookeeperClient里重试次数是最大的int，现在变成了1，会不会导致断连之后注册不上服务？

[2018-12-13 07:46] edwardlee03 commented on #351
我们在生产环境也遇到这个问题，**现象**是服务提供者耗时就1~2ms，但消费者耗时偶发性的2s超时。最开始通过链路跟踪看到耗时在网络，怀疑是网络重传包引起，TCP监控看到有一些异常但不明显，通过`tcpdump`没发现问题。然后有同事观察到CPU占用偶发性高，与超时时间保持一致，同时观察到下面的异常日志每天有1.5w上下。

* dubbo-2.5.8
* org.jboss.netty:netty-3.2.5.Final

完整的异常日志：
[code]

从异常日志看到是Dubbo消费者的Netty客户端工作者线程(`New I/O client worker`，`NioWorker`)在反序列化时一直找不到某个类型(`ClassNotFoundException: AccountAuthLoginTypeEnum`)，然后不停地加载类引起。修复这个异常后，偶发性超时就没有了。

[2018-12-13 08:03] chenk008 commented on #2165
I use service consumer in RocketMq's consumer，“an unknown class in null” appears

[2018-12-13 08:44] Knight-Wu opened #2955 "dubbo 消费者报错: cannot invoke any more"
你好, 想问下, 这个问题可能的原因是啥, 因为提供者服务正常, 而且消费者重启了仍然报这个错, 异常见截图
![11](https://user-images.githubusercontent.com/20329409/49926356-55d17380-fef6-11e8-92e5-85bb7caf0191.png)

[2018-12-13 08:54] mercyblitz commented on #2949
@meiping05 Did you have set Dubbo config bean's id? like :
[code]

[2018-12-13 09:22] meiping05 commented on #2949
## 配置如下
* application.properties

[code]

 * application-prod.properties

[code]

## Spring Bean ID

* spring bean id 期望为dubbo-provider-demo-dest实际为dubbo-provider-demo

## issue

* 刚看到这个issue已经被merge到master了

[2018-12-13 10:48] cvictory commented on #2881
kryo类型查找会有两种形式，一种是根据类名，一种是根据id和类名的映射。
如果只是根据类名进行映射，不会出现问题，性能稍差；如果想根据id和类名的映射，性能较好，但是id和class的关系，必须保证在server端和client端的顺序一致。
在dubbo中，当你使用optimizer="org.apache.dubbo.benchmark.serialize.SerializationOptimizerImpl"
配置时，就会针对SerializationOptimizerImpl中定义的class开启id和class映射。代码如下：
*```*

public Collection<Class> getSerializableClasses() {
    return Arrays.asList(User.class, Page.class, UserService.class);

[2018-12-13 12:36] mercyblitz commented on #2949
You can also use Dubbo `2.6.5`, it has been resolved.

[2018-12-13 12:36] #2949 closed

[2018-12-14 01:14] wanghui14 opened #2960 "wrong word in dubbo-website"
### Steps to reproduce this issue

1. visit http://dubbo.apache.org/en-us/docs/user/quick-start.html
2. look at the Defining service interfaces section, there is a phrase "The proejct structure should look like this:",the "proejct" is wrong word.

### Expected Result

"project"

### Actual Result

"proejct"

[2018-12-14 01:45] satansk commented on #2960
You can send a PR to fix this.

[2018-12-14 01:47] zhaixiaoxiang commented on #619
Hi,
This demo can recur this issue: https://github.com/zhaixiaoxiang/dubbo-examples/tree/master/hessian-npe-demo.
And this is my analysis for this issue: https://www.yuque.com/fa902k/id5z6r/sr041v

[2018-12-14 02:38] ralf0131 commented on #2960
Please send pull request to https://github.com/apache/incubator-dubbo-website

[2018-12-14 02:46] Mr-GaoSai opened #2961 "动态配置覆盖规则 收敛配置建议"
### 背景
1. admin运维管理平台 可以配置各种规则，但是规则尚未收敛，只是说明了一些应用场景，建议文档完善

### 建议
1. 新增一篇解释override协议的单独wiki
2. 新增一篇override可配置key的单独wiki，建立表达方式为表格，包含这几列：key，取值范围，默认值，描述，应用场景链接

[2018-12-14 03:09] tswstarplanet commented on #2952
不好意思，有个地方看不懂。请问既然kill pid之后provider优雅停机了，那为什么30秒之后provider又会返回结果给客户端呢？能解答一下吗

[2018-12-14 04:49] Knight-Wu commented on #2955
指的报错的应用的日志吗，都是些业务日志呢，还是要应用启动的日志？

[2018-12-14 04:51] carryxyh commented on #2769
@khanimteyaz
Sorry about that. I didn't notice your comment.
Now, we can config like this:
[code]

But in my debug, the connections config will not effect.
In my opinion, this setting is meaningless. Because the meaning of connections is to set the number of tcp channels, and for dubbo, an invoker corresponds to a service. We can only control the number of tcp links managed by an invoker, not the

[2018-12-14 06:36] goal578 commented on #2937
升级jdk和dubbo版本无关，导致起不来是spring的版本问题

[2018-12-14 06:46] JackESong commented on #2937
我这边SpringMVC项目接入Dubbo框架，Spring版本用的4.3.21,Dubbo版本从2.5.3升级到2.6.5，如果Dubbo版本用2.6.4，SpringMVC项目也会有报错。是一个Spring bean版本的问题，导致程序启动不起来。

[2018-12-14 06:50] goal578 commented on #2937
我现在dubbo直接使用原来的2.5.3，jdk升级到1.8，spring-core升级到4.3.1.RELEASE，现在正常了；现在准备把dubbo升级到2.6.5

[2018-12-14 06:54] JackESong commented on #2937
恩，我也正在体验Dubbo最新版本中

[2018-12-14 07:44] #1637 closed

[2018-12-14 08:10] goal578 commented on #2937
增加这两个包：
  <dependency>
		  <groupId>io.netty</groupId>
		  <artifactId>netty-all</artifactId>
		  <version>4.1.32.Final</version>
	  </dependency>
	  <dependency>
		  <groupId>org.apache.curator</groupId>
		  <artifactId>curator-recipes</artifactId>
		  <version>4.0.1</version>
	  </dependency>
但是会报：

[2018-12-14 08:13] JackESong commented on #2937
IP地址被占用了，换个地址，重启看看

[2018-12-14 08:15] goal578 commented on #2937
应该2.6.5的版本有一个netty服务，都是用22222端口，需要在什么地方禁用一下

[2018-12-14 08:17] chickenlj commented on #2910
@byronzoz Hope it can be released in the next 2-3 weeks, mainly regarding these two aspects:
* Listen to voices from the community.
* Leave time for fully code review and test coverage.

[2018-12-14 08:20] JackESong commented on #2937
你看看这篇文章 是不是能解决你的问题 https://blog.csdn.net/u013202238/article/details/81432784

[2018-12-14 08:34] cvictory commented on #2886
In dubbo 2.7， we need  metadata store that key-value store is important .  such as redis .

[2018-12-14 10:06] hjq2016 commented on #2952
kill pid 是开始优雅停机。等待正在跑的线程结束。

[2018-12-14 13:42] Knight-Wu commented on #2955
你好，是需要提供什么类型的日志呢

[2018-12-14 17:31] tswstarplanet commented on #2955
就是异常的日志，还有把jdk版本，dubbo版本这些环境信息也说一下

[2018-12-14 20:39] khanimteyaz commented on #2935
I have raised the PR for the dubbo-rpc-api filter package java class documentation
PR link for the same is
https://github.com/apache/incubator-dubbo/pull/2967

[2018-12-14 20:44] khanimteyaz commented on #2884
Hi All,
  I have raised the PR <https://github.com/apache/incubator-dubbo/pull/2967>for
issue id 2935 <https://github.com/apache/incubator-dubbo/issues/2935> (adding
dubbo-rpc-api) documentation for filter package. Please review my PR.

https://github.com/apache/incubator-dubbo/pull/2967

Thanks in advance.

On Tue, Dec 11, 2018 at 3:25 PM Huxing Zhang <notifications@github.com>
wrote:

[2018-12-15 10:20] devYun commented on #1012
* 组织：顺丰科技
* 地点：中国深圳
* 场景：微服务架构

[2018-12-15 13:38] CrazyHZM opened #2968 "inWrappedChannelHandler.java"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-12-15 13:38] #2968 closed

[2018-12-15 13:39] CrazyHZM opened #2969 "what‘s"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-12-15 13:39] #2969 closed

[2018-12-15 13:42] CrazyHZM opened #2970 "what's design intent of 'SHARED_EXECUTOR' Attribute in WrappedChannelHandler.java"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-12-15 15:41] edwardlee03 commented on #619
我确实只列出了关键点，但你的文章很棒👍，非常细致完整地分析。你的第`5`步之后，我就没再代码走读下去。

[2018-12-16 03:07] notlate opened #2971 "基于zk的注册中心，如果provider在z'k"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-12-16 03:08] notlate opened #2972 "基于zk的注册中心，如果provider在zk上面丢失，那么provider无法感知、consumer无法消费，导致服务不可用"
在生产环境，突然发现consumer调用provider的时候 报错forbidden。
去zk路径上面查看，发现provider在zk的/dubbo/provder-interfacename上面丢失了。
怀疑跟zk机制有关，所以能否让provider也定时检测自己是否在zk上面存活

我自己在测试环境做实验，发现手动通过zkCli.sh删除zk路径上的provider，provider无动于衷，因为provider只监听configures目录的事件。
另外consumer会监听自己消费的provider路径事件，provider丢失以后，consumer将会无法调用到consumer

zk本身属于三方组件，我理解dubbo应该增加对于zk的容错机制，不能完全依赖zk的watch事件

### Environment

* Dubbo version: 2.6.5
* Operati

[2018-12-16 03:19] #2971 closed

[2018-12-16 07:13] tswstarplanet commented on #2972
provider定时检测在zk是否存活，发现挂了就重新注册？

[2018-12-16 07:31] notlate commented on #2954
只要failedRegistered里面不为空，那么在retry方法里面就会一直不断的重试注册，直到failedRegistered里面没有内容

[2018-12-16 08:47] leihuazhe opened #2973 "CallbackServiceCodec.referOrdestroyCallbackService method should be Camel-Case"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: master
* Operating System version: mac
* Java version: 1.8

### S

[2018-12-16 08:56] leihuazhe commented on #2973
I just fix it ,and make a pull request number #2974

[2018-12-16 09:01] notlate commented on #2972
这个提交 不知是否可以解决这个：
https://github.com/apache/incubator-dubbo/pull/2975

[2018-12-16 12:10] shiyangsheng opened #2977 "DubboCodec re-implements Codec2"
### Environment

* Dubbo version: 2.7.0-SNAPSHOT
* Operating System version: xxx
* Java version: xxx

### Steps to reproduce this issue

DubboCodec extends from ExchangeCodec, which already implements codec2, but DubboCodec still re-implements codec2, and it makes me confused. Is this designed specifically？

[2018-12-16 12:47] lixiaojiee commented on #2972
the provider’s url has a parameter called ‘enabled’, After this parameter is stetted to false, and the registry will notify the client. When the client resolves the url, it will filter out the url with this property, so as to disable the service

provider的url里面有一个属性enabled，默认情况下为true，可以设置enabled=false，设置过后，注册中心会通知客户端，客户端在解析该url的时候就会把具有该属性的url过滤掉,这样就可以达到禁用服务的目的

[2018-12-16 14:01] wuhulala commented on #2955
consumer  是在做单元测试吗？

[2018-12-17 02:37] zonghaishang opened #2980 "Remove check rule CustomImportOrder"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: mac
* Java version: 1.8

[code]

[2018-12-17 02:41] leihuazhe commented on #2973
I take a pull request for it again which is #2979

[2018-12-17 02:41] cadeeper opened #2981 "dubbo2.6.3 服务提供者中使用泛化调用时，绑定attachments时interface错误"
- [*] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [*] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3
* Operating System version: macos
* Java version: 1.8.0

##

[2018-12-17 06:10] carryxyh commented on #2961
Would u pls send a pr to this?

[2018-12-17 06:13] carryxyh commented on #2954
@jmjyw hi,
pls look at @notlate 's comment.
There has a retry task to do this.

[2018-12-17 06:13] #2954 closed

[2018-12-17 07:14] chickenlj opened #2984 "Code refactoring suggestion for ActivesLimitFilter"
![14_40_00__12_17_2018](https://user-images.githubusercontent.com/18097545/50071839-15cc0280-020e-11e9-8303-7323927e0ec3.jpg)

This is a code snippet comes from `ActivesLimitFilter`, `count` and `RpcStatus` refers to the same instance, the mixed usage of these two ways are quite confusing.

[2018-12-17 07:42] llx206 commented on #2881
@cvictory ，非常感谢你细致的回复。还有两个问题再请教下。
1.不要启用这个优化，也就是不要设置optimizer。
问：不启用优化，相比hessian2序列化协议，kryo的性能如何呢？
2.dubbo代码进行了初步的优化，进行了初步的测试，可以运行
问：针对部分接口维度的优化，新建一个ID和class列表，这个会在dubbo的哪个版本加入呢？

期待你的再次回复，谢谢！！

[2018-12-17 08:30] khanimteyaz commented on #2935
Code merged to master.

[2018-12-17 08:30] #2935 closed

[2018-12-17 08:51] carryxyh commented on #2970
the SHARED_EXECUTOR is a static field.

You can find out where this method is being used:
WrappedChannelHandler#getExecutorService

You can find out where this method is being used. If the user-configured executor does not exist, we will use this executor to handle the event. Maybe this is the meaning of sharing.

[2018-12-17 08:58] fuhongwei041 opened #2985 "config item in application-qa.properties cannot override config item in application.properties"
### Environment

* Dubbo version: 2.6.4
* Operating System version: linux
* Java version: 8
* Starter:0.1.1

### Steps to reproduce this issue

1. default config application.properties
2. add config application-qa.properties
3. java -jar xx.jar --spring.profiles.active=qa

config item in application-qa.properties cannot override config item in application.properties

[2018-12-17 09:00] carryxyh commented on #2981
Hi, can u provide a demo to reproduce this problem?
I'd like take a look.

[2018-12-17 09:11] CrazyHZM commented on #2970
I agree with this point of view, but I think we  should create a thread pool while the user-configured executor does not exist, instead of treating it as a static variable.

[2018-12-17 11:13] #2752 closed

[2018-12-17 11:42] tswstarplanet commented on #2952
不好意思，这块我不太熟悉，再请教一下。kill pid是直接杀进程吧？杀进程来优雅停机？是通过线程钩子实现的吗？

[2018-12-17 12:56] ted005 commented on #2869
helps a lot.

[2018-12-17 12:57] khanimteyaz commented on #2769
@carryxyh thanks for caring and explaining it. Based on the input provided by you, I am with you to have it on the service level, instead of method level.
One more question, is this applicable to client-side or provider side or both?

[2018-12-17 13:06] ted005 commented on #875
`@Bean
    public ProtocolConfig protocolConfig() {
        ProtocolConfig protocolConfig = new ProtocolConfig();
        protocolConfig.setPort(20880);
        protocolConfig.setName("dubbo");
        return protocolConfig;
    }`

[2018-12-17 13:10] notlate commented on #2112
你这里所说的自定义，其实generic泛型服务可以做到自定义servicename，提供者跟sericename、methodname完全解耦，自定义实现，具体可以查看generic的使用例子。@wenweihu86

[2018-12-17 14:20] gMan1990 commented on #2855
@tswstarplanet

 你先看下这个是不是两处调用，每处调用debug下，看是否和我说的一样：

然后执行invoke方法，看那个bean字段是否为null

[2018-12-17 14:30] khanimteyaz commented on #2918
@majinkai
Thanks for sharing the samples.

[2018-12-18 01:15] leihuazhe commented on #2973
just fixed by  #2979 , already merge to master ,so close this issues

[2018-12-18 01:15] #2973 closed

[2018-12-18 01:30] Knight-Wu commented on #2955
@tswstarplanet jdk: 1.7.60, dubbo版本: 2.5.4, 但是在原生dubbo 上面做了一些集群容错的改动,只是新增了一些实现类和插件, 并没有改动dubbo 的代码,

[2018-12-18 01:31] Knight-Wu commented on #2955
@tswstarplanet 这个问题有遇到过吗, 想问下你们的思路, 有可能是什么触发了 destroy 的方法, 导致consumer 认为服务已经不可用了

[2018-12-18 01:33] Knight-Wu commented on #2955
@tswstarplanet 上面那个就是完整的异常栈了, 其他都是应用日志, 你是想看什么样的信息

[2018-12-18 02:11] zhizhi555555 opened #2986 "dubbo最佳实践问题关于dubbo入参需不需要校验"
dubbo最佳实践中，没有关于dubbo服务的接口的入参校验。
我认为必要的服务提供方对入参是空的校验还是必须的，不然联调过程很不方便。
你们认为呢？

[2018-12-18 02:21] mercyblitz opened #2987 "[Bug] Error logging level in ServiceAnnotationBeanPostProcessor"
### Environment

* Dubbo version: `2.5.6`
* Operating System version: any
* Java version: 1.6+

The related issue: https://github.com/apache/incubator-dubbo-spring-boot-project/issues/329

Code snatch:

[code]

[2018-12-18 02:29] wangweiufofly opened #2988 "[Dubbo - telnet] Unrecognized the other provider"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

## Environment
- Dubbo version: 2.7.0+
- Operating System version: mac
- Java version: 1.8
## Steps

[2018-12-18 02:55] jasonjoo2010 commented on #2988
Where is DemoAService?

Is there some mistakes in code displayed?

[2018-12-18 02:56] jasonjoo2010 commented on #2988
Oh, I see, haha

So shall we merge the same interface or separate them?

[2018-12-18 02:59] denglt opened #2989 "dubbo support provider async? (dubbo目前支持provider异步吗?)"
dubbo目前支持provider异步吗?  像spring  的异步mvc。
或者未来考虑支持provider异步处理

[2018-12-18 03:01] carryxyh commented on #2988
Personally think we should separate them.
:)

[2018-12-18 03:04] carryxyh commented on #2989
provider在2.7.0-SNAPSHOT上已经支持异步。
异步的方式类似servlet 3.0.
http://dubbo.apache.org/zh-cn/blog/dubbo-new-async.html

[2018-12-18 03:05] wangweiufofly commented on #2988
Can we differentiate multiple implementations of interfaces when LS commands, add group information, and facilitate the next invoke operation?

[2018-12-18 03:09] carryxyh commented on #2988
@wangchangbing
Seems like we haven't supported this.

[2018-12-18 03:12] jasonjoo2010 commented on #2988
Or we just implement a Round Robin like selecting by merging them together?
It looks more simple

[2018-12-18 03:18] carryxyh commented on #2988
Emm..  Not a good way.
Round Robin is to load balancing. In dubbo invoke, we need precise control. This is two cases.

[2018-12-18 03:35] limingwei opened #2990 "Dubbo Service 的方法名不允许有下划线等字符，此限制是否必要"
![qq 20181218113326](https://user-images.githubusercontent.com/1704535/50130515-f9d16b00-02b8-11e9-9a15-e8445beb1ac8.png)
![qq 20181218113403](https://user-images.githubusercontent.com/1704535/50130516-f9d16b00-02b8-11e9-988d-86250350a1e3.png)

[2018-12-18 03:45] CrazyHZM commented on #2970
Each url corresponds to a WrappedChannelHandler instance, that is to say, each WrappedChannelHandler has a static constant SHARED_EXECUTOR.
I think this does not play a role, also if the user does not configure I create a thread pool in the constructor , at least it can be ruled out that the user has configured to use this static constant.

[2018-12-18 04:19] jasonjoo2010 commented on #2988
So..... We will expose them as the implemented class name? Or just these multiple implemented interfaces?

[2018-12-18 04:38] carryxyh commented on #2988
@jasonjoo2010
Maybe we can discuss on mailing list. Would u pls reply the mail for some ideas?

[2018-12-18 04:41] carryxyh opened #2991 "Enhance the java doc of dubbo-cluster module"
Enhance the java doc of dubbo-cluster module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:42] carryxyh opened #2992 "Enhance the java doc of dubbo-common module."
Enhance the java doc of dubbo-common module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:43] carryxyh opened #2993 "Enhance the java doc of dubbo-config module."
Enhance the java doc of dubbo-config module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:44] carryxyh opened #2994 "Enhance the java doc of dubbo-container module."
Enhance the java doc of dubbo-container module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:44] carryxyh opened #2995 "Enhance the java doc of dubbo-filter module."
Enhance the java doc of dubbo-filter module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:45] carryxyh opened #2996 "Enhance the java doc of dubbo-metrics module."
Enhance the java doc of dubbo-metrics module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:45] carryxyh opened #2997 "Enhance the java doc of dubbo-monitor module."
Enhance the java doc of dubbo-monitor module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:46] carryxyh opened #2998 "Enhance the java doc of dubbo-plugin module."
Enhance the java doc of dubbo-plugin module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:46] carryxyh opened #2999 "Enhance the java doc of dubbo-registry module."
Enhance the java doc of dubbo-registry module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:47] carryxyh opened #3000 "Enhance the java doc of dubbo-remoting module."
Enhance the java doc of dubbo-remoting module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:47] carryxyh opened #3001 "Enhance the java doc of dubbo-rpc module."
Enhance the java doc of dubbo-rpc module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:48] carryxyh opened #3002 "Enhance the java doc of dubbo-serialization module."
Enhance the java doc of dubbo-serialization module.

Related project: https://github.com/apache/incubator-dubbo/projects/2

[2018-12-18 04:51] carryxyh commented on #2995
related pr:
https://github.com/apache/incubator-dubbo/pull/2921

[2018-12-18 04:51] #2995 closed

[2018-12-18 06:17] carryxyh commented on #2970
Sometimes we can design a new dispatcher and server.
In this cases, maybe we should use the shared executor.

[2018-12-18 06:17] #2970 closed

[2018-12-18 06:19] carryxyh commented on #3002
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:19] carryxyh commented on #3001
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #3000
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #2999
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #2998
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #2997
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #2994
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #2993
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:20] carryxyh commented on #2992
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:21] carryxyh commented on #2991
https://github.com/apache/incubator-dubbo/issues/2884

[2018-12-18 06:39] carryxyh commented on #3002
Ok, looking forward to your pull request.
:)

[2018-12-18 06:50] khanimteyaz commented on #2988
A questions ::
- As adding group here, indicate multiple implementation support of a service which is exposed. How the consumer will discover which one to use?
    1. Is consumer developer will know about groups at the time of  writing it? Or some one else by understanding implementation details and available groups can choose which one to use?

Few improvements which I am guessing can be possible

[2018-12-18 07:17] jasonjoo2010 commented on #2988
Here what we talked about is only Telnet handler and will not effect normal RPC requests

[2018-12-18 07:35] Leishunyu commented on #2999
I am learning this piece recently, I will gradually improve this comment.

[2018-12-18 07:44] carryxyh commented on #2999
Nice work.
Looking forward to it.

[2018-12-18 07:44] beiwei30 commented on #2988
@jasonjoo2010 I will give it a try.

[2018-12-18 07:48] carryxyh commented on #2842
Hi, @beiwei30
I can't reproduce this on my mac.
I use this command: mvn clean install -Prelease -Dmaven.test.skip=true (before this, I have remove the maven-gpg-plugin).

After doing install, the spi file in dubbo-all/target/ looks nice...

[2018-12-18 08:57] #2249 closed

[2018-12-18 09:28] Leishunyu commented on #2999
you are good boy

[2018-12-18 09:39] khanimteyaz commented on #2988
@jasonjoo2010 thanks for your reply and correcting me.

[2018-12-18 09:43] wangweiufofly commented on #3001
I will try to enhance the java doc for the dubbo-rpc-api sub-module

[2018-12-18 09:45] carryxyh commented on #3001
@wangchangbing sure, looking forward to your contribution!

[2018-12-18 09:45] jasonjoo2010 commented on #2988
:)

[2018-12-18 09:52] wangweiufofly commented on #2988
thanks

[2018-12-18 09:58] LiZhenNet commented on #2988
How about this.

[2018-12-18 10:15] khanimteyaz commented on #2918
@majinkai
I run the examples mentioned in the
[1](https://github.com/nzomkxia/dubbo-demo)
[2](https://github.com/apache/incubator-dubbo-ops/tree/service-test)

I did not any error, for your refrenece I am pasting provider, consumer and admin log

Provider:DubboProviderApplication
....
2018-12-18 15:17:49,538 [main] INFO  org.apache.dubbo.remoting.transport.AbstractServer (AbstractServer.java:65) -

[2018-12-18 10:16] jasonjoo2010 commented on #2988
I think we should keep backwards compatibility.

So if no multiple implementation it should not change the gramma or formats.
Maybe it would changed when meet multiple implementation, eg:

[code]

Surely there is no extra info including version, group and etc. only work for multiple implementation.

[2018-12-18 10:30] ctonb opened #3005 "2.6.2版本的filter"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step

[2018-12-18 10:30] ctonb opened #3006 "2.6.2版本的filter文件名问题"
使用org.apache.dubbo.rpc.Filter文件名（在META-INF/dubbo目录下）会导致filter extension的错误，使用com.alibaba.dubbo.rpc.Filter作为文件名is Ok

[2018-12-18 10:34] ctonb commented on #3006
使用org.apache.dubbo.rpc.Filter文件名（在META-INF/dubbo目录下）会导致filter extension的错误，使用com.alibaba.dubbo.rpc.Filter作为文件名is Ok

[2018-12-18 10:35] #3005 closed

[2018-12-18 10:48] ascrutae commented on #2830
Ref #2064

[2018-12-18 11:10] carryxyh commented on #3006
Absolutely
only the code in master has the package name of com.apache.dubbo which is not release yet.

[2018-12-18 11:10] #3006 closed

[2018-12-18 11:46] cadeeper commented on #2981
不好意思，之后上传demo，目前我查到的原因如下：
AbstractInvoker.java
![image](https://user-images.githubusercontent.com/5336857/50152042-86058180-02fd-11e9-8f6c-6cbcc70b5d4d.png)

[2018-12-18 12:20] carryxyh commented on #2981
Seems like this problem will occur whether use thrift protocol or dubbo protocol right ?
Pls send a simple demo that can reproduce this problem.

[2018-12-18 12:53] lixiaojiee commented on #1702
the part 5/6 ，please assign to me,I'm doing this

[2018-12-18 12:57] lixiaojiee commented on #2993
I can do this module

[2018-12-18 13:21] carryxyh commented on #2993
Ok, looking forward to your contribution.

[2018-12-18 18:20] khanimteyaz opened #3011 "Added UT for ActiveLimitFilter and GenericFilter"
Added UT for

1. ActiveLimitFilter
2. GenericFilter

[2018-12-19 02:11] carryxyh commented on #3011
Nice work, I saw that u have submit a pr. I will take a look.

[2018-12-19 02:13] carryxyh commented on #2991
Seems like I can't assign to u because u are not a committer or a PMC.
I can't find u at the assignees list.
But u can direct do this and send pr. I will take a look. :)

[2018-12-19 02:31] lexburner commented on #2882
@carryxyh do you mean that the LongObjectHashMap is `io.netty.util.collection.LongObjectHashMap<V>`? I just take a look at the usage of dubbo existing code, the Map<Long, Object> almost are `java.util.concurrent.ConcurrentHashMap`，but the LongObjectHashMap is not *Thread Safe* . How do think about it ?

[2018-12-19 02:46] carryxyh commented on #2882
@lexburner
I think we should have a benchmark about the sync long object map and concurrent map.
Personally think the concurrent map is better, but we should have a benchmark about this two cases.
The person who claimed this task will go to the benchmark, we have already passed the mail.

Another thing, maybe my description is problematic, we are going to replace longobjectmap and other maps such

[2018-12-19 03:13] cadeeper commented on #2981
@carryxyh  提供了重现demo：
https://github.com/cadeeper/dubbo-thrift-bug-demo/tree/master

[2018-12-19 03:16] lexburner commented on #2882
LongObjectHashMap and IntObjectHashMap 无论是 netty 的实现还是像 JCtool, hppc 这样实现，据我所知，并不是为了快而诞生的，他们突出的一个特性是相比 HashMap 节约了内存的使用量，并且可能在解决 Hash 冲突方面做了一些优化，

线性探测和链表的方式解决 Hash 冲突其实本质上是一种 trade off，在不同场景下可以说各有优势，但在实际使用场景下，比如 Dubbo，这两者的差距我觉得很难考量，或者请允许我猜测，他们的差距是微乎其微的。我个人建议是负责测试同学不能仅仅评测单机下的 micro-benchmark ，而是要在实际场景中测试两者的差距，包括 qps 和内存使用量，这工作我觉得是很大的。毕竟我们引入了第三方的依赖，需要有足够的数据佐证这样的改动是有意义的，否则，我在 benchmark 之前，会认为这样的 tra

[2018-12-19 03:36] water-coder commented on #2882
@lexburner I think your comments are very direct. At present, the stand-alone test, longObjectMap and hashMap in the number of puts reached a million level, the performance gap is very large, you said the thread safety problem, concurrent performance and memory testing, it is indeed should consider and come up with accurate evidence to support. There are also tests of actual scenes that are more c

[2018-12-19 05:54] liugdxd opened #3012 "The official document has not been updated"
The official document has not been updated

[2018-12-19 06:17] khanimteyaz commented on #3011
@carryxyh  thanks for your care.

[2018-12-19 06:17] khanimteyaz commented on #3011
As the PR for this isuse has been merged, is it ok to close this issue?

[2018-12-19 06:20] khanimteyaz commented on #2991
No worries, I mark myself in this issue in comment secntion, so that we can avoid double spend.

[2018-12-19 06:20] khanimteyaz commented on #2991
@khanimteyaz working on it.

[2018-12-19 07:18] smallAttr opened #3014 "applcation.yml multi profile"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: Mac 10.14
* Java version: 1.8.0

[2018-12-19 08:45] carryxyh commented on #3012
Can u give some details?

[2018-12-19 08:46] carryxyh commented on #3011
@khanimteyaz  Yep. I'd like do this.
Thanks for your contribution!

[2018-12-19 08:46] #3011 closed

[2018-12-19 08:48] carryxyh commented on #2986
最佳实践指的是如何使用dubbo。我个人认为参数校验不是dubbo的最佳实践，而是编码规范的最佳实践。理论上任何方法都需要做参数校验。

Best practice refers to how to use dubbo. I personally think that parameter validation is not a best practice for dubbo, but a best practice for coding specifications.
In theory, any method needs to do parameter verification.

[2018-12-19 08:50] carryxyh commented on #2981
@cadeeper
Ok, I'd like have a look.

[2018-12-19 09:09] carryxyh commented on #2981
Hello, I don't know about the thrift protocol. I can try to reproduce this problem myself.

1. Consumer invoke interface1
2. in interface1's impl, generic invoke interface2

In this case, the generic invoke will actually call a wrong interface (interface1). Is this what it looks like?

[2018-12-19 10:18] ghsau commented on #351
嗯，就是这样解决

[2018-12-19 10:32] #1693 closed

[2018-12-19 10:58] carryxyh commented on #2981
There is a problem.
Thx for your issue, I will fix it soon.

[2018-12-19 12:42] wy545 commented on #2952
kill pid只是发一个通知，不会强杀进程的，dubbo的优雅停机也是依据钩子实现的。这个问题确实回出现的。。。不知道开发者大神们怎么解决，还是说只能业务上进行控制了

[2018-12-19 13:33] edwardlee03 commented on #351
[握手] 既然问题根源已找到，这个Issue就关闭了吧 @ghsau

[2018-12-19 13:36] edwardlee03 commented on #619
这个问题根源已查明，请官方同学关闭了吧  @chickenlj @beiwei30

[2018-12-19 14:08] LiosWong opened #3019 "dubbo无法找到生产者"
生产者、消费者都已经在注册中心成功注册,报错信息:
com.alibaba.dubbo.rpc.RpcException: Failed to invoke the method compareWithVideoVerify in the service com.xxx.xxx.risk.service.FacePlusPlusService. No provider available for the service com.xx.xxx.risk.service.FacePlusPlusService:1.0.0.0test from registry 192.168.10.6:2181 on the consumer 172.90.14.230 using the dubbo version 2.5.6. Please check if the providers have been

[2018-12-19 15:56] lixiaojiee commented on #3019
please check if the group、version are all consistent

[2018-12-20 01:16] lovepoem commented on #1690
Ok ,It's yours

[2018-12-20 01:43] LiosWong commented on #3019
group、version都是对的。找到问题了，由于生产者部署在docker容器中，消费者连接时需要指定目的地址为0.0.0.0的缺省路由

[2018-12-20 02:04] lixiaojiee commented on #3019
ok

[2018-12-20 02:13] #351 closed

[2018-12-20 03:42] #3019 closed

[2018-12-20 04:02] cadeeper commented on #2981
好的

[2018-12-20 07:56] Dron1sh commented on #2812
PropertySourcesUtils这个类在com.alibaba.spring.util包下，
dubbp-spring-boot-autoconfiguration-starter的RelaxedDubboConfigBinder中
import static com.alibaba.dubbo.config.spring.util.PropertySourcesUtils.getSubProperties;
这个类导入的路径对不上，还是启动不起来
dubbo版本已升级到2.6.5 spring-context-support已经导入版本1.0.2

[2018-12-20 08:07] suhlmsn opened #3022 "status -l 没有返回结果"
status -l 没有返回结果 请问如何处理?
有点服务有结果,有的服务没有结果

[2018-12-20 08:09] suhlmsn commented on #1060
这是处理的总任务数

我的问题是:status -l 没有返回结果

[2018-12-20 08:25] beiwei30 opened #3023 "problem in ActiveLimitFilter"
Quoted from Khan's email sent to dev@dubbo.apache.org:

Hi All,
   I was trying to write UT for ActiveLimitFilter for RuntimeException
scenarion and below is my UT for the same

ActiveLimitFilterTest.java

[code]

Where I am expecting RpcStatus active count before call and after invoke
should be same, irrespective of exceptional handling by ActiveLimitFilter
(e.g. in this case it should be 0). UT

[2018-12-20 08:32] liugdxd commented on #3012
for example
http://dubbo.apache.org/en-us/docs/user/demos/result-cache.html
http://dubbo.apache.org/zh-cn/docs/user/demos/concurrency-control.html
http://dubbo.apache.org/zh-cn/docs/user/demos/routing-rule.html
http://dubbo.apache.org/zh-cn/docs/user/demos/logger-strategy.html
http://dubbo.apache.org/zh-cn/docs/user/demos/service-container.html
...
Hyperlinks inside

[2018-12-20 08:56] khanimteyaz commented on #3022
@suhlmsn could you provide more details about the issue?

[2018-12-20 09:03] jasonjoo2010 opened #3024 "Invocation performance on consumer side turns bad under presure"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3
* Operating System version: Centos 7
* Java version: 1.8

#

[2018-12-20 11:39] 9526xu opened #3025 "The Document about dubbo consumer setting not updated"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3
* Operating System version: xxx
* Java version: xxx

### St

[2018-12-20 11:43] khanimteyaz opened #3026 "AccessLogFilter simple date formate reduce instance creation"
AcceLogFilter message creation and last and current check was performing by each time simple date formate object creation. In this version of code I have use the ThreadLocal for each thread wise to create simple date format object instead of each call.

- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.

[2018-12-20 12:38] beiwei30 opened #3029 "we should switch to netty4 in 2.6.6 and 2.7"
we should use netty4 as default transporter as soon as possible.

[2018-12-20 13:10] liugdxd commented on #3012
http://dubbo.apache.org/zh-cn/docs/dev/principals/general-knowledge.html

[2018-12-20 13:36] khanimteyaz opened #3032 "Readability enhancementfor telnate related changes"
Enhancing readbility as part of remaining stuff from PR https://github.com/apache/incubator-dubbo/pull/3013/files.

- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is n

[2018-12-20 13:38] khanimteyaz commented on #3032
I am on it.

[2018-12-20 19:35] gfj7817 opened #3033 "2.6.5 For input string: "" BUG"
if i have a jar name = test.jar
when java -jar test.jar , this service (test.jar) cannot invoking other Provider（2.6.5）
but java -jar test-2.5.10.jar , this service (test.jar) can invoking other Provider（2.6.5）
because
![655ccadb-f7d2-4a4f-a986-76ad5ad13cf2](https://user-images.githubusercontent.com/33675358/50306763-59a25e80-04d1-11e9-9e8b-9c569b69dc51.png)

please next version fix.

[2018-12-21 00:12] cookieka opened #3034 "Dubbo version: 2.6.4 是否可以升级spring5"
* Dubbo version: 2.6.4
* Java version: 1.8
Dubbo version: 2.6.4 是否可以升级spring5

[2018-12-21 00:42] edwardlee03 commented on #3029
Excellent!
Who use Netty4 in production environment?

[2018-12-21 02:16] carryxyh commented on #3026
Hi, I leave some comments, would u pls check it?
:)

[2018-12-21 02:17] carryxyh commented on #3025
Hi, @9526xu
Would u like send a pull request to fix them?

[2018-12-21 02:35] 9526xu commented on #3025
Yes，I will fix it and send it。 @carryxyh

[2018-12-21 07:21] chickenlj opened #3039 "Should make annotation easier to use in multiple items circumstance."
By default, annotation does not support reading of multi-items for one config type, for example:
[code]

We can open multi config support by add the following annotation
`@EnableDubbo(scanBasePackages = "org.apache.dubbo.samples.annotation.action", multipleConfig = true)`
[code]

Now, the `dubbo.registries.` works fine, but here comes a new problem, `dubbo.application.` can not work with `multiCon

[2018-12-21 07:25] vio-lin opened #3040 "use @Service can not choose one protocol when in version 2.5.10"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: win7
* Java version: 1.8

###

[2018-12-21 07:44] kexianjun commented on #3034
没啥问题吧，我们生产目前dubbo 是 2.6.2 ，spring 5.0.9

[2018-12-21 08:13] chickenlj commented on #2918
Hi,

Problem resolved, please test on dev-metadata branch.
BTW, the code will soon be merged to master branch later.

[2018-12-21 08:13] #2918 closed

[2018-12-21 09:23] MoneyHacker opened #3045 "dubbo config配置简化,与spring集成方式调整"
一 目的
简化，重构现有dubbo 初始化逻辑和与spring 集成繁杂代码
二 设计思路
1.将Dubbo XXXConfig简化为POJO, Dubbo相关配置用初始化完全可以抽象成Bean,交给Spring 完成初始化(后期也可以维护DubboBeanFactory)
2.将Bean 暴露和远程Bean 引入单独为相应的模块SPI,将暴露和引入逻辑抽象成单独类和方法,不应该参杂在Config中
3.废弃DubboBeanDefinitionParser，DubboNamespaceHandler,Dubbo各种配置,本质也是Bean,只是在初始化完成后需要进一步处理,可抽扩展点ServiceExporter，ServiceImporter来实现.所有dubbo配置都可以作为spring bean进行配置
4 部署
应该将Dubbo初始化维在Dubbo内部，后期可设计Dubbo自己的B

[2018-12-21 09:40] khanimteyaz commented on #3026
Thanks, I will.

[2018-12-21 13:39] lovepoem commented on #3012
Would you please send a pr ?

liugdxd <notifications@github.com> 于 2018年12月20日周四 下午9:10写道：

[2018-12-21 14:00] #2988 closed

[2018-12-22 06:48] chickenlj opened #3047 "Annotation can not work with multi-registries circumstances when using Config Center in 2.7.0."
For example, there are two registries configured in remote Config Center:
[code]

If we want to use `registry1` as the registry for one service `DemoService`,  we can easily figure out  how to achieve that without Config Center, that is, explictly specify the registry that should be used in @Service, like this:
[code]
However, it just failed to work, simply because there's no Spring Bean named `re

[2018-12-22 09:15] lovepoem commented on #1048
hi, I will close it now,  we discuss it in https://github.com/dubbo/dubbo-rpc-native-thrift/issues/2

[2018-12-22 09:15] #1048 closed

[2018-12-22 09:33] lovepoem commented on #1080
I think we can discuss it in https://github.com/dubbo/dubbo-rpc-native-thrift , I'll close it now

[2018-12-22 09:33] #1080 closed

[2018-12-23 03:40] tswstarplanet commented on #3047
I will try to fix it

[2018-12-23 05:55] notlate commented on #3029
good idea, in fact, the only work is to change the dependency in pom.xml from netty to nett4, change the constants file, change the default adaptive class in transport

[2018-12-23 07:17] wu-sheng commented on #2830
SkyWalking is providing a patch for avoiding dubbo's bug. We haven't 100% sure why dubbo have this issue, see https://github.com/apache/incubator-skywalking/pull/2064 . @ascrutae You point to dubbo 2064 issue.

This is what we found
1. SkyWalking agent will manipulate the dubbo service class, adding `setSkyWalkingDynamicField` and `getSkyWalkingDynamicField`.
1. Dubbo tries to enhanced the classes

[2018-12-23 12:35] liugdxd commented on #1012
组织：北京思特奇信息技术股份有限公司
地点：中国·北京
联系方式：liu.g.d@foxmail.com
场景：微服务架构、开放平台、业务服务化

[2018-12-23 17:04] khanimteyaz commented on #3047
@chickenlj if you fine then I would like to work on this. do let me know your thought?

[2018-12-24 02:40] wy545 opened #3050 "dubbo exception: no route to host"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

线上dubbo偶尔会抛出异常，异常信息如下：
com.caucho.hessian.client.HessianRuntimeException: java.net.NoRouteToHostExc

[2018-12-24 02:48] suhlmsn commented on #3022
telnet 10.8.0.107 21131 这台服务不能返回结果 (rpc服务都正常)

telnet 另外一台服务能,能返回结果:
dubbo>status -l
+------------+--------+--------------------------------------------------------+
| resource   | status | message                                                |
+------------+--------+--------------------------------------------------------+
| threadpool | OK     | Pool status:OK, max:500, core:500, largest:500,

[2018-12-24 06:35] cvictory commented on #2918
We should deploy the snapshot version.

[2018-12-24 06:35] #2890 closed

[2018-12-24 07:36] Knight-Wu commented on #907
对的, 我这边的环境也碰到了这个问题, 是为了性能考虑吗, 而且貌似不支持自定义配置

[2018-12-24 09:02] qixiaobo commented on #432
me 2

[2018-12-24 09:15] lovepoem opened #3052 "The travis ci of master branch failed"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Steps to reproduce this issue

Now the travis ci of master branch failed
https://api.travis-ci.

[2018-12-24 09:19] #2112 closed

[2018-12-24 11:10] lovepoem commented on #1702
Discussed in  the mail https://lists.apache.org/thread.html/c99c99b7941c71f99c93329a05e8e802f88ccc587ebe1a20aca8d627@%3Cdev.dubbo.apache.org%3E

Now I close it

[2018-12-24 12:09] llx206 commented on #2881
@cvictory 非常感谢你的再次解答。同时，也非常期待你们的新版本能用更快速的方式实现，期待新版本。谢谢！！！

[2018-12-25 03:02] wy545 commented on #3050
可能是网络问题，目前使用的hessian协议，不知道是不是这个原因

[2018-12-25 03:06] carryxyh commented on #2425
Close via https://github.com/apache/incubator-dubbo/pull/2822

[2018-12-25 03:06] #2425 closed

[2018-12-25 07:38] qinliujie opened #3056 "org.apache.dubbo.config.AbstractInterfaceConfig#setRegistry(java.lang.String) does't work"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0

### Steps to reproduce this issue

        ReferenceConfig

[2018-12-25 08:41] kexianjun opened #3057 "qos控制台在windows下界面是乱的"
![image](https://user-images.githubusercontent.com/12162539/50417924-d6cc2b80-0863-11e9-860f-bf9d132db570.png)

[2018-12-25 08:47] CrazyHZM commented on #3057
Which version is used?

[2018-12-25 08:52] kexianjun commented on #3057
we use 2.6.2.And The problem still exists in the latest version

[2018-12-25 09:04] CrazyHZM commented on #3057
Can you tell me what command was used before this happens

[2018-12-25 09:07] carryxyh commented on #3057
I haven't test it on windows. Can u give some ideas? @kexianjun

[2018-12-25 09:12] carryxyh commented on #3050
你们使用的是HessianProtocol吧。
建议如上，先排查一下网络问题吧。

[2018-12-25 10:53] kexianjun commented on #3057
newline character is different between windows and linux(or unix like os).

[2018-12-25 12:02] carryxyh commented on #3032
Since your pr has been merged, I will close this issue.
Thx for your contribution!

[2018-12-25 12:02] #3032 closed

[2018-12-25 12:03] carryxyh commented on #2986
Seems like this issue doesn't have any comments, close it now.

[2018-12-25 12:03] #2986 closed

[2018-12-25 13:50] khanimteyaz opened #3059 "Use the proxy object for InvokeTelnetHandler.java"
Use the proxy object as part of telnet invocation which has been exccluded as part of [3013] (https://github.com/apache/incubator-dubbo/pull/3013)changes
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this

[2018-12-26 03:06] HouZhiHouJue opened #3060 "Handling timeouts and network timeouts separately"
There is a difference between timeout and network timeout. In FailoverClusterInvoker, whether it is timeout or network timeout, it is ignored. If it is a business timeout, then two retry attempts will cause an avalanche effect. In FailfastClusterInvoker, there is no fault tolerance for network timeouts. If it is a network partition, the SLA will inevitably fall. I think the implementation of these

[2018-12-26 07:19] ynshun commented on #1012
组织：重庆软岛科技股份有限公司
地点：中国·重庆
联系方式：ynshun@163.com
场景：微服务架构、开放平台、业务服务化

[2018-12-26 09:27] zhanghongfeng opened #3063 "dubbo泛化调用，入参POJO的某个属性为泛型:(T extend WxMessage)时，POJO转化失败"
**接口信息**
dubbo接口类：.service.WechatFacade
方法：Result<Void> sendMessage(WechatMessage message);
WechatMessage 类型：request.wechat.WechatMessage

**方法入参信息**
WechatMessage属性：
agentId | String | 必填 | 微信应用ID
message | T extend WxMessage | 必填 | 发送内容

**message具体消息对象如下**：
1) 文本消息：TextMessage
request.wechat.TextMessage(只有1个属性：content)
content | String | 必填 | 发送内容

2) 图文消息：NewsMessage
request.wechat.NewsMessage

[2018-12-26 12:44] gMan1990 opened #3068 "[level low] dubbo protocol serialization hessian2 throw TimeoutException, without implements java.io.Serializable"
我记得以前会提示(网上找的):
[code]
现在没有了，v2.6.3~。

[2018-12-26 15:51] CrazyHZM commented on #3063
Can you tell me which version you are using?

[2018-12-27 02:02] caisirius commented on #1012
* 组织：重庆猪八戒网络有限公司
* 地点：中国重庆
* 联系方式：caican@zbj.com
* 场景：多语言体系内部服务化改造

[2018-12-27 02:19] ralf0131 commented on #432
@qixiaobo Could you please provide an example to reproduce this problem?

[2018-12-27 02:43] ralf0131 opened #3069 "java.lang.NumberFormatException: For input string: """
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: Mac OS
* Java version: Java 8

[2018-12-27 02:45] ralf0131 opened #3070 "Duplicate code"
1. org.apache.dubbo.common.utils.ClassHelper#isTypeMatch
2. org.apache.dubbo.config.AbstractConfig#isTypeMatch

The second one is never used, it can be removed.

[2018-12-27 03:41] CrazyHZM commented on #3070
I will submit a pr to remove this duplicate code

[2018-12-27 03:46] ralf0131 opened #3071 "Could not start demo in latest master branch"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: MacOS
* Java version: 11.0.1

#

[2018-12-27 03:48] gMan1990 opened #3072 "dubbo 2.6.2版本中@Service注解的parameters配置BUG"
网文，不是我的: https://blog.csdn.net/xiao_jun_0820/article/details/81218440
我测过2.6.3, 2.6.5也是同样问题，其它新版本不知道

[2018-12-27 04:55] gMan1990 opened #3074 "serialization方式不能自定每个Service，可以每个protocol"
我就问一下，不行就算了~（还有能加上jacksonserialization吗？

---
https://github.com/apache/incubator-dubbo/blob/6ce7b11f982c5f7beb2ac5897fb33d48da357ada/dubbo-remoting/dubbo-remoting-api/src/main/java/com/alibaba/dubbo/remoting/exchange/codec/ExchangeCodec.java#L211
[code]
dubbo-2.6.3，channel.url对应的service和req里对应的service不是同一个，导致对每个Service配置不同的serialization结果还是同一个serialization方式(看channel拿到的是哪个)，```@Reference```里面指定也不

[2018-12-27 07:00] wy545 commented on #3050
网上各种搜了一遍，也有其他网友使用的heassian出现这个问题的。。异常信息如下：
` ERROR c.n.l.k.c.d.t.a.p.TradeProductAdapter  [T:1358299442]  query product config error Exception [productRateRequestVo=ChannelRateRequestVo(channelCode=quhua_kaola, userCreditLevelAlias=A, productCode=quhua_kaola)]
com.caucho.hessian.client.HessianRuntimeException: java.net.NoRouteToHostException: No route to host
        at com.caucho.hessian.client.H

[2018-12-27 09:06] gMan1990 opened #3079 "serialization argument error with kryo , then nothing output~"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.3
* Operating System version: xxx
* Java version: xxx
* netty

[2018-12-27 09:45] Knight-Wu commented on #2955
@wuhulala  就是比如a b c 三台机器提供者, a 机器出现系统异常无法处理请求后, 剔除, 只重试 b c机器, 然后发请求包到a 的业务线程池, 直到a 正常才恢复调用

[2018-12-27 10:06] khanimteyaz opened #3081 "Travis CI build failure in dubbo-metadata-report-zookeeper"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment
Travis CI build environment

* Dubbo version: xxx
* Operating System version: xxx
*

[2018-12-27 11:27] futcity opened #3082 "建议注解可以和XML配置一样，直接注入一个springbean，方便业务服务无改动使用"
### Environment

* Dubbo version: 2.6.X 2.7.X
* Operating System version: mac
* Java version: 1.8

### 情景
#### 我们正常使用
[code]

#### 期望使用
[code]

希望能够用spring的方式去注入对象，目前dubbo通过XML配置是注册到spring的bean，但是@Reference并不是。
想法是加一个PostProcessor去做一次registry一个BeanDefinition

[2018-12-27 12:00] flystar32 opened #3084 "Can Dubbo support aggregation when subscribe service from more than one Registry Server ? for example, ZK and Redis."
### Environment

* Dubbo version: 2.6.2
* Operating System version: Mac OS
* Java version: java8

### Steps to reproduce this issue

1. start a provider A which registry to zookeeper
2. start an other provider B which provide the same service(interface) and  registry to Redis
3. start a consumer which subscribe service from both zookeeper and Redis
4. consumer can only consume the provider A which

[2018-12-27 12:48] qbmiller commented on #2981
we have met the same problem,

[2018-12-27 13:18] hemanshu070 commented on #3033
I I'm new but I think I can fix this if you walk me through the issue.

[2018-12-27 15:52] lovepoem commented on #3052
close via https://github.com/apache/incubator-dubbo/commit/5ea4fa531f9ec5ae446d4cb1ef2417b53712bd46

[2018-12-27 15:52] #3052 closed

[2018-12-27 15:54] lovepoem commented on #3081
Now ci succeed . close via https://github.com/apache/incubator-dubbo/commit/5ea4fa531f9ec5ae446d4cb1ef2417b53712bd46

[2018-12-27 15:54] #3081 closed

[2018-12-27 19:06] khanimteyaz commented on #3071
@ralf0131 are you referring to incubator-dubbo/dubbo-demo/dubbo-demo-provider's Provider example? I just run it and it seems to be working fine ? If this is project you are referring then would you see I am missing something here?

[2018-12-28 03:20] beiwei30 commented on #2701
this is really annoying, people have to remember to include this particular dependency every time when they use spring, in my opinion, it hurts user experience.

[2018-12-28 03:49] beiwei30 commented on #2165
this issue could be caused by missing class, would you mind to share a project to reproduce this issue on your GitHub space? @chenk008 @JoeCao

[2018-12-28 06:58] zhizhi555555 opened #3088 "dubbo文档里面有个单词写错"
dubbo文档中的设计原则->配置设计 文档中，配置加载一块文字描述
一部分用 spring 的 schame 配置加载，一部分从 classpath 扫描 properties 配置加载。用户感觉非常不便，所以在新版本中进行了合并，统一放到 spring 的 schame 配置加载，也增加了配置的灵活性。

其中schame应该改成schema

[2018-12-28 07:15] kevin-wang001 commented on #2311
我觉得，在 loadbalance 里面是不是应该有个协议选择的优先级？优先选择速度快的协议去 invoke
比如：在待选的 invokers 里面同时有 rest 和 dubbo 协议的，优先选择调用 dubbo 协议的

[2018-12-28 07:15] carryxyh commented on #3088
Pls send a pr to fix it. :)

[2018-12-28 07:51] lexburner commented on #3072
@gMan1990

1. 使用 parameter 配置 dubbo 的接口行为，有点 hack 的味道，自然不是 dubbo 推荐的行为，并不能认为是 dubbo 的 bug.
2. 目前注解的配置能力的确不如 xml 那么完备，后续应该会有支持。

可以的话，欢迎你的 pr 来完善方法级别的注解配置。

[2018-12-28 09:33] kevin-wang001 opened #3089 "can dubbo default loadbalance support protocol priority?"
dubbo provider 多协议暴露时，consumer 端能否默认支持按协议优先级来调用？

比如：provider 暴露 rest 和 dubbo 两种协议的服务，consumer 消费，在调用时，如果优先走 dubbo 协议效率会更高。现在是 RandomLoadBalance

[2018-12-28 09:41] carryxyh commented on #3084
I personally think that the use of this method is very limited.
If you have special needs, it is recommended to implement your own registration center.

[2018-12-28 10:54] flystar32 commented on #3084
A project has many applications, and they communication each other via dubbo RPC.
Anyone who want to migration this project's dubbo registration center smoothy will need this feature.
For example, migration registration center from redis to zookeeper without stop the full Project.

[2018-12-28 11:11] carryxyh commented on #3084
I think u can impl a new Registry which will subscribe and registry to multi registration center.

[2018-12-28 12:37] lexburner commented on #3089
`Protocol` and `LoadBalance` are two different layers in Dubbo.

Two different protocols will be exported on different ports, there is no mixed invocation between two protocols. Can you provide more details about your question?

[2018-12-28 12:39] lexburner commented on #3082
I know that there are some RPC frameworks have the configuration as this issue shown. Maybe we should take this style of configuration into consideration.

[2018-12-28 12:42] lexburner commented on #3060
A nice suggestion to me.

[2018-12-28 13:16] chenlushun commented on #3082
这个命名我个人觉得，Reference已经具有Consumer的意思，所以我建议@ReferenceBean是不是更好？

当前呢，可以通过以下方式来实现，可能会稍微麻烦一些
[code]

[2018-12-28 15:18] ralf0131 commented on #3088
please send pull request to: https://github.com/apache/incubator-dubbo-website.

Please change this file: incubator-dubbo-website/docs/zh-cn/dev/principals/configuration.md

[2018-12-28 16:51] khanimteyaz opened #3091 "Dubbo demo consumer is failing"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: xxx
* Java version: xxx

### St

[2018-12-29 01:42] zhizhi555555 commented on #3088
ok, I will try  to fix

[2018-12-29 01:50] ralf0131 commented on #3088
Great, Looking forwarding to your contribution!

[2018-12-29 05:39] CrazyHZM commented on #1917
if there is an exception in the subscription to Redis, when the disconnection is successful, we can think that the Redis connection is broken, we need to re-initiate the subscription, and we need to get the latest data from Redis again. But in JedisPool, no connection monitoring mechanism is provided.
The first attribute is to achieve the effect of connection monitoring.
If my idea is correct, I w

[2018-12-29 06:39] khanimteyaz commented on #3091
This issue has been fixed. Closing.

https://github.com/apache/incubator-dubbo/pull/3092

[2018-12-29 06:39] #3091 closed

[2018-12-29 09:08] LaughXP opened #3097 "使用leastactive在provider启动时不会使用预热功能"
使用leastactive, provider启动后, 由于sameWeight=true(weight默认都是100), 导致无法走到以下步骤
[code]
就无法调用getWeight方法进行预热。这是一个bug吗？
dubbo 2.5.9

[2018-12-29 09:10] congcongfu commented on #3097
我也遇到了

[2018-12-29 09:12] careyyu commented on #3097
围观围观

// assert(leastCount > 0)
        if (leastCount == 1) {
            // 如果只有一个最小则直接返回, 大流量场景下   一个provider启动，会不会直接进入到这里呢
            return invokers.get(leastIndexs[0]);
        }
        if (! sameWeight && totalWeight > 0) {

            int offsetWeight = random.nextInt(totalWeight);
            for (int i = 0; i < leastCount; i++) {
                int leastIndex = leastIndexs[i];

[2018-12-29 09:20] #3097 closed

[2018-12-29 10:05] Johnson-Jia opened #3098 "关于 Dubbo web-fragment 配置 "org.springframework.web.context.ContextLoaderListener" 监听器"
请问什么时候修复 web-fragment.xml 配置的Spring 监听器 “org.springframework.web.context.ContextLoaderListener” ， 具体发版日期能提供一下吗？

[2018-12-29 14:00] khanimteyaz opened #3100 "dubbo-config package hard coded value replacement for few java class"
Replace existing hard coded values for dubbo-config below classes

- dubbo-common/src/main/java/org/apache/dubbo/common/Constants.java
- dubbo-config/dubbo-config-api/src/main/java/org/apache/dubbo/config/AbstractConfig.java
- dubbo-config/dubbo-config-api/src/main/java/org/apache/dubbo/config/AbstractInterfaceConfig.java
- dubbo-config/dubbo-config-api/src/main/java/org/apache/dubbo/config/Abstra

[2018-12-29 14:00] khanimteyaz commented on #3100
on it.

[2018-12-30 04:13] edwardlee03 commented on #2870
组织：挖财网络技术有限公司
地点：中国浙江杭州
联系方式：bert825_work@163.com
场景：服务管控与治理，单元化改造，动态链路/环境隔离
调用量：10亿级别

[2018-12-30 05:53] zonghaishang commented on #3063
@zhanghongfeng try pass argument:

if content equals TextMessage:
[code]

if content equals NewsMessage:

[code]

[2018-12-30 06:09] zonghaishang commented on #3084
@flystar32
1.  dubbo支持多注册，多消费
可以将你们的Provider为每个注册中心都注册一份数据，消费方消费多个注册中心服务，目前dubbo是按照配置注册中心的循序进行消费，比如是配置了redis, zk注册中心，优先消费redis服务，如果redis没有服务会自动去消费zk服务

2. 这个和注册中心实现没有关系, 有2中方法可以支持你的需求：
a. org.apache.dubbo.config.ReferenceConfig#createProxy
AvailableCluster 默认是根据配置循序消费注册中心数据

b. 你可以实现一个路由Router，多个注册中心在运行时动态决定消费哪个注册中心服务

[2018-12-30 06:16] zonghaishang commented on #3082
只是使用方式问题，自己可以封装一个Bean, 里面持有reference字段就好了

[2018-12-30 06:17] #3082 closed, assigned to nobody

[2018-12-30 06:18] #3068 closed

[2018-12-30 06:20] zonghaishang commented on #3056
@qinliujie  chickenlj is right.

[2018-12-30 06:20] #3056 closed

[2018-12-30 06:36] zonghaishang commented on #3100
merged, close it now.

[2018-12-30 06:36] #3100 closed

[2018-12-30 06:39] zonghaishang commented on #3089
@kevin-wang001
<dubbo:reference protocol="dubbo" ../>
or

`@Reference(protocol = { "dubbo" }, ...)`

[2018-12-30 06:40] zonghaishang commented on #3089
@kevin-wang001
If this does not solve your problem, you can extend the implementation of a route yourself, giving priority to the dubbo protocol.

[2018-12-30 06:46] zonghaishang commented on #3074
@gMan1990 抱歉，没看懂你的提问

针对接口级别设置序列化协议：

![image](https://user-images.githubusercontent.com/15549777/50544975-6a757180-0c41-11e9-9d28-dc5fbd990114.png)

针对协议级别设置序列化协议：

![image](https://user-images.githubusercontent.com/15549777/50544981-7f520500-0c41-11e9-85bc-170fc7524c93.png)

针对应用全局设置序列化协议：

![image](https://user-images.githubusercontent.com/15549777/50544986-9f81c400-0c41-11e9-89e5-5c2d36401cbb.

[2018-12-30 06:48] zonghaishang commented on #3034
@cookieka 建议升级后回归测试，目前dubbo没有升级到5.x的spring, 除非spring自己不兼容， 目前使用spring 4.x版本不低，应该没问题的

[2018-12-30 06:48] #3034 closed

[2018-12-30 07:52] lixiaojiee commented on #1690
The unit test under this issue are all finished, if there's no problem, please close this issue. @lovepoem

[2018-12-30 10:18] #1690 closed

[2018-12-30 16:10] gMan1990 commented on #3074
sorry, 我的锅~

---
Q1: dubbo-2.6.3
1. 提供者和消费者不在同一个jvm里，或者强制指定scope="remote"
2. 提供者里为2个service指定不同的```serialization```
3. 消费者里断点到下面这个方法里: ```serialization = getSerialization(channel);```
https://github.com/apache/incubator-dubbo/blob/6ce7b11f982c5f7beb2ac5897fb33d48da357ada/dubbo-remoting/dubbo-remoting-api/src/main/java/com/alibaba/dubbo/remoting/exchange/codec/ExchangeCodec.java#L211
4. 测试Reference

[2018-12-31 03:34] zhizhi555555 commented on #3088
Hi , I have send pull request , #223 on the  https://github.com/apache/incubator-dubbo-website.

[2018-12-31 06:58] jianhao84 opened #3105 "为什么高版本的dubbo对telnet支持不友好了呢?"
经常我们测试dubbo服务是通过telnet测试,最近我在自己写个工具,过程中发现了个问题:
在dubbo接口接收的参数是对象时候,我传json格式参数,测试了3个版本:
版本2.5.3:可以成功测试
版本2.5.6和版本2.6.4:需要在json中增加class属性,值为接收对象的全路径才能测试成功.

所以想问下,能不能恢复成2.5.3?不然每次调用接口还需要把类全路径放到json里,很坑爹啊

[2018-12-31 11:21] kezhenxu94 opened #3106 "Should org.apache.dubbo.registry.support.AbstractRegistry#getRegistered returns unmodifiable sets?"
I notice that the method `org.apache.dubbo.registry.support.AbstractRegistry#getRegistered` just returns the internal reference of `registered`, and everyone can modify this `Set` outside the `Registry`, is this a good practice?

An example is that in `org.apache.dubbo.registry.support.AbstractRegistryTest#testRegister`, there is something like:

[code]

we clear the registered urls outside the `R

[2018-12-31 11:33] zonghaishang commented on #3074
q1:
我的理解，拿到的应该不是同一个service实例，在dubbo最新版本，比如2.6.5& 2.7.0+ 已经修复过一次。低版本拿到的是同一个实例，当时用`@Reference`注解内部使用了cache，导致拿到同一个实例。

q2: jackson serialization?
这个问题是啥？

dubbo 客户端请求会把具体序列化协议flag传给provider，如果遇到具体的问题，麻烦写个demo复现，我们看下。

[2018-12-31 13:38] khanimteyaz commented on #3106
@kezhenxu94 , what you mentioned I am with it. I think we should keep the responsibility of operation on objects e.g. in this case clearing the registry to the owner of registries object AbstractRegistry.java and when ever it returns any mutable member variable it should return copy of it. But having said that we also needs to consider memory footprint/performance of creating clone copy of returne

[2018-12-31 13:50] kezhenxu94 commented on #3106
@khanimteyaz That's my opinion too. What I suggest is to wrap the member variable such as using `Collections.unmodifiableSet`, and this may break something, so it needs investigation and discussion

[2018-12-31 14:48] khanimteyaz opened #3107 "Replace pending dubbo-config-api hard coded value with constant and small refactoring"
Replace pending dubbo-config-api hard coded values with constant and small refactoring to optimize code.
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplic

[2019-01-02 02:19] ralf0131 opened #3111 "Happy new year 2019"
Change `NOTICE` file to embracing the new year:

change

[code]

to

[code]

[2019-01-02 02:55] #3111 closed

[2019-01-02 03:17] kevin-wang001 commented on #3089
Thanks. It works

[2019-01-02 03:17] #3089 closed

[2019-01-02 07:06] khanimteyaz opened #3113 "Add dobbu util support for async callable feature."
Come up with some design and implementation for dubbo util support. The purpose of this enhancement is to provide utility methods which can help dubbo user to use and achieve the better API experience without enforcing service implementation to provide those support while they write service.

e.g.
If consumer of service needs to make a **Future** type of call then instead of service implementation

[2019-01-02 07:07] khanimteyaz commented on #3113
On it.

[2019-01-02 13:06] khanimteyaz commented on #3107
Merged to master.

[2019-01-02 13:06] #3107 closed

[2019-01-02 15:40] zonghaishang commented on #3105
@jianhao84 上传个demo, 我瞅瞅

[2019-01-03 02:55] adeng-wc opened #3117 "Spi adaptive extension document instance code has an error"
[http://dubbo.apache.org/zh-cn/docs/source_code_guide/adaptive-extension.html](url)

[code]

the name is error.

[2019-01-03 03:20] CrazyHZM commented on #3117
thanks, I will modify it .    https://github.com/apache/incubator-dubbo-website/pull/231

[2019-01-03 06:14] code4wt commented on #3117
Thanks for feedback.

[2019-01-03 07:17] qiudaozhang commented on #560
这个问题到底如何解决呢？

[2019-01-03 07:35] ding51137811 commented on #3117
2.2.3.2 获取 URL 数据
[code]

hi, i think the  Comment `if (arg[urlTypeIndex] == null)`  is more reasonable.

[2019-01-03 07:45] code4wt commented on #3117
I think this modification is not reasonable, it will make readers mistakenly think that arg is an array.

[2019-01-03 07:47] khanimteyaz commented on #3023
@beiwei30  I think this one has been fixed already. If yes, then should we close this?

[2019-01-03 07:50] ding51137811 commented on #3117
ok，You are right

[2019-01-03 07:58] #3070 closed

[2019-01-03 08:01] cvictory opened #3123 "Metadata report support xml configuration and Camel naming"
1. support dubbo xml configuration.  including schema and spring support.
2. In dubbo.properties the format of key should be camel
3. multi metadata report support

[2019-01-03 08:06] cvictory opened #3124 "refactor RegistryDataConfig for supporting simplify URL in registry"
1. remove registryDataConfig , and move some configuration into RegistryConfig
2. remove logic : consumer url extra key。（消费者往注册中心写的URL不需要额外的key）
3. camel format support

[2019-01-03 08:28] maochaowu opened #3125 "<Your first Dubbo application> Some descriptions are wrong"
http://dubbo.apache.org/en-us/blog/dubbo-101.html

Run the server
mvn -Djava.net.preferIPv4Stack=true -Dexec.mainClass=com.alibaba.dubbo.samples.server.Application exec:java

Run the client
mvn -Djava.net.preferIPv4Stack=true -Dexec.mainClass=com.alibaba.dubbo.samples.client.Application exec:java

The package name of the class is incorrect

the true is  "org.apache.dubbo.samples.provider.Applicati

[2019-01-03 09:03] ralf0131 commented on #3125
Hi, would you mind send a pull request?

[2019-01-03 09:05] kk580kk commented on #1012
* 组织：上海宝信软件股份有限公司 www.baosight.com
* 地点：上海
* 联系方式：huangjie@baosight.com
* 场景：电商平台、开发平台、企业应用系统

[2019-01-03 14:59] jianhao84 commented on #3105
@zonghaishang
比如有接口com.jianhao84.service.TestService.test(Person person),Person对象有name和age属性:
情况1:dubbo2.5.3版本,传入以下json字符串就行
 {"name":"苍井空","age":18}

情况2:dubbo2.x.x(其他高版本,我也没所有版本都测试,反正就这两种参数方式自己试)需要在json中指定class路径.假设Person类的完整包路径为:com.jianhao84.bean.Person,就需要传入以下json才行
 {"name":"苍井空","age":18,"class":"com.jianhao84.bean.Person"}
为什么高版本的dubbo不能和低版本(比如2.5.3)一样对telnet支持友好点呢?

[2019-01-04 01:42] zhaosongqiang opened #3132 "dubbo:service 配置Stub出错"
在官方文档 Schema配置参考手册中关于dubbo:service 的stub的介绍：“ 设为true，表示使用缺省代理类名，即：接口名 + Local后缀” 与 2.6.5 代码实现不符。还需要注意如果使用缺省代理类名必须与接口在同一个包下。
`if (stub != null) {
            if ("true".equals(stub)) {
                stub = interfaceName + "Stub";
            }
...
`

[2019-01-04 04:05] LiZhenNet commented on #2910
Does it mean that Dubbo has more one dependency(config server)?

[2019-01-04 05:52] #3124 closed

[2019-01-04 06:08] cvictory opened #3137 "[suggestion] Seperate Constants.java into some SubConstants Class"
Currently we manage out constants values in org.apache.dubbo.common.Constants.java.

This class is very bloated and this structure is not well enough.  Maybe we should categorize such constants into groups. In this way , we can add some XxxConstants, such as RegistryConstants,ConfigCenterConstants etc.   It'd be better if it is split by module of dubbo-core.

[2019-01-04 07:41] edwardlee03 commented on #2911
**Tag路由**实现`灰度、环境隔离`等应用场景的基础能力，解决效率与资源利用率问题 👍

[2019-01-04 08:19] LiZhenNet commented on #3105
是这样的，因为Dubbo 把参数转换成FastJson 的JsonObject，JsonObject继承自Map 所以会去取 class 字段进行类型判断。
我看了一下文档，这部分确实没有说明，而且2.5.x 的分支同样有这个问题，这个周末我会尝试修复一下

[2019-01-04 09:05] lnnnogithub opened #3144 "@GroupSequence->The annotation @GroupSequence is disallowed for this location"
The annotation @GroupSequence is disallowed for this location

[2019-01-04 09:09] lnnnogithub commented on #3144
public interface ValidationService {
    @GroupSequence(Update.class) // 同时验证Update组规则
    @interface Save{}
    void save(ValidationParameter parameter);

    @interface Update{}
    void update(ValidationParameter parameter);
}

[2019-01-04 09:24] wangruyu1 opened #3145 "dubbo本地传输3M大小的数据为什么这么慢？"
虽然dubbo不建议大数据,但是我是测试的localhost.
用10个并发,每个并发循环访问20次（其实相当于200个并发）,服务器直接返回3M字符串，不做任何处理,处理时间都需要220ms左右。
相关配置:
producer:
dubbo.service.connections = 100
dubbo.service.protocol=dubbo
consumer:
dubbo.reference.connections = 100
我的疑问:既然我走的localhost,带宽不用考虑吧,但是最终结果耗时还是在数据传输,200多ms.

这个问题哪位大神能解答下，很急（大数据传输无法避免，上线项目需要用到）。谢谢

[2019-01-04 09:51] #3144 closed

[2019-01-04 10:01] lohcve commented on #3098
我也是被这个问题坑了一整天，我从2.6.2升级到2.6.5后，从外部tomcat启动spring boot项目会报错，后来慢慢调试tomcat的源代码才发现多出了一个ContextLoaderListener监听器，dubbo只能用2.6.2的版本，超过这个版本就存在web-fragment.xml 文件，这个文件中配置了一个“org.springframework.web.context.ContextLoaderListener”监听器，导致在外部tomcat中运行spring boot项目时，会执行这个监听器，然后就抛出异常。使用spring boot内嵌tomcat没有问题。

[2019-01-04 12:04] sfyumi commented on #2998
I will work on this.

[2019-01-04 15:13] zonghaishang commented on #3105
@LiZhenNet 按照他的说法为啥2.5.3没有问题

[2019-01-04 15:18] zonghaishang commented on #3105
2.5.3 解码方式：
list = (List<Object>) JSON.parse("[" + args + "]", List.class);

2.7.0解码方式：
list = JSON.parseArray("[" + args + "]", Object.class);

[2019-01-05 07:01] objectboy2016 opened #3147 "注解"
不能将
dubbo:service
dubbo:reference
dubbo:registry
.
.
.
用注解代替吗?  xml看着好像很烦

[2019-01-05 07:19] tswstarplanet commented on #3147
There are already annotation config, you can see:
http://dubbo.apache.org/zh-cn/docs/user/configuration/annotation.html

[2019-01-05 08:11] tswstarplanet commented on #3145
Dubbo suggests that transfering data of large size should use protocols that do not contains dubbo.

[2019-01-05 08:48] tswstarplanet commented on #3145
Dubbo suggests that you can transfer file or data of large size with protocol like hessian or http. You can try it.

[2019-01-05 09:46] tswstarplanet commented on #3145
Dubbo protocol use "single long tcp connection", so it is not fit to transfer file or data of large size.

[2019-01-05 11:09] wangruyu1 commented on #3145
我也看了文档，建议短连接。
但是我现在有个疑问。假如说我对consumer1设置共享的长连接是100，用100个并发请求consumer1的service1，这样100个并发应该是会复用长连接，所以100个并发实际使用到的长连接并没有100个（这个是长连接复用规则导致的吧？源码我不清楚。。。）。所以我想问能不能配置100个并发在请求时循环使用新的长连接？~~~~(>_<)~~~~，还能只能修改源码呢？？？谢谢

[2019-01-05 11:11] wangruyu1 commented on #3147
可以，能像spring注解一样使用，我参考的是https://github.com/apache/incubator-dubbo-spring-boot-project。

[2019-01-05 13:46] ralf0131 commented on #3117
Hi, this issue has been fixed. I am closing it now.

[2019-01-05 13:46] #3117 closed

[2019-01-05 14:44] lovepoem opened #3148 "Upgrade junit to junit 5"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: macos
* Java version: 1.8

###

[2019-01-06 01:43] amishra123 commented on #3148
could i work on this?

[2019-01-06 02:03] lovepoem commented on #3148
@amishra123
Now that I have completed the batch upgrade in  https://github.com/apache/incubator-dubbo/pull/3149 , you can continue to complete some modules with low coverage

[2019-01-06 04:45] zonghaishang commented on #3105
我已经评论了，看下变更：https://github.com/apache/incubator-dubbo/commit/c8337713c66682605700a2072b4edb819f91fd97

[2019-01-06 09:35] gudegg commented on #3145
@wangruyu1 `<dubbo:reference connections="100">`在远程引用的时候就会创建完成，然后请求会轮询这100个连接，代码在DubboInvoker.doInvoke

不是很懂你这句话，你的意思是继续创建新连接吗

[2019-01-06 09:54] wangruyu1 commented on #3145
我的意思是100个并发同时第一次请求时,是不是都是用的这100个长连接（因为出现长连接复用会小于100个）？当101次请求来时才会出现长连接复用。因为我从现在测试判断出100个并发并没有都被用到了，应该是出现了长连接复用。
我现在想实现每个请求都是优先使用100个长连接中没被用到，如果100个都被用到了，那就循环的复用。相当于,for(i=0;i<100;i++) con=cons[i %100]这样获取长连接。
这能不能配置还是只能改源码？

[2019-01-06 11:50] gudegg commented on #3145
目前消费端源码就是这样实现的；
DubboInvoker
[code]
`currentClient = clients[index.getAndIncrement() % clients.length];`已经实现了你所说的复用。

[2019-01-06 12:12] wangruyu1 commented on #3145
恩，谢谢，估计是我配置有问题。

[2019-01-06 15:47] arccode opened #3150 "dubbo针对契约测试有什么优雅的解决方案吗？"
在单元测试和集成测试间增加【契约测试】，如果服务间调用使用dubbo协议，有什么解决方案吗？

[2019-01-07 02:53] lexburner opened #3151 "[Proposal] A proposal to use IdleStateHandler to replace using Timer to send HeartBeat."
Dubbo 在应用层面发送心跳包保证连接的可用性，使用了定时器的设计，在客户端和服务端分别设置一个定时器，发送心跳，当发现连接断开时，客户端负责重连，服务端负责 close。使用定时器并不是一个好的设计，在忙通信时，心跳是不必要的。建议使用 Netty 的 IdleStateHandler，仅仅在检测到空闲连接时发送心跳。

修改建议：
- 使用 IdleStateHandler 代替 Timer 发送心跳
- 关闭 ChannelOption.SO_KEEPALIVE，网络层面的 TCP 断连需要在机器级别设置，默认是 2 小时，几乎没有必要存在，却发出了无必要的 TCP 探测包，仅仅依赖于应用层的心跳来给连接保活即可。
---
Dubbo sends a heartbeat packet at the application level to ensure the availabili

[2019-01-07 02:53] Frankzhaopku opened #3152 "[WeeklyReport] Dubbo Weekly Report 2018-12-31 to 2019-01-07"
# Weekly Report of Dubbo

This is a weekly report of Dubbo. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is a collaborate robot. See: https://github.com/AlibabaDR/Collabobot .

## Repo Overview

| Watch | Star | Fork | Contributors |
|:-----:|:----:|:----:|:----------

[2019-01-07 02:59] carryxyh commented on #3151
[code]

目前在忙通讯的时候确实没有发送心跳包。只是定时检查，不一定定时发送。

[2019-01-07 03:07] lexburner commented on #3151
@chickenlj did you find that the Timer of HeartBeat send may be out of the time set?
@carryxyh I think the IdleStateHandler is a graceful design and the Timer design can use at those Non-Netty cases.

[2019-01-07 03:19] Frankzhaopku opened #3153 "[Discussion] Auto weekly report for dubbo"
I am a developer from Alibaba and I build a GitHub collaborate [robot](https://github.com/AlibabaDR/Collabobot) which is a framework to collaborate with GitHub projects.

Currently, this robot has a component to report weekly status of a repo as a issue, like [this](#3152). This weekly report will summarize the basic data of the repo and overview of merged pull requests, pr reviews and new contrib

[2019-01-07 03:37] lexburner commented on #3151
@kexianjun Do you have some existing cases to describe why dubbo's Timer will out of time at some time? I did receive some feedbacks about Timer HeartBeat, but can't recreate it.

[2019-01-07 03:41] carryxyh commented on #3151
目前是1/4的heartbeat延时，这个已经调整过了。

netty的这个我还没有细看，抽空看下，如果延迟更小，效果更好，同意使用idle。

[2019-01-07 05:02] yuxiao97 opened #3155 "How to disabled qos-server on dubbo version 2.6.0"
* Dubbo version: 2.6.0
Like title, when I disabled qos-server on 2.6.0，but not worked，I use XML config，example:
<dubbo:application name="demo-provider">
    <dubbo:parameter key="qos.enable" value="false"/>
  </dubbo:application>

[2019-01-07 05:12] kexianjun commented on #3155
参数名字换成qos-enable看看

[2019-01-07 05:35] beiwei30 commented on #3105
@LiZhenNet 我也留了言，你看下，检验阶段做太多的反序列化不是太好，我建议没有 class 的时候简单让他通过就好

[2019-01-07 05:56] yuxiao97 commented on #3155
No, can not worked.

[2019-01-07 06:05] CrazyHZM commented on #3155
你试着吧<dubbo:parameter key="qos.enable" value="false"/>配置拿出来，别包裹在<dubbo:application ></dubbo:application>

[2019-01-07 06:10] CrazyHZM commented on #3155
如果还是不行，你可以参考这个issues ＃1545

[2019-01-07 06:34] xcorpio commented on #3105
请问如何在代码中调用 telnet 提供的那些功能呢 @zonghaishang ，必须使用 Telenet 协议吗

[2019-01-07 06:44] LiZhenNet commented on #3105
我回复你了，我感觉这样是有问题的。

[2019-01-07 06:45] LiZhenNet commented on #3105
能具体一点吗？

[2019-01-07 07:13] xcorpio commented on #3105
@LiZhenNet 我在做一个测试 Dubbo 接口的工具，在不知道 Dubbo 服务定义的情况下，通过泛化引用来测试Dubbo的接口，再写泛化调用时需要填写实际实现接口的 class 全路径引用, 方法名, 参数列表的全路径引用 ，http://dubbo.apache.org/zh-cn/docs/user/demos/generic-reference.html

我这个工具希望在不知道具体接口定义的情况下（无jar包）提供出 泛化引用需要的那几个参数，其中通过 ZK 可以获取 Address, Interface, Methods 但是不能获取参数列表引用（这个可以通过 telnet 的 ls 命令获取），所以想知道在已经获得 `ReferenceConfig` 和 `GenericService` 的情况下能不能发送个什么指令（类似Telent 里的 `ls`命令 ）可以获得

[2019-01-07 07:37] LiZhenNet commented on #3105
Telnet 里的 ls命令 也不会返回参数的列表，你已经获取到了ReferenceConfig 你就应该知道调用的Interface ，也就能知道需要的参数。

[2019-01-07 07:42] carryxyh commented on #3151
beiwei在邮件列表上提醒了我们
由于dubbo存在多个通讯框架的支持，最好还是使用相同的方式来进行心跳检测。否则会使得dubbo的代码比较复杂。

我们完全没有必要在代码中加入类似
[code]

另外，由于目前心跳检测的频率已经提高了四倍，1/4心跳周期的延迟我认为完全可以接受 @kexianjun

[2019-01-07 07:46] gudegg commented on #3105
`ls -l XxxService `可以获取到参数

[2019-01-07 07:48] xcorpio commented on #3105
额，不是参数列表，应该是参数的引用类型列表。我测试dubbo接口理论上我是应该知道需要什么参数的，应为做的是一个通用的工具，希望做到可以有智能提示，下拉框选择之类的方便功能可以直接选择参数列表（UI 工具）

[code]
上面 `java.lang.String` 就是参数类型，这块也可能是自定义的 `Model` 类型，我需要的是这个类型信息
泛化引用调用时需要：
如： `com.xxx.Person`
[code]

[2019-01-07 07:51] zonghaishang opened #3158 "[Dubbo - client always reconnect offline provider] Dubbo client bug."
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: mac
* Java version: 1.8

### St

[2019-01-07 07:51] gudegg commented on #3105
目前消费端是获取不到参数类型，都是提供端的校验的

[2019-01-07 07:56] LiZhenNet commented on #3105
@xcorpio  你获取到了 ReferenceConfig   就能获取到接口，通过反射就能拿到想要的参数类型， 建议你单独开一个 issue  来讨论这个问题，我担心这个 issue 会因为本来的问题解决后关掉。

[2019-01-07 08:03] gudegg commented on #3105
能说下哪个方法吗，确实没看到能获取提供接口类型的

[2019-01-07 08:10] lexburner commented on #3151
Hi all
issue 地址在这儿：https://github.com/apache/incubator-dubbo/issues/3151
我已经在 issue 中提到了非 netty 服务器的场景，我提出这个改进的初衷就是针对 netty 而言的。
首先我们需要明确的一点是 dubbo 支持多协议，对于 netty 能够实现的协议，基本都是使用 netty 去实现的，例如 dubbo 协议, 我们认为 netty 是可信赖的，
所以对于使用 netty 实现的协议，加入 IdleStateHandler 是一个优雅的设计。注意 IdleStateHandler 取代的不是心跳，而是取代了触发心跳发送请求的方式，取代的是自定义的 Timer
对于 dubbo 中的其他协议，大部分是短连接的，比如 rmi/hessian/http/rest … 所以我们不需要关心连接保活的问题
其次，

[2019-01-07 08:37] nobodyiam commented on #3153
Looks great!

Is it possible to use this [robot](https://github.com/AlibabaDR/Collabobot) in other github projects?

[2019-01-07 08:39] kexianjun commented on #3151
检查时间间隔在启动以后就是确定的，比如说如下场景：
超时检查时间间隔为5秒，在00秒进行了一次检查，从01秒开始就没有接收到心跳（包括其他数据包），05秒检查，没有超时，10秒才能检测出来，其实在06秒就已经超时了

[2019-01-07 08:42] Frankzhaopku commented on #3153
Of course, this robot is a collaborate framework which provides some basic services and you can use it on any project, I am still working on finish the basic functions and README file to help with quick start.

[2019-01-07 09:10] carryxyh commented on #3151
我说一下我的观点。
首先，timer和心跳完全没关系，timer抽象的定时器，不是心跳。跟心跳有关的抽象是Header层，尤其是HeaderExchangeClient只有一个心跳功能，就是因为有这样一层抽象在，我们才可以不关心底层是netty还是mina，而只需要关心具体实现，我觉得这个设计没有问题，非常棒。

其次，功能层面看，idle也好，timer也好，无非都是定时检查，schedule或者说轮训的，都不怎么优雅，区别是拿到外面还是放到pipeline里面。如果说netty的idle实现更精确的检查，个人认为更好的方式是借鉴它的实现方式。

[2019-01-07 09:21] xcorpio opened #3161 "Telnet 提供命令能否通过代码或泛化调用直接调用而不必通过 Telnet 协议"
## 背景
我在写一个测试 Dubbo 接口的通用工具，基本流程就是  `HTTP/JSON` -> `泛化调用(我实现的工具)` -> `Dubbo Providers`。按照[使用泛化调用](http://dubbo.apache.org/zh-cn/docs/user/demos/generic-reference.html)的文档，这个是可以实现的。

按照 `GenericService` 的定义
[code]
我需要知道 `方法名`, `方法的参数类型列表`, `实参列表`。
目前的假设条件（实际上满足，但我不想依赖这些条件）是：我没有 Dubbo Provider 的接口定义，就是我不知道 `Object $invoke(String method, String[] parameterTypes, Object[] args) ` 里面的 `method` 和 `param

[2019-01-07 09:23] xcorpio commented on #3105
@LiZhenNet 移到这了， https://github.com/apache/incubator-dubbo/issues/3161  ， 应该不能通过反射拿到

[2019-01-07 09:40] xcorpio opened #3163 "CompletableFuture<T> support for GenericService."
泛化调用中
[code]
这里可不可以异步调用返回个Future。我的工具实现会有多个 `ReferenceConfig` 缓存，我可以单独再用一个线程池来作为 `$invoke` 的执行上下文。但每个 `ReferenceConfig` 好像都有一组线程来维持，这个本身能不能异步调用？

[2019-01-07 09:48] zonghaishang commented on #3105
@xcorpio telnet调用，代码可以开一个tcp长连接，按照dubbo提供的调用命令，直接写socket数据和读取就可以了

[2019-01-07 09:54] tuzhis commented on #2782
具体是哪两个问题可否告知下，刚遇到还在找原因

[2019-01-07 09:56] tuzhis commented on #2782
@walker2012 具体有哪两个问题可否告知下？刚遇到还在了解中

[2019-01-07 10:09] xcorpio commented on #3105
OK多谢，目前是也只能这么做了。

[2019-01-07 10:33] LiZhenNet commented on #3161
不知道我是否理解你的意思了。

因为你说你有 ReferenceConfig ，所以我觉得可以通过反射来获取到你想调用方法的参数类型。

`
 Method[] methods = ReferenceConfig.getInterfaceClass().getMethods();
        for (Method method : methods) {
            Class<?>[] parameter = method.getParameterTypes();
        }
`

[2019-01-07 10:42] wade0817wang commented on #357
如何使用注解实现xml配置的 onreturn回调？这个怎么没看到回答就关了

[2019-01-07 10:44] LiZhenNet commented on #3161
@zonghaishang  的答案：

我有个疑问，telent 好像判断了是否是clientside

[code]
在 1 这个点channel.getRemoteAddress(); 是获取调用方的地址吧。
在 2 的时候会判断调用方ip 跟本机是否一致

[2019-01-07 11:06] FDU-SE-LAB opened #3164 "Your project alibaba/dubbo is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-07 11:42] xcorpio commented on #3161
没有，这个是通过泛型引用创建的，里面只有 `$invoke` 这个方法
<img width="987" alt="2019-01-07 7 40 37" src="https://user-images.githubusercontent.com/4575409/50766444-325ed600-12b4-11e9-98db-623d1d8bd429.png">

[2019-01-07 12:20] lkj41110 opened #3165 "Qos功能心跳问题"
### 背景
在看Qos模块的时候发现，pipeline中添加了IdleStateHandler来检测心跳，但是后面的Handler中，并没有发现处理心跳事件的地方，这个是不是漏掉了心跳的处理，超过5分钟断开连接呢？

[code]

[2019-01-07 13:30] gudegg commented on #3161
泛化调用端不一定`com.xxx.XxxService`接口，反射是不可靠的。像一般dubbo泛化用于网关建设，是不存在当前接口架包的

[2019-01-07 14:45] gudegg commented on #3165
netty已经帮你实现了；可以看下IdleStateHandler的实现，里面有定时器

[2019-01-07 15:52] zonghaishang commented on #3105
@xcorpio
如果用java来实现测试客户端，直接使用dubbo的泛化调用，不需要依赖jar包
如果用c#来实现，你自己要建立tcp长连接调用telnet命令执行

如果使用java的泛化调用，你不需要自己写长连接，泛化封装好了，不需要扩展实现

[2019-01-07 15:57] zonghaishang commented on #3161
在consumer端时 channel.getRemoteAddress();获取的是provider端的地址
在provider端时，这个拿到的是consumer端地址

telent只能连接到provider方，可以理解为dubbo服务提供方。

[2019-01-08 02:19] zhangzhxb520 opened #3168 "Can p2p invoke support wildcard url match"
# Can p2p invoke support wildcard url match
We use p2p invoke in develop environment，but it only support full interface name match。like this
[code]
we need service in one subproject all match one url，for example
[code]

[2019-01-08 02:34] yhcui commented on #1012
公司: 北京自如信息科技 http://www.ziroom.com
地址:中国北京
联系方式： 微信 cuiyuhui123 ，邮箱：cuiyh9@ziroom.com
场景: 服务化改造

[2019-01-08 02:51] carryxyh commented on #2998
@sfyumi
nice work! looking forward to it.

[2019-01-08 02:55] beiwei30 commented on #3105
PR 上没看到你的留言。我的意思是，如果是 JSONObject 的话，不需要反序列话做检查，直接让它过，最终调用的时候如果不对，肯定出错的。如果对的话，按照你的逻辑，会做两次反序列化，太重了。

[2019-01-08 03:02] jianhao84 commented on #3105
开始为了避免自动化测试烦我，用java做了一个dubbo客户端工具，界面太不友好导致别人不愿意用，所以才用winform。。。
满足一般测试开发使用了，参数可以看接口文档：https://gitlab.com/jianhao84/dubborun

[2019-01-08 03:04] gudegg commented on #3105
[code]
可否就用2.5.3的代码逻辑，这样非重载方法都不用调`isMatch`判断；只有重载方法才要做判断，只是在没有`class`时会存在调错方法的可能

[2019-01-08 03:09] sujiujun commented on #948
I'd like to ...

[2019-01-08 06:26] uglycow opened #3169 "future invoke would block at org.apache.dubbo.rpc.AsyncRpcResult#getValue"
future invoke would block at  org.apache.dubbo.rpc.AsyncRpcResult#getValue.

DubboInvoker now return AsyncRpcResult other than RpcResult with a default value.  the framework would block when a filter try to access the the result value,  even though it's future invoke.

it just behave differently.

[2019-01-08 06:38] CrazyHZM commented on #3165
你的意思是需要对检测到断开后加上处理对吗

[2019-01-08 07:03] carryxyh commented on #3165
@lkj41110
这个地方好像确实是没加。提交个PR加上吧，idle的情况下直接close掉channel即可。

[2019-01-08 07:15] carryxyh commented on #3169
If u want to get value from future and the future is not completed, it will block.

Nope, just in async way, but not in sync way.

[2019-01-08 07:36] xcorpio commented on #3163
OK，期待...

[2019-01-08 09:23] uglycow commented on #3169
the invoke return very soon and i would get a default value when i access the result value in my filter in async way before.

now, the invoke would block and i would get the real value when i access the result value in my filter.

different behavior.

[2019-01-08 09:55] carryxyh commented on #3169
Don't get your point.
Is this cause some exceptions or sth?

[2019-01-08 10:08] uglycow commented on #3169
i mean if a legacy filter occasionally tried to access the result value,  we would get blocked there,  that's not the case before.

[2019-01-08 13:45] kexianjun commented on #3151
@lexburner @carryxyh 我看了下目前dubbo触发心跳检查的实现，每次检测完以后会往定时器重新放置任务

而且每次启动心跳检检测的时候都会重新创建HashedWheelTimer

                TimeUnit.MILLISECONDS, Constants.TICKS_PER_WHEEL);

是否可以整个应用共用一个HashedWheelTimer，然后每次执行完心跳检查任务以后重新计算并设置触发下一次心跳检测的时间，再往定时器里面添加心跳检测任务，这样不仅避免了创建多个HashedWheelTimer，而且能更及时的检测到是否超时，并且也不用针对netty进行特例判断，不知道这种方式是不是更好一些？

[2019-01-09 02:06] kexianjun opened #3172 "about the ls command of Qos and telnet,do we need to show the methods and thire parameter types？"
I have noticed that current ls command of Qos and Telnet.there is currently no way to get all the methods and their parameter types of the services,do we need this functionality? as shown below.
![image](https://user-images.githubusercontent.com/12162539/50871193-e025ce00-13f5-11e9-99dc-9feb8fef2ad6.png)

[2019-01-09 02:16] CrazyHZM commented on #3172
`ls -l XxxService`  This command can find the parameter type

[2019-01-09 02:30] chickenlj commented on #3169
I agree with what @uglycow pointed out, we should avoid blocking legacy Filter extensions.

[2019-01-09 05:55] java-longmiao opened #3175 "监控dubbo线程池状态"
public static void main(String[] args) {
        try{
            Class<?> clazz = Class.forName("com.alibaba.dubbo.rpc.protocol.dubbo.status.ThreadPoolStatusChecker");
            Method check = clazz.getMethod("check");
            Object invoke = check.invoke(clazz.newInstance());
            System.out.println(JSONObject.toJSONString(invoke));
        }catch (Exception e){

        }
    }

[2019-01-09 05:58] java-longmiao commented on #3175
获取的线程池状态为{"level":"OK","message":"Pool status:OK, max:200, core:200, largest:27, active:0, task:27, queues:0, service port: 20888"}

[2019-01-09 05:58] #3175 closed

[2019-01-09 06:46] yuxiao97 commented on #3155
参考的结果就是可能和版本有关系 我的是2.6.0

[2019-01-09 07:17] ylylc opened #3176 "dubbo线上运行服务端java.lang.NoSuchMethodError"
1、项目运行过程中，网络无变化突然出现，导致所以请求都收不到。错误信息

com.nbs.agent.plugin.dubbo20.NettyChannelUtil.reportAsExternal(Ljava/lang/Object;Z)V

2、trace:

com.alibaba.dubbo.remoting.transport.netty.NettyChannel.send | (NettyChannel.java)
-- | --
com.alibaba.dubbo.remoting.transport.AbstractPeer.send | (AbstractPeer.java:51)
com.alibaba.dubbo.remoting.exchange.support.header.HeartbeatHandler.received | (HeartbeatHandler

[2019-01-09 07:21] ylylc commented on #3176
看着像jar冲突！项目运行中怎么会突然出现这个。在前一分钟还能调用的

[2019-01-09 08:55] likenamehaojie commented on #2972
这个应该是你ZK重启后丢失吧？

[2019-01-09 09:06] chickenlj commented on #3047
@khanimteyaz Sorry, are you still on this? It would be great if you'd like to look at it.

I know @mercyblitz is an expert on this kind of issue, and he helped did most of the works on Spring integration.

[2019-01-09 09:11] gudegg opened #3177 "telnet cannot call the correct overload method"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: master branch
* Operating System version:  Mac os
* Java version:

[2019-01-09 09:19] carryxyh commented on #3177
这个issue是已知的，对于重载的支持不好。但是我忘记具体的issue是在哪里了。yiji提交过类似的issue。

[2019-01-09 09:32] CrazyHZM commented on #3177
关于哪个pr

[2019-01-09 09:40] carryxyh commented on #3177
@LiZhenNet 好的。

[2019-01-09 09:46] kexianjun commented on #3177
In this case, maybe specific parameter types is needed.

[2019-01-09 12:57] tswstarplanet commented on #3177
I find that it is not an easy thing that support telnet perfectly.

[2019-01-09 17:06] tswstarplanet commented on #1624
Have this bug been fixed ?

[2019-01-10 02:15] cvictory opened #3179 "Make registry, configcenter, matadata-report share a zookeeper connection in dubbo-2.7"
In dubbo 2.7, we introduce config-center, metadata-report and we define SPI for them.  There are zookeeper extension for config-center and medata-report.
So far, there are 3 connections that are used for registry, config-center, metadata-report .

We should use one connection that can be shared with registry, config-center, metadata-report .

[2019-01-10 07:32] Micbetter commented on #1012
公司：交控科技服务有限公司 http://www.bj-tct.com/
地址：中国北京
联系方式： renwen.wang@bj-tct.com, work_wrw@bjtu.edu.cn
场景：交控云业务系统搭建

[2019-01-10 07:33] cvictory commented on #3179
@chickenlj  should you modify the configcenter to this way later.

[2019-01-10 08:50] chickenlj commented on #3113
Hi,
Here's few API targeting the same purpose for reference. It's a little out-dated and hard to use.

https://github.com/apache/incubator-dubbo/blob/460c3a17568ff31f994646558a48c2d0e7b37bd4/dubbo-rpc/dubbo-rpc-api/src/main/java/org/apache/dubbo/rpc/RpcContext.java#L659

[2019-01-10 09:13] xishian commented on #3176
dubbo 的传递依赖还是netty3 :-(

[2019-01-10 13:19] htynkn opened #3186 "Remove unnessary content for pom file"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

Now dubbo requires java 8 or above, I notice there are still some configuration or profile for java

[2019-01-10 13:22] #3147 closed

[2019-01-10 13:34] htynkn commented on #1301
This is no activity on this issue for a long time, since we have issue https://github.com/apache/incubator-dubbo/issues/2508 to manage performance optimization work. I'm going to close this issue.

[2019-01-10 13:34] #1301 closed

[2019-01-10 16:09] tswstarplanet commented on #3186
In my impression, dubbo will not support lower version than jdk 8 when the 3.0 version realease ?

[2019-01-10 17:10] khanimteyaz commented on #3047
@chickenlj thanks for your reply. I was planning to work on this, once I have completed my UT for dubbo-config-sprint BeanService. Due to some urgent work on I might be less involve this and next week. So I would suggest if some one can take this one would be better otherwise once I am free will take it up.
What do you say?

[2019-01-11 02:55] carryxyh commented on #3152
@Frankzhaopku
Nice work, I like it!!
Thx for your contribution.

[2019-01-11 03:11] lovepoem commented on #3152
Good job

[2019-01-11 03:17] ralf0131 commented on #3186
@htynkn Maybe you can add some detail items that can be done, so that someone could come in to help.

[2019-01-11 03:47] ymmzhp commented on #2407
这个错误后来是怎么解决的？我也碰到这个报错
consumer端报错如下：
com.alibaba.com.caucho.hessian.io.HessianFieldException: org.hibernate.validator.internal.engine.ConstraintViolationImpl.constraintDescriptor: 'org.hibernate.validator.internal.metadata.descriptor.ConstraintDescriptorImpl' could not be instantiated

[2019-01-11 03:48] beiwei30 opened #3187 "support static resource for all embedded servlet container impl."
It looks like the current embedded servlet containers have no way to serve static resources in dubbo, we should support it.

[2019-01-11 05:28] mercyblitz opened #3188 "[Feature] Add dubbo-registry-nacos into Dubbo Registry modules"
To migrate [dubbo-registry-nacos](https://github.com/dubbo/dubbo-registry-nacos) into dubbo Registry modules.

[2019-01-11 05:37] mercyblitz opened #3189 "[Enhancement] Simplify externalized configuration of Dubbo Protocol name"
For now, Dubbo Protocol has to specify  its' name in externalized configuration, e.g:

[code]

Obviously, `dubbo.protocols.dubbo.name=dubbo` is unnecessary and could be simplified, thus, if ${id} will be used as protocol name in properties pattern like `dubbo.protocols.${id}.*` .

[2019-01-11 06:10] yexueyouling opened #3190 "注解配置无法启动"
按照注解配置，使用Springboot，搭建了两个工程，一个消费者，一个服务者，并且创建了一个zookeeper容器。结构如下：
![image](https://user-images.githubusercontent.com/26735625/51016127-16a44a00-15aa-11e9-8360-2daac8012a1c.png)
服务者可以正常启动。
消费者启动失败，有两个错误问题
1、@Reference无法注入服务者的服务。
2、启动报错：Duplicate application configs: <dubbo:application name="service-dUbbo-custom" id="service-dUbbo-custom" /> and <dubbo:application qosEnable="false" />

完全不知道是什么原因。

源

[2019-01-11 06:44] mercyblitz opened #3192 "[Enhancement] inline the source code of spring-context-support"
Inline the source code into Dubbo Spring module:

[code]

[2019-01-11 06:52] mercyblitz opened #3193 "[Enhancement] Change the default behavior of @EnableDubboConfig.multiple()"
The default value of `@EnableDubboConfig#multiple()` method attribute is `false`, and it will be changed to `true`, thus single and multiple configuration bindings work at the same time, e.g:

[code]

[2019-01-11 07:01] dubbo-bot opened #3194 "[WeeklyReport] Weekly report for Dubbo 2019-1-4 to 2019-1-11"
# Weekly Report of Dubbo

This is a weekly report of Dubbo. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @dubbo-bot which is a collaborate robot. See: https://github.com/AlibabaDR/Collabobot .

## Repo Overview

| Watch | Star | Fork | Contributors |
|:-----:|:----:|:----:|:-----------

[2019-01-11 07:42] Frankzhaopku commented on #3194
Glad  to see weekly report works fine for Dubbo.

[2019-01-11 08:49] CrazyHZM commented on #3186
The first configuration seems to exist already, what do you think?

[2019-01-11 09:08] chickenlj commented on #3169
Fixed with https://github.com/apache/incubator-dubbo/pull/3185

[2019-01-11 09:08] #3169 closed

[2019-01-11 09:11] htynkn commented on #3186
sorry, I mean do we really limit memory to 512M? or it's better let JVM decide?
will add explanation for item 1

[2019-01-11 09:20] cholf opened #3198 "java.lang.NoClassDefFoundError: org/nustaq/extension/VersionInfo"
ERROR: 2019-01-09 18:05:10.132 10.18.34.227 [com.alibaba.dubbo.common.logger.log4j.Log4jLogger.java:91 Log4jLogger::error()] [DUBBO] Failed to setChangedClassInfo /changedclass, cause: org/nustaq/extension/VersionInfo, dubbo version: 2.6.0.2, current host: 10.18.34.227
java.lang.NoClassDefFoundError: org/nustaq/extension/VersionInfo
at com.alibaba.dubbo.registry.zookeeper.ZookeeperRegistry.wrapCha

[2019-01-11 09:48] rayjie opened #3200 "zk宕机一段时间后，dubboAdmin显示服务被禁用了"
zk宕机一段时间，大约15分钟，去dubboAdmin看到服务被禁用了，在重启zk后仍然是禁用状态，导致服务不可用。

### 环境
- dubbo版本
`
			<groupId>com.alibaba.boot</groupId>
			<artifactId>dubbo-spring-boot-starter</artifactId>
			<version>0.2.0</version>
		`
- spring boot版本
2.0.4.RELEASE

[2019-01-11 09:49] yaodongfei opened #3201 "关于用注解方式 @Reference注入，dubbo服务对象为null的问题"
@Reference(version = "1.0.0", check = false, lazy = true,mock = "")
在此方式启用了mock参数注入，dubbo服务就会为null。去掉，是可以正常注入的。

[2019-01-11 09:50] yaodongfei commented on #3201
依赖dubbo版本  <dependency>
			<groupId>com.alibaba.boot</groupId>
			<artifactId>dubbo-spring-boot-starter</artifactId>
			<version>0.2.0</version>
		</dependency>

[2019-01-11 10:06] lpydhbt opened #3203 "服务发布的时候，怎么提前摘掉一个节点的服务"
### Environment

* Dubbo version:2.5.7
* Operating System version: linux
* Java version: jdk1.8

dubbo优雅关机会检测dubbo的线程池，如果线程池没有任务那么就会提前关闭容器。但是自己的业务线程池又脱离了dubbo线程池的任务，检测不到业务线程池的状态就关闭了，所以希望提前将该节点的服务摘到，让调用方不再向该服务发送任务，等待一段时间后再关机。
![image](https://user-images.githubusercontent.com/19490071/51027188-3009be00-15cb-11e9-9fd1-4b7ed641b0ee.png)

[2019-01-11 10:08] lpydhbt commented on #3203
目前自己有两个想法
1.调用star-admin的接口，但是没有找到一个统一的去掉某个节点的服务，都是精确到某个具体的方法。所以觉得不好弄
2.提前将的该节点的zk断掉

[2019-01-11 10:39] xcorpio opened #3204 "通过 API 编程进行泛化调用后如何销毁Consumer(ReferenceConfig)所关联的线程"
Dubbo 版本：2.6.5

示例代码：https://github.com/apache/incubator-dubbo-samples/blob/master/dubbo-samples-generic/src/main/java/org/apache/dubbo/samples/generic/APIGenericConsumer.java

调用：`com.alibaba.dubbo.config.ReferenceConfig.destroy()` 后
[code]
这个 `ReferenceConfig` 所关联的线程并没有退出，如图:
<img width="971" alt="2019-01-11 6 33 50" src="https://user-images.githubusercontent.com/4575409/51028847-a14b7000-15cf-1

[2019-01-11 10:42] cvictory opened #3205 "In dubbo-2.7, add group field into MetadataReportConfig"
In dubbo-2.7,  add group field into MetadataReportConfig .
It can match RegistryConfig.

[2019-01-11 10:59] yinghuzhu commented on #3203
I wrote a api in the dubbo-admin to disable all of the service in the host. the code like this:

`
    @Autowired
    private ProviderService providerService;
    @Autowired
    private Tool tool;

     //disable services
       List<Provider> providers ;
        try {
            providers = providerService.findByAddress(address);
        }
        catch (Exception e){
            logger.error(e.

[2019-01-11 12:18] FisherYu-CN commented on #1765
这个问题在最新的2.6.5版本上依然存在，查了下代码，都这么久了，#1999竟然没有被合并到新版本里。虽然在最新的2.6.x分支上已经看到了修改，但是什么时候发布下一个版本呢？

[2019-01-11 13:47] limfriend opened #3209 "will dubbo support opentracing? when?"
open tracing become more and more popular.  we can find a lot of framework which is support  opentracing, e.g  grpc, thrift, okhttp, kafka, redis, jdbc, spring boot..
https://github.com/opentracing-contrib?utf8=%E2%9C%93&q=&type=&language=java

[2019-01-11 13:51] gudegg commented on #3190
ApplicationConfig重复配置了，你把消费者的`ApplicationConfig`Bean配置移除掉再试下

[2019-01-11 14:07] lovepoem commented on #3194
Create a gihub project to manage the report ?

[2019-01-11 14:17] lovepoem commented on #3148
close it via https://github.com/apache/incubator-dubbo/pull/3149

[2019-01-11 14:17] #3148 closed

[2019-01-11 14:44] Frankzhaopku commented on #3194
Do we need to? This report only generated once per week and will auto closed when next week report generated, or do you mean to create a repo to record the reports?

[2019-01-11 14:56] lovepoem commented on #3194
https://github.com/apache/incubator-dubbo/projects

I mean this

Frank Zhao <notifications@github.com> 于 2019年1月11日周五 下午10:44写道：

[2019-01-12 00:01] ralf0131 commented on #3194
I applied the weekly report label.
@lovepoem What do you wish to do with projects?
For now I think applying the label (this requires committer to involve), and automatically close the last report when send the latest report looks good.

[2019-01-12 00:05] ralf0131 commented on #3209
Hi,

Thanks for raising this issue, for now Dubbo support tracing framework like Zipkin, Skywalking and  Spring Cloud Sleuth, I think supporting opentracing should be as straight-forward as they are.

The principal here for Dubbo is that we should embrace the standards. If you or someone would like to contribute, we will be very happy.

[2019-01-12 03:14] Kiddinglife opened #3212 "Spelling mistake in dubbo manual"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment
None
### Steps to reproduce this issue
 - [https://dubbo.incubator.apache.org/zh-cn

[2019-01-12 03:40] lovepoem commented on #3212
Please send a pr in https://github.com/apache/incubator-dubbo-website

[2019-01-12 03:42] lovepoem commented on #3194
For now I think applying the label (this requires committer to involve), and automatically close the last report when send the latest report looks good.

I think about it. Lebel is enough for now.

[2019-01-12 09:40] xcorpio commented on #3161
只能 telnet 了吗 🤔

[2019-01-12 18:26] tswstarplanet opened #3214 "Can dubbo provide api to change underlying component after the application has launched ?"
Dubbo provider its own spi  mechanism to let user configure and extend it. But it works during the application is launching. Can the framework provider api to change them after launching.
For example, we can change registry of some services by api when the environment changes.

[2019-01-12 18:47] tswstarplanet commented on #3204
I think Dubbo use thread pool to execute an RPC invoke, when the invoke ends, the threads of thread pool does not exit because it is used to execute following RPC invokes.

[2019-01-12 23:30] Kiddinglife opened #3215 "How Dubbo handles the failed RPC Invocation with different failing reasons?"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Confusion
 - Are there a feature for batched rpc in dubbo?
what I mean batched rpc is that the

[2019-01-12 23:58] manzhizhen opened #3216 "Dubbo 新版本去掉了 dubbo.properties，因为该约定经常造成配置冲突，是否不太准确？"
### Environment

* Dubbo version: master branch

### Steps to reproduce this issue
https://dubbo.apache.org/zh-cn/docs/dev/principals/configuration.html 中“Dubbo 新版本去掉了 dubbo.properties，因为该约定经常造成配置冲突。” 该描述是否不太准确？目前代码中应该有dubbo.properties的处理逻辑，例如：org.apache.dubbo.common.utils.ConfigUtils

[2019-01-13 00:36] manzhizhen commented on #3215
Regarding the first question, you refer to the batch message, which is only consumed and answered by one thread on the provider side. Then the batch message can be sent by different threads on the consumer side, as long as the batch number is one, right?

关于第一个问题，你指的批量消息，在provider端只由一个线程来消费和应答，那么这个批量消息在consumer端可以由不同的线程来发送，只要批次号是一个就行了是吧？

[2019-01-13 00:53] Kiddinglife commented on #3215
yes, so it is.

On Sun, 13 Jan 2019 at 11:36 am, yizhenqiang <notifications@github.com> wrote:

Regarding the first question, you refer to the batch message, which is only consumed and answered by one thread on the provider side. Then the batch message can be sent by different threads on the consumer side, as long as the batch number is one, right?

?????????????????provider???????????????????????

[2019-01-13 01:06] manzhizhen commented on #3215
Then I have a problem, since the consumer side can send messages of the same batch number in multiple threads, then what is the meaning of guaranteeing the same thread consumption on the provider side? Can you give a scene?

那我有个问题，既然consumer端可以多线程发送同一批次号的消息，那么在provider端保证同一线程消费的意义在哪里？能举个场景吗？

[2019-01-13 01:53] Kiddinglife commented on #3215
It really depends on the imp. One simple way is to bundle all the batched invocations in the same invocation message, in which case it can be sent by any available thread in a client.

We can also put two invocations across more than one invocation message in client but it requires further ordering of the received invocation messages in server.

The key point is the requirement of the ordering of

[2019-01-13 03:52] manzhizhen commented on #3215
Seeing your case, you probably understand what effect you want, and it doesn't matter if you specify a thread to execute on the provider side.
To ensure that the messages are executed in order, the RPC method is better. For example, if you perform the next RPC after the previous RPC call, you can guarantee that the first RPC is executed first. The secondary RPC, the consumer terminal machine for l

[2019-01-13 04:06] kexianjun commented on #3190
你的消费端配置依赖

[code]
com.example.dubbo.service.IDemoServer 的实现在 com.example.dubbo.service package,然后又在controller 里面引用IDemoServer，你是想用调用jvm本地调用（injvm）服务吗？Demo可以参考https://github.com/apache/incubator-dubbo/tree/master/dubbo-demo 这里面的，基于xml配置启动的和基于注解的都用

[2019-01-13 04:09] kexianjun commented on #3215
对于批量处理的需求，provider端提供批量处理的接口不是更合理吗，比如接口接受list参数，服务提供方按顺序处理请求

[2019-01-13 04:57] manzhizhen commented on #3215
@Kiddinglife 的意思应该是顺序调不同的provider的服务

[2019-01-13 05:02] xcorpio commented on #3204
没问题，我想要一种可以显示释放线程池的方法，但调用 `destroy` 没效果，想知道其他有什么方法。我的应用场景是类似做一个Dubbo的代理网关（测试用）,假设我们公司有1K+个Dubbo服务，每个创建一个`ReferenceConfig` ，这样如果没有释放关联线程的机制会很伤.

[2019-01-13 05:15] zonghaishang commented on #3204
有些线程确认不会被销毁，jvm退出会自动销毁，因为线程池是static共享的，不会因为ReferenceConfig多就产生更多线程

[2019-01-13 05:20] Kiddinglife commented on #3215
@Kiddinglife is saying the server should execute the multi-invocations in the same ordering as the client defines them.

@manzhizhen you are right. Something I need to point out is that the sample functions f1 anf f2 in the above are expected to be defined and executed in the scope of a single server's process instead of multi-server.

regards.

[2019-01-13 13:22] cvictory opened #3218 "in dubbo2.7, org.apache.dubbo.samples.generic.GenericProvider execute correctly， but close server throw exception"
[code]

[2019-01-13 13:51] L-Angel opened #3219 "Tomcat 7.0.74 ForkJoin线程池创建的线程ClassLoader设置为SystemClassLoader"
### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: 1.8

What actually happens?
使用ForkJoin线程池+Tomcat7.0.74+ReferenceConfig API调用
[https://bz.apache.org/bugzilla/show_bug.cgi?id=60620]https://bz.apache.org/bugzilla/show_bug.cgi?id=60620

[code]

[2019-01-13 14:31] cvictory commented on #3218
代码的逻辑的入口，参考：org.apache.dubbo.config.DubboShutdownHook#doDestroy。

[code]
执行org.apache.dubbo.config.DubboShutdownHook.destroyProtocols之前，已经执行了AbstractRegistryFactory.destroyAll()， 这个方法里已经去执行了zookeeperClient的close方法。参考：org.apache.dubbo.registry.zookeeper.ZookeeperRegistry#destroy
[code]

[2019-01-13 14:45] tswstarplanet commented on #3204
java又不是c++，不存在显示销毁一个对象这种说法。你定义一个对象，当它脱离了引用链，就有可能被gc回收。线程Thread对象也不例外

[2019-01-13 14:50] manzhizhen commented on #3215
Sorry, I still don't understand what kind of problem you can solve in this way. The business party can also achieve this effect by installing the order itself, and can get the return value every time.

抱歉，我还是没有理解到你说的这种方式能解决哪些问题，业务方自己安装顺序调用其实也能达到此效果，并且每次调用都能拿到返回值。

[2019-01-13 22:01] Kiddinglife commented on #3215
all right. Thanks for your time in the discussion about batched invocation. I think we can let it go at this moment.

It is more interesting if someone can tell me what actions the Dubbo take in such cases I mentioned above?

Regards.

On Mon, 14 Jan 2019 at 1:51 am, yizhenqiang <notifications@github.com<mailto:notifications@github.com>> wrote:

@Kiddinglife<https://github.com/Kiddinglife> 的意思应该是顺

[2019-01-14 02:16] oceanos commented on #1012
公司：杭州车厘子智能科技有限公司
地址：杭州
联系方式： kevin.d.jiang@foxmail.com
场景：车联网平台、出行服务平台

[2019-01-14 03:21] yinyuhang opened #3223 "dubbo quick start API 链接错误"
[dubbo quick start](http://dubbo.apache.org/zh-cn/docs/user/quick-start.html) 中`如果不想使用 Spring 配置，可以通过 API 的方式 进行调用。` 其中 *API* 的 `href` 属性为  `./configuration/api.md` 该资源指向的是无效地址，实际地址是否应该是 [./configuration/api.html](http://dubbo.apache.org/zh-cn/docs/user/configuration/api.html)?

[2019-01-14 03:34] lpydhbt commented on #3203
sry,i find this as you say,in com.alibaba.dubbo.governance.web.home.module.screen.Disable,but i don`t know how to invoke this.

 com.alibaba.dubbo.governance.web.home.module.screen.Disable:

    protected String doExecute(Map<String, Object> context) throws Exception {
        String address = request.getParameter("provider");
        if (address == null || address.length() == 0) {
            add

[2019-01-14 04:44] Kiddinglife commented on #2737
epoll is more efficient due to the reasons shown below:

1. Avoid fds transferring between kernel space and user space.

2. No significant improvements observed with a few of tcp connections.

nio travels across all the fd descriptors to test network event (connection, close, writeable, readable and so on) whereas epoll does that via notified by operating system, which is more efficient.

more tes

[2019-01-14 04:51] Kiddinglife commented on #3209
@limfriend
Hi mate,
the current tracing of dubbo is good enough in most of cases.
Can you please highlight the reason why you desire to move to opentracing? Does it have some features that overwheel others?
regards.

[2019-01-14 04:51] Kiddinglife commented on #3212
ok. i will do it later.

[2019-01-14 04:53] Kiddinglife commented on #3215
Any updates on failed rpc handlings?

[2019-01-14 04:53] yinghuzhu commented on #3203
@lpydhbt  I export the method as a http api and then it can be called anywhere .

[2019-01-14 05:00] Kiddinglife commented on #3214
Hi @tswstarplanet,
Are you expecting something like dynamic loading of the extended component at runtime?
regards.

[2019-01-14 05:35] Kiddinglife commented on #3200
dubbo version
<groupId>com.alibaba.boot</groupId> <artifactId>dubbo-spring-boot-starter</artifactId> <version>0.2.0</version>
spring boot version
2.0.4.RELEASE

Hi @rayjie,
I think it is a quite natural thing that dubbo admin becomes unavailable after zk dead.
Try to setup zk cluster to avoid such issue in the future.

let me know how you think about it.
regards.

[2019-01-14 05:49] lpydhbt commented on #3203
@yinghuzhu  dubbo-admin 2.5.7 use [webX](http://www.openwebx.org/), uri is complex......

[2019-01-14 05:52] Kiddinglife commented on #3145
Hi @wangchangbing  @gudegg,
Did you guys find out the reason why it is slow to transfer 3m data in local network with long connection?
220ms latency really surprised me...
regards.

[2019-01-14 05:56] lpydhbt commented on #3203
@Kiddinglife  gracefulshutdown()  only check dubbo thread pool ,not check own threadPool。so must remove the provider service  from  consumer a few seconds before  shutdown provider。

[2019-01-14 06:04] lpydhbt commented on #3203
@Kiddinglife  and modify source code is not recommended is my group。

[2019-01-14 07:39] nanolikeyou commented on #2782
请问是哪处的源代码？可以贴来看看吗

[2019-01-14 07:39] nanolikeyou commented on #2782
请问是哪处的源代码？可以贴来看看吗

[2019-01-14 07:49] zhenghui317 commented on #2782
dubbo-common包里面的ReflectUtils工具类中desc2class方法，你去看下吧。

[2019-01-14 07:49] zhenghui317 commented on #2782
dubbo-common包里面的ReflectUtils工具类中desc2class方法，你去看下吧。

[2019-01-14 08:32] yinghuzhu commented on #3203
@lpydhbt I add a new controller in the spring mvc  . it didn't depend on webX

[2019-01-14 08:34] ralf0131 commented on #3223
There is nothing wrong here, I can successfully redirect to the API configuration page by clicking the link. How did you get that error?

[2019-01-14 08:39] nanolikeyou commented on #2782
看到这里对应的是hession序列化时的writedesc.
看起来你们遇到的解决办法是处理long值，我遇到的情况是只反序列化map就出错（我甚至用反射机制在序列化前将map里的为以long型 serialVersionUID的类型改为string），不清楚hession出现readint的根本问题是啥

[2019-01-14 08:40] lpydhbt commented on #3203
@yinghuzhu  i  have found uri use webx，spring mvc not fount use Dubbo version:2.5.7。tks very much

[2019-01-14 08:46] lpydhbt commented on #3203
@yinghuzhu  and i have another question,if i disable the provider A use dubbo Admin,and redeploy this provider A,need i cancel disable the provider use dubbo admin or self cancel。

[2019-01-14 09:00] cvictory opened #3226 "Http Sample cannot work well between dubbo-2.6 and dubbo-2.7"
Http Sample cannot work well between dubbo-2.6 and dubbo-2.7.
The log as follow:
[code]
and
[code]

[2019-01-14 10:46] LiZhenNet commented on #3203
可以自己定义一个shutdownhook,然后剔除掉dubbo本身的，在自定义的hook中 实现等待，最后调用dubbo 本身的shutdownhook的方法进行停机。

[2019-01-14 11:02] lpydhbt commented on #3203
@LiZhenNet 除掉dubbo本身shutdownhook需要修改源码吗

[2019-01-14 11:04] lpydhbt commented on #3203
@yinghuzhu  i use deleteStaticProvider() instead of disableProvider(), because disableProvider() i don't find the  http api of recover the provider.

[2019-01-14 11:14] yinghuzhu commented on #3203
you are right , it must need to be enable when it is redeployed after the provider is disable .

I think deleteStaticProvider is ok if you wouldn't like to enable the provider after the provider is redeployed .

[2019-01-14 11:20] LiZhenNet commented on #3203
新版本的话不需要，org.apache.dubbo.config.DubboShutdownHook#unregister

[2019-01-14 12:56] lpydhbt commented on #3203
嗯嗯，谢了。目前版本没有，还是采用调用dubbo-admin接口

[2019-01-14 12:57] lpydhbt commented on #3203
@yinghuzhu tks very much.

[2019-01-14 12:57] #3203 closed

[2019-01-14 15:56] manzhizhen commented on #3215
As for the "at-most-once" semantics, I don't think Dubbo has done that. If we want to do at-most-once, we need to record which requestId has successfully responded on the provider side. When a duplicate requestId arrives, we throw an exception to the consumer side to say that the processing is successful or return the previous value (if there is a cache). At present, we have seen the implementatio

[2019-01-14 16:09] manzhizhen commented on #3215
about any updates on failed rpc handlings, I'll get back to you tomorrow.

[2019-01-15 01:32] yexueyouling commented on #3190
@gudegg 不可以去掉消费者的Application Bean，否则会引起下面的错误。
![image](https://user-images.githubusercontent.com/26735625/51152837-88c9a700-18a8-11e9-907c-d32eb91bd431.png)

[2019-01-15 01:34] kexianjun commented on #3190
api的定义和实现分成不同的包，就像dubbo提供的demo一样，api作为公共的依赖

[2019-01-15 01:40] yexueyouling commented on #3190
@kexianjun 你的意思是，在服务者和消费者中间，加一个中间工程，所有的消费者都调用这个工程，所有的服务这都注入到这个中间工程对吗？

[2019-01-15 01:46] ralf0131 commented on #3186
Dubbo will only support Java 8 and above from 2.7 onwards.

[2019-01-15 01:48] yinyuhang commented on #3223
I just tried and it works fine, so embarrassing...

[2019-01-15 01:48] #3223 closed

[2019-01-15 04:49] cvictory opened #3231 "In dubbo-2.7 tag route, dubbo 2.6 client invoke 2.7 server work well but dubbo 2.7 client invoke 2.6 donot work well"
在tag route下， dubbo2.6作为client调用dubbo2.7 server，路由规则已经起效果； dubbo2.7作为client调用dubbo2.6路由规则没有生效。（在dubbo2.7，ops没有配置路由规则的前提下，只通过应用url的tag打标）。
发现问题代码, org.apache.dubbo.rpc.cluster.router.tag.TagRouter：
[code]
没在ops里配置路由规则的时候，需要继续往下走。

----transplate here

Under tag route, dubbo2.6 calls dubbo2.7 server as client, routing rules have been effective; dubbo2.7 as client calls dubbo2.6 routing rules have not

[2019-01-15 04:53] cvictory commented on #3231
In dubbo 2.6 , there are some key points in this class com.alibaba.dubbo.rpc.cluster.directory.AbstractDirectory.
[code]

so should we keep this logic code ?

[2019-01-15 04:57] #2030 closed

[2019-01-15 04:58] #3226 closed

[2019-01-15 04:58] #3123 closed

[2019-01-15 04:59] #2910 closed

[2019-01-15 04:59] #2911 closed

[2019-01-15 04:59] #2912 closed

[2019-01-15 04:59] #2914 closed

[2019-01-15 04:59] #2915 closed

[2019-01-15 04:59] #2916 closed

[2019-01-15 04:59] #2919 closed

[2019-01-15 05:02] chickenlj commented on #2868
If we can merge two interfaces into GreetingService, such as:
[code]

Now, `@DubboAsync` and `@AsyncFor` have been removed from the core. See [here](https://github.com/dubbo/dubbo-async-processor/blob/master/README.md) for details

[2019-01-15 05:02] #2868 closed

[2019-01-15 05:15] #1485 closed

[2019-01-15 05:18] chickenlj commented on #3047
Thanks, please feel free to deal with your work first.

Let's see what @mercyblitz say about this issue.

[2019-01-15 05:42] chickenlj commented on #3231
[code]

[2019-01-15 05:58] yuxiao97 commented on #3155
Nobody know this problem or fixed?

[2019-01-15 06:53] lexburner commented on #3151
Here is my suggestion to improve Dubbo’s HeartBeat Design.

- The design of the two-way heartbeat is unnecessary, compatible with the existing logic, allowing the client to send a one-way heartbeat when the connection is idle, and the server periodically detects the connection availability. Timed time to ensure: client timeout * 3 ≈ server timeout
- Remove the timing tasks for reconnection and dis

[2019-01-15 08:02] khanimteyaz opened #3234 "Add UT to verify TIMEOUT_FILTER_START_TIME attachement removal in case of exception"
Write an UT to verify removal of TIMEOUT_FILTER_START_TIME   attachement in case if exception occurs
in dubbo-rpc/dubbo-rpc-api/src/main/java/org/apache/dubbo/rpc/filter/TimeoutFilter.java.

This task is an extension to add UT for PR https://github.com/apache/incubator-dubbo/pull/3174

- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and belie

[2019-01-15 08:40] bboym commented on #1149
有demo吗，没看懂，我这样该怎么传呢。 queryOrderPromotionList(String orderNo);
![image](https://user-images.githubusercontent.com/12871455/51168440-39a16780-18e4-11e9-8451-2361f30e5d17.png)

[2019-01-15 09:12] chickenlj opened #3236 "Why does not tomcat throw an exception when `server.start` failed with a socket binding error."
Why does not tomcat throw an exception when `server.start` failed with a socket binding error.

https://github.com/apache/incubator-dubbo/blob/master/dubbo-remoting/dubbo-remoting-http/src/main/java/org/apache/dubbo/remoting/http/tomcat/TomcatHttpServer.java#L71

I do see the exception stack printed on the Console, whereas no exception was thrown in here:
[code]

This behavior will cause a tomcat

[2019-01-15 09:18] #3218 closed

[2019-01-15 09:18] #3205 closed

[2019-01-15 09:31] ralf0131 commented on #3236
Can you provide the error stack trace?

[2019-01-15 09:36] chickenlj commented on #3236
[code]

Turns out that there's a ` if (Boolean.getBoolean("org.apache.catalina.startup.EXIT_ON_INIT_FAILURE"))` check that will decide whether tomcat will throw the exception out. By default, the return value would be false because we haven't set the `org.apache.catalina.startup.EXIT_ON_INIT_FAILURE` value, so it just skipped the throw action.

[2019-01-15 09:37] ralf0131 commented on #3219
Hi, please describe your issue properly. What problem did you have?

[2019-01-15 09:37] chickenlj commented on #3236
Here's the stack trace:
[code]

[2019-01-15 09:46] ralf0131 commented on #3236
Yes, you need to set `org.apache.catalina.startup.EXIT_ON_INIT_FAILURE` to true in order to let Tomcat to fail during initialization.

[2019-01-15 13:37] Kiddinglife commented on #3215
Hi @manzhizhen,
I updated my question. plz take a  look and let me know how you think about it.
regards.

[2019-01-15 14:16] turnin opened #3237 "connectionMonitor in RestProtocol seems not work"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.5

### Confusion

the code below  create a ```connectionMonit

[2019-01-15 15:39] tswstarplanet commented on #3214
@Kiddinglife Thanks for the response, I think it is like that you said. I think if the underlying component like registry can be replace after the starting up of an application, it can be more flexible.

[2019-01-15 15:45] manzhizhen commented on #3204
@xcorpio

In fact, I think you are worried that the thread should not be destroyed, but should it be a long link? The link of the generalization call is saved in the ReferenceConfig. Like the scenario of the gateway, the ReferenceConfig needs to be cached. We can manage the ReferenceConfig in the LRU mode to prevent the long connection maintained by the gateway from being too much. When destroying

[2019-01-15 16:05] manzhizhen commented on #3163
I was suddenly more curious at the time that the GenericService did not implement asynchronous calls? Haha

[2019-01-16 01:17] limingwei commented on #2782
奇怪，为啥官方不发言呢

[2019-01-16 01:21] limingwei commented on #2782
就因为这个事儿，一致被套在 2.8.x，好像回到主线，啊啊啊啊啊

[2019-01-16 02:12] ralf0131 commented on #2782
@limingwei The community recently is focusing on 2.7 release, so the response might be slow, please subscribe and send email to dev@dubbo.apache.org to seek for advices.

How to subscribe: http://dubbo.apache.org/zh-cn/docs/developers/contributor-guide/mailing-list-subscription-guide_dev.html

[2019-01-16 02:21] #3231 closed

[2019-01-16 03:32] pursueLife opened #3242 "dubbo-demo-annotation-consumer run failed"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0
* Operating System version: window
* Java version: jdk8

##

[2019-01-16 04:56] manzhizhen commented on #3200
"It is still disabled after restarting zk, causing the service to be unavailable." Is it normal to check the communication after restarting zk? How long is the service or disabled after the restart is successful? In general, dubbo and the registration center have the reconnection function. After the zk is restored, it will be re-registered.

“在重启zk后仍然是禁用状态，导致服务不可用。” 重启zk后检查了通讯方面是正常的吗？重启成功后多长时间服务还是

[2019-01-16 05:22] #3193 closed

[2019-01-16 06:14] Kiddinglife commented on #3200
Hi @manzhizhen,
I suspect @rayjie did not setup zk cluster. And after the leader zk node was down, the zk client reconnects several times and finally gives it up with returning an exception to dubbo framework.

hi @rayjie , plz setup zk cluster and let us know how it is going on.
regards.

[2019-01-16 06:19] #3190 closed

[2019-01-16 06:40] Kiddinglife commented on #3201
Hi @yaodongfei,
Can you give more details about your source codes?
regards.

[2019-01-16 06:42] Skqing commented on #1012
公司: 深圳互彩通信息技术有限公司
地址:中国深圳
联系方式： 邮箱:569141948@qq.com
场景: 彩票销售后台微服务。

[2019-01-16 06:54] Python-IBM opened #3243 "Invalid use of BasicClientConnManager: connection still allocated"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.5
* Operating System version: Red Hat 4.8.5-11
* Java version

[2019-01-16 06:59] beiwei30 opened #3244 "follow up for pull request #3043"
This change now looks good to me.

It looks like we should do the same thing for response, change

[code]

to

[code]

_Originally posted by @beiwei30 in https://github.com/apache/incubator-dubbo/pull/3043/comment#issuecomment-454673115_

[2019-01-16 07:03] CrazyHZM commented on #3244
I will do it.

[2019-01-16 07:09] CrazyHZM commented on #3242
thank you , I will fix it

[2019-01-16 07:35] lionhuo opened #3248 "负载均衡扩展配置报错"
根据文档开发者指南->SPI 扩展实现->负载均衡扩展
src
 |-main
    |-java
        |-com
            |-xxx
                |-XxxLoadBalance.java (实现LoadBalance接口)
    |-resources
        |-META-INF
            |-dubbo
                |-org.apache.dubbo.rpc.cluster.LoadBalance (纯文本文件，内容为：xxx=com.xxx.XxxLoadBalance)

当文件名为org.apache.dubbo.rpc.cluster.LoadBalance报错：

java.lang.IllegalStateException: No such extension com.al

[2019-01-16 07:48] cvictory opened #3249 "Dubbo route compareTo method donot work correctly"
有如下问题：
1.java中要求 A.compareTo(B)和B.compareTo(A)得到的结果，应该是等价的。但是ScriptRoute里
[code]
想让ScriptRoute.compareTo(others) 等价于  others.compareTo(scriptRoute),  其实部分其他script如果自定义了自己的compareTo也会存在这个问题。

2. 2.6和2.7兼容的问题
2.6和2.7的顺序要怎么满足合理需求的同时，同时能满足前面的第一点要求。

先做个记录，问题待细化。

---------transplate

Have the following questions:
1.java requires that the results obtained by A.compareTo(B) and B.compareTo(A) should be

[2019-01-16 07:58] billowqiu opened #3250 "dubbo-rpc-jsonrpc成熟度如何"
目前在dubbo[官方文档](http://dubbo.apache.org/zh-cn/docs/user/references/protocol/introduction.html)没有看到jsonrpc的支持，但是在Apache下面有[incubator-dubbo-rpc-jsonrpc](https://github.com/apache/incubator-dubbo-rpc-jsonrpc/)这个子项目，不知道目前该项目成熟度如何，是否可以作为非java语言调用dubbo的生产环境使用。

[2019-01-16 08:08] billowqiu commented on #848
目前看到的几个方案大致如下：
1：原生的thrift，这个貌似对现有的dubbo服务有一定改动，看官方例子是需要基于thrift的接口提供impl
2：jsonrpc，不需要现有dubbo服务改动，对其他语言也相对轻量级
3：Hessian，这个协议对c++支持也不太友好
4：service mesh，这个应该目前只是一个提案。。
综合来说，jsonrpc应该是比较折中的方案，虽然效率比二进制类可能差点。

https://github.com/apache/incubator-dubbo-rpc-jsonrpc/ 目前这个扩展在生成环境是否可用，想作为c++调用dubbo的一个方案。

[2019-01-16 08:20] ralf0131 commented on #848
Yes, they are used by Python client and go client.

[2019-01-16 08:23] carryxyh commented on #3248
dubbo版本2.6.5中不存在org.apache.dubbo的包前缀，使用的都是com.alibaba.dubbo。
所以不能使用org.apache.dubbo的接口。

[2019-01-16 08:23] #3248 closed

[2019-01-16 08:31] carryxyh commented on #3249
第一个问题在master上已经修复了，那位提交者没有提交到2.6.x分支上，可以艾特他再提交一个到2.6.x上好了

[2019-01-16 08:38] billowqiu commented on #3250
这里有个相关的讨论：https://github.com/apache/incubator-dubbo/issues/848

[2019-01-16 08:38] #3250 closed

[2019-01-16 09:05] pjqbys opened #3251 "[Enhancement] @Service supports the hierarchical interface"

[2019-01-16 09:47] tswstarplanet commented on #3251
Please give more details.

[2019-01-16 09:55] pjqbys commented on #3251
dubbo版本2.6.2
使用方式：接口 ---> 抽象类 ---> 服务实现类，@service注解加在服务实现类上。

[2019-01-16 10:11] likenamehaojie opened #3253 "Dubbo的zookeeperTransporter为何不把zookeeper客户端给暴露出来？"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/blob/master/FAQ.md) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.5
* Operating System version: windows
* Java version:
## 如果用户

[2019-01-16 10:12] likenamehaojie commented on #3253
现在的解决方案是通过SPI扩展了这个CuratorZookeeperTransporter 代码基本没有变就是在客户端中把zookeeper  Client给暴露出来 了！
![image](https://user-images.githubusercontent.com/9814110/51242194-56a86a00-19ba-11e9-9aac-8877e26bf05b.png)

[2019-01-16 10:35] rayjie commented on #3200
谢谢你的回复，zk是集群的，当时运维操作是”轮流重启zk修改zookeeper连接数限制，增加对每个ip限制的数量“。事后我查看了应用的日志，在zk恢复后是有重新建立连接的。还有一点，此次受影响的服务只有是用了这个版本的受影响，使用dubbox2.8.4（当当网的一个版本）的服务未受影响。我在本地搭建了一套这个服务模拟zk宕机并未重现该情况，目前正在跟运维商量在开发环境重复当时线上的操作，待后续有结果我再同步。

[2019-01-16 11:12] Kiddinglife commented on #3215
@manzhizhen  so far so good. thanks. I am closing this issue and could re-open in the future if needed. lol.

[2019-01-16 11:12] #3215 closed

[2019-01-16 11:39] Kiddinglife commented on #2972
@notlate
It is reasonable that the consumer cannot consume provider's service within the downtime between disconnection and re-connection  with zk. So it is more important to find out the reasons why your provider lost connection with zk? (I guess somehow zk client in your provider does not regularly report to zk it's alive).
regards.

[2019-01-16 12:19] pursueLife commented on #3242
ok!

[2019-01-16 12:30] Kiddinglife commented on #3060
@HouZhiHouJue  I think you are right. I posted another issue which looks similar to your one. the dubbo has provided the upper user the exact error code for different failing reasons. you can go there and check if there is the one you are looking forward to.
[issue](https://github.com/apache/incubator-dubbo/issues/3215)
regards.

[2019-01-16 12:59] manzhizhen commented on #3253
Is this what I want to use for the business side? =_=

这个是想蹭这个给业务方自己用吗？=_=

[2019-01-16 15:50] satansk opened #3258 "We should use type inference instead of explicit type parameters"
The source code contains many explicit type parameter use cases, such as:

[code]

The old style is not suitable now, since we will support Java 8 from Dubbo 2.7, so I think we can improve it.

Since the source code is big, some tools or scripts may be helpful.

[2019-01-16 17:02] edwardlee03 commented on #890
**消费者线程池数据模型**比想象的还要复杂，我们将线程池的`核心池数(corethreads)`从`0`调整为`40`，同时某提供者服务配置了`connections=50`，结果消费者线程数`DubboClientHandler-*-thread-*`直接达到了15000+个，报`OutOfMemoryError: unable to create new native thread`异常。 @zhaojigang

简版的**Dubbo消费者线程池数据模型**：
[code]

即使`核心池数(corethreads)`为0，当消费者应用依赖的服务提供者处理很慢时且请求并发量比较大时，也会出现消费者线程数很多问题。

[2019-01-16 17:41] edwardlee03 commented on #1954
是存在这个问题，尤其在高并发且提供者响应很慢时，会同时把消费者也一起拖垮。我们内部设置为`threads`
[code]

[2019-01-16 18:21] edwardlee03 commented on #695
从异常信息看，`ClassNotFoundException: org.apache.zookeeper.server.ZooTrace`若发生在应用启动时，应用应该是启动失败；若发生在应用关闭时，就像 @wuwen5  说的，是应用优雅停机问题。我们也遇到不少这个问题，都是发生在应用关闭时，升级到`dubbo-2.5.8`之后就很少遇到。

[2019-01-17 01:19] chickenlj commented on #2235
What is the rule exactly now after the refactor?

[2019-01-17 01:47] chickenlj opened #3259 "A rule for autogenerated id so we can distinguish autogenerated id and user specified id."
We should make a rule for autogenerated id if the user does not set a value to Config's id. Because I find that in some cases we need to distinguish the user set `id` from the autogenerated `id`.

Try to fetch `dubbo.registry.id.address=xxx` and never fall back to `dubbo.registry.address` if the user assigns the id they want explicitly.
Only see `dubbo.registry.address` if user does not assign a v

[2019-01-17 01:48] chickenlj commented on #3259
Spring XML parser
Spring Annotation
API

[2019-01-17 01:51] chickenlj opened #3260 "Need singleton restriction on some Configs."
ApplicationConfig
ModuleConfig
MonitorConfig
ConfigCenterConfig

[2019-01-17 03:11] tswstarplanet commented on #3251
Can it works if you use xml-based config?

[2019-01-17 03:43] luoye1989hzx opened #3261 "DubboServerHandler parking to wait"
DubboServerHandler-172.16.20.113:20835-thread-399 - priority:5 - threadId:0x00007fb748117800 - nativeId:0x202 - nativeId (decimal):514 - state:WAITING
stackTrace:
java.lang.Thread.State: WAITING (parking)
at sun.misc.Unsafe.park(Native Method)
- parking to wait for <0x00000000833e9318> (a java.util.concurrent.SynchronousQueue$TransferStack)
at java.util.concurrent.locks.LockSupport.park(LockSuppor