[2018-04-21 10:31] #1602 closed

[2018-04-21 11:01] chickenlj commented on #1596
Please use english for a global community, also, we suggest send to dev@dubbo.apache.org for any questions like this.

[2018-04-21 11:04] chickenlj commented on #1596
What do you mean by "without consumer side code change" and "version"?  The version mechanism provided by fst?

With infos provided, it's like limits of fst itself.

[2018-04-21 11:06] chickenlj commented on #1586
Nope!

[2018-04-21 11:06] chickenlj commented on #1586
Everything works fine now?

[2018-04-21 11:12] chickenlj commented on #1585
Shouldn't the endpoint address be added on your customized client?

[2018-04-21 11:15] #1560 closed, assigned to nobody

[2018-04-21 16:15] lovepoem commented on #1521
Now the java9  ci faild: https://github.com/apache/incubator-dubbo/pull/1611

[2018-04-22 08:05] SenseBin opened #1648 "about async and http2(http2c)"
Hi~
I want to extend this framework to support async (or reactor) and http2(http2c) protocol. How to do?
Can I just implement one class "com.alibaba.dubbo.rpc.Protocol"?

[2018-04-22 10:04] htynkn commented on #1521
@lovepoem hey Xin, I figure out the reason for issue 1611. Please refer to my comment for that PR.
The issue for PR 1611 is not related to java9 travis configuration and maven-javadoc-plugin is latest version. I couldn't see much we can improve for travis CI configuration.
Could you close this issue now or after 1611 merged?

[2018-04-22 10:37] thanks0rf opened #1649 "message can not send,becaues channel is closed"
消费者和服务提供方不在一个机房，进行网络调整，比如机房间网络专线调整，消费端产生message can not send 报错，消费端无法进行自动恢复，每次重启消费端服务才能恢复？

[2018-04-22 15:38] kimmking commented on #1642
@All, I had achieve the integration with dubbo-rest and swaggerUI in last year.
And then, I will merge it to dubbo soon.

[2018-04-23 00:44] li-keli commented on #1642
@kimmking Is it true? That's very kind of you, thanks for your contribution.

[2018-04-23 02:47] lovepoem commented on #1521
https://github.com/apache/maven-javadoc-plugin has resoled the issue in snapshot version, so we should pay attention to  https://issues.apache.org/jira/projects/MJAVADOC/issues

[2018-04-23 02:47] #1521 closed

[2018-04-23 02:59] stefli commented on #1637
@chickenlj The issue might happen in a certain environment, i need more test later. I found that the default implementation works in pure dubbo application without web environment.
So, i'll give more details about the process later.

[2018-04-23 05:49] YoKv commented on #1545
how to config with xml ?
[code]
exception
[code]

[2018-04-23 05:53] zllc opened #1651 "server重启时，已经在server端的请求如何处理呢？"
是等待所有请求执行完再重启？

[2018-04-23 06:11] ralf0131 commented on #1545
Hi, please try using the latest schema: http://dubbo.apache.org/schema/dubbo.

Examples can be found here:
https://github.com/apache/incubator-dubbo/blob/master/dubbo-demo/dubbo-demo-provider/src/main/resources/META-INF/spring/dubbo-demo-provider.xml

[2018-04-23 06:11] dong4j opened #1652 "memory leak"
[code]

关闭 tomcat 时, 报出上面的警告, tomcat 只能使用 kill 9 才能停止, 也主动调用了ProtocolConfig.destroyAll(), 但是没用.
RpcContext 的警告是请求了 N 次就会出现 N 个同样的 RpcContext 警告
dubbo 版本 2.5.5 2.5.7 2.6.1 都试过

[2018-04-23 06:27] mercyblitz opened #1653 "[BUG] Refactor @Service annotation bean name"
To generate a new bean name for `@Service` annotation bean

Bean name should be composed by those meta data at least:
* `@Service#interfaceName`
* `@Service#version`
* `@Service#group`

[2018-04-23 06:29] mercyblitz opened #1654 "[BUG] @Reference field can't refer its' @Service Bean in same JVM"
`@Reference` field can't refer its' `@Service` Bean in same JVM, because  `@Reference` field have to  wait `@Service` Bean is ready.

[2018-04-23 06:46] kimmking commented on #1585
I think this is a bug.
I will fix it later.

[2018-04-23 06:51] kimmking opened #1655 "[BUG]Endpoint address is missing in WSDL with webserivce protocol"
When we export a webservice with webserivce protocol, we will find Endpoint address is missing in WSDL, then we use wsdl to generate codes and call ws method, it will be failing.

See also #1585

[2018-04-23 06:56] shinestarwang commented on #1586
not balanced

[2018-04-23 07:01] mercyblitz opened #1656 "[Release] Sync 2.6.2-SNAPSHOT to master branch"

[2018-04-23 08:04] stefli commented on #1637
@cthistle @ralf0131
Latest news:
After some tests, we found that this issue only occured when using url="dubbo://xxx" in local environment.

- **Scene (Use url property, such as url="dubbo://localhost:20880")**

Invoker -> ExceptionFilter -> ValidationFilter -> Vadation Failed -> DefaultFuture

The method returnFromResponse  of the class DefaultFurture will wrap the ConstraintViolationException to

[2018-04-23 09:52] whanice opened #1659 "hessian-lite performance"
I made a simply performance test in my mac to messure hessian.
the result is
[code]
We can see hessian4(4.0.37) performs much better than hessian-lite(3.2.2) in deserialization.

So here comes the question
- What is the difference between hessian-lite(3.2.2) and hessian3?
- Can sync with hessian4?

[2018-04-23 10:08] lovepoem commented on #1659
I think you should send a mail to dev@dubbo.apache.org to discuss the relation between  hesssian-lite and origin hessian

[2018-04-23 10:51] whanice commented on #1659
@lovepoem  ok.  I will try to use the mail.

[2018-04-23 12:33] 595979101 opened #1660 "dubbo2.5.11 in your incubator-dubbo-spring-boot-project-0.2.0 miss"
![1524486542 1](https://user-images.githubusercontent.com/38642570/39126659-88cbc250-4735-11e8-9ee2-7bd91d138c4e.jpg)

[2018-04-23 13:26] #1653 closed

[2018-04-23 13:29] dlhf opened #1661 "dubbo-test 这个下面的测试用例哇,都报一样的错误"
![image](https://user-images.githubusercontent.com/26599669/39129572-6c44011c-473d-11e8-81e0-2d0d3e5ca2ab.png)

[2018-04-23 15:07] ganxinhu opened #1664 "memory leak when ExceedPayloadLimitException happens"
当出现下面这个错误的时候，由于直接throw异常了，导致byte[]的指针未释放（ExchangeCodec.decode, 110行），发生内存溢出。
ExceedPayloadLimitException e = new ExceedPayloadLimitException("Data length too large: " + size + ", max payload: " + payload + ", channel: " + channel);

[2018-04-23 15:17] ralf0131 commented on #1604
What need to be updated?

[2018-04-24 02:02] zhangzhenhuajack commented on #1393
666

[2018-04-24 02:15] ralf0131 opened #1665 "Could not stop elegantly when running under tomcat"
When deploying dubbo application under tomcat 8.5.30, the application could not stop elegantly. Below is the stack trace:

[code]

It looks like there are several threads still running when web application stops.

[2018-04-24 02:49] fingthinking opened #1666 "Does need invoke startClose() in this function"
I have seen [issue#580](https://github.com/apache/incubator-dubbo/pull/580), I think should invoke startClose() in `com.alibaba.dubbo.remoting.exchange.support.header.HeaderExchangeServer#close()`funciton;
[code]

[2018-04-24 02:58] mercyblitz commented on #1656
@ralf0131 Ok

[2018-04-24 03:36] EdwardLee03 commented on #1012
组织：挖财网络技术有限公司
地点：中国杭州
联系方式：dannong@wacai.com
场景：单元化改造，动态链路，环境隔离

Thanks for Dubbo!  👍

[2018-04-24 03:43] empireaaron commented on #1012
组织：empire团队
地点：中国上海
联系方式：haotking@163.com
场景：分布式服务，服务治理

[2018-04-24 03:43] beiwei30 opened #1667 "com.alibaba.dubbo.rpc.protocol.hessian.HessianProtocolTest fails occasionally"
@htynkn mentions in mailing list:

For now, I can only reproduce this issue in travis ci with jdk9 (refer to logs: https://api.travis-ci.org/v3/job/365133362/log.txt). I also did some test with my own machine:

Mac 10.13.2 with Jdk7, Jdk8 and Jdk9 can't reproduce this issue
Window 8 with jdk8 can reproduce this issue, I run test 1000 times, 247 of them are fail.

The only thing I can think about i

[2018-04-24 04:39] beiwei30 commented on #1664
where will memory leak happen? I go through the code, and the byte array is temp variable.

[2018-04-24 04:46] beiwei30 commented on #1661
cannot reproduce. it works on my laptop. there's one thing you may need to pay attention to, which is, you need to specify `-Djava.net.preferIPv4Stack=true` before you launch the application.

[2018-04-24 04:46] #1661 closed

[2018-04-24 04:46] beiwei30 commented on #1659
@whanice it's nice if you could provide how you perform the test.

[2018-04-24 04:51] beiwei30 commented on #1651
pls. refer http://dubbo.apache.org/books/dubbo-user-book/demos/graceful-shutdown.html for the graceful shutdown behavior.

[2018-04-24 04:51] #1651 closed

[2018-04-24 05:32] whanice commented on #1659
@beiwei30 you can see at [here](https://github.com/whanice/examples/tree/master/src/main/java/com/whanice/code/examples/hessian)

[2018-04-24 06:40] liaomengge opened #1668 "use 2.6.0 rest protocol， start provider will open default port 22222, but use dubbox will not"

[2018-04-24 06:44] chickenlj commented on #1656
Good suggestion to keep master a SNAPSHOT version.

How about doing this when release of v2.6.2 finished.

[2018-04-24 06:53] ralf0131 commented on #1254
I think this issue has low priority, let's do it in the next release.

[2018-04-24 07:13] mercyblitz commented on #1656
@chickenlj  Keeping 2.6.2-SNAPSHOT before 2.6.2 release, and Update 2.6.3-SNAPSHOT after 2.6.2

[2018-04-24 07:34] #1668 closed

[2018-04-24 07:42] ganxinhu commented on #1664
Sorry, it should be at ExchangeCodec.encodeResponse(ExchangeCodec.java:285). It happens while encoding a big result, not decoding. Paste the screenshot of dump info for your reference. Thanks.
![20180424153808](https://user-images.githubusercontent.com/6116137/39172912-d112b1a4-47d5-11e8-9b74-04469615867b.png)
![20180424153813](https://user-images.githubusercontent.com/6116137/39172932-d8d0c7a0-47

[2018-04-24 09:07] chickenlj commented on #1089
We will track this issue with PR #1449.  Remove from milestone and close this issue.

[2018-04-24 09:07] #1089 closed

[2018-04-24 09:15] beiwei30 commented on #1447
@teclxl That's true `com.alibaba.dubbo.remoting.transport.netty4.logging.NettyHelper.DubboLogger` will be used if dubbo boots ahead of your netty, but if you look into `com.alibaba.dubbo.common.logger.LoggerFactory`, you will find DubboLogger will eventually delegate to the real logging framework your app relies on:

[code]

I am not sure if it satisfies what you demands. In order to help clarify

[2018-04-24 09:15] gougouzcm opened #1669 "How can I know where I am called in a Router"
I write a router.

[code]

In this router , I want every rpc request route by  the  threadLocal `RpcGrayContext.getGrayGroup();` content.
If current rpc is a GrayGroup rpc ,I will found all the providers in this group.

The question is that [RegistyDirctory](https://github.com/apache/incubator-dubbo/blob/master/dubbo-registry/dubbo-registry-api/src/main/java/com/alibaba/dubbo/registry/integration/

[2018-04-24 09:35] beiwei30 commented on #1664
would you mind to show us the GC root from the byte array which occupies 1.3GB in your heap dump?

[2018-04-24 09:46] caisirius opened #1670 "Monitor Bug : could cause memory leak"
When DNS Server error happened, dubbo monitor could cause memory leak and FullGC:

https://blog.csdn.net/caisirius/article/details/78558666

[2018-04-24 10:48] chickenlj commented on #1245
Sorry, this change seems to have some problems. Refer your PR #1375 for more details

[2018-04-24 13:01] banchuanyu commented on #458
Hi @david1228 ，麻烦问一下，这个问题最终解决了吗？有定论吗？

[2018-04-25 02:58] ralf0131 commented on #1665
The demo can be found in https://github.com/ralf0131/dubbo-demo/tree/master/dubbo-tomcat-demo

[2018-04-25 03:30] beiwei30 commented on #1664
it should be relevant to https://github.com/RuedigerMoeller/fast-serialization/issues/110

[2018-04-25 03:45] ganxinhu commented on #1664
It's a FST bug. There is a ThreadLocal variable in class FSTDefaultStreamCoderFactory, which contains a FSTObjectOutput object for reuse. But when FSTObjectOutput.resetForReUse invoked, it just will reset the pointer of OutputStream, the space will not be recycled. Therefore, once a big object has been searialized, the space will not been recycled forever.

Related code is pasted as below:

[code]

[2018-04-25 03:49] lovepoem commented on #1487
The issues will be created ,and  added to the project-1 cards board
https://github.com/apache/incubator-dubbo/projects/1

[2018-04-25 09:09] chickenlj commented on #1596
Feel free to reopen this issue if necessary.

[2018-04-25 09:09] #1596 closed

[2018-04-25 09:17] chickenlj commented on #1586
Weird, Roundrobin turns out to be simple and stable enough. Have you tried restart all providers? still the same traffic distribution?

[2018-04-25 09:27] chickenlj commented on #1557
Good advice, we will take look at it.

[2018-04-25 09:29] chickenlj commented on #1364
sth. new for this issue?

[2018-04-25 09:34] #1547 closed

[2018-04-25 09:35] 463535160 commented on #1441
@xhuiinit If zookeeper be down, consumer will build a lock file.Also it can be used without zookeeper

[2018-04-25 09:38] chickenlj commented on #1542
Seems like you have an internal Registry (RegistryService) implementation inside your Org.
Please make sure your registry on 0.0.0.0:9090  works fine.

[2018-04-25 09:38] #1542 closed

[2018-04-25 09:40] hadoop835 opened #1673 "How long apache vesion"
How long apache vesion

[2018-04-25 09:48] kimmking commented on #1660
the latest release version is 2.5.10

[2018-04-25 09:52] 463535160 commented on #1441
@vangoleo It just to be used in container .While no-container consumer want to link container provider，it couldn't be work.If we use the DNS proxy. Maybe it could be sloved.

[2018-04-25 10:05] ralf0131 commented on #1673
Hi, we are planning to start the release process this week.

The discussion is happening in the mailing list, you can [subscribe](https://github.com/apache/incubator-dubbo/issues/1393) and get the latest updates there.

Since it is the first Apache release, it is expected to take 2~3 weeks.

Please also join the mailing list to vote for the release candidate, and we will announce it on the mailing

[2018-04-25 10:05] #1673 closed

[2018-04-25 11:55] chickenlj commented on #1515
We need to figure out the way of using http in browser. Support or not, how to use if support.

[2018-04-25 12:12] chickenlj commented on #1524
Close this one.

[2018-04-25 12:12] #1524 closed

[2018-04-25 12:30] chickenlj opened #1674 "Dubbo should have a better organized collection of the services it exports/refers, also expose an API."
#1503

[2018-04-25 12:30] chickenlj commented on #1503
#1674

[2018-04-25 12:38] chickenlj commented on #1502
Feel free to reopen this issue if necessary

[2018-04-25 12:38] #1502 closed

[2018-04-25 12:39] chickenlj commented on #1499
closed.

[2018-04-25 12:39] #1499 closed

[2018-04-25 12:43] chickenlj commented on #1498
@paopaoteng Which dubbo version do you use?

This issue has been resolved in 2.5.6.

[2018-04-25 12:43] chickenlj commented on #1498
Please check, feel free to reopen if necessary

[2018-04-25 12:43] #1498 closed

[2018-04-25 12:52] chickenlj commented on #1488
Closed. Other repos should track with new issues separately.

[2018-04-25 12:52] #1488 closed

[2018-04-25 12:54] chickenlj commented on #1484
Closed. Reopen if necessary.

[2018-04-25 12:54] #1484 closed

[2018-04-25 12:59] whanice commented on #1503
Seems can use a static method,  ApplicationModel.allProviderModels()

[2018-04-25 14:43] chickenlj commented on #1474
I am a little confused of your stack trace.
Why would a consumer throw "Failed to send response" exception. Could you describe the detailed procedure of stopping services?

[2018-04-25 14:45] chickenlj commented on #1473
Please don't use AnnotationBean anymore, it's deprecated and will be removed in 2.6.3

Seems like you missed the `curator` dependency.

[2018-04-25 14:45] #1473 closed

[2018-04-25 14:51] zonghaishang commented on #1474
Caused by: java.lang.ClassNotFoundException: com.alibaba.com.caucho.hessian.io.JavaSerializer

@guoxiangdaxia
Check the packaged dubbo.jar(hessian-lite module)， If it is maven download package, delete the local repository and download it again, mvn -U clean install

[2018-04-25 14:53] chickenlj commented on #1472
Callback class should never serialized and transfered to provider, it's only a signal for internal implementation to do some trick. You may have missed some configurations.

[2018-04-25 14:58] chickenlj commented on #1472
Just noticed you use `peer to peer` to invoke provider directly. I guess you missed some parameters for the target provider url.

[2018-04-25 14:58] #1472 closed

[2018-04-25 15:00] #1468 closed

[2018-04-25 15:04] chickenlj commented on #1467
@mercyblitz Please take a look at this issue?

[2018-04-25 15:06] #1463 closed

[2018-04-25 15:09] chickenlj commented on #1457
Generally, this method shouldn't be the performance bootle neck.

You can follow qinliujie's advice to check the detailed jstack to locate real problems

[2018-04-25 15:09] #1457 closed

[2018-04-25 15:14] chickenlj commented on #1447
I think beiwei30 and me both have clarified this issue. It shouldn't be caused by dubbo's NettyHelper.

[2018-04-25 15:18] #1452 closed, assigned to nobody

[2018-04-25 15:36] chickenlj commented on #1446
Please provide your demo code that can reproduce your problem and reopen this issue, if necessary.

[2018-04-25 15:36] #1446 closed

[2018-04-25 16:36] lovepoem commented on #420
﹉>我们使用scala + dubbo 一年了。 dubbo的hession2对Scala数据类型非常不好，发布吃了不少苦头，差点整个Facade都打算退回到Java了，核心Service只用Scala。后来研究发现了Kryo+Chill能比较完美的解决这个问题，推荐你试试。
--

I think you can refine a base dependency for scala-dubbo . As a project,we can put into the github.com/dubbo

[2018-04-26 01:27] the3rd opened #1677 "Deadlock when dozens of services registry to redis server"
当注册十数个以上服务到redis注册中心时，存在很大概率的死锁，程序未能完成所有服务的注册。

com.alibaba.dubbo.registry.redis.RedisRegistry
----------------------------------------------

[code]

[2018-04-26 02:05] #9 closed

[2018-04-26 02:15] beiwei30 commented on #1447
@teclxl @chickenlj would you mind to take a look at https://github.com/beiwei30/incubator-dubbo/commit/030ebcea51603b955330059814fa95601f5dd1f6? I made an experimental change to solve this issue.

[2018-04-26 02:46] chickenlj commented on #1441
I think we should have a guidance of how dubbo can be deployed in docker or K8S.

Dubbo itself should also learn from Service Mesh, learn how to cooperate with fundamental infrastructures like K8S.

[2018-04-26 03:10] the3rd commented on #1677
确实，当我将max.total设置成100时，就好了。
但是我不理解为什么需要这么多！

ps. 用Redission换掉Jedis怎么样，redis集群等问题就不是问题了

[2018-04-26 03:28] beiwei30 commented on #1664
@ganxinhu, thanks for your analysis, so it sounds like FST's cache will expand but never shrink.

[2018-04-26 05:37] ralf0131 commented on #1670
Hello, welcome to the community!

I've read about your well written article analyzing this issue, would you mind send pull request to fix this issue?

[2018-04-26 05:39] ralf0131 commented on #1666
Hi, would you mind sending a pull request to fix it?

[2018-04-26 05:41] ralf0131 commented on #1652
Related issue #1665

[2018-04-26 05:41] lovepoem opened #1679 "Enhance the test coverage part-1 : dubbo-cluster module"
Add test case: dubbo-cluster module

[2018-04-26 05:42] lovepoem opened #1680 "Enhance the test coverage part-2 : dubbo-common/src/main/java/com/alibaba/dubbo/common/beanutil(bytecode|compiler|extension)"
add  unit test: modules
 dubbo-common/src/main/java/com/alibaba/dubbo/common/beanutil
  dubbo-common/src/main/java/com/alibaba/dubbo/common/bytecode
  dubbo-common/src/main/java/com/alibaba/dubbo/common/compiler
  dubbo-common/src/main/java/com/alibaba/dubbo/common/extension

[2018-04-26 05:44] #1373 closed

[2018-04-26 05:44] lovepoem opened #1681 "Enhance the test coverage part-3 : dubbo-common/src/main/java/com/alibaba/dubbo/common/concurrent(io|json|logger) modules"
Add unit test,modules:
  dubbo-common/src/main/java/com/alibaba/dubbo/common/concurrent
  dubbo-common/src/main/java/com/alibaba/dubbo/common/io
  dubbo-common/src/main/java/com/alibaba/dubbo/common/json
  dubbo-common/src/main/java/com/alibaba/dubbo/common/logger

[2018-04-26 05:45] ralf0131 commented on #1679
Lets's add them to [project](https://github.com/apache/incubator-dubbo/projects/1) when finished.

[2018-04-26 05:45] lovepoem opened #1682 "Enhance the test coverage part-4 : dubbo-common/src/main/java/com/alibaba/dubbo/common/status(store|threadpoolutils) modules"
Add unit test,modules:
  dubbo-common/src/main/java/com/alibaba/dubbo/common/status
  dubbo-common/src/main/java/com/alibaba/dubbo/common/store
  dubbo-common/src/main/java/com/alibaba/dubbo/common/threadpool
  dubbo-common/src/main/java/com/alibaba/dubbo/common/utils

[2018-04-26 05:46] #1465 closed

[2018-04-26 05:46] lovepoem opened #1683 "Enhance the test coverage part-5 : dubbo-config/dubbo-config-api module"
Add test case
dubbo-config/dubbo-config-api module

[2018-04-26 05:47] #1208 closed

[2018-04-26 05:47] lovepoem opened #1684 "Enhance the test coverage part-6 : dubbo-config/dubbo-config-spring module"
Add unit test
 dubbo-config/dubbo-config-spring module

[2018-04-26 05:47] #1408 closed

[2018-04-26 05:47] #981 closed

[2018-04-26 05:47] #1393 closed

[2018-04-26 05:47] lovepoem opened #1685 "Enhance the test coverage part-7 : dubbo-container module"
Add unit test to dubbo-container  module

[2018-04-26 05:48] lovepoem opened #1687 "Enhance the test coverage part-8 : dubbo-filter module"
Add unit test to dubbo-filter module

[2018-04-26 05:49] lovepoem opened #1688 "Enhance the test coverage part-9 :dubbo-monitor module"
Add unit test to dubbo-monitor module

[2018-04-26 05:49] lovepoem opened #1689 "Enhance the test coverage part-10 : dubbo-plugin module"
Add unit test to dubbo-plugin module

[2018-04-26 05:51] lovepoem opened #1690 "Enhance the test coverage part-11 : dubbo-registry/dubbo-registry-api and dubbo-registry/dubbo-registry-default modules"
Add unit test to
dubbo-registry/dubbo-registry-api and dubbo-registry/dubbo-registry-default modules

[2018-04-26 05:52] lovepoem opened #1691 "Enhance the test coverage part-12: dubbo-registry/dubbo-registry-multicast(dubbo-registry-redis|dubbo-registry-zookeeper)"
Add unit test to the modules:
dubbo-registry/dubbo-registry-multicast
   dubbo-registry/dubbo-registry-redis
  dubbo-registry/dubbo-registry-zookeeper

[2018-04-26 05:55] lovepoem opened #1692 "Enhance the test coverage part-13 : dubbo-remoting/dubbo-remoting-api(dubbo-remoting-grizzly|dubbo-remoting-http) modules"
add unit test to the modules
 dubbo-remoting/dubbo-remoting-api
   dubbo-remoting/dubbo-remoting-grizzly/
   dubbo-remoting/dubbo-remoting-http/

[2018-04-26 05:56] lovepoem opened #1693 "Enhance the test coverage part-14 : dubbo-remoting/dubbo-remoting-mina(dubbo-remoting-netty/dubbo-remoting-netty4) modules"
add unit to the modules
dubbo-remoting/dubbo-remoting-mina
   dubbo-remoting/dubbo-remoting-netty
   dubbo-remoting/dubbo-remoting-netty4

[2018-04-26 05:57] lovepoem opened #1694 "Enhance the test coverage part-15 : dubbo-remoting/dubbo-remoting-p2p(dubbo-remoting-zookeeper) module"
Add unit test to the modules:
   dubbo-remoting/dubbo-remoting-p2p
   dubbo-remoting/dubbo-remoting-zookeeper

[2018-04-26 05:59] lovepoem opened #1695 "Enhance the test coverage part-16 : dubbo-rpc/dubbo-rpc-api(dubbo-rpc-default|dubbo-rpc-dubbo) module"
Add unit test to the modules

   dubbo-rpc/dubbo-rpc-api
   dubbo-rpc/dubbo-rpc-default
   dubbo-rpc/dubbo-rpc-dubbo

[2018-04-26 06:00] lovepoem opened #1696 "Enhance the test coverage part-17 : dubbo-rpc/dubbo-rpc-hessian(dubbo-rpc-http|dubbo-rpc-injvm) module"
Add unit to the modules
 dubbo-rpc/dubbo-rpc-hessian
   dubbo-rpc/dubbo-rpc-http
   dubbo-rpc/dubbo-rpc-injvm

[2018-04-26 06:01] lovepoem opened #1697 "Enhance the test coverage part-18 : dubbo-rpc/dubbo-rpc-memcached(dubbo-rpc-redis|dubbo-rpc-rest) modules"
Add test to the modules:
  dubbo-rpc/dubbo-rpc-memcached
   dubbo-rpc/dubbo-rpc-redis
   dubbo-rpc/dubbo-rpc-rest

[2018-04-26 06:02] lovepoem opened #1698 "Enhance the test coverage part-19 : dubbo-rpc/dubbo-rpc-rmi（dubbo-rpc-thrift|dubbo-rpc-webservice） modules"
dubbo-rpc/dubbo-rpc-rmi
   dubbo-rpc/dubbo-rpc-thrift
   dubbo-rpc/dubbo-rpc-webservice/

[2018-04-26 06:04] lovepoem opened #1699 "Enhance the test coverage part-20 : dubbo-serialization/dubbo-serialization-api(dubbo-serialization-fastjson|dubbo-serialization-fst) module"
Add unit test to the modules:

dubbo-serialization/dubbo-serialization-api
dubbo-serialization/dubbo-serialization-fastjson
dubbo-serialization/dubbo-serialization-fst

[2018-04-26 06:05] lovepoem opened #1700 "Enhance the test coverage part-21 : dubbo-serialization/dubbo-serialization-hessian2(dubbo-serialization-jdk|dubbo-serialization-kryo) modules"
Add unit test to the modules:

dubbo-serialization/dubbo-serialization-hessian2
dubbo-serialization/dubbo-serialization-jdk
dubbo-serialization/dubbo-serialization-kryo

[2018-04-26 06:06] lovepoem opened #1701 "Enhance the test coverage part-22 : hessian-lite module"
Add unit test to hessian-lite module

About 12877 lines ,a bit heavy work

[2018-04-26 06:15] lovepoem opened #1702 "Project 1 - enhance the test coverage"
##Project Description
**Requirement**:

   Add unit test to enhance the test coverage

**Project address**:
  https://github.com/apache/incubator-dubbo/projects/1
**Test coverage guide**
     When writing test code, we should see the [Test coverage guide]( https://github.com/apache/incubator-dubbo/wiki/Test-coverage-guide) at first. There are some naming specifications and test case design suggest

[2018-04-26 06:37] zonghaishang commented on #1680
Please assign to me

[2018-04-26 06:53] lovepoem commented on #1680
Ok ,it's yours

[2018-04-26 07:00] lovepoem commented on #1679
Added

[2018-04-26 07:05] ralf0131 commented on #1604
Fixed.

[2018-04-26 07:05] #1604 closed

[2018-04-26 07:57] raghunanj commented on #1012
* School: StonyBrookUniversity
* Location: New York, USA
* Contact: Twitter : raghunanj
* Purpose: Learn, understand the Dubbo RPC/IPC architecture and contribute to the community.

[2018-04-26 08:01] beiwei30 commented on #1669
route method will only be called by refreshInvoker method, I am wondering when your thread local variable `RpcGrayContext.getGrayGroup()` can be kicked in.

[2018-04-26 08:31] shinestarwang commented on #1586
restart all providers? yes
but server never restart

[2018-04-26 08:45] beiwei30 commented on #1669
you should consider to use [conditional routing](http://dubbo.apache.org/books/dubbo-user-book/demos/routing-rule.html) to achieve your purpose, something like:

[code]

[2018-04-26 09:52] htynkn commented on #1699
@lovepoem i would like to pick up this task.

[2018-04-26 16:34] kimmking commented on #1698
you can assign other rpc test cases to me.

[2018-04-26 16:34] kimmking commented on #1696
and this.

[2018-04-27 00:58] qinnnyul commented on #1687
@lovepoem hey, I would like to increase test coverages for dubbo-filter module.

[2018-04-27 01:32] kkillala commented on #1603
@zonghaishang 谢谢啦。

[2018-04-27 01:38] gougouzcm commented on #1669
@beiwei30

[code]
I put the param Constants.RUNTIME_KEY true in url， so the  router will be called every rpc request。

`RpcGrayContext.getGrayGroup()`  was put in a web filter / or the `<dubbo:provider filter=grayFilter>` , It will be clean and set  at that time  。

First , In my test , if ` router.getUrl().getParameter(Constants.RUNTIME_KEY, false) == true` , the router will be called every time.

[2018-04-27 02:29] stoneapple commented on #1602
@zonghaishang when using failover cluster with service annotation, retries =0 , retry option also happens if first time invoke failes, is this a bug to fix

[2018-04-27 02:31] stoneapple commented on #830
I also need this feature

[2018-04-27 03:11] lovepoem commented on #1687
ok，the base goal：60%，you can see in the page： https://github.com/apache/incubator-dubbo/wiki/Test-coverage-guide。

The more enough,the better

[2018-04-27 05:43] the3rd commented on #1677
[RedissonRegistry.zip](https://github.com/apache/incubator-dubbo/files/1953952/RedissonRegistry.zip)
照着之前的RedisRegistry写了一个使用Redisson的，看起来比之前的要简单一些。

[2018-04-27 06:13] fingthinking commented on #1666
Glad to do it. [issue#1709](https://github.com/apache/incubator-dubbo/pull/1709)

[2018-04-27 06:56] diecui1202 commented on #1700
Please transfer it to me, thanks.

[2018-04-27 06:57] lovepoem commented on #1700
ok

[2018-04-27 08:15] darknesstm opened #1710 "annotation @Active is inconsistent with it's document"
source code：

[code]
by the code, `@Activate` without property `group` can not be matched, also can not be activated.

but document say yes.

[code]

[2018-04-27 10:16] jieyisoft opened #1711 "The Random of loadbalance unaverage Load"
Using virtualization cluster, using 5 nodes, each node host configuration and application are consistent, each node has three Dubbo services.

1000 concurrent stress tests are carried out through JMeter, and the configuration (loadbalance=random, dispatcher=message, threadpool=fixed services are accessed asynchronously).

In theory, loadbalance=random has 300 performance per service configuration

[2018-04-27 10:38] DeadLion commented on #1693
i'd like to handle this issue, do we have a deadline?

[2018-04-27 11:02] lovepoem commented on #1693
ok，the quality of test code has the highest priority。Deadline ：before the end of May

[2018-04-27 11:37] lovepoem commented on #1679
Claim

[2018-04-27 13:35] ZhichX opened #1712 "Increase the cache implementation of CacheFilter"
I want to provide an ExpiryCache - With the characteristic of expiration time #1707

[2018-04-27 14:28] ralf0131 opened #1713 "Support log4j2"
Need to add the log4j2 support, currently supported logging framework:
* slf4j
* jcl
* log4j
* jdk

I think the priority is between low and medium.

[2018-04-27 14:30] ralf0131 commented on #1713
Meanwhile, the English documentation[1] has only described the default value, and is missing all supported values, compared to the Chinese documentation[2].

[1] http://dubbo.apache.org/books/dubbo-user-book-en/references/xml/dubbo-application.html
[2] http://dubbo.apache.org/books/dubbo-user-book/references/xml/dubbo-application.html

[2018-04-28 02:36] the3rd opened #1714 "Replace Jedis with Redisson"
[RedissonRegistry.zip](https://github.com/apache/incubator-dubbo/files/1953952/RedissonRegistry.zip)

This attachment is without RedissonRegistryFactory. Just like this.

[code]

And you should edit the file "com.alibaba.dubbo.registry.RegistryFactory" in META-INF/dubbo.

[code]

The config of redisson is in a standalone file. And dubbo config like this.

[code]

[2018-04-28 02:43] chickenlj commented on #1619
Done.

[2018-04-28 02:43] #1619 closed

[2018-04-28 02:46] chickenlj commented on #1606
Done, tracked with #1607

[2018-04-28 02:46] #1606 closed

[2018-04-28 02:48] #1583 closed

[2018-04-28 02:57] chickenlj commented on #1674
Consider the following points:
* Bootstrap API
* Unified shutdown API

[2018-04-28 03:32] #926 closed

[2018-04-28 03:43] chickenlj commented on #287
Fixed since v2.5.7.

[2018-04-28 03:43] #287 closed

[2018-04-28 04:32] chickenlj commented on #460
This feature relies on the underlying rest framework.

So cannot be fixed in dubbo.

[2018-04-28 04:32] #460 closed

[2018-04-28 04:46] chickenlj commented on #1095
Duplicate with #1559

[2018-04-28 04:46] #1095 closed

[2018-04-28 04:49] chickenlj commented on #1229
Merged

[2018-04-28 04:49] #1229 closed

[2018-04-28 04:51] chickenlj commented on #1262
Close this one, track with #1267

[2018-04-28 04:51] #1262 closed

[2018-04-28 09:03] ralf0131 commented on #1470
Hi, thanks for reporting, could you please send a pull request to fix it?

[2018-04-28 09:04] #1437 closed

[2018-04-28 09:06] ralf0131 commented on #1428
Hi, please checkout the our Qcon talk which covers gRPC talk: https://github.com/apache/incubator-dubbo/wiki#news

[2018-04-28 09:07] #1428 closed

[2018-04-28 09:10] #1287 closed

[2018-04-28 09:13] ralf0131 commented on #1172
@yinwerhong I cannot access  https://gitee.com/yinwerhong/dubbo-monitor

It says it does not exist.

Have you moved this repo to somewhere else?

[2018-04-28 09:15] ralf0131 commented on #1013
Hi, thanks for reporting! Would you please send a pull request?

[2018-04-28 09:26] ralf0131 commented on #732
Related issue: #1665

[2018-04-28 09:35] ralf0131 commented on #655
Dubbo 2.x should support Java 6+, so the highest version that can be upgrade to should be Jetty 8:

https://www.eclipse.org/jetty/about.html

[2018-04-28 09:36] ralf0131 commented on #642
Can you send a pull request to https://github.com/apache/incubator-dubbo-docs ?

[2018-04-28 09:37] ralf0131 commented on #622
The latest version 2.6.1 now supports netty4.

[2018-04-28 09:37] #622 closed

[2018-04-28 09:39] ralf0131 commented on #575
It has been fixed in #1620 and will be available since 2.6.2

[2018-04-28 09:39] #575 closed

[2018-04-28 09:40] ralf0131 commented on #553
Hi, would you mind send a pull request?

[2018-04-28 09:41] #536 closed

[2018-04-28 09:42] #516 closed

[2018-04-28 09:44] ralf0131 commented on #478
Hi, would you mind send a pull request?

[2018-04-28 09:45] #456 closed

[2018-04-28 09:48] #416 closed

[2018-04-28 09:48] #414 closed

[2018-04-28 09:48] ralf0131 commented on #414
Please check out the latest version 2.6.1

[2018-04-28 09:50] ralf0131 commented on #409
It should be fixed in the latest version 2.6.1.

[2018-04-28 09:50] #409 closed

[2018-04-28 09:52] ralf0131 commented on #404
This should not be an issue any more. Feel free to reopen if you still encounter this.

[2018-04-28 09:52] #404 closed

[2018-04-28 09:54] ralf0131 commented on #350
This is an article about learning Dubbo, which does not belong to issue.

[2018-04-28 09:54] #350 closed

[2018-04-28 09:56] ralf0131 commented on #314
Help wanted! Please send pull request to: https://github.com/apache/incubator-dubbo-docs

[2018-04-28 09:56] #314 closed

[2018-04-28 09:58] ralf0131 commented on #306
@jabnih Could you please send a pull request?

[2018-04-28 10:01] #293 closed

[2018-04-28 10:03] ralf0131 commented on #173
Related issue #1665

[2018-04-28 10:06] ralf0131 commented on #158
Please tested on the latest version 2.6.3. I am closing this issue, please feel free to reopen if the issue still exist.

[2018-04-28 10:06] #158 closed

[2018-04-28 10:07] ralf0131 commented on #157
Hi, could you please send a pull request?

[2018-04-28 10:09] ralf0131 commented on #130
Hi, would you please send a pull request for this?

[2018-04-28 10:12] ralf0131 commented on #74
The zookeeper thread is not stopped elegantly. We are looking at this issue recently.

[2018-04-28 10:38] zackhu135 opened #1719 "performance testing，at single thread test scene, thread sleep is slower than no sleep in response time，why？？"
sleep scene:
public static void main(String[] args) {
        ClassPathXmlApplicationContext context = new ClassPathXmlApplicationContext(new String[]{"META-INF/spring/dubbo-demo-consumer.xml"});
        context.start();
        DemoService demoService = (DemoService) context.getBean("demoService"); // get remote service proxy
        for(int i=0;i<10000;i++) {
            try {
                Th

[2018-04-28 11:05] htynkn commented on #1681
@lovepoem I would like to pick up this task

[2018-04-29 05:34] shaofq opened #1720 "dubbo提供者默认实现单例模式，出现单例并发问题，如何解决？"
dubbo提供者默认实现单例模式，出现单例并发问题，目前采用多例方式，设置scope="prototype",有没有其他方式解决？

[2018-04-29 05:59] htynkn commented on #1681
All files under `dubbo-common/src/main/java/com/alibaba/dubbo/common/json` are deprecate. will skip them when adding unit test

[2018-04-30 17:30] kimmking commented on #1720
can you show your code？

[2018-04-30 17:31] kimmking commented on #1719
can you show your test result ?

[2018-05-01 04:35] z626994 opened #1723 "dubbo demo start failure"
![image](https://user-images.githubusercontent.com/22947725/39461218-ce18e0e8-4d3b-11e8-9a65-eade28835b14.png)
![image](https://user-images.githubusercontent.com/22947725/39461237-ed670e8e-4d3b-11e8-8a8b-185fc29b234d.png)

as the picture shows

[2018-05-01 04:56] kimmking commented on #1723
I think the references dubbo project in your demo project is missing.

[2018-05-01 05:00] z626994 commented on #1723
this download in https://github.com/apache/incubator-dubbo/tree/master/dubbo-demo ,missing?

[2018-05-01 05:03] z626994 commented on #1723
I use 2.5.10 demo ,Can start
![image](https://user-images.githubusercontent.com/22947725/39461825-124b7704-4d40-11e8-937d-1902c62314ad.png)

[2018-05-01 10:55] lazyman54 commented on #1098
你看看你是不是少了log4j-over-slf4j这个jar包，0.8的zkConnection需要这个jar，包不然会报错，ZkClientWrapper会把这个错误吃掉，并提示链接超时的异常，有点坑啊

[2018-05-01 13:52] lovepoem commented on #1685
ok

[2018-05-02 02:48] yiwugou opened #1724 "dubbo registry check=false is not work?"
when i set `<dubbo:registry check="false" />`
and zookeeper is not setup
i can not setup dubbo-consumer project
console just circulatory print

2018-05-02 10:44:26,708 INFO  [org.apache.zookeeper.ClientCnxn] - Opening socket connection to server 127.0.0.1/127.0.0.1:2181
2018-05-02 10:44:27,711 WARN  [org.apache.zookeeper.ClientCnxn] - Session 0x0 for server null, unexpected error, closing socket c

[2018-05-02 02:50] yiwugou commented on #1724
when i search in source code, i can not find which class or method invoke  `com.alibaba.dubbo.config.RegistryConfig.isCheck()`

[2018-05-02 02:51] yiwugou commented on #1724
![image](https://user-images.githubusercontent.com/28729808/39503130-bae80f24-4df6-11e8-8a23-f33984c1e70c.png)

[2018-05-02 02:57] yiwugou commented on #1724
![image](https://user-images.githubusercontent.com/28729808/39503267-9e884564-4df7-11e8-9ec6-85e04df94da9.png)

[2018-05-02 06:00] beiwei30 opened #1725 "System property dubbo.registry.address cannot have multiple values"
In com.alibaba.dubbo.config.AbstractInterfaceConfig#checkRegistry, there's code snippet to handle backward compatibility when there are multiple registry addresses in `dubbo.registry.address`, say: "addr1|addr2":

[code]

but later, appendProperties is called so that the value from `dubbo.registry.address` will override the address value from each RegistryConfig, for registryConfig1, its address b

[2018-05-02 09:33] gMan1990 commented on #669
这样行么？我印象记得没给apache之前文档上有写到，现在找不到了（谁有旧版文档
[code]

[2018-05-02 09:48] beiwei30 opened #1727 "HessianProtocolTest is unstable"
[code]

[2018-05-03 03:07] anian1011 commented on #671
分布式环境时常会有多次调用、重复调用，因此服务最好设计为幂等的。

[2018-05-03 05:52] #1699 closed

[2018-05-03 06:09] htynkn commented on #1727
link to #1667

[2018-05-03 06:28] satansk commented on #1691
Let me try this :)

[2018-05-03 06:53] feelwing1314 opened #1728 "System property dubbo.service.delay invalid"
根据dubbo参数的映射关系<dubbo:service delay="5000">也可以通过-Ddubbo.service.delay=5000配置，但是发现-Ddubbo.service.delay=5000不起作用；

debug下面这段代码（ServiceConfig.java）发现：

[code]

如果有delay，先delay再doExport()，而解析JVM参数的逻辑（appendProperties(this);）是在doExport()方法中调用；所以导致 if (delay != null && delay > 0)判断时，还没有解析JVM参数-Ddubbo.service.delay=5000，从而导致这种配置不起作用；

[2018-05-03 08:13] LiuXuyang04 opened #1729 "dubbo的consume 报InvocationTargetException: null，发现没有找到接口实例"
java.lang.reflect.InvocationTargetException: null
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[na:1.8.0_111]
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62) ~[na:1.8.0_111]
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) ~[na:1.8.0_111]
	at java.lang.reflect.Method.invoke(Method.java:498) ~[na:1.8.0_11

[2018-05-03 08:26] #1681 closed

[2018-05-03 11:27] htynkn commented on #1688
@lovepoem I would like to pick up this card

[2018-05-03 16:13] satansk opened #1730 "Do we have a plan to upgrade to Java 8?"
The source code only compile with Java 6, since Java 8 has significant improvements, I think it's a good idea to support Java 8. :)

[2018-05-04 00:55] htynkn commented on #1687
PR #1715 add unit test for dubbo-filter-cache. we still need unit test for dubbo-filter-validation

[2018-05-04 00:58] qinnnyul commented on #1687
good eye!  I will work on it, thanks

[2018-05-04 02:48] beiwei30 opened #1731 "checkMultiExtension in com.alibaba.dubbo.config.AbstractInterfaceConfig should be in setter instead of getter"
checkMultiExtension in com.alibaba.dubbo.config.AbstractInterfaceConfig should be in setter instead of getter

[code]

[2018-05-04 03:28] teclxl commented on #1447
@beiwei30 I think your change can solve this issue. I think the reason is that FailsafeLogger changed all msg, too.
I saw you have already begun to slove this issue. I don't know if it is appropriate to close the issue now. Please close this issue, if you think it is appropriate.

[2018-05-04 03:34] beiwei30 commented on #1666
I think it's unnecessary. You could consider `close()` will shutdown immediately.

[2018-05-04 03:34] #1666 closed

[2018-05-04 07:32] darknesstm opened #1734 "why dependency 'commons-lang3' is provided scope?"
like title, I think it need compile or runtime scope.

[2018-05-04 08:35] renoxiang opened #1735 "采用zookeeper集群配置，把所有zookeeper都停掉以后为什么还能调用服务"

[2018-05-04 09:01] renoxiang commented on #1735
用的是spring-boot
            <dependency>
                <groupId>com.alibaba.boot</groupId>
                <artifactId>dubbo-spring-boot-starter</artifactId>
                <version>0.1.0</version>
            </dependency>

[2018-05-04 09:19] feelwing1314 opened #1737 "failover重试机制（默认）且只有两个Invoker时，invoker选择有问题"
当采用failover重试机制（默认）且只有两个Invoker（Provider）时，不论配置了什么负载均衡loadbalance策略，都会退化成轮询策略。但是retry重试时选择Invoker的逻辑有问题，源码在AbstractClusterInvoker.java的doSelect()方法中：
if (invokers.size() == 2 && selected != null && !selected.isEmpty()) {
    return selected.get(0) == invokers.get(0) ? invokers.get(1) : invokers.get(0);
}
假设有两个可选invoke，分别为：
10.0.0.1:20884，10.0.0.1:20886；
那么N次选择的invoke如下：
10.0.0.1:20884
10.0.0.1:208

[2018-05-04 09:44] XuKer commented on #1012
组织：个人
地点：中国北京
联系方式：[ wxk1035@gmail.com](url)
场景：分布式服务

[2018-05-04 09:46] XuKer commented on #1012
组织：个人
地点：中国北京
联系方式： wxk1035@gmail.com
场景：分布式服务

[2018-05-04 12:43] satansk commented on #1730
I find the answer from the wiki, the answer is yes.

[2018-05-04 12:43] #1730 closed

[2018-05-04 16:03] daanhan opened #1739 "2.6.1的demo程序报错"
2.6.1版本的dubbo-demo，在eclipse中运行dubbo-demo-provider里的Provider，得到以下错误，请解决，谢谢！
由于是dubbo新手，暂时猜测是xmlns:dubbo的路径问题。

[04/05/18 23:49:42:042 CST] main  INFO xml.XmlBeanDefinitionReader: Loading XML bean definitions from class path resource [META-INF/spring/dubbo-demo-provider.xml]
Exception in thread "main" org.springframework.beans.factory.parsing.BeanDefinitionParsingException: **Configuration problem:

[2018-05-04 16:06] daanhan commented on #1723
2.6.1 demo, got same error message.  My issue #1739

[2018-05-04 16:17] daanhan commented on #1739
It goes normal when change
`<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.a

[2018-05-05 04:02] rambosir commented on #1602
@stoneapple you need set retries=-1

[2018-05-05 05:09] qq282485068 opened #1742 "Dubbo2..6.1报线程池已满错误"
Caused by: com.alibaba.dubbo.remoting.RemotingException: Server side(xxx.xxx.xxx.xxx,20888) threadpool is exhausted ,detail msg:Thread pool is EXHAUSTED!

[2018-05-05 06:02] gMan1990 opened #1743 "use CuratorFrameworkFactory.DEFAULT_CONNECTION_TIMEOUT_MS"
https://github.com/apache/incubator-dubbo/blob/04c93e8b98250230c4d22423372acd1c29e2c770/dubbo-remoting/dubbo-remoting-zookeeper/src/main/java/com/alibaba/dubbo/remoting/zookeeper/curator/CuratorZookeeperClient.java#L49

rt

[2018-05-05 07:42] nobodyiam opened #1744 "Client side response time is slower than actual when client side is in tcp delayed ack mode"
## 1. Issue Description

Dubbo's [netty 3 server implementation](https://github.com/apache/incubator-dubbo/blob/master/dubbo-remoting/dubbo-remoting-netty/src/main/java/com/alibaba/dubbo/remoting/transport/netty/NettyServer.java#L70) does not enable `TCP_NODELAY` option, which causes the server side not responding in time when client side is in delayed ack mode and the response size is less than M

[2018-05-05 15:26] coder-PengWenHao opened #1747 "dubbo-demo"
dubbo -demo hava a bug , Unable to locate Spring NamespaceHandler for XML schema namespace [http://dubbo.apache.org/schema/dubbo]
Offending resource: class path resource [META-INF/spring/dubbo-demo-provider.xml]

[2018-05-06 05:03] 595979101 opened #1748 "dubbo ESTABLISHED"
provider dubbo maxESTABLISHED 55 but consumer new 200 threads why it 55?

[2018-05-06 07:50] htynkn commented on #1684
@lovepoem I would like to pick up this task

[2018-05-06 09:45] mzorro commented on #1737
经过测试，确实是有这个问题

[2018-05-06 10:24] EdwardLee03 commented on #1742
@qq282485068 服务器地址就别贴出来了（Server side(172.17.218.167,20888) ），建议改一下

[2018-05-06 10:25] EdwardLee03 commented on #1742
@qq282485068 线程池满了，看看服务是否需要扩容，还是处理慢引起

[2018-05-07 02:38] ryankong opened #1749 "consumer ip in docker"
run with docker --net=host
provider will using the host ip,
but the consumer ip using the docker bridge default ip
exp:
    docker0   Link encap:Ethernet  HWaddr 02:42:6b:5f:e7:f8
          inet addr:192.168.13.1  Bcast:192.168.255.255  Mask:255.255.0.0
    eth0      Link encap:Ethernet  HWaddr 00:16:3e:0c:b3:d9
          inet addr:10.4.2.13  Bcast:10.4.2.255  Mask:255.255.255.0

the default provi

[2018-05-07 03:19] diecui1202 commented on #1700
PR has been merged, please close it. Thanks.

[2018-05-07 06:35] diecui1202 commented on #934
After discussing with @chickenlj , we decide to remove 140-142 lines, as the following shows:

[code]

Because the `selected` param is only not null when retry or in ForkingClusterInvoker. And the reselect function will finally select a avaliable invoker.

So these 3 lines code seems unnecessary.

[2018-05-07 08:16] JackCaptain1015 opened #1751 "TravisCI fails to building after PR, how to rebuilding"
TravisCI fails to building after PR, how to rebuilding?
And successful in jdk9, jdk7, but failed in jdk8.
how to solve this problem?
my PR address: https://github.com/apache/incubator-dubbo/pull/1750

[2018-05-07 10:27] ralf0131 commented on #1747
This feature requires 2.6.2. If you are using lower version, please refer to my answer in #1545

[2018-05-07 10:28] #1747 closed

[2018-05-07 10:33] ralf0131 commented on #1739
The latest dubbo-demo codes should work with 2.6.2+, if you are using latest demo with 2.6.1, you need to register a name space handler manually in the demo code:

You can manually register the NamespaceHandler by adding `META-INF/spring.handlers` with the following content:

[code]

[2018-05-07 10:37] ralf0131 commented on #1728
Would you please send a pull request?

[2018-05-07 10:37] ralf0131 commented on #1727
It is a duplicated issue.

[2018-05-07 11:19] fuyongde opened #1752 "Why is the implementation-version in Dubbo 2.5.10 is 2.0.1?"
Why is the implementation-version in Dubbo 2.5.10 is 2.0.1?

[2018-05-07 12:44] EdwardLee03 commented on #1393
subscribed

[2018-05-07 13:27] #1751 closed

[2018-05-07 16:12] EdwardLee03 commented on #1648
See  http2 support? #1563

[2018-05-08 00:16] EdwardLee03 commented on #1563
Can share the detailed plan or milestone? thx @beiwei30

[2018-05-08 01:03] EdwardLee03 commented on #1624
Good! 👍
@YoungHu 你们的解决方案：“修复的方法就是注册和查找服务的时候，有分组的加上一个分组zk节点，这样就能准确找到具体的服务而不是找这个接口下面所有服务。” 如果使用场景改变一下，服务版本有60个，你们的方案是否合理呢。同时，ZK数据结构至少增加一层分组zk节点层，应该需要调整`RegistryDirectory`和`ZookeeperRegistry`实现。

Maybe use the service key (`[group/]interface[:version]`) of service layer of ZooKeeper, not use service instead. So simple adjust the `ZookeeperRegistry.toServicePath(URL)` implementation. @chickenlj

[2018-05-08 01:12] the3rd commented on #1605
Yes. The latest version of SSL. [Transport Layer Security](https://en.wikipedia.org/wiki/Transport_Layer_Security)

But it does not mean HTTPS. Dubbo's default protocol 'dubbo' should support 'over TLS/SSL'.

[2018-05-08 08:45] unknow16 commented on #1012
组织：享宇金服
地点：中国成都
联系方式：fuyiming@xyebank.com
场景：服务隔离

[2018-05-08 10:18] mascothaojun opened #1753 "升级到2.6.1版本后，是默认使用curator连接吗？"
原来是使用dubbo的2.5.6的版本，用zkclient进行连接，是能正常启动及运行的，但是在文件上传的时候报rpc错误，看到2.6.1版本是支持kryo的序列化，升级后启动就出现以下问题，（如下面的问题），到了org.apache.curator.framework.state.ConnectionStateManager -State change: CONNECTED 这一行，就没办法继续往下走了，请问这个问题是怎么解决的？

[code]

[2018-05-08 12:50] summer9989 opened #1754 "com.alibaba.dubbo.common.json.JSON.parse 方法无法转换setter方法有返回值的类"
问题描述：
当一个bean 的setter为非void，有返回值时。com.alibaba.dubbo.common.json.JSON下的将String 转换为具体class的类就会报错，比如public static <T> T parse(String json, Class<T> type) throws ParseException 或
public static Object[] parse(String json, Class<?>[] types) throws ParseException 方法，bean的setter方法（本示例无业务意义）：
public int setStatus(int status){
 this.status = status;
 return status;
}

报错信息：
com.alibaba.dubbo.common.bytecode

[2018-05-08 13:16] EdwardLee03 commented on #1432
So that can not deploy multiple dubbo apps on a docker, unless use different port. It is not recommended, suggest to use the virtual IP of docker.  @ryankong

[2018-05-08 14:08] mercyblitz opened #1755 "[Bug] Bean name of @Service annotated class does not resolve placeholder"
Code as following:

[code]

The placeholder was not resolved from the bean name of `DefaultDemoService` , thus it's name will contain "${dubbo.service.version}"

[2018-05-08 14:31] #1700 closed

[2018-05-08 14:31] lovepoem commented on #1684
ok

[2018-05-09 02:13] readmagic commented on #420
我也碰到了同样的问题，正在寻找答案，公司大部分业务用了playframework2，如果能使用dubbo在服务间通讯，那是极好的

[2018-05-09 02:17] summer9989 commented on #1754
可以先确认是不是一个问题吗？

[2018-05-09 02:46] diecui1202 opened #1756 "AbstractClusterInvokerTest throws OutOfMemoryError"
After replace easymock to mockito, when run unit test in the terminal,

[code]

It fails, and the exception is:

[code]

[2018-05-09 02:52] diecui1202 commented on #1756
The failed testcase is:

[code]

[2018-05-09 02:55] diecui1202 commented on #1756
After analyzing the heap dump,

![image](https://user-images.githubusercontent.com/1152291/39793199-09916528-5377-11e8-8652-52720843122c.png)

org.mockito.internal.verification.DefaultRegisteredInvocations#invocations, this is a List, it holds all the invocations in the for loop, so we can clear it after one invoke:

[code]

[2018-05-09 03:00] beiwei30 commented on #1756
or we can simply shrink `min` and `max` to workaround this issue.

[2018-05-09 03:08] koomoo opened #1757 "dubbo-admin找不到"
您好，我想使用dubbo，但是dubbo-admin这个包一直没找到。如果能联系我qq820956319,感激不尽!

[2018-05-09 03:16] koomoo commented on #1757
已找到

[2018-05-09 03:37] jabnih commented on #306
@ralf0131  fixed on master branch, may be not release. see `AbstractLoadBalance` use REMOTE_TIMESTAMP_KEY

[2018-05-09 03:38] ralf0131 commented on #1670
Thanks for reporting, I will close this issue.

[2018-05-09 03:38] #1670 closed

[2018-05-09 03:41] ralf0131 commented on #306
Thanks for reporting, I will close this issue.

[2018-05-09 03:41] #306 closed

[2018-05-09 04:34] #1757 closed

[2018-05-09 06:50] #934 closed

[2018-05-09 06:50] #1756 closed

[2018-05-09 06:52] #1739 closed

[2018-05-09 07:03] diecui1202 commented on #934
Since https://github.com/apache/incubator-dubbo/pull/1759 has been merged, so this issue can be closed.

[2018-05-10 01:44] ahzean commented on #1012
组织：顺丰金融
地点：中国深圳
联系方式： zhangzheng@sf-express.com
场景：分布式服务、缩短调用链路

[2018-05-10 02:02] willlau0524 opened #1765 "使用@Reference注解，如果对应服务没有实例，报错之后这个对象一直为空"
最近服务上线的时候发现，使用@Reference 注解去引用某个服务，如果这个服务没有实例在zk，那么会抛出一个 IllegalStateException， 信息是 No provider available for the service  xxxx。 此时使用这个注解修饰的对象会置为空，那么后续就算有实例上线注册到zk了，运行到使用这个对象的代码的时候会报空指针。
只有在引用服务有实例的时候重启，这样这个引用对象才会正确构建，不知道是故意这么设计的还是一个bug?  经过测试，使用API构建 ReferenceConfig 没有这个问题

[2018-05-10 02:02] willlau0524 commented on #1765
异常栈：
java.lang.reflect.InvocationTargetException: null
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[?:1.8.0_131]
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62) ~[?:1.8.0_131]
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) ~[?:1.8.0_131]
        at java.lang.reflect.Method.invoke(

[2018-05-10 03:32] mascothaojun opened #1766 "请问有2.6.1配置kryo+curator的例子吗？"
升级到2.6.1后，使用kryo+curator的组合，原来的项目就不能正常使用了，如果用2.5.10+hessian是没问题的，但是hessian不支持文件上传的，对于文件流之间的传输就出现了问题

[2018-05-10 03:50] jimwarewj commented on #1765
我猜应该是没有配置<dubbo:annotation package=“”/>

[2018-05-10 03:53] jimwarewj opened #1767 "启动 dubbo-admin时报错"
什么原因呢？
ERROR dubbo.DubboRegistry -  [DUBBO] Failed to subscribe consumer://127.0.0.1/com.alibaba.dubbo.registry.RegistryService?application=dubbo-admin&callbacks=10000&check=false&connect.timeout=10000&dubbo=2.5.8&file=false&interface=com.alibaba.dubbo.registry.RegistryService&lazy=true&methods=lookup,unsubscribe,subscribe,unregister,register&pid=13296&reconnect=false&sticky=true&subscribe.1.callb

[2018-05-10 04:07] jimwarewj commented on #1767
解决

[2018-05-10 04:07] #1767 closed

[2018-05-10 04:45] ningyu1 opened #1768 "When the RPC protocol is HTTP, use GenericService.$invoke call error."
## dubbo version

dubbo-2.6.1

## provider service

[code]

## provider config

[code]

## consumer use registry

[code]

## consumer use dircet connection

[code]

## Error

[code]

[2018-05-10 05:08] yjx1045072812 opened #1769 "我自己实现了一个Container，如何在使用com.alibaba.dubbo.container.Main启动应用的时候传递参数进来?"
我自己实现了一个Container，在里面引导启动了我的程序。现在我想借助在java -jar 启动时传递额外参数到MyContainer以覆盖内部参数的效果

[2018-05-10 06:22] mercyblitz opened #1770 "[Enhancement] @EnableDubboConfigBinding annotates @Repeatable"
`@Repeatable` should be annotated `@EnableDubboConfigBinding` .

[2018-05-10 06:26] willlau0524 commented on #1765
不是楼上那个问题，正常有实例是没有问题的
最近发现，就算是用 ReferenceConfig如果是在第一次 get()的时候也报错，那么还是会出现这样的问题
猜想应该是dubbo的机制？初始化的时候必须有实例，否则就直接报错

[2018-05-10 06:29] foreveryang321 commented on #1765
dubbo.consumer.check=false
or the same
<dubbo:reference check="false"></dubbo:reference>

[2018-05-10 09:20] mercyblitz opened #1772 "[Enhancement] Keep same semantics of Spring Boot on EnableDubboConfigBinding"
To keep same semantics of Spring Boot on `@EnableDubboConfigBinding`

[2018-05-10 09:26] diecui1202 commented on #210
It's same to #1608. So this one can be closed. Feel free to comment under #1608 if also have extra question.

[2018-05-10 09:33] #1772 closed

[2018-05-10 09:53] nzomkxia commented on #1422
can you give me a procedure on how to reproduce this issue?

[2018-05-10 09:53] frame-faker opened #1773 "求解惑？dubbo单库多服务调用为什么可以回滚，没有事务问题"
本地一个服务先调用远程服务，然后本地操作数据库，远程调用返回成功，本地失败，但是远程的回滚调了。。。本地上加了事务，不理解。

[2018-05-10 11:48] superzwd opened #1774 "在spring配置文件中如何修改dubbo.qos.port"
文档中说 可以通过以下方式修改。

在spring配置文件里面如何设置呢？

[2018-05-10 13:46] EdwardLee03 commented on #59
dubbo version: 2.5.3

[2018-05-10 15:46] EdwardLee03 commented on #59
@ralf0131 今晚我们在生产环境也遇到了作者说的第二个异常，Dubbo应用关闭时报`NoClassDefFoundError: com/alibaba/dubbo/registry/support/SkipFailbackWrapperException`。
完整的异常信息如下：
[code]

### 问题根源
异常发生在`FailbackRegistry.unregister(FailbackRegistry.java:168)`，和作者遇到的异常代码是同一行，对应的源代码：
![failbackregistry unregister](https://user-images.githubusercontent.com/1811851/39878358-bb029d3e-54aa-11e8-9f58-aecf4b3e2b2c.png)
从异常源代码看很清楚，`FailbackRe

[2018-05-11 02:25] yhzl opened #1777 "在@Reference使用retries参数无效"
在注解上面使用这个参数没用呀，还是调用三次

[2018-05-11 02:26] diecui1202 opened #1778 "deprecated hessian1 and move hessian-lite to dubbo group"
As dubbo does not use hessian1, we need to delete it in hessian-lite.

But consider compatibility, it's recommended to deprecated it, and in next major release version, delete it.

In addition, hessian-lite is a single module, it's also recommended to move it to dubbo group from dubbo codebase.

[2018-05-11 04:31] xiabobin commented on #1769
//TODU 你的逻辑
	com.alibaba.dubbo.container.Main.main(args);
}

这种吗？

[2018-05-11 08:18] angelovevil opened #1782 "@Reference @Autowired(required = false)无法同时存在"
@Reference(version = "1.0.0")
@Autowired(required = false)
@Qualifier("accountProvider")
private IAccountProvider provider;
注解无法同时存在
InjectionMetadata.checkConfigMembers() 中 checkedElements会是空的

[2018-05-11 08:23] weichengpei opened #1783 "Dubbo用户手册(中文) 一些内容链接无法打开"
Dubbo用户手册(中文) ， 2快速启动， “ API 的方式” 无法点开。

[2018-05-11 08:59] nobodyiam commented on #1744
As #1746 was merged, this issue could be closed.

[2018-05-11 08:59] #1744 closed

[2018-05-11 12:44] Jaskey opened #1784 "Dubbo调用超时，服务端历史统计的处理耗时很短且找不到对应超时上下文的超时日志"
A调用服务B，超时时间1秒，从某些请求来看超时了两次，重试了两次，第三次成功了，耗时仅4ms。

客户端有类似日志：

[code]

有以下两个奇怪的地方：

1. 从报超时的服务端上看，找不到对应的超时的warn日志
2. 从我们内部服务端统计的耗时来看，此接口从来没有大于100ms的。

以下是我的分析：

猜测和dubbo 服务端进入业务线程前的排队有关，但是我们没有设置queue的长度，所以默认应该是不排队的，线程池耗尽应该抛出的异常不是timeout。

即使排队了，但是服务端没有找到此上下文的超时日志，感觉像完全没有收到此请求？

会不会是直接网络上丢了包？如果网络上传输就失败了，异常会是超时么？此请求是一个对象，转换为JSON后有几K。

求解答

[2018-05-12 01:57] feelwing1314 commented on #1784
"从报超时的服务端上看，找不到对应的超时的warn日志" 。1.有没有可能dubbo的com.alibaba.dubbo.rpc.filter这个目录的日志设置成了error级别? 2.服务端TimeoutFilter的timeout设置在provider侧，而不是consumer侧(<dubbo:service interface="com.alibaba.dubbo.demo.TestService" ref="testService" timeout="800"/>)，默认是Integer.MAX_VALUE。你consumer侧设置的1s没有用。

[2018-05-12 06:27] lhlken commented on #1012
组织：艺龙旅行网
地点：中国北京
联系方式：shenfop@foxmail.com
场景：微服务

[2018-05-12 06:33] #1773 closed

[2018-05-12 13:04] ralf0131 commented on #1783
It is already fixed, the link points to http://dubbo.apache.org/books/dubbo-user-book/configuration/api.html

[2018-05-12 13:05] ralf0131 commented on #1783
Hi,

Would you please update the title and description using English? Dubbo is a global community and we would like the issue to be seen by people all over the world.

[2018-05-12 13:05] #1783 closed, assigned to nobody

[2018-05-12 13:07] ralf0131 commented on #1774
I am closing this issue because it is solved.

[2018-05-12 13:07] #1774 closed

[2018-05-12 13:39] ralf0131 opened #1786 "Remove duplicate content in bom/pom.xml and dependencies-bom/pom.xml"
Consider removing the following content from bom/pom.xml and dependencies-bom/pom.xml, because they are
* outdated
* duplicated with root pom.xml

[code]

[2018-05-12 13:53] ralf0131 opened #1787 "Unstable UT: ZookeeperRegistryTest"
I've seen it at least twice, one can be found [here](https://github.com/apache/incubator-dubbo/pull/1776)

[code]

[2018-05-12 13:53] ralf0131 commented on #1787
@htynkn Could you please take a look at it?

[2018-05-12 14:32] htynkn commented on #1787
@ralf0131 I just checked this test case. I suggest delete this test `testStatusChecker`? I think this unstable unit test doesn't need to investigate.

This one is try to test `RegistryStatusChecker`, but `RegistryStatusChecker` is in another module, so the unit test I added in here is not the right place and it will not help increasing test coverage.

Currently, the implement way in my test case i

[2018-05-13 00:32] ralf0131 commented on #1787
I've temporarily ignored this test case. We can refactor it in the future.

[2018-05-13 00:42] htynkn commented on #1787
@ralf0131 cool thanks

[2018-05-13 03:25] riverloveyun opened #1788 "执行maven命令报错"
Could not find artifact com.alibaba:dubbo-parent:pom:2.6.2-SNAPSHOT
小弟是初学者，请给下指引，应该如何解决，谢谢

[2018-05-13 06:33] ralf0131 commented on #1788
Hi, please run `maven clean install` on the root directory first.

[2018-05-13 07:51] huadong commented on #500
多少年的问题了，都成为apache的孵化项目，这个还是阿里巴巴所有的域名：alibabatech.com！太丢人了！

[2018-05-13 08:28] yjx1045072812 commented on #1769
因为我没有使用spring框架，完全使用api集成，所以想实现自己的容器

[2018-05-13 09:34] rocky-luo opened #1789 "关于Adaptive求教"
感觉Dubbo的Adaptive设计严重降低了代码的可读性，特别是在还包裹了很多AOP的情况下
比如说ReferenceConfig的createProxy方法里面的
`invoker = refprotocol.refer(interfaceClass, urls.get(0));`
求教这个refprotocol到底是在哪里被加强的？

[2018-05-13 12:27] YamDestiny opened #1790 "Maven cannot compile the project"
Java Version:
[code]

Maven Version:
[code]

Error Info:
[code]

[2018-05-13 13:05] ralf0131 commented on #1790
I guess your `maven-javadoc-plugin:3.0.0:jar`  might be corrupted. Please remove it under your maven local repository and try again.

[2018-05-13 13:08] ralf0131 commented on #500
@nashtsai

* Dubbo docs: https://github.com/apache/incubator-dubbo-docs
* Dubbo website: https://github.com/apache/incubator-dubbo-website

@foquanlin

http://code.alibabatech.com/schema/dubbo/dubbo.xsd the link has been fixed, I will be available under 2.6.2, or you can try out it 2.6.2-SNAPSHOT on the master branch.

[2018-05-14 02:06] YamDestiny commented on #1790
I try to delete and re-execute the command. Same error, It can't work. And I trying to download this `.jar` and `.pom` files from Maven Repository. It's also not working. But the error message has changed.

[code]

thanks your reply.

[2018-05-14 02:15] ZTOGroup commented on #1012
组织：中通快递
网址：http://www.zto.com/
地点：上海
联系方式：xiaowenke@zto.cn
场景：服务化

[2018-05-14 03:32] HHHuanzhYYY commented on #1621
bingo, thanks.

[2018-05-14 06:06] #906 closed

[2018-05-14 06:46] JarVZhao opened #1793 "will version 3.0 be developped here?"
i wonder if version 3.0 will be developped here or started in a new project

[2018-05-14 07:47] #1254 closed

[2018-05-14 07:48] #1688 closed

[2018-05-14 08:07] lingfengsan commented on #1742
@EdwardLee03 建议把你回复的ip给屏蔽了。提问者好像已经删除了ip了

[2018-05-14 10:15] duxingzhe1150 commented on #1782
@reference和@Autowired没必要同时存在吧，用纯注解方式的话，使用@reference就好了，用配置方式引入dubbo bean，只用@Autowired就可以吧。。。还有就是使用@reference的时候，由于spring和dubbo的扫描顺序原因，有时候会导致注入的对象为空，要先使用dubbo扫描才可以。。。

[2018-05-14 10:55] lovepoem commented on #1466
https://github.com/apache/incubator-dubbo/blob/master/dubbo-common/src/main/java/com/alibaba/dubbo/common/Version.java

Version.java read version from MANIFEST.MF or jar name.

Now you debug in classes generated by IDE, no MANIFEST.MF or jar name found

Must we support the IDEA debug environment?

If so，we can refer this [Generate a Version.java file in Maven
](https://stackoverflow.com/questions/

[2018-05-14 18:08] gaozhaohua commented on #1012
组织：happymonkey有限公司
地点：中国北京
联系方式：微信 383191849 邮箱 gaozhaohua@happymonkey.com.cn
场景：游戏分布式系统服务

[2018-05-15 02:27] kivenhu opened #1798 "自己改了源码，dubbo的代码里有对降级方式配置throw Exceptiond的支持。为何不对外开放呢"
请较一个问题,dubbo的代码里有对降级方式配置throw  Exceptiond的支持。为何不对外开放呢，在参数效验阶段没有做开放。 然后我这边自己改了源码，作支持。请问是否有性能或者其他问题。
主要修改类：com.alibaba.dubbo.config.AbstractInterfaceConfig
else if (mock.startsWith(Constants.THROW_PREFIX)) {
                /**
                 * 201805 hushichao增加else if (mock.startsWith(Constants.THROW_PREFIX))
                 * 让其支持配置throw 异常，这里验证配置的异常类可以加载
                 */
                St

[2018-05-15 04:37] YoungHu commented on #1624
@EdwardLee03 Yeah, our solution is to change the ZookeeperRegistry.toServicePath(URL) implementation, for our company use  `group` more frequent than `version`, so our zk path like this(`interface:group`). for community version, I have two suggestion. the first, change the zk path to `interface:group:version`; the second, don't change zk path, just filter the zk item under `interface` path

[2018-05-15 06:01] mahaixue opened #1799 "泛化调用返回结果解析不正"
参照图1调用接口，返回格式正确，参照返回结果格式说明
通过泛化调用返回结果：[{class=org.json.JSONObject}, {class=org.json.JSONObject}, {class=org.json.JSONObject}]

由于dubbo测试现在做了个平台通过泛化调用来获取，这个BUG导致结果无法展示，求优先处理

![dubbo](https://user-images.githubusercontent.com/34730549/40039187-e7d81db6-5847-11e8-997a-b12fb18a9193.png)

![default](https://user-images.githubusercontent.com/34730549/40039272-58b7ea52-5848-11e8-8e7b-2adf906f98c5.png)

[2018-05-15 06:04] mahaixue opened #1800 "泛化调用-zookeeper实例化失败之后 没有重新实例化"
泛化调用通过zookeeper调用。第一次调用的ZK不存在（实例失败），再换一个存在的ZK调用，没有重新实例导致调用不成功

[2018-05-15 07:07] diecui1202 commented on #1799
Please use `gson.toJson()` for the result of generic invocation.

[2018-05-15 07:13] diecui1202 commented on #1800
Hi, @mahaixue Could you please show your code ?

[2018-05-15 09:47] #1788 closed

[2018-05-15 09:50] ralf0131 commented on #1752
duplicated to #1524 #1466

[2018-05-15 09:50] #1752 closed

[2018-05-15 09:52] ralf0131 commented on #1753
Are you still getting this error?

[2018-05-15 09:53] ralf0131 commented on #1735
Thanks @feelwing1314 for the explanation.

[2018-05-15 09:53] #1735 closed

[2018-05-15 09:56] ralf0131 commented on #1734
Where did you get the provided scope?  In dependencies-bom/pom.xml:

[code]

[2018-05-15 09:59] ralf0131 commented on #1723
The latest dubbo-demo codes should work with 2.6.2-SNAPSHOT, if you are using latest demo with 2.6.1, you need to register a name space handler manually in the demo code:

You can manually register the NamespaceHandler by adding META-INF/spring.handlers with the following content:

[code]

[2018-05-15 09:59] #1723 closed

[2018-05-15 10:01] ralf0131 commented on #1660
Please try the latest version 2.6.1, if you still have the problem, please re-open this issue.

[2018-05-15 10:01] #1660 closed

[2018-05-15 10:02] ralf0131 commented on #1656
Done.

[2018-05-15 10:02] #1656 closed

[2018-05-15 10:03] ralf0131 commented on #1638
Done.

[2018-05-15 10:03] #1638 closed

[2018-05-15 10:18] ralf0131 commented on #1625
This issue has been tracked in https://github.com/apache/incubator-dubbo-docs/issues/24

[2018-05-15 10:18] #1625 closed

[2018-05-15 10:33] ralf0131 commented on #1492
Can you check whether it is duplicate of #1524 ?

[2018-05-15 10:36] ralf0131 commented on #1447
@beiwei30 Can this issue be closed?

[2018-05-15 10:39] ralf0131 commented on #32
Dubbo now supports fastjson, please give it a try.

[2018-05-15 10:39] #32 closed

[2018-05-15 10:43] ralf0131 commented on #60
This is a legacy issue, which should be fixed.

[2018-05-15 10:43] #60 closed

[2018-05-15 10:45] ralf0131 commented on #72
It should be fixed.

[2018-05-15 10:45] #72 closed

[2018-05-15 10:47] ralf0131 commented on #118
Please check this awesome project: https://github.com/dubbo/dubbo2.js

[2018-05-15 10:47] #118 closed

[2018-05-15 10:48] ralf0131 commented on #123
Please check your machine's physical memory.

[2018-05-15 10:48] #123 closed

[2018-05-15 12:50] EdwardLee03 commented on #1742
@liangyuanpeng @lingfengsan 好尴尬，已删除评论，thx

[2018-05-15 13:16] zhaojigang commented on #1798
开放的呀，只是文档没写而已。我自己总结了一下：http://www.cnblogs.com/java-zhao/p/8320519.html，你可以看一下，没必要改源码

[2018-05-16 01:59] kivenhu commented on #1798
@zhaojigang  谢谢回复，看了你的文章，进行了一个配置：mock="fail:throw => throw new RpcException('mocked exception for Service degradation')"  启动就会报错的。可以加qq 1062340050探讨一下吗？
Invalid mock="fail:throw => throw new RpcException('mocked exception for Service degradation')" contain illegal charactor, only digit, letter, '-', '_' and '.' is legal.

[2018-05-16 02:40] kimylrong opened #1807 "Missing protocol in @Reference annotation"
Field protocol missed in the @Reference annotation.
But ServiceConfig has protocol.  API way.
We prefer the annotation(Spring Boot).
Could you please help add the protocol in the @Reference?

[2018-05-16 04:59] ralf0131 commented on #119
Yes, you can choose single registry, or you can choose multiple registries. It is up to you to decide.

[2018-05-16 04:59] #119 closed

[2018-05-16 06:49] YoungHu commented on #1624
But that is not a fully solution, I just resolved the group problem not the version. In my onion, we should a discussion, because this change will affect dubbo service registry and discovery directly.

[2018-05-16 08:10] vangoleo commented on #1593
Can not reproduce this issue. Can set the hostname=xx.xx.xx.xx in /etc/hosts file to specify the ip to be registered to registry.

Please close this issue.

[2018-05-16 08:50] ralf0131 commented on #179
Please check out this awesome project: https://github.com/dubbo/dubbo2.js

[2018-05-16 08:50] #179 closed

[2018-05-16 08:52] ralf0131 commented on #189
This is because you compiled the code under Java 8 but run it under Java 7 or lower.

[2018-05-16 08:52] #189 closed

[2018-05-16 08:55] ralf0131 commented on #197
This issue should be fixed.

[2018-05-16 08:55] #197 closed

[2018-05-16 09:11] ralf0131 commented on #200
It has been fixed in the latest documentation: http://dubbo.apache.org/books/dubbo-user-book/demos/routing-rule.html

[2018-05-16 09:11] #200 closed

[2018-05-16 09:11] ralf0131 commented on #201
Please checkout the available protocols: http://dubbo.apache.org/books/dubbo-user-book/references/protocol/introduction.html

[2018-05-16 09:11] #201 closed

[2018-05-16 09:12] ralf0131 commented on #206
Please try the latest Dubbo version, if you still have this issue, please feel free to re-open.

[2018-05-16 09:12] #206 closed

[2018-05-16 09:13] #210 closed

[2018-05-16 09:16] ralf0131 commented on #212
This issue has been fixed. Please try using the latest version.

[2018-05-16 09:16] #212 closed

[2018-05-16 11:34] vangoleo commented on #1431
It's a bug. when NetUtils.getLocalHost() raise an exception, the invoke chain will go to an endless loop:
NetUtils.getLocalHost() -> FailsafeLogger.appendContextMessage() -> NetUtils.getLocalHost()

@kimmking there are some conflict in your PR #1435. Could you please update the PR.

[2018-05-16 13:42] ralf0131 commented on #199
Yes, I have send a pull request to address this issue.

[2018-05-16 13:59] ralf0131 commented on #272
If you are running under Tomcat, please use jstack to check what the thread 'catalina-start-stop-xxx'  is doing.

[2018-05-16 14:02] ralf0131 commented on #241
It has already been added to parent pom.xml.

[2018-05-16 14:02] #241 closed

[2018-05-16 15:45] ralf0131 commented on #1667
@htynkn I think you are right. The two failing ut

[code]

both call `com.alibaba.dubbo.rpc.protocol.hessian.HessianServiceImpl#sayHello(String name)`, which  has an override method `sayHello(String name, int times)`.

In the opposite, `com.alibaba.dubbo.rpc.protocol.hessian.HessianProtocolTest#testOverload` never fails because `hessian.overload.method` is set to true.

[2018-05-16 23:03] zhangzhxb520 commented on #1713
I found code in *LoggerFactory*，Why use log4j as default logger when system property "dubbo.application.logger" not set.

[code]

[2018-05-17 03:50] chickenlj commented on #1422
Please provide more details. Reopen if necessary.

[2018-05-17 03:50] #1422 closed

[2018-05-17 03:59] duguyixiaono1 commented on #869
@chickenlj 我们服务也遇到过类似问题，网络抖动，zk重连，recover将registerurl添加到failedRegistered，retry重试，创建zk节点NodeExistsException（应该是这样），但是，之后zk节点无故丢失，服务全部不可用，有类似的问题吗？有什么建议？

[2018-05-17 07:26] vangoleo commented on #96
Yes, the logic of collecting concurrent is incorrect.
And the base issue is that currently, while collect statistics data, Dubbo don't consider the method overloading. It don't distinguish multiple methods with the same method name, but different method parameter types.
For example, the client invoke below two methods:
* invoke hello() method for 2 times.
* invoke hello("tom") method for 5 times.

[2018-05-17 07:39] htynkn commented on #1697
@lovepoem I would like to work on this card

[2018-05-17 07:40] nzomkxia commented on #1798
here is the document:
http://dubbo.apache.org/books/dubbo-user-book/demos/service-downgrade.html
 http://dubbo.apache.org/books/dubbo-user-book/demos/local-mock.html

[2018-05-17 08:04] #1667 closed

[2018-05-17 08:04] #1727 closed

[2018-05-17 08:17] zhizhi555555 opened #1812 "dubbo rest"
现在dubbo支持rest协议吗？

[2018-05-17 08:29] lovepoem commented on #1697
ok it's yours

[2018-05-17 09:11] duguyixiaono1 commented on #291
遇到过相同的问题，后来有什么解决方案吗？ @freelingchang

[2018-05-17 09:26] ralf0131 commented on #1812
Yes, thanks Dangdang for donating this featue to Dubbo. Please checkout this: https://github.com/apache/incubator-dubbo-docs/blob/master/dubbo-user-book/rest.md .

We will soon integrate into the official documentation. The donation is still under ASF ip clearance process, so it will take some time.

[2018-05-17 09:26] #1812 closed

[2018-05-17 10:09] ralf0131 commented on #294
The `dubbo-test-examples/src/main/java/com/alibaba/dubbo/examples/merge` is not working as expected.

I have added `merger=true` in `merge-consumer.xml` and `merge-consumer2.xml`. Now it is working as expected. The data will be merged from the first invocation.

[code]

[2018-05-17 10:10] ralf0131 commented on #294
Your issue should be fixed, please check out the latest code.

[2018-05-17 10:10] #294 closed

[2018-05-17 10:13] ralf0131 commented on #345
This issue should be fixed by https://github.com/apache/incubator-dubbo/pull/457.

[2018-05-17 10:13] #345 closed

[2018-05-17 10:32] ralf0131 commented on #342
The latest code added an extra check for `!type.isEnum()`.

[code]

So you issue should be fixed.

[2018-05-17 10:32] #342 closed

[2018-05-17 10:40] ralf0131 commented on #341
The specific error is:

[code]

I cannot reproduce this error by latest dubbo-admin code, please verify it again. I am closing this issue for now. If you still encounter this issue, please feel free to reopen it.

[2018-05-17 10:40] #341 closed

[2018-05-17 10:46] KMnO4 opened #1813 "can dubbo support Serialization configuration to dubbo:service or dubbo:method"
In my scenario, some methods in the provider return a large amount of data each time, because the response is internally duplicated, so the serialization and transmission performance can be improved by implementing a new Serialization (protostuff+snappy).I hope that the remaining services or methods in the provider continue to use the default Hessian2 Serialization, however， the Serialization conf

[2018-05-17 15:27] ralf0131 commented on #320
It is fixed in #1763 , will be available from 2.6.3 onwards.

[2018-05-17 15:27] #320 closed

[2018-05-17 15:29] ralf0131 commented on #319
Why should not the shutdown hook not be added? Have you encountered any issue?

[2018-05-17 15:38] ralf0131 commented on #323
Hi, I can correctly compile dubbo-monitor under Jdk 1.8. I am closing this issue.

Please try again, if you still have such problem, please attach the detailed error message and reopen this issue.

[2018-05-17 15:38] #323 closed

[2018-05-17 15:48] ralf0131 commented on #303
I agree. Indeed `corethreads` should be added to `dubbo.xsd`. May there and more to be added. Would you mind send a pull request?

[2018-05-17 15:53] ralf0131 commented on #296
To enable hessian method overloading, you can set `hessian.overload.method=true` to you provider url.

[2018-05-17 15:53] #296 closed

[2018-05-17 16:01] ralf0131 commented on #1665
This issue has been fixed from 2.6.3 onwards.

[2018-05-17 16:01] #1665 closed

[2018-05-17 16:03] ralf0131 commented on #1665
Fixed by #1763

[2018-05-17 16:12] ralf0131 commented on #890
Hello, well done! Can you please send a pull request to https://github.com/apache/incubator-dubbo-docs ?

[2018-05-17 16:25] wendal commented on #319
becase it can't disable  or stop at old version.

[2018-05-17 16:28] ralf0131 commented on #556
The default transporter for DubboProtocol is `netty`.
The default Http server for HttpProtocol is `jetty`.

[2018-05-17 16:28] #556 closed

[2018-05-17 16:31] ralf0131 commented on #500
All the broken links should be fixed in the latest official documentation.

[2018-05-17 16:31] #500 closed

[2018-05-17 16:41] ralf0131 commented on #319
Please try the latest version 2.6.2-SNAPSHOT on master barnch, it should be fixed.

[2018-05-18 01:35] zhaojigang commented on #1798
嗯，通常在admin配置就好了，我是习惯自己调接口 @kivenhu
dubbo的服务降级这一块儿的文档写的比较散 @nzomkxia

[2018-05-18 01:45] htynkn commented on #63
Refer to #665. Feature added by 4c95cfe9424377c827d0b181d042f40105042cf7

[2018-05-18 01:58] zhaojigang commented on #890
ok, I send a pull request https://github.com/apache/incubator-dubbo-docs/pull/30

[2018-05-18 02:16] htynkn commented on #133
refer to https://github.com/apache/incubator-dubbo/issues/287
Fixed since v2.5.7.

[2018-05-18 02:33] ralf0131 commented on #63
This issue has been fixed.

[2018-05-18 02:33] #63 closed

[2018-05-18 02:33] ralf0131 commented on #133
This issue has been fixed.

[2018-05-18 02:33] #133 closed

[2018-05-18 03:04] qinliujie commented on #465
now it can only be configed in property file or jvm argument, we will improve it later

[2018-05-18 03:39] #465 closed

[2018-05-18 05:58] diecui1202 commented on #1632
Congratulations. Welcome to Dubbo eco-system.

[2018-05-18 05:59] diecui1202 commented on #1632
It seems that this issue can be closed.

[2018-05-18 06:04] lovepoem commented on #1632
Now the project is transferred to dubbo group : https://github.com/dubbo/jmeter-plugins-dubbo
Congratulations!

[2018-05-18 06:04] #1632 closed

[2018-05-18 06:18] chickenlj commented on #1593
Cannot reproduce, reopen if necessary.

[2018-05-18 06:18] #1593 closed

[2018-05-18 06:25] qinliujie opened #1814 "graceful shutdown time shoud could be configured in xml file"
see #465 ,dubbo.service.shutdown.wait / dubbo.service.shutdown.wait.seconds can only be configured in dubbo.properties file or jvm arguments, we should  also support in xml format and put this config into ApplicationConfig.what do you think? @chickenlj

[2018-05-18 06:26] edidada commented on #1012
组织：个人
地点：中国深圳
联系方式： sandisks555@gmail.com
场景：分布式服务/学习

[2018-05-18 06:47] jqncc opened #1815 "When using the restfull protocol transaction rollback failed"
dubbo+mybatis
使用rest协议时,方法内调用其他spring service的方法,发生异常时事务回滚失败,使用dubbo协议时正常
Using rest protocol, method calls within other spring service, the method of transaction rollback failed, when an exception occurs when using the dubbo protocol is normal

[2018-05-18 07:50] #199 closed

[2018-05-18 08:13] fade-away commented on #1012
公司: 猪八戒
地址: 重庆
联系方式： zhangyuf@zbj.com
场景: 服务治理，内部rpc调用

[2018-05-18 08:17] ralf0131 commented on #74
Please test using the latest master branch, a patch has been applies recently, see #1763

[2018-05-18 08:26] beiwei30 opened #1816 "dubbo schema compatibility"
In the upcoming release `2.6.2`, the schema namespace is changed from http://code.alibabatech.com/schema/dubbo to http://dubbo.apache.org/schema/dubbo. This will lead to compatibility issue.

We need to address this issue in the next release like this:

1. introduce the original dubbo.xsd in META-INF/compat
2. change spring.schemas to:

[code]

3. change spring.handlers to:

[code]

[2018-05-18 08:52] wujun8 opened #1817 "Filter order issues"
In ExtensionLoader , user's ```<dubbo:service />``` filters always after ```@Activate``` filters ,
Why not order them together?
```@Activate``` doesn't means that it's internal, also may be user's custom filter, right? Now, when I have ```@Activate``` and ```<dubbo:service />``` config both, the order is not work between them any more.

[2018-05-18 09:09] diecui1202 commented on #1048
@lovepoem please consider this in native-thrift protocol. Thanks

[2018-05-18 09:30] diecui1202 commented on #19
I am considering about it. https://github.com/apache/incubator-dubbo/pull/1801

[2018-05-18 09:33] Jaskey commented on #1784
@feelwing1314 设置的超时就是provider设置的，其他超时是有warn日志的，所以不可能是error级别的问题

[2018-05-19 16:37] zyongbai opened #1819 "AnnotationProvider启动报错"
com.alibaba.dubbo.examples.annotation.AnnotationProvider

Exception in thread "main" java.lang.IllegalStateException: No such application config! Please add <dubbo:application name="..." /> to your spring config.

[2018-05-20 07:45] ralf0131 commented on #944
Hi, would you mind send a pull request?

[2018-05-20 07:49] ralf0131 commented on #886
Thanks for reporting, this issue is a CXF issue, so I am closing this ticket.

[2018-05-20 07:49] #886 closed

[2018-05-20 07:52] ralf0131 commented on #848
Other language support can be found at: https://github.com/dubbo

[2018-05-20 07:52] #848 closed

[2018-05-20 07:55] ralf0131 commented on #840
Please check the latest official documentation: http://dubbo.apache.org/books/dubbo-user-book/configuration/annotation.html

[2018-05-20 07:55] #840 closed

[2018-05-20 07:58] ralf0131 commented on #795
Please check the latest dubbo-admin code, if you still get this issue, feel free to reopen it.

[2018-05-20 07:58] #795 closed

[2018-05-20 08:08] ralf0131 commented on #652
Hi, please check this doc: https://github.com/apache/incubator-dubbo-docs/blob/master/dubbo-user-book/benchmark-tool.md

[2018-05-20 08:15] ralf0131 commented on #642
Hi, this issue has already be fixed. Please check the latest code.

[2018-05-20 08:15] #642 closed

[2018-05-20 08:17] ralf0131 commented on #625
Hi, please try the latest code. Feel free to reopen it if it still exists.

[2018-05-20 08:17] #625 closed

[2018-05-20 08:34] ralf0131 commented on #1690
Hi, I am willing to take this.

[2018-05-21 02:25] diecui1202 commented on #1778
We're considering move hessian-lite to dubbo eco-system in 2.7.x which is the next major version.

[2018-05-21 02:32] WillemJiang opened #1821 "Got out of memory when building the source code"
I tried to build the 2.6.2 source code by running "mvn clean install" from the route, I got the out of memory here. If I comment out the checkstyle check,  I can run the test and build the kit.

Here is my box information:
Apache Maven 3.5.2 (138edd61fd100ec658bfa2d307c43b76940a5d7d; 2017-10-18T15:58:13+08:00)
Maven home: /opt/apache-maven-3.5.2
Java version: 1.8.0_151, vendor: Oracle Corporation

[2018-05-21 02:57] liuyang864 commented on #1012
组织：个人
地点：中国山东
联系方式：2305207123@qq.com
场景：分布式服务/学习

[2018-05-21 04:55] gMan1990 opened #1822 "dubbo annotation扫描不能扫描到类的父类么？"
dubbo 2.6.0
[code]
@Reference配置在本类里面可以注入，配置在父类不行

[2018-05-21 05:32] chgxtony opened #1823 "netty version"
请问，dubbo 2.5.6 引入netty 4，后面2.6.1为啥又变成了netty 3了呢

[2018-05-21 09:38] rambosir opened #1824 "请教服务调用服务得问题"
请问服务A调用服务B，服务A中异常事务回滚了，但服务B中得操作没有回滚，请问要如何处理呢？

[2018-05-21 13:20] markt-asf commented on #1470
I'm not convinced that this bug report is valid.
From RFC 3986
authority      = [ userinfo "@" ] host [ ":" port ]
userinfo    = *( unreserved / pct-encoded / sub-delims / ":" )
unreserved     = ALPHA / DIGIT / "-" / "." / "_" / "~"
sub-delims     = "!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="

The '@' character is not a valid character for the userinfo. If use of a '@' is requi

[2018-05-21 14:15] YamDestiny commented on #1790
well, I try to use Aliyun Maven, no problem. thx

[2018-05-21 14:15] #1790 closed

[2018-05-22 00:52] yuyufeng1994 commented on #1824
这就牵扯到分布式事务了。如果嫌弃分布式事务比较麻烦，我们可以用状态来判断其他服务是否执行成功，然后手动回滚。┓( ´∀` )┏个人想法

[2018-05-22 01:37] chickenlj commented on #1470
We can refer what java.lang.URL does.
I think change to `lastIndexOf()` brings no harm,  there's also no need to add error promotion. But we should remove the '@' use cases in UT.

[2018-05-22 03:26] zhuguoming opened #1826 "qos-server can not bind localhost:22222"
[code]

[2018-05-22 06:02] beiwei30 commented on #1626
pls. consider to demo graceful shutdown in https://github.com/dubbo/dubbo-samples

[2018-05-22 06:31] zonghaishang commented on #1626
copy that.

[2018-05-22 06:31] #1626 closed

[2018-05-22 07:25] #1597 closed

[2018-05-22 07:36] beiwei30 commented on #799
it's not dubbo bug, pls. try to figure out this particular netcat on rh7 works with dubbo qos.

[2018-05-22 07:36] #799 closed

[2018-05-22 08:51] 34176470 opened #1829 "Version里面的版本号与实际版本不相符"
com.alibaba.dubbo.common.Version
里面的版本号与实际版本不相符。

[2018-05-22 08:53] lovepoem commented on #1829
Duplicate with https://github.com/apache/incubator-dubbo/issues/1466

[2018-05-22 11:15] beiwei30 opened #1830 "dbindex support in redis"

[2018-05-22 11:20] #1829 closed

[2018-05-22 17:36] ralf0131 commented on #1826
Do you have multiple process in one single machine?

[2018-05-23 02:11] #1830 closed

[2018-05-23 05:55] beiwei30 commented on #1525
Here are two problems in your proposal:

* too many threads will be forked, compared to the original implications, it uses only one scanner thread.
* Future is used not only for async invocation, but also regular invocation.

[2018-05-23 05:55] #1525 closed

[2018-05-23 06:32] rambosir commented on #1824
@yuyufeng1994 谢谢回复，我在网上找了一些资料，确实需要使用分布式事务。当然你说得那个状态判断好像也是一种方案

[2018-05-23 06:47] xjliang2007 opened #1835 "dubbo-admin installed success, but failed to connect to zk"
hi, dubboers :
Recently I encounter a extremely strange issue when I use the dubbo-admin , it shows that it can not connect to the zk , so it can not discover services.   see the following pictures :

![image](https://user-images.githubusercontent.com/9584000/40407245-604812de-5e96-11e8-8cf0-7d1a77f1929a.png)

![image](https://user-images.githubusercontent.com/9584000/40407408-e90674a8-5e96-11e8-8

[2018-05-23 08:40] beiwei30 commented on #677
dead lock will not happen since this is the only place to use `str.intern()` in dubbo code base, but to be safe, I decide to change it to:

[code]

to solve the potential issue.

[2018-05-23 08:49] diecui1202 commented on #1819
@zyongbai We provide a new samples project, which is https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-annotation

dubbo-test module maybe deleted one day.

[2018-05-23 09:01] diecui1202 commented on #1819
Please close it. Feel free to reopen it if also have problem.

[2018-05-23 09:42] chickenlj commented on #1386
@nzomkxia I think your suggestion works, would you please submit a pull request?

https://github.com/apache/incubator-dubbo/blob/300f9c9fe1e4de8f14b494d8bf835b4e1ac6d5d6/dubbo-registry/dubbo-registry-api/src/main/java/com/alibaba/dubbo/registry/integration/RegistryProtocol.java#L230

[2018-05-23 09:52] huairen commented on #346
原因是timeout设置时间太短，导致在验证时写入超时，所以要检查一下connect接口上的timeout，记得*time.Second

[2018-05-23 10:36] aCoder2013 commented on #677
@beiwei30 how about a lock pool, so basically this pool always return the same lock instance with the same key, and use something like access time to collect unused instance

[2018-05-23 11:37] beiwei30 commented on #677
@aCoder2013 a lock pool certainly works, but it make no difference with str.intern() if recycling is not considered, furthermore, it should occupy more memory. Are we facing overhead design here? :)

[2018-05-23 13:27] aCoder2013 commented on #677
@beiwei30  interning a string will make it a global object, but each service can have its own lock pool .
I didn't read all  the source code here ,do we need to consider memory consumption？

[2018-05-24 02:06] beiwei30 commented on #677
@aCoder2013 how about this:

[code]

[2018-05-24 02:28] CarlKong opened #1838 "dubbo2.5.x编译之后启动的时候报错如下，不知道有没有人遇到可以说明下是哪里的问题"
[code]

[2018-05-24 03:02] sunshinebaby00 opened #1840 "dubbo-test缺失依赖，运行时报错"
运行dubbo-test内的项目时报错
[code]
dubbo-test的pom文件添加依赖解决问题
[code]

[2018-05-24 03:12] sunshinebaby00 commented on #1826
Are you running the dubbo-test program?You can delete the dependency of dubbo-qos in the pom.xml.
[code]

[2018-05-24 06:02] whanice opened #1841 "I am confused with config server, transporter config."
In my  understanding.
if we config  transporter="netty4" in provider side. It will  affect the consumer。
so we can use  server="netty4" in provider side.

but why dubbo  check sever key in `DubboProtocol.initClient` ?
the consumer with low version (not support netty4) will start failed.

And the transporter key will not  affect the consumer now.

[2018-05-24 06:39] aCoder2013 commented on #677
LGTM！

[2018-05-24 06:44] #1386 closed

[2018-05-24 06:56] objectboy2016 opened #1842 "dubbo3是不是不会在发布了?"

[2018-05-24 09:05] beiwei30 commented on #677
:)

[2018-05-24 10:07] ralf0131 commented on #1838
This is because Webx does not support Java 9+. Please run under Java 8 or lower.

We are planning to migrate dubbo-admin to a spring-boot project.

[2018-05-24 10:07] #1838 closed

[2018-05-24 10:10] ralf0131 opened #1844 "Could not start com.alibaba.dubbo.container.Main#main from IDE"
Could not found an easy way to run `com.alibaba.dubbo.container.Main#main` from IDE.

[code]

I think we should not place `com.alibaba.dubbo.container.Main` under `dubbo-container-api`

[2018-05-25 02:11] #677 closed

[2018-05-25 02:50] hqq2023623 opened #1845 "Typo of destory"
branch : master , version : 2.6.2-SNAPSHOT
RegistryDirectory , line 562
<img width="943" alt="image" src="https://user-images.githubusercontent.com/6971152/40523539-abfd7142-6008-11e8-8296-791017c9d511.png">

ProtocolConfig#destory() ,line 457

Fix : destory -> destroy

[2018-05-25 03:05] beiwei30 commented on #1050
@li362692680 how do you configure redis cluster in your dubbo application?

[2018-05-25 03:15] diecui1202 commented on #1845
Thanks for your report. We will fix it ASAP.

[2018-05-25 03:23] fengjianjun1 opened #1846 "您好。问下我现在老项目用的dubbo是 2.5.3，新项目用的是 2.5.10.现在互相掉不通。"
您好。问下我现在老项目用的dubbo是  2.5.3，新项目用的是 2.5.10.现在互相掉不通。

[2018-05-25 03:28] beiwei30 commented on #1050
I guess the root cause is your redis cluster is configured as a [real redis cluster](https://redis.io/topics/cluster-tutorial), but this mode doesn't support in dubbo, that is, replication is not controlled by redis cluster, but controlled by dubbo.

Instead, you should setup your redis nodes as individual instances, and configure like this:

[code]

or

[code]

Here's one good article to explain

[2018-05-25 03:30] beiwei30 commented on #1050
I think the problem should no longer exist once you setup redis instances as I suggest.

[2018-05-25 03:30] #1050 closed

[2018-05-25 03:36] xhyspring commented on #1441
Now I begin to deploy dubbo/zookeeper in k8s, very appreciate if have guidance of how dubbo can be deployed in docker or K8S.

[2018-05-25 03:46] diecui1202 commented on #1844
I think `com.alibaba.dubbo.container.Main#main` is not used for IDE, you need to add this dependency to your application, and run it with the bash script within META-INF/assembly/bin

[2018-05-25 05:27] diecui1202 commented on #1846
Hi, can you provide more information or exception stack?

[2018-05-25 05:31] diecui1202 commented on #1840
Hi, are you running examples in dubbo-test?

Now we transfer examples to http://github.com/dubbo/dubbo-samples

You can get more information from there.

[2018-05-25 06:17] xjliang2007 commented on #1835
I later try another test case, deploy the admin platform in the same tomcat-7.x for both test environment and production environment, the only difference between them is the zk addresses. Then I got different results, the production case runs good, but the test env case still badly work, just like the above description.

Later I try to deploy them to tomcat-9.x , for test env, I use zkclient as re

[2018-05-25 06:18] ralf0131 commented on #1845
Hi, would you mind send a pull request?

[2018-05-25 06:18] beiwei30 commented on #1342
@wxiaoguang pls. provide your KotlinDataClass code. I tried a very simple kotlin data class, and cannot reproduce the issue you described here:

[code]

The generated Wrapper looks like this:

[code]

[2018-05-25 06:44] chutian52 commented on #1823
you can choose netty4 for your pleasure

[2018-05-25 06:48] wxiaoguang commented on #1342
其实我们已经放弃kotlin了  ……

整理了一下demo code：

Kotlin 1.2.41
[code]

Java (or Kotlin is OK), Dubbo 2.5.4 (代码逻辑应该没改吧，bug应该是一样的）
[code]

[code]

[2018-05-25 06:51] Python-IBM opened #1847 "How could I show services info on dubbo-admin by more groups?"
Hi，I have two group, one group name is 'user-group'，another group name is 'car-group', I want show double group  services info on dubbo-admin，but the dubbo-admin only show  first group，don't show another group .How could I config on dubbo-admin support double group?

[2018-05-25 07:28] xjliang2007 commented on #1842
估计在开发中，阿里重启维护，新的大版本不会这么快出来的

[2018-05-25 07:38] fengjianjun1 commented on #1846
@diecui1202    com.alibaba.dubbo.rpc.RpcException: Forbid consumer 192.168.1.19 access service com.bee.service.IDTableService from registry 192.168.1.19:2181 use dubbo version 2.5.3, Please check registry access list (whitelist/blacklist).

at com.alibaba.dubbo.registry.integration.RegistryDirectory.doList(RegistryDirectory.java:579) ~[dubbo-2.5.3.jar:2.5.3]
at com.alibaba.dubbo.rpc.cluster.direct

[2018-05-25 07:42] diecui1202 commented on #1846
Form above stack trace, I get the following code:

![image](https://user-images.githubusercontent.com/1152291/40532451-10fbb422-6032-11e8-88b1-d587b7ca5d3f.png)

`forbidden` set to true.

Maybe you can check the provider in registry center.

[2018-05-25 08:03] diecui1202 commented on #1846
It's an old issue. https://github.com/apache/incubator-dubbo/issues/286

We have optimized the error message here: https://github.com/apache/incubator-dubbo/commit/92af21f48b59a72d2d807a88c1054cc8468f048f

[2018-05-25 08:08] fengjianjun1 commented on #1846
@diecui1202
![1527235612 1](https://user-images.githubusercontent.com/16314792/40533536-ad29dc36-6035-11e8-974f-961c3dd4a4b0.jpg)
The providerVersion can not get the version. ProviderVersion  value is null

![1527235707 1](https://user-images.githubusercontent.com/16314792/40533621-eb984b24-6035-11e8-9e85-e17c181c7dc3.jpg)

[2018-05-25 08:16] mercyblitz commented on #1846
@fengjianjun1 it's a yaml issue on Dubbo , will be fixed in next release

[2018-05-25 08:24] zhaoyh001 opened #1848 "13/5000 I have a problem, how to solve it.This is the error screenshot."
![1527236263 1](https://user-images.githubusercontent.com/34473608/40534215-e6be0eac-6037-11e8-983f-5e8d88215cc2.png)

[2018-05-25 08:25] wxiaoguang commented on #1342
Well, it seems that there is no problem in Dubbo 2.6.1   :)

[2018-05-25 08:27] #1342 closed

[2018-05-25 09:01] fengjianjun1 commented on #1846
@diecui1202  @mercyblitz   thank you!  The problem is sloved. The reason is that the service version is null.
Alter the @Service(interfaceClass = xxx.class) to @Service(interfaceClass = (xxx.class,version="0.0.1"). thank you very much.

[2018-05-25 09:01] #1846 closed

[2018-05-25 09:20] mahaixue commented on #1799
using gson.toJson() is the same

[2018-05-25 09:29] diecui1202 commented on #1848
According to the error message, you can set JAVA_HOME env variable and try it again.

[2018-05-25 15:31] eonezhang opened #1850 "Dynamic register/deregister service from registry"
any plan to support dynamic register/deregister from registry?
here is my scenario,
**online**
after service started, I don't want it register to registry immediately, since some warm up actions will be performed, after that I could register the service to the registry manually.
**offline**
and also deregister from registry is wanted.

[2018-05-26 01:23] miaoyinjun opened #1852 "NoSuchCommandException:SSH-2.0-libssh2_1.8.0"
system version: CentOS 7.0
dubbo version: 2.6.0

[code]

[2018-05-26 04:52] sin-ning opened #1853 "Dubbo 3.x ?"
Whether Dubbo 3x is in research and development ？

Look forward to Dubbo3x.

[2018-05-28 02:11] diecui1202 commented on #1845
Yeah, my fault, sorry. The community wants everyone to join into. You can contribute your modification through sending a PR.

[2018-05-28 02:17] beiwei30 commented on #1853
dubbo 3.0 is actively under development, it is now an internal project, pls. stay tuned.

[2018-05-28 02:17] #1853 closed

[2018-05-28 02:21] #1845 closed

[2018-05-28 02:21] lovepoem commented on #1845
close this via https://github.com/apache/incubator-dubbo/pull/1851

[2018-05-28 02:49] chickenlj commented on #1466
#1843

[2018-05-28 02:49] #1466 closed

[2018-05-28 03:39] kimmking commented on #1850
that's a good idea

[2018-05-28 16:10] #1816 closed

[2018-05-29 03:49] tong12580 opened #1857 "请教一下dubbo的发音问题"
dubbo 这个单词怎么发音

[2018-05-29 05:12] lovepoem commented on #1857
You can see https://github.com/apache/incubator-dubbo/wiki

[2018-05-29 05:12] #1857 closed

[2018-05-29 09:51] LinHtao opened #1860 "升级到2.6.1版本后,重复调用问题"
dubbo新版本的源码中,retries 默认为0,自己手动配置retries =0,也会出现接口重复调用

[2018-05-29 10:01] smallh0a1n1d0s commented on #934
@diecui1202  @chickenlj Pretty Good,But the only  one invoker exists ,and  we  also can't  expand  our  intentions.

[2018-05-29 10:10] smallh0a1n1d0s opened #1861 "the issue for setting loadbalancer.select (@SPI) completely extendable"

[2018-05-29 10:13] diecui1202 commented on #934
Could you tell us the scenario that need to expand when only 1 invoker exists.

[2018-05-29 10:39] smallh0a1n1d0s commented on #934
Assuming that the three normal services can maintain the business, notify the container platform to rebuild the service or notify the alarm platform when the payload encounters only one or no invoker alive

[2018-05-29 11:15] smallh0a1n1d0s commented on #1861
suggest that   move  the code  in abstract  or remove it  before loadbalancer.select

[2018-05-29 13:04] zhaoyexing opened #1863 "接口继承接口的实际意义是什么"
![image](https://user-images.githubusercontent.com/12453031/40660499-bc10d10e-6383-11e8-8d72-4d970281a440.png)
![image](https://user-images.githubusercontent.com/12453031/40660517-c9853e60-6383-11e8-8ee7-167c67eb9dd2.png)
![image](https://user-images.githubusercontent.com/12453031/40660524-d157fbd2-6383-11e8-80c4-aaf9a89197ee.png)
看了这段代码不是很懂，能不能解释一下呢？
还有，如果想要顺序消费和并行消费一起的话，应该怎么写这个外层抽象类，因为想要并行的方法只执行

[2018-05-29 15:18] mengxiaofei007 opened #1864 "生产者、消费者、注册中心不在同一个工程时，@reference调用远程接口无法识别"
![image](https://user-images.githubusercontent.com/36765750/40667599-24036ff4-6395-11e8-92e8-b131f41df811.png)
![image](https://user-images.githubusercontent.com/36765750/40668454-2555af8c-6397-11e8-8e81-77f9a75435df.png)
生产者可以正常发布
dubbo监控中心也可以看到生产者
![image](https://user-images.githubusercontent.com/36765750/40667971-fa343892-6395-11e8-8b42-d594ffe80b4c.png)
就是在消费者引入远程生产者接口的时候本地不识别，编译不通过，请问这个问题该如何

[2018-05-29 15:31] yythlj commented on #1864
+1

[2018-05-30 02:06] diecui1202 commented on #1864
Hi, you need to add the dependency which contains the class `Crm` to your consumer side project.

[2018-05-30 02:19] ralf0131 commented on #1863
This is not a issue related to Dubbo, please ask on the rocketmq community.

[2018-05-30 02:19] #1863 closed

[2018-05-30 02:22] #1864 closed, assigned to nobody

[2018-05-30 02:39] diecui1202 commented on #1860
Let me check it.

[2018-05-30 03:13] imlgw commented on #579
怎么解决？

[2018-05-30 05:56] diecui1202 commented on #1860
I have checked source about 2.6.1, the default retries is

[code]

and the real retries is
[code]

It is 3.

After set retries to 0 as follow:

[code]

It doesn't retry. The result is what we want. So please check your configuration and try it again. Also, you can debug deeply.

[2018-05-30 07:07] diecui1202 commented on #1850
@eonezhang You can reference here for delaying registry services or not registry them:

http://dubbo.apache.org/books/dubbo-user-book/demos/delay-publish.html
http://dubbo.apache.org/books/dubbo-user-book/demos/subscribe-only.html

And use [qos](http://dubbo.apache.org/books/dubbo-user-book/references/qos.html) to online/offline them manually.

[2018-05-30 07:39] smallh0a1n1d0s commented on #1861
@diecui1202  I really want to join our big family, but now I have a lot of work to do .I need to liberate myself first.   Recently, the expansion of flow control and fuses has been completed. There are a lot of things to do

[2018-05-30 08:03] li-keli commented on #1784
我这里也出现了类似的问题，
dubbo version `2.6.0`
调用某个服务的方法，`马上（几微秒）`返回 `Invoke remote method timeout. `，重复尝试几次，有的时候又可以正常调用，有的时候又返回timeout。

provider 模块已经配置了timeout设置。

[2018-05-30 08:48] ralf0131 commented on #1852
What command are you trying to use? It looks like you have typed a wrong command.

[2018-05-30 08:58] joooohnli commented on #1765
同样遇到该问题。这是dubbo的启动时检查（```dubbo.consumer.check=true```）导致的：初始化时提供方接口检查不通过，则之后该引用都是null。

我感觉这算是个bug。启动时检查的初衷应该是：检查不通过，应用启动失败。

[2018-05-30 09:28] miaoyinjun commented on #1852
I'm not using any action commands, and when the service is running normally, this happens every once in a while

[2018-05-31 02:22] diecui1202 commented on #54
Hi, @liuluo129 Now you can try rest protocol: https://github.com/apache/incubator-dubbo-docs/blob/master/dubbo-user-book/rest.md

[2018-05-31 02:53] diecui1202 commented on #43
Could you share us the scenario about using RpcContext attachment to return results?

[2018-05-31 06:32] diecui1202 commented on #65
Local stub works only when providers >= 1. Local mock's bug has fixed, please check https://github.com/apache/incubator-dubbo/blob/fd7bab3cdf2650168e9eca625fd5311ffc7b1f5a/dubbo-cluster/src/main/java/com/alibaba/dubbo/rpc/cluster/support/wrapper/MockClusterInvoker.java#L142

Feel free to reopen it or open a new issue if you have any other questions.

[2018-05-31 06:46] LinHtao commented on #1860
感谢您的解答, 很抱歉, 我使用的版本是2.6.0 ,针对此次问题, 我也重新跟了一下源码,
` int len = getUrl().getMethodParameter(invocation.getMethodName(), Constants.RETRIES_KEY, Constants.DEFAULT_RETRIES) + 1;`
在使用注解的情况下, 我不配置retries的参数, 返回结果是3, (@Service源码中有这么一句int retries() default 0;), 这与操作有所不符. 若我使用注解的情况下设定retries=0,
`@Service(version = "1.0.0",interfaceName="**.ICustomService",timeout=15000,retries =0,delay = -1)`
在重新看len的值
` int l

[2018-05-31 07:47] BruceAKABear opened #1867 "dubbo invoke 异常"
两个应用放在linux系统上，注册中心等放在另一个服务器上，在调用的时候出现invoke异常。所有常见的错误已经排除，有没有谁知道原因

[2018-05-31 07:50] kivenhu commented on #1798
@nzomkxia 官方文档倒是看过，里面没有关于统一配置抛出异常的。谢谢各位。

[2018-05-31 08:13] diecui1202 commented on #1867
Hi, @BruceAKABear Could you provider more information ? Such as exception stack trace.

[2018-05-31 08:21] #889 closed

[2018-05-31 14:05] lingfengsan opened #1869 "IPC通信的支持"
最近在做中间件比赛，需要实现service mesh功能，其中Provider和ProviderAgent是在同一主机上的，而目前dubbo里面通信的话我关注的netty里面是没有对IPC通信支持的。据我所知netty里面有一个可以支持的EpollServerDomainSocketChannel和EpollDomainSocketChannel(https://github.com/netty/netty/pull/3344)
是否可以支持下呢？

[2018-06-01 03:52] ylha opened #1870 "dubbo服务注册的流程与spring rmi 注册流程类似吧？"
dubbo服务注册的流程与spring rmi 注册流程类似吧？

[2018-06-01 04:30] #1697 closed

[2018-06-01 04:31] abocode opened #1871 "dubbo 使用Kryo和FST 调用异常 版本2.6.1"
[code]

[2018-06-01 05:07] #1684 closed

[2018-06-01 06:13] GuldanChen commented on #858
我也想参与dubbo的开发

[2018-06-01 06:55] #444 closed

[2018-06-01 06:55] #437 closed

[2018-06-01 06:55] #745 closed

[2018-06-01 07:03] #1768 closed

[2018-06-01 07:03] #19 closed

[2018-06-01 07:36] ningyu1 commented on #1768
@diecui1202 thanks

[2018-06-01 09:18] #67 closed

[2018-06-01 09:41] diecui1202 commented on #1871
hi, @abocode Could you please provider a demo for us to check this problem?

[2018-06-01 10:00] legend91325 opened #1875 "MergeableClusterInvoker 超时处理逻辑问题"
[code]

这块取超时配置之后，迭代future来判断处理结果，同时设置了获取超时时间。但是这里是迭代获取结果，如果每个处理都比较慢，后面的请求其实已经超时了，但是在这里并没有处理成功。比如有三个future，其中配置的超时时间是5s，第一个处理时间是4s，第二个是8s，第三个12s 按理说后两个是超时了，但是这里的逻辑回认为三个都处理成功并没有超时。

[2018-06-01 12:59] ipilaf opened #1877 "About registry notify."
当集群规模很大时，我们发布一个应用，会有惊群效应，有很多的连接超时的异常。

[2018-06-02 00:33] htynkn commented on #1694
@lovepoem I will pick up this

[2018-06-02 07:29] fengbiaoshan commented on #51
应该是多网卡多IP引起的问题，可以参考https://www.jianshu.com/p/3646263199a1文章底部的问题分析

[2018-06-02 09:58] #54 closed

[2018-06-02 10:00] lovepoem commented on #78
You can see http://dubbo.apache.org/books/dubbo-admin-book-en/install/admin-console.html

[2018-06-02 10:00] #78 closed

[2018-06-02 10:16] lovepoem commented on #658
@jmbkeyes
It is recommended to use the latest version of dubbo-ops

[2018-06-02 10:16] #658 closed

[2018-06-02 10:18] lovepoem commented on #652
as @ralf0131 metioned,you can use the new method to get tar.gz archives

[2018-06-02 10:18] #652 closed

[2018-06-02 10:38] lovepoem commented on #925
It is recommended to test the performance of the business interface.

[2018-06-02 10:38] #925 closed

[2018-06-02 10:48] lovepoem commented on #1523
Now I think the api can has multi-version. And the service also can have multi-version configured in dubbo:service.  e,g.<dubbo:service version="1.1"/>

[2018-06-02 10:48] #1523 closed

[2018-06-02 10:50] lovepoem commented on #231
Now It's ok

[2018-06-02 10:50] #231 closed

[2018-06-02 10:51] lovepoem commented on #159
Now the latest version is ok

[2018-06-02 10:51] #159 closed

[2018-06-02 11:02] lovepoem commented on #167
The dubbo is a rpc framewok. I think you can use mq to implement this business logic

[2018-06-02 11:02] #167 closed

[2018-06-02 11:06] lovepoem commented on #224
This is fixed in latest version.

Now the kyro,fastjson serialization component is added

[2018-06-02 11:06] #224 closed

[2018-06-02 11:11] lovepoem commented on #280
https://github.com/apache/incubator-dubbo/issues/146

[2018-06-02 11:12] #304 closed

[2018-06-02 11:16] lovepoem commented on #370
I think it's a dubbo serialize issue , please check your business logic and server machine time configuration

[2018-06-02 11:16] #370 closed

[2018-06-04 01:18] sunshinebaby00 commented on #1840
It is helpful for me. I will try,soon.
Thank you!

[2018-06-04 05:50] htynkn commented on #132
I test latest `dubbo-admin` with `resin-pro-4.0.56` in `java8`. All good.

I suggest close this issue for now.
If there is any future issue, please move to [dubbo-ops](https://github.com/apache/incubator-dubbo-ops/) repo to open a new issue

[2018-06-04 06:14] #132 closed

[2018-06-04 06:14] #297 closed

[2018-06-04 06:15] #411 closed

[2018-06-04 06:15] #530 closed

[2018-06-04 06:15] #552 closed

[2018-06-04 06:55] feelwing1314 opened #1879 "start.sh脚本问题"
start.sh脚本中有三处使用ps命令的地方：第一处是ps -ef ~~~，第二处和第三处是ps -f ~~~。
但是ps -f并不能查出进程，我们在生产环境都统一改成了ps -ef，请问这里是不是有点小问题？

执行命令日志如下：
[afei@jtcrtvdra35 ~]$ ps -f | grep java
afei    30036 28792  0 14:53 pts/1    00:00:00 grep --color java
[afei@jtcrtvdra35 ~]$
[afei@jtcrtvdra35 ~]$ ps -ef | grep java
afei      325     1  0 Apr11 ?        11:43:37 java ... ...
afei     1406     1  0 May18 ?        02:20:11 java ..

[2018-06-04 07:07] ralf0131 commented on #1879
Hello, would you please send a pull request?

[2018-06-04 07:07] liuyang2010001256 opened #1880 "dubbo use kryo Exception"
my configuration:

	<dubbo:application name="console-provider" owner="programmer" organization="dubbox"/>

	<dubbo:registry protocol="zookeeper" address="${zookeeper.dubbo.provider}"/>

	<dubbo:protocol name="dubbo" serialization="kryo"  port="2086"/>

my maven jar(just kyro)

        <dependency>
            <groupId>com.esotericsoftware.kryo</groupId>
            <artifactId>kryo</artifactId>

[2018-06-04 07:26] diecui1202 commented on #1880
According to `java.lang.IllegalStateException: No such extension kryo for serialization/com.alibaba.dubbo.common.serialize.Serialization`, have you added the following dependency to your project?

[code]

[2018-06-04 07:40] carryxyh commented on #1789
I print code of protocol adaptive proxy.
[code]

About your question, it is a RegistryProtocol, because of the url is like this:
`registry://....`
The protocol of this url is` registry` which corresponds RegistryProtocol.(url.getProtocol())

[2018-06-04 13:01] zhaoyuguang opened #1883 "why parameter:send.reconnect default value is false?"
why parameter:send.reconnect default value = false?
For what reason？

[2018-06-04 13:14] zhaoyuguang opened #1884 "线上环境网络中断，恢复后导致无法重连"
报错为message can not send, because channel is closed
环境以及现象
provider和zk在一个网络
consumer在一个网络
网络中断几十分钟恢复后所有接口均异常：message can not send, because channel is closed
可以确定的几点
send.reconnect为缺省配置
模拟线上环境debug出来的几个问题
断网后HeartBeatTask第1，2，3次心跳进到了 ((Client)channel).reconnect();
第4次心跳channel的lastRead、lastWrite均为null，客户端为什么不继续重连
发现NettyClient超时触发了NettyInboundHandler::channelInactive方法清空这两个参数，那不永远不会重连了？
为什么？另外请教
Hea

[2018-06-04 13:17] sunbufu commented on #1037
try this
[code]
or
[code]

[2018-06-05 03:19] lancelet223 opened #1886 "解决和注册中心断线重连后，找不到provider的问题。询问下，这样修改会不会有隐患？"
protected synchronized void doSubscribe(final URL url, final NotifyListener listener) {
        try {
            if (Constants.ANY_VALUE.equals(url.getServiceInterface())) {
                String root = toRootPath();
                ConcurrentMap<NotifyListener, ChildListener> listeners = zkListeners.get(url);
                if (listeners == null) {
                    zkListeners.putIfAbsent(u

[2018-06-05 08:16] chickenlj opened #1888 "Heartbeat detection mechanism optimization"
The original ticket in Apache JIRA: https://issues.apache.org/jira/browse/DUBBO-12

Related issues: #1371, #1454, #1365, #1450

[2018-06-05 08:29] rocky-luo commented on #1789
比如说debug看了一下，不光是RegistryProtocol，还有各种Wrapper，比如ProtocolFilterWrapper，ProtocolListenerWrapper等等，按照开发者文档，RegistryProtocol类里面是没有拷贝构造函数的，不应该被wrapper

[2018-06-05 09:33] abelli85 commented on #1012
* Orgnizatioin: 智能水务
* Location: Beijing & Shenzhen, China
* Contact: abelli5@qq.com
* Purpose: 微服务云平台，支援异构前端调用.

[2018-06-05 16:36] ralf0131 commented on #128
The dubbo admin is being refactored to a spring-boot application. Stay tuned!

[2018-06-06 01:59] diecui1202 commented on #1227
@skykong1981 I have reviewed your PR, please submit a new PR if necessary. Thanks.

[2018-06-06 06:36] 734839030 commented on #1012
公司: 上征科技有限公司
地址: 深圳
联系方式: 734839030@qq.com
场景: 大型微商系统重构

[2018-06-06 08:04] llx206 opened #1892 "incubator-dubbo-2.6.x 版本下的demo在linux运行失败（急急急！！！！）"
dubbo-demo-provider在window下能正常启动，但是将整个工程打依赖包放在linux下面
启动方式：java -cp dubbo-demo-provider-2.6.3-SNAPSHOT-jar-with-dependencies.jar com.alibaba.dubbo.demo.provider.Provider -server -Xms256m -Xmx512m -XX:MetaspaceSize=64m -XX:MaxMetaspaceSize=128m -Dfile.encoding=UTF-8

**_**运行错误如下：（）**_**
[code]

[2018-06-06 08:27] #1642 closed

[2018-06-06 08:50] kevinwong0211 opened #1893 "有没有将服务注册中心从zk迁移到Eureka的计划"
Eureka更适合

[2018-06-06 11:32] eoc2015 commented on #1784
我也遇到一样的问题~ 如有答案，万分感谢

[2018-06-06 14:46] sangjian opened #1894 "ExtensionLoader中的loadClass方法这么写不会有并发问题吗？"
[code]
cachedWrapperClasses有没有可能会被赋值两次，导致第一次的clazz没有加到cachedWrapperClasses中？

[2018-06-06 15:35] sangjian commented on #1894
知道了，在getExtensionClasses中已经做了同步处理

[2018-06-06 15:35] #1894 closed

[2018-06-07 02:10] chickenlj commented on #1892
[code]

You packaged `dubbo-demo-provider-2.6.3-SNAPSHOT-jar-with-dependencies.jar ` by yourself? Would you please give me the .jar file? I cannot reproduce the problem.

Feel free to send .jar to dev@dubbo.apache.org if if cannot attach a file here.

[2018-06-07 02:20] htynkn commented on #1701
hessian-lite is moved to the ecosystem, we don't need this task anymore. refer to f4974c69b5fedcb896259bcc06ee2e7e7c00111a

[2018-06-07 02:51] Jaskey opened #1896 "Too many DubboClientHandler threads in consumer-消费者中建立了太多DubboClientHandler 线程"
### Dubbo Version: 2.5.3

I have a large provider cluster with more than 30 instances. And I found that in client side, the consumer uses a stand alone thread pools for each instances, so there are 30 thread pool to consume the service, which I can find out from the jstack that I have many diffrent thread groups named like DubboClientHandler-IP1-XXX.

Question1:
I guess the consumer uses stand alo

[2018-06-07 02:52] Jaskey commented on #1784
跪求权威解释

[2018-06-07 03:13] ralf0131 commented on #1892
@chickenlj It is not recommend to do so, the jar file maybe too large to be accepted.

The recommended way is to post the source code on some github repo, so that it can be built locally.

[2018-06-07 03:20] zhaoyuguang commented on #1884
client 心跳激活的 reconnect
reconnect > 0 && (this.reconnectExecutorFuture == null || this.reconnectExecutorFuture.isCancelled())
其中this.reconnectExecutorFuture == null || this.reconnectExecutorFuture.isCancelled()==false 心跳无任何意义

[2018-06-07 04:03] htynkn commented on #553
Fixed by #1887

[2018-06-07 04:14] severloh commented on #680
我也遇到了同样的问题，在`com.alibaba.dubbo.config.spring.AnnotationBean` 的204行`                serviceConfig.setRef(bean);`设置ServiceBean 的ref时，部分服务会使用目标对象导致dubbo的服务有事务时没有被增强，在这句代码前置 `bean = applicationContext.getBean(beanName,AopUtils.getTargetClass(bean));` 即可

[2018-06-07 04:47] ralf0131 commented on #277
I am closing this issue. Please provide more details if you still encounter it.

[2018-06-07 04:47] #277 closed

[2018-06-07 04:49] ralf0131 commented on #468
Please check the latest code. It should be fixed.

[2018-06-07 04:49] #468 closed

[2018-06-07 04:50] #553 closed

[2018-06-07 05:13] llx206 opened #1897 "dubbo支持序列化kryo协议吗（！！！！！非dubbox）？"
想问下，dubbo采用的序列化协议可以支持kryo嘛。我知道，dubbo一直是采用heessian协议进行序列化的，没有采用kryo序列化协议。看代码中有kryo协议的代码，问下，dubbo什么时间开始支持kryo协议的。
另外，看过当当网的dubbox，他们是在dubbo的基础上面实现了自定义序列化协议kryo和fst等。阿里开源的dubbo现在也支持自定义kryo序列化吗，求大神解答！

[2018-06-07 05:16] lovepoem commented on #1784
Network problems can lead to timeout.  Although the server side is normal，consumer will appear timeout

[2018-06-07 06:29] feelwing1314 opened #1899 "MergeableClusterInvoker处理超时会抛出异常而不是忽略超时结果"
源码部分：

[code]

future.get(timeout, TimeUnit.MILLISECONDS);如果执行超时会抛出TimeoutException, 那么逻辑会走到throw new RpcException(.....)，按照合并特性，这里应该是忽略部分Provider的异常；

修改建议：
将throw new RpcException(... ...);改为日志输出，并增加continue；如下所示：

[code]

[2018-06-07 07:03] llx206 commented on #1897
服务端xml配置：
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/d

[2018-06-07 07:58] llx206 commented on #1892
@ralf0131 ,不采用打依赖包的方式是可以运行，将所有的jar放到lib文件下面，再通过jar -jar的方式，加载lib中的jar包，这样运行可以正常执行

[2018-06-07 08:05] ralf0131 commented on #1897
Yes, dubbo does supports kryo. Please try using Dubbo 2.6.0+, the latest version 2.6.2 has just been released. Dangdang has donated the features to Dubbo. see: http://dubbo.apache.org/books/dubbo-user-book/demos/serialization.html

[2018-06-07 08:05] #1897 closed

[2018-06-07 10:14] angelovevil commented on #1782
同时存在的话可以随时转换，构建不使用dubbo方式的工程

[2018-06-07 11:30] #1879 closed

[2018-06-08 02:22] lvhongfen opened #1901 "dubbo invoke a method has :HessianProtocolException: '￿' is an unknown code"
Search Engines told me that error may cased by "hessian" is not support override method default.So i try to set this property ,"isOverloadEnabled".But i can not find the way to set

[2018-06-08 02:51] lvhongfen commented on #1901
com.caucho.hessian.client.HessianRuntimeException: com.caucho.hessian.io.HessianProtocolException: '￿' is an unknown code
	at com.caucho.hessian.client.HessianProxy.invoke(HessianProxy.java:222) ~[hessian-4.0.38.jar:na]
	at com.sun.proxy.$Proxy159.uploadFile(Unknown Source) ~[na:na]
	at com.alibaba.dubbo.common.bytecode.Wrapper19.invokeMethod(Wrapper19.java) ~[na:2.5.3]
	at com.alibaba.dubbo.rpc.p

[2018-06-08 03:41] #1691 closed

[2018-06-08 06:04] ralf0131 commented on #1901
duplicated issue to #1136

[2018-06-08 06:13] zhongxigong opened #1902 "最新的代码在idea里，运行任何一个test代码的时候一直是build中。"

[2018-06-08 06:31] lvhongfen commented on #1901
<dubbo:application name="${greenline.dubbo.application.name}" />

    <dubbo:registry address="${greenline.dubbo.registry.address}"/>

    <dubbo:consumer filter="default,consumerDubboFilter" />

    <dubbo:reference id="kanoFileService" interface="com.greenline.kano.service.share.file.KanoFileService" check="false"/>

this is my XML ,How to set overloadEnabled=true ?

[2018-06-08 06:36] liaomengge commented on #1037
i use dubbo2.6.2, and xml user below:

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo

[2018-06-08 06:38] liaomengge commented on #1545
i use dubbo2.6.2, and xml user below:

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo

[2018-06-08 06:54] ralf0131 commented on #1901
Please check the documentation: http://dubbo.apache.org/books/dubbo-user-book/references/protocol/hessian.html.

[code]

You can config `hessian.overload.method=true` in url.

[2018-06-08 07:09] linzhiqiang0514 opened #1903 "升级2.6.2版本后，自定义序列化方式出现hang住的情况。"
前提：
我们自定义了序列化方式，serialization.getContentTypeId() == 88
超出计算的最大值。
按照ExchangeCodec的逻辑，这个值最大允许32。
88在服务端经过计算，变成24，无法获取到序列化方式。

在2.6.0版本时，获取序列化方式，采用兼容处理
CodecSupport.java代码如下：
[code]
上述代码会从SPI接口，根据url获取的参数，进一步获取。

在2.6.2版本时，获取序列化方式更改，根据id获取不到则抛出异常
[code]

异常抛出后，没有做处理，导致的服务端hang住不返回，需要等待超时报错。代码在如下位置：
com.alibaba.dubbo.remoting.exchange.codec.ExchangeCodec.decode(Channel, ChannelBuffer, int, byte[])  Li

[2018-06-08 08:10] lvhongfen commented on #1901
服务是在注册中心调用的请求也不一定是分配到哪台服务器上，
不能在配置里面把url写死呀

[2018-06-08 08:48] llx206 opened #1905 "The server configures port 24880 and can see two connections (one of which is the 20880 connection)"
The dubbo server port number is configured as 24880. But , I see 2 connections (one of which is a 20880 connection) when viewing the port connection during runtime?
As follows：
![port](https://user-images.githubusercontent.com/39985288/41148433-8c62f5f8-6b3b-11e8-8a2e-a3f270b3e8f2.png)

dubbo-demo-provider.xml：
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http:/

[2018-06-08 09:41] llx206 commented on #1905
solved：

<dubbo:protocol name="dubbo" port="24880" />
<dubbo:protocol name="dubbo" serialization="kryo" optimizer="com.alibaba.dubbo.demo.SerializationOptimizerImpl" />

改成:
<dubbo:protocol name="dubbo" port="24880" serialization="kryo" optimizer="com.alibaba.dubbo.demo.SerializationOptimizerImpl" />

[2018-06-08 09:42] #1905 closed

[2018-06-08 11:05] #1682 closed

[2018-06-08 13:28] 13567436138 opened #1908 "k8s集群外访问dubbo服务"
k8s集群外访问dubbo服务怎么办，ip不通

[2018-06-08 15:02] eonezhang commented on #1850
@diecui1202  it inspired me some how, thanks

[2018-06-09 02:22] wyc3146 opened #1909 "开发环境是否可以不依赖于远程服务，而是通过模拟服务来实现服务的调用？"
一个项目依赖太多dubbo服务，但是这些dubbo服务分属在不同的项目，在开发的时候一定要把依赖的服务都注册到注册中心吗？有没有什么模拟服务的方法？

[2018-06-09 09:01] guanpengchn opened #1910 "Please add "git checkout dubbo-2.6.2" in the docs of demo."
When I use the demo of Dubbo, there are some errors in it.
Please add `git checkout dubbo-2.6.2` in the docs of demo.
Such as:
[code]

[Doc link](http://dubbo.apache.org/books/dubbo-admin-book/)

[2018-06-10 05:03] leiyazhen opened #1911 "dubbo2.6.0 restful service cors domain"
how to fix the problem that cors domain problem in using rest servie ,protocal is netty.

[2018-06-10 09:40] lvhongfen commented on #1901
能否有配置的方式解决？

[2018-06-10 12:05] Julvae commented on #81
.cache文件内容如何解析啊

[2018-06-10 12:10] Julvae commented on #81
consumer 中的.cache文件内容存的是什么啊，如果是生产者信息的话，为什么我三台主机，部署一个zookeeper集群，一个dubbo集群，一个消费者集群，结果每个消费者的.cache文件中只是记录了本机提供的服务啊。

[2018-06-10 16:53] 2129zxl commented on #1273
@smallnest  你好，我遇到了相同的问题，请问你解决了吗？ @bolton1643 你说的这种方式我试了，在项目中直接添加，用maven去build jar包并不会生效

[2018-06-11 02:03] chickenlj commented on #1911
I am not much familiar with the CORS problem with REST, shouldn't it be a specific problem related to Resteasy (the framework Dubbo uses as REST solution)?

Is the way Dubbo integrates RestEasy blocks you from using CORS?

[2018-06-11 02:07] chickenlj commented on #1892
Thanks, this seems to be a better way of cooperating.

[2018-06-11 02:33] chickenlj commented on #1910
What exactly is the error? Could you describe in more details? Do you get the problem with the master branch?

[2018-06-11 02:49] guanpengchn commented on #1910
Maven can't find and download the jar packages.
For example:
`import com.alibaba.dubbo.rpc.RpcContext;` get error.
But if I switch to `dubbo-2.6.2`, all the best.
Could you tell me the reason?

[2018-06-11 03:14] chickenlj commented on #1903
The maximum id limit seems to be **31**.
Your customized id `88` exceeds the limit and was decoded to `24`, what if there's  a serialization type for id 24? I think a reasonable value below 32 should be used to replace 88.

I think Dubbo should send the serialization error back to consumer, i will check this problem further.

[2018-06-11 03:41] chickenlj commented on #1901
@lvhongfen Try use `dubbo.properties` and add the following item:
[code]

[2018-06-11 06:06] #1431 closed

[2018-06-11 08:13] llx206 opened #1914 "dubbo-monitor-simple Missing service menu"
![image](https://user-images.githubusercontent.com/39985288/41219864-3e28fffa-6d92-11e8-9901-853c14cb22e0.png)

After the monitoring service starts, the services menu cannot be found. The icon statistics item is not found

[2018-06-11 09:02] beiwei30 opened #1915 "java.net.BindException happens when delay-expose-service is enabled."
when delayed exposing service is enabled:

[code]

it is possible to have multiple services try to expose at the same time, therefore lead to java.net.BindException.

[2018-06-11 10:00] #1915 closed

[2018-06-11 10:22] SoyeeDst opened #1917 "Condition is not properly used ?"
https://github.com/apache/incubator-dubbo/blob/3e9b66854c6f70b1dfa7dd19e689bd04ae0ecb41/dubbo-registry/dubbo-registry-redis/src/main/java/com/alibaba/dubbo/registry/redis/RedisRegistry.java#L590

https://github.com/apache/incubator-dubbo/blob/3e9b66854c6f70b1dfa7dd19e689bd04ae0ecb41/dubbo-registry/dubbo-registry-redis/src/main/java/com/alibaba/dubbo/registry/redis/RedisRegistry.java#L602

Just rea

[2018-06-12 02:38] linyu7878 opened #1919 "请问如何封装 No provider available"
当服务端没有启动时，消费端会抛出 com.alibaba.dubbo.rpc.RpcException: No provider available from registry ... ，代码里用 try{}catch(){} 是可以捕获异常，自定义实现com.alibaba.dubbo.rpc.Filter的过滤器貌似取不到。请问有没有什么办法可以不用try catch就能获取这种异常呢？

[2018-06-12 05:57] beiwei30 opened #1920 "remove commons-lang3 dependency"
dubbo-qos uses some utility methods from commons-lang3, it is possible to remove this dependency.

[2018-06-12 06:14] chickenlj opened #1922 "Unified and embed metrics support."
Currently, we have RpcStatus, MonitorFilter collecting metrics of Dubbo. I think we need to provide a fundamental Metrics module to do this job, furthermore, metrics can serve as the basis of new Cluster and Loadbalance policies.

[2018-06-12 06:28] chickenlj opened #1923 "A new Cluster policy highlights short-circuit."
Saying [short-circuit](https://github.com/Netflix/Hystrix/wiki/How-it-Works#CircuitBreaker), I means a fault tolerant concept in Hystrix.

I think we should support this feature internally in Dubbo. [Cluster](https://github.com/apache/incubator-dubbo/blob/master/dubbo-cluster/src/main/java/com/alibaba/dubbo/rpc/cluster/Cluster.java) is a good Extension point to do this.

[2018-06-12 06:33] chickenlj opened #1924 "A new LoadBalance policy that can distribute traffics based on the healthy status of provider instances."

[2018-06-12 06:37] hqq2023623 opened #1925 "Redundant toString() is called"
branch : master , version : 2.7.0-SNAPSHOT
ServiceConfig#doExportUrlsFor1Protocol , line 482

<img width="890" alt="image" src="https://user-images.githubusercontent.com/6971152/41273922-035827c2-6e4e-11e8-8a72-71562d138cf9.png">

The type of Constant.SCOPE_Xxx is String already , no need to call toString() again

[2018-06-12 06:37] chickenlj commented on #1924
blocked by #1922

[2018-06-12 06:45] chickenlj opened #1926 "Bug report: before/after in Activate annotation doesn't work."
#639

[2018-06-12 07:06] ulinkwo opened #1927 "Enhancing IDE support for custom spring namespace elements (dubbo)"
when we add dubbo configuration in xml file, the IDE ( like IntelliJ )starts warning me about `Custom Spring Beans` not being parsed. There is a quick fix for it, but it pops back as soon as any changes are made. It’s just a warning, everything will work fine at runtime. But annoying nonetheless.

[2018-06-12 07:10] hqq2023623 commented on #1925
BTW , there are some rebundant comparison of null like :
ServiceBean# afterPropertiesSet , line 217
<img width="818" alt="image" src="https://user-images.githubusercontent.com/6971152/41275171-9e1e3c2a-6e52-11e8-95b2-b6c1079f438e.png">

registryConfigs is a new instance of ArrayList , will not be null
In addition , if registryConfigs is null , the for () statement will throw NPE before the compari

[2018-06-12 07:48] zhuguoming commented on #1826
no,how to set qos port in spring? @KissSai

[2018-06-12 08:21] zhuguoming opened #1928 "if i disable dubbo qos,are there any other effects?"
i use  dubbo.application.qos.enable=false  to close qos server,but dont konw whether has any other effects.

[2018-06-12 08:54] #1701 closed

[2018-06-12 08:55] lovepoem commented on #1679
close via #1885

[2018-06-12 08:55] #1679 closed

[2018-06-12 09:14] ulinkwo opened #1929 "No such configuration property version"
https://github.com/apache/incubator-dubbo/blob/5a4c0768fd8989c1f82710a50a288e26fa69215a/dubbo-config/dubbo-config-spring/src/test/resources/com/alibaba/dubbo/config/spring/annotation-version-consumer.xml#L26

as above, there is no configuration property `version` in dubbo.xsd, it is eally confused. i think it could be removed if no other purpose.

[2018-06-12 09:16] yuanqiyong opened #1930 "AnnotationBean 的替代方案是什么？"
[code]
AnnotationBean 已经被 不推荐使用了(虽然现在可以正常使用)，那SpringBoot集成 Dubbo最好的方法是什么？

[2018-06-12 09:36] yuanqiyong commented on #1930
我知道了，应该使用@EnableDubbo

[2018-06-12 09:36] #1930 closed

[2018-06-12 10:09] carryxyh commented on #1789
I don't really know your problem.
RegistryProtocol is also a wrapper.
ProtocolFilterWrapper have a constructor with protocol so the RegistryProtocol also can be wrapped.
It dependency the ProtocolFilterWrapper's constructor but not RegistryProtocol's constructor.

But RegistryProtocol's export and refer method will not be filted because of code in ProtocolFilterWrapper:

[code]

The same code can

[2018-06-12 10:47] empireghost opened #1931 "2.6.2没有dubbo-admin了？"
dubbo 2.6.2 版本下载后执行 mvn clean package ,怎么没有找到 dubbo-admin？

[2018-06-12 10:51] empireghost commented on #1931
另外，现在 dubbo2.6.2 也支持 rest了，怎么没看到相关的文档？

[2018-06-12 10:52] ulinkwo commented on #1931
@empireghost

https://github.com/apache/incubator-dubbo-ops

dubbo-admin is here

[2018-06-12 11:01] ulinkwo commented on #1931
dubbo rest is merged from dubbox ( #1001 ), so i think u could only refer to the docs currently (https://github.com/dangdangdotcom/dubbox)

[2018-06-12 13:21] nobodyiam commented on #1923
@chickenlj Is there any plan on this? We would love to have this feature.

[2018-06-12 18:05] ralf0131 commented on #1931
@ulinkwo The documentation are also merged into Dubbo, checkout here: http://dubbo.apache.org/books/dubbo-user-book/references/protocol/rest.html

[2018-06-12 18:05] #1931 closed

[2018-06-13 02:13] Jaskey opened #1932 "Extremely many client threads are created though acvtives is set"
Duubo version 2.5.3

I encounter a problem that some times my client will OOM due to too many threads. From the dump logs, I can see over 10,000 DubboClientHandler Threads in my consumer and they are in blocked state.

I copied one pieace of the log like
    ---------------  P R O C E S S  ---------------

[code]

As you can see, there are more than 1000 threads for only one dubbo providers instan

[2018-06-13 03:08] zyong2004 opened #1933 "dubbo-admin cache issue."
在首次 使用一个分组服务时，可以发现服务，可以在dubbo-admin看到，然后关闭服务，刷新admin，服务还在，变更分组组名时，重启服务时，老的分组和新的分组同时存在，老的分组显示正常提供提供服务，调用时出现服务不可用。

[2018-06-13 03:52] EdwardLee03 opened #1934 "Telnet does not recognize Enum param of method"
Example service:
[code]

[code]

Use `dubbo-2.6.2` will return:
[code]

`Enum` param of method invoked by telnet cannot be identified, the relevant code is as follows:
[code]

[code]

The root reason is the `Enum` param of method in telnet arguments is a String.
Our solution is special handling of enum type:
[code]

Test:
[code]

[2018-06-13 04:47] lvhongfen opened #1935 "实现dubbo Filter记录远程dubbo服务参数、结果、耗时异常"
[code]

[2018-06-13 04:49] lvhongfen commented on #1935
dubbo服务使用了hession接口
服务正常，调用正常，就是自定义filter报错

    <dubbo:consumer filter="default,consumerDubboFilter" >

[2018-06-13 04:50] lvhongfen commented on #1935
duplicated issue to #1901
1901也是自定义filter报错

[2018-06-13 04:51] lvhongfen commented on #1901
文件上传没有问题，自定义filter报错

[2018-06-13 04:51] lvhongfen commented on #1901
其他使用了hession的dubbo服务也报错

[2018-06-13 04:54] lvhongfen commented on #1901
服务没问题，filter 中invoke的result结果异常

[2018-06-13 04:55] lvhongfen commented on #1935
dubbo服务均没问题，加的filter invoke 后异常

[2018-06-13 06:19] LinoMay opened #1937 "redis相关模块缺少jar包依赖"
dubbo-registry-redis/dubbo-rpc-redis 这两个模块是否缺少common-pool2.jar包依赖？
clone项目后编译，发现这两个模块均缺少common-pool2.jar包依赖，pom加上依赖后编译通过。

[2018-06-13 06:31] LinoMay commented on #1937
com.alibaba.dubbo.rpc.protocol.redis.RedisProtocol&com.alibaba.dubbo.registry.redis.RedisRegistry
都用到了org.apache.commons.pool2.impl.GenericObjectPoolConfig这个类，而现有的项目中并没有该jar包依赖

[2018-06-13 06:49] #1789 closed

[2018-06-13 07:54] ralf0131 commented on #1935
I've update your error message with markdown style. Please consider using markdown style for reporting stack traces.

[2018-06-14 01:18] LinoMay commented on #1909
1、如果你的目的是不注册到注册中心，但是还是要使用这些接口的处理逻辑，那么可以选择直连；
2、如果你不需要调用服务，只是想要正常起服务的话，那么可以在启动服务的时候，consumer 配置文件配置 check=“false” 属性；

[2018-06-14 04:01] yhzl opened #1939 "关于dubbo对应的spring boot、jdk、zookeeper版本问题"
之前我好像在哪里找到过这个，现在找不到，求好心人提供一份，感谢大佬

[2018-06-14 04:15] hewg opened #1940 "配置使用"
配置中提供了四种方式，xml配置方式、属性配置方式、API配置方式、注解配置方式，请问阿里使用那种方式啊，或者使用最广泛的是哪种方式

[2018-06-14 05:34] #1939 closed

[2018-06-14 05:54] #1908 closed

[2018-06-14 06:41] #1940 closed

[2018-06-14 07:07] beiwei30 commented on #1937
dubbo.jar includes all dubbo relevant files but doesn't include its dependencies, that means, you need to explicitly include the desired dependencies by yourself. For your convenience, you can import the following bom to simplify this part of work:

[code]

[2018-06-14 07:07] #1937 closed

[2018-06-14 07:10] #1902 closed

[2018-06-14 07:12] beiwei30 commented on #1910
not sure what happens, you may consider to clean up your environment and give it a retry. master branch is running everyday and guarded with travis CI.

[2018-06-14 07:12] #1910 closed

[2018-06-14 07:14] bianjp commented on #1927
Met the same problem, and I opened a [ticket](https://youtrack.jetbrains.com/issue/IDEA-190547) for IntelliJ IDEA two months ago, but it seems that no progress has been made until now.

I'm not sure whether Dubbo or IntelliJ IDEA should be responsible for this issue.

[2018-06-14 09:01] breakenknife opened #1942 "dubbo 2.6.x与2.4.x互相调用的兼容问题"
我们公司现在还是2.4.x,想从部分应用开始升级为2.6.x.  请问会有兼容问题吗?
如果有,那么2.4.x最高可与哪个版本兼容呢?

[2018-06-14 10:02] leiyazhen commented on #1911
I fixed this problem by edit client request method through another way that jquery callback.
I just wonder how to fix this problem on service side.
The restful service in dubbo is anotioned by resteasy framework,and i do not find the anotion about enable corss domain request.

[2018-06-14 10:02] leiyazhen commented on #1911
I fixed this problem by edit client request method through another way that jquery callback.
I just wonder how to fix this problem on service side.
The restful service in dubbo is anotioned by resteasy framework,and i do not find the anotion about enable corss domain request.

[2018-06-14 10:05] leiyazhen opened #1943 "zk conected and soon closed when start a provider service"
the console log in provider:
17:55:46,931 DEBUG [I0Itec.zkclient.ZkClient] Closing ZkClient...
17:55:46,933 INFO  [I0Itec.zkclient.ZkEventThread] Terminate ZkClient event thread.
17:55:46,936 DEBUG [I0Itec.zkclient.ZkConnection] Closing ZooKeeper connected to 172.17.2.52:2181,172.17.2.54:2181,172.1
7.2.56:2181
17:55:46.940 [DubboShutdownHook] DEBUG org.apache.zookeeper.ZooKeeper - Closing session:

[2018-06-15 03:38] ningyu1 commented on #1768
The use of 2.6.2 version verification found that the problem still exists.
I don't think this problem is solved. The issue needs to be reopened.

[2018-06-15 03:38] ningyu1 commented on #1768
@diecui1202

[2018-06-15 03:41] diecui1202 commented on #1768
Please provider more exception information. I'll check it later. Thanks.

[2018-06-15 04:04] kimmking commented on #1942
I guess it will be okay,

[2018-06-15 04:19] ningyu1 commented on #1768
@diecui1202
The cause of the problem was found.Features have not been merged into the 2.6.2 release. thanks

[2018-06-15 05:27] Python-IBM opened #1945 "The kryo serialization response time out"
2018-06-15 13:24:13,483 [ERROR] com.demo.lease.manager.handler.GlobalHandler.exception(GlobalHandler.java:24) - 程序异常
com.alibaba.dubbo.rpc.RpcException: Failfast invoke providers dubbo://192.168.10.87:28801/com.demo.service.lease.UserService?accepts=100&anyhost=true&application=managerClient&check=false&default.check=false&default.client=netty4&default.cluster=failfast&default.delay=-1&default.laz

[2018-06-15 05:42] web1992 commented on #1945
please check you dto in   `UserService`  had  `implements Serializable`.

example:
[code]

[2018-06-15 05:49] Python-IBM commented on #1945
Yes，I had implements Serializable. I use default serialization，dubbo response successful.But I use kryo response time out.

[2018-06-15 06:16] awesome-coder commented on #1945
I think you can use fst , That code structure is similar to hessian . Performance test result is similar to kryo

[2018-06-15 06:26] jack161641 opened #1947 "How do provider inside the k8s communicate with customer outside the k8s?"
provider inside the k8s communicate register POD ip into zookeeper, how customer outside the k8s call the provider inside the k8s?

[2018-06-15 06:36] swift1911 commented on #1942
@breakenknife 我们用下来是没有问题的

[2018-06-15 06:36] Python-IBM commented on #1945
I used fst also response time out. Why can't support  kryo or fst ?

[2018-06-15 06:40] awesome-coder commented on #1945
your dubbo version?

[2018-06-15 06:47] Python-IBM commented on #1945
dubbo version is 2.6.2，The version 2.6.1 can't support kryo or fst,so I use version 2.6.2.

[2018-06-15 07:43] Python-IBM commented on #1945
because kryo  is  faster than hessian ,so I want use it.

[2018-06-15 07:46] haiyang1985 opened #1950 "How to set classifier for provider url?"
Hi,

To support provider dynamic configuration, override url will be notified to provider(RegistryProtocol). AbstractRegistry will firstly check override url's classifier match with provider url's classifier or not. **What is CLASSIFIER_KEY stands for? And, how can i configure it for the provider?**

**The AbstractRegistry will check the url match or not.**
protected void notify(List<URL> urls) {

[2018-06-15 07:56] awesome-coder commented on #1945
Kryo has strict requirements on entities

[2018-06-15 08:03] Python-IBM commented on #1945
I get it,thanks!

[2018-06-15 08:03] #1945 closed

[2018-06-15 09:13] wuhy198607 commented on #1919
我也关注一下

[2018-06-15 09:13] wuhy198607 commented on #1919
@chickenlj

[2018-06-15 09:53] wuhy198607 commented on #1919
看了下资料，可以封装 proxyFactory解决这个问题

[2018-06-15 11:24] wu560130911 opened #1954 "可伸缩的线程池写法可能存在一定问题"
dubbo默认实现的CachedThreadPool，当queue大写不为0时，尤其为-1时，将永远加入队列，直到队列满，才会新创建线程去处理（未达到最大线程数）。
https://github.com/apache/incubator-dubbo/blob/master/dubbo-common/src/main/java/org/apache/dubbo/common/threadpool/support/cached/CachedThreadPool.java#L46

[2018-06-17 02:11] liudc001 opened #1955 "跨group调用"
现在的版本能支持服务跨组调用吗？（2.6.0上试过不行）

+ provider group A
`
<dubbo:registry protocol="zookeeper" address="192.168.50.130:2181" check="false" group="A"/> <dubbo:service interface="com.alibaba.dubbo.demo.DemoService" ref="demoService"/>
`
+ consumer group B
`
<dubbo:registry protocol="zookeeper" address="192.168.50.130:2181" check="false" group="B"/> <dubbo:reference id="demoService" check="false" interface=

[2018-06-17 10:46] kimmking commented on #1955
You can't invoke services between groupA and groupB.
Until now, one group is designed to be an independent and isolated cluster, cause in a registry center a group has a root path that is not the same one from another. The a consumer will never see a provider in other group.
In your case, the provider in group A send its metadata to zk in path /A/....
And then the consumer in group B will fetch me

[2018-06-17 12:41] kimmking commented on #1911
I will replace jackson lib by fastjson for rest protocol, then I will set CORS option is open by default.

[2018-06-17 12:49] kimmking commented on #1909
you can use mock service ref:
http://dubbo.apache.org/books/dubbo-user-book/demos/local-mock.html

[2018-06-17 15:09] liudc001 commented on #1955
@kimmking  thank you for your response .
my case like this
+ business system A  --- group A
+ business system B --- group B
+ some common system (some like sequence service ) --- group C

business system must be isolated，such as A and B， but common system service is sharing...
util now，Is there a better solution？
Will this case be supported in the future?

[2018-06-17 15:41] kimmking commented on #1955
<dubbo:reference id="demoServiceA" check="false" interface="com.alibaba.dubbo.demo.DemoService" group="A"/>

<dubbo:reference id="demoServiceB" check="false" interface="com.alibaba.dubbo.demo.DemoService" group="B"/>

[2018-06-18 13:38] #1950 closed

[2018-06-18 14:25] cherryfx commented on #1012
* Orgnizatioin: Sinosoft
* Location: ShangHai, China
* Contact: jian_yuehu@163.com
* Purpose: New LIS

[2018-06-19 03:28] #1955 closed

[2018-06-19 06:17] #1920 closed

[2018-06-19 06:57] lnyu commented on #1954
这不正是 CachedThreadPool 吗？

[2018-06-19 07:18] wu560130911 commented on #1954
但是针对queues小于零时，就可能出现问题了，所以建议对此参数进行校验，防止出现误用

[2018-06-19 07:48] #1927 closed

[2018-06-19 13:23] jqncc opened #1960 "是否增加eureka注册中心的支持"
是否增加eureka注册中心的支持
how do supported eureka as service discovery?

[2018-06-19 14:11] kimmking commented on #1960
that's a good idea

[2018-06-19 14:28] kimmking commented on #1943
can you provide those log messages before these log?

[2018-06-19 16:04] ralf0131 opened #1961 "Call for new dubbo logo"
Hi All,

The community has decided to change the current dubbo logo to a new one.

Anyone can submit the logo candidate by either attaching the image to
this Github issues.

The logo candidate should have:

1. the name "Dubbo" in the logo
2. a description of the design
3. a vector graph (can be update later)

The community will vote on all the candidates.

[2018-06-20 05:59] ningyu1 opened #1962 "The validation format of parameters set in ReferenceConfig, ServiceConfig and RegistryConfig is inconsistent."
When the API is used, the format of parameter validation is inconsistent.

Such as: SetGroup method

AbstractReferenceConfig

[code]

RegistryConfig

[code]

When the group is: dubbo/TEST:

The following exception occurs using `reference.setGroup("dubbo/TEST")`

[code]

Use `registry.setGroup("dubbo/TEST")` to run normally

I don't know if it's intentional? Or is it a code problem? I can send PR i

[2018-06-20 06:15] ZhichX opened #1963 "Optimize the use of `lock.lock()`"
Put lock.lock() in try{...}, when lock.lock() reports an error, will also enter the finally release lock.
According to the `Lock.unlock()` document, an unchecked exception will be thrown when the non-lock holding thread calls this method:

[2018-06-20 06:16] ZhichX commented on #1963
#1944

[2018-06-20 07:15] diecui1202 commented on #1960
hi, @jqncc support eureka is in our roadmap, bug now it hasn't scheduled. We are happy to see your suggestion or PR.

[2018-06-20 08:04] 457049726 opened #1964 "dubbo.application.qos.enable=false 在apollo中无效"
项目用 spring boot ,dubbo 2.6.1接合apollo配置中心，包括 spring.application.name 、dubbo.protocol.port 在内的 几乎所有配置都放在apollo，但运行后发现 qos无法禁用，把 dubbo.application.qos.enable=false配置到apollo时无效，但放到 applocation.proterties 后正常。初步确定可能是 框架没有从配置中心获取 dubbo.application.qos.enable 配置，从而采用默认的配置

[2018-06-20 08:12] yjqg6666 opened #1965 "LDAP auth. support for dubbo-admin"
as the title.

[2018-06-20 08:15] EonianGlutton commented on #1964
application.properties或者application.yml中，加了这个没？apollo.bootstrap.enabled=true

[2018-06-20 08:28] 457049726 commented on #1964
回复  EonianGlutton ：
项目用的是spring boot  配合 apollo配置中心 一起使用，项目没有 dubbo.properties配置文件，而且application.properties或者application.yml 没有任何dubbo方面的配置，所有配置被转移到 apollo。但是spring.application.name 、dubbo.protocol.port之类的参数，配置在 apollo 中正正常被系统拉取到。但唯独  dubbo.application.qos.enable 和  dubbo.application.qos.port 配置无效。
不过刚刚经过自己查看 dubbo配置方面的源代码，尝试性的在 apollo中将 dubbo.application.qos.enable 配置改成  dubbo.application.qosEnab

[2018-06-20 08:31] 457049726 commented on #1964
总结：解决 pos方面的配置写到 apollo配置中心无效的方法是把， dubbo.application.qos.enable 配置改成  dubbo.application.qosEnable，同理，如果想替换默认端口，需要把  dubbo.application.qos.port 改成  dubbo.application.qosPort

[2018-06-20 08:31] #1964 closed

[2018-06-20 08:50] ralf0131 commented on #1928
What are your concerns? Disabling qos will cause you cannot view the stats via telnet/http, and you may not be able to execute commands like online/offline services.

[2018-06-20 09:35] ralf0131 commented on #1925
Hi, thanks for reporting, would you please send a pull request?

[2018-06-20 09:49] AlexStocks opened #1967 "ignore serialization ID for heartbeat message"
我构造了一个二进制心跳包对服务端进行测试。在代码中我循环增大serialID从0开始直到其最大值31。其中 serialID 取值 [1, 3, 4, 5, 6, 7] 时，服务端有以下异常日志：

[code]

经过与 相关同行 们讨论，说是这几个 ID 是内部保留的实例ID，如 https://github.com/apache/incubator-dubbo/blob/2.5.x/dubbo-common/src/main/java/com/alibaba/dubbo/common/serialize/support/json/FastJsonSerialization.java

针对这个例子，这个解释是 okay 的，可以解释这个错误。不过个人建议：服务端收到心跳包的时候不要检查 header 里面的 serialID，直接放过，可否？

因为心跳包不设计逻辑处理，不需要获取s

[2018-06-20 10:06] ralf0131 commented on #1967
I just did some twist to the style.

[2018-06-20 12:36] bluewoft commented on #1961
Hi I have designed the Dubbo logo. The idea is that dubbo is an rpc framework, protocol is the most important part. So I combine the symbol of ':// ' with the name of dubbo. Below is my detailed design:
![dubbo logo -01](https://user-images.githubusercontent.com/40427451/41658614-8740fd30-74c9-11e8-862c-6993f7524d06.jpg)

[2018-06-20 15:02] kimmking commented on #1961
+1 vote

[2018-06-20 16:23] baigod opened #1968 "服务调用的超时问题 Some issues with service timeout"
**dubbo version:** 2.5.6

### issues code 1
[code]

使用场景，当B服务提供者需要紧急重启的情况下：
此时，B宕机，如何让a()立即捕获到异常信息，而不用等待3分钟才返回，如果大量并发请求在请求中，将可能造成A服务大量请求堆积。这个是否有更友好的办法去处理，或者，我的配置并不完善。
Usage Scenarios When the B Service Provider Needs an Emergency Restart:
At this point, B crashes, how to make a() immediately capture exception information without waiting for 3 minutes to return. If a large number of concurrent requ

[2018-06-21 01:03] ningyu1 commented on #1961
+1 vote

[2018-06-21 01:09] diecui1202 commented on #1961
Great design. +1

[2018-06-21 01:30] ZhichX commented on #1961
+1 vote

[2018-06-21 02:14] mercyblitz commented on #1961
+1

[2018-06-21 02:16] nzomkxia commented on #1961
+1 vote

[2018-06-21 02:30] Soo000 commented on #1961
Pretty, +1

[2018-06-21 02:35] zonghaishang commented on #1961
+1

[2018-06-21 03:19] beiwei30 commented on #1961
like it, +1

[2018-06-21 03:28] zhaolizhi commented on #1175
请问怎么解决的呢？

[2018-06-21 03:29] diecui1202 opened #1971 "AbstractConfigTest.appendAnnotation not stable in Java 10"
line 270:
[code]

Sometimes failed, the error is:

[code]

[2018-06-21 03:34] ralf0131 commented on #1971
`org.apache.dubbo.config.AbstractConfig#toString` use reflection to iterate the methods, according to the java doc, the elements in the returned array are not sorted and are not in any particular order.

I am afraid that this issue will affect all Java versions.

[2018-06-21 04:00] ralf0131 opened #1972 "Unstable UT"
[code]

[2018-06-21 04:02] #1925 closed

[2018-06-21 06:05] carryxyh commented on #1961
+1 vote

[2018-06-21 06:20] MouGG commented on #1441
@chickenlj Hi, your link https://github.com/dubbo/dubbo-docker-sample 404, would you please provide an avaliable link?

[2018-06-21 06:45] MouGG commented on #1432
Hi, @vangoleo, thanks for your reply, what about running a dubbo-provider in a k8s cluster? As we konwn, dubbo register the podIP rather than a nodeIP to registry(zookeeper), thus consumer outside of k8s cluster cannot reach to the providers within k8s. Any solution to register nodeIP to ZK instead?

[2018-06-21 08:18] #1963 closed

[2018-06-21 08:26] hncdyj123 opened #1975 "com.alibaba.com.caucho.hessian.io.HessianProtocolException: 'java.util.IllegalFormatConversionException' could not be instantiated"

[2018-06-21 08:53] mark-4px commented on #1975
代码贴一下
有没有可能是返回值或者参数没有序列化或者类型比较特别如List

[2018-06-21 09:27] #1934 closed

[2018-06-21 10:43] yjqg6666 commented on #988
got the same problem.

[2018-06-21 13:43] dreamquster commented on #1960
@diecui1202 , I'm interesting in this. Howerver,
How to pass EurekaServerServiceUrls from URI type in dubbo registry? In eureka,  EurekaServerServiceUrls is map and has multiple zones and service URI at every zone as following:

eurekaServerServiceUrls:
     defaultZone: http://user:${eureka.password}@localhost:8761/eureka/, http://${ip}:${port}/registry/eureka/
     eastAmericanZone: http://201.3

[2018-06-22 02:38] ningyu1 commented on #1962
However, the change in the registration root path does not match the root path read by dubbo admin, which reads "dubbo/", which seems to be a problem

[2018-06-22 02:50] ningyu1 commented on #1962
confuses the use of the two. close the issue.

[2018-06-22 02:50] #1962 closed

[2018-06-22 03:33] chickenlj commented on #1961
+1

[2018-06-22 07:09] ningyu1 opened #1977 "It is recommended to delete group and version in RegistryConfig"
In the document, there is no description of the use of the group and version of RegistryConfig, so as to avoid misuse and suggestion deletion.

RegistryConfig's group is currently used to affect the UrlPath of service registration.
I don't think it's useful.

[2018-06-22 07:20] bianjp commented on #1927
It still didn't solve the problem that IDE cannot parse the correct bean type?

[2018-06-22 08:41] Jarvens commented on #1311
我也遇到了这个问题
java.lang.RuntimeException: com.chuanying.eoe.member.remote.RemoteUserInfoService_VerificationTradePwdParameter_java.lang.Integer_java.lang.String: frozen class (cannot edit)
	at javassist.ClassPool.checkNotFrozen(ClassPool.java:617) ~[javassist-3.21.0-GA.jar!/:na]
	at javassist.ClassPool.makeClass(ClassPool.java:859) ~[javassist-3.21.0-GA.jar!/:na]
	at javassist.ClassPool.makeClass(Clas

[2018-06-22 10:12] kimmking commented on #1977
see also https://github.com/apache/incubator-dubbo/issues/1955

[2018-06-22 10:29] ralf0131 commented on #1961
Hi,

72 hours has passed, the follows votes are cast:

* 4 binding: mercyblitz, beiwei30, chickenlj, ralf0131
* 11 non-binding: kimmking,  ningyu1, diecui1202, ZhichX, nzomkxia, vangoleo, Soo000, zonghaishang, liwanzhang, carryxyh, DoFunCloud

Thanks everyone for the vote.
Let's welcome the logo!

[2018-06-23 02:58] liulijun553 opened #1978 "clearAttachments in ConsumerContextFilter may lead to something wrong for cluster"
dubbo provided many cluster for example: failover,failfast,failsafe,failback,forking,mergeable,broadcast.
    in FailoverClusterInvoker,dubbo will try another  provider when catch RpcException.
    in BroadcastClusterInvoker,dubbo will call all providers one by one.
    in FailbackClusterInvoker , dubbo will retry when failed.
    in ForkingClusterInvoker, dubbo will call all providers in differen

[2018-06-23 04:11] yidinshi commented on #1960
请支持一下，方便集成前端api 网关

[2018-06-23 12:09] whanice commented on #1659
fixed  and close it

[2018-06-23 12:09] #1659 closed

[2018-06-24 03:44] hadesvip commented on #1012
@panzw008  融之家的 dubbo mock平台和服务监控平台开源了么？考虑开源么？

[2018-06-24 09:41] tandanzZ commented on #1186
bad compatibility

[2018-06-25 02:24] flydish2017 opened #1979 "getRemoteHost获取不到调用方IP"
场景： provider收到consumer的请求后， 再调用其它provider_1， 调用链如下：
consumer  --->   provider  --->  provider_1
问题： 在 provider  端通过 RpcContext.getContext().getRemoteHost();  获取不到正确的consumer调用方IP。

[2018-06-25 03:11] 15174834 commented on #1968
https://github.com/apache/incubator-dubbo/issues/519

[2018-06-25 03:28] 15174834 commented on #519
@chickenlj 大神 ，有没有好建议

[2018-06-25 03:42] ningyu1 commented on #1977
@kimmking thinks .
What is the role of groups designed to be isolated clusters?  Distinguish the environment?
It seems that the service details for adding the group cannot be seen in dubbo admin.

There is also the `version` attribute of the `RegistryConfig` class,  From a code standpoint, it doesn't seem to work.

[2018-06-25 03:48] wodebite opened #1981 "啥时候dubbo能用euraka 做注册中心，然后和springcloud的微服务互相调用，那就完美了"
诉求

[2018-06-25 06:10] beiwei30 commented on #1981
noted and will consider

[2018-06-25 10:00] wangaicui opened #1983 "can dubbo support protobuf ?"
请问是否有版本支持protobuf序列化方式

[2018-06-25 11:14] yjx1045072812 opened #1984 "dubbo官网文档的问题"
关于本地存根的使用，文档上有这样一段demo：
![image](https://user-images.githubusercontent.com/35123083/41847036-42d9c704-78ab-11e8-95a2-abf63be62622.png)
但是我再实际使用dubbo的过程中发现，将provider端的stub开启后，实际上是在provider端执行stub，并非是在客户端上执行。如果想要在客户端执行stub，需要在客户端开启stub。
这样一来，文档上的说明就有误导性了，或者说是我使用的方式不对？

[2018-06-25 22:47] YoungHu commented on #1826
now we can't rewrite the default port in spring, just change it by dubbo.properties

[2018-06-25 23:04] YoungHu opened #1985 "2.6.2 version missing some artifacts in pom.xml?"
when testing QOS function I find out dubbo missing import `curator `, io.netty's `netty`, Apache `commons-lang3`. I need import them into my project by myself. is this normal?

[2018-06-26 02:02] ningyu1 opened #1986 "Secure release of redis connections"
RedisProtocol close redis connection

[2018-06-26 02:19] igoso opened #1988 "throw java.lang.IndexOutOfBoundsException: Index: 0, Size: 0"
https://github.com/apache/incubator-dubbo/blob/eee0be393926d87055d62b7fbeb288451b3c32c4/dubbo-cluster/src/main/java/org/apache/dubbo/rpc/cluster/directory/StaticDirectory.java#L56

[2018-06-26 02:36] ningyu1 commented on #1985
@YoungHu The dependency configuration is dependencyManagement. It needs to be import

[2018-06-26 05:48] ningyu1 commented on #1986
done

[2018-06-26 05:48] #1986 closed

[2018-06-26 06:06] losphantom opened #1990 "跑在容器里provider端不停的报All clients has discontected..."
provider可以正常提供服务, 但是基本上每隔20秒, 就一直输出以下日志, 貌似直接运行不会这样, 是容器里不能建立长连接吗? 还是我需要做什么设置?

[2018-06-26 13:57:09.914 - WARN] c.a.d.remoting.transport.AbstractServer  :  -  [DUBBO] All clients has discontected from /127.0.0.1:9090. You can graceful shutdown now., dubbo version: 2.6.1.2, current host: 172.1.2.155
[2018-06-26 13:57:29.924 - WARN] c.a.d.remoting.transport.AbstractServer  :  -  [DUBBO] All clients

[2018-06-26 08:02] hanwangkun opened #1992 "作者是否能够将这个应用在Docker容器里面的网络通用问题解决了，再发布一个新版本出来"

[2018-06-26 09:20] YoungHu commented on #1985
OK

[2018-06-26 09:20] #1985 closed

[2018-06-26 14:09] ralf0131 commented on #1992
What problem have you encountered? You need to clearly describe it, unless the community cannot help you.

These question you propose make no sense to solve your problem.

[2018-06-26 14:11] ralf0131 commented on #1981
related to #1960

[2018-06-26 14:13] ralf0131 commented on #1990
Hi, I have update your description using markdown style.

[2018-06-26 15:01] ralf0131 commented on #1961
Hi @bluewoft I got difficulties when I am trying to upload this logo to Dubbo's official twitter account, it is too wide to fit into the it, which looks like:

![image](https://user-images.githubusercontent.com/4397305/41921065-9808ac56-7994-11e8-9512-7d87db0ba052.png)

Do you have any idea to solve it?

[2018-06-26 17:52] kimmking commented on #1988
if (invokers == null || invokers.isEmpty())
            throw new IllegalArgumentException("invokers == null");
        this.invokers = invokers;

[2018-06-27 03:52] RodgerLai commented on #1981
万民血书求上euraka

[2018-06-27 05:13] whanice opened #1995 "Dufault protocol for reference"
As we export multiple protocol for one service.

if we do not config protocol for reference, Is it a good choice to refer the service which use default protocol rather than refer all ?

what do you guys think about it ?

[2018-06-27 06:21] zonghaishang opened #1996 "nettyclienthandler(Netty4) does not trigger heartbeat events"
If the establishment of a connection does not initiate an rpc invoke, the client will not send a heartbeat.

[2018-06-27 07:14] ATAKing1023 opened #1998 "Application can't be started because of DubboWebApplicationInitializer"
DubboWebApplicationInitializer will create a root application context, which is conflict with the SpringContextLoaderListener in webxml. See attached stacktrace and web configuration for detail.

P.S. Running dubbo web application in JBoss EAP 6.

[exception-stacktrace.txt](https://github.com/apache/incubator-dubbo/files/2139835/exception-stacktrace.txt)

[code]

[web-xml.txt](https://github.com/a

[2018-06-27 08:24] luosai001 opened #2000 "怎么配置多协议"
在application.properties定义了两个协议 rest,dubbo，配置文件提示重复key.
在两个service中分别使用rest,和dubbo协议暴露。启动服务保存，找不到rest;
是不是后面的dubbo,覆盖了rest.如果是这样那该怎么定义多协议呢

[2018-06-27 08:52] luosai001 commented on #2000
已经解决了，不能通过配置文件配置多个协议。需要通过API配置多个协议注入

[2018-06-27 11:22] xuyanhua opened #2002 "com.alibaba.com.caucho.hessian.io.HessianProtocolException: com.alibaba.com.caucho.hessian.io.ObjectDeserializer: unexpected object java.lang.String (2)"
我们使用dubbo的时候，返回的结果对象是这样的
class Result <T>{
    int code;//错误码
    String message;//错误消息
    T module ;//保存数据
}
但是调用时报反序列失败，报错如下：
`Exception in thread "main" com.alibaba.com.caucho.hessian.io.HessianFieldException: AVX$Result.data: com.alibaba.com.caucho.hessian.io.ObjectDeserializer: unexpected object java.lang.String (2)
	at com.alibaba.com.caucho.hessian.io.JavaDeserializer.logDeserializeError(J

[2018-06-28 02:50] ningyu1 opened #2003 "GenericService.$invoke Parameter support problem"
char[] type parameter support issues.

Use Dubbo version: V2.6.2 (consumer and provider versions are the same)
Use Protocol: dubbo
Use Serialize: hessian2

Consumer debug information:

![image](https://user-images.githubusercontent.com/3387548/42010363-e944cb86-7ac0-11e8-8c27-6695d8f2681b.png)
![image](https://user-images.githubusercontent.com/3387548/42016165-1b7e2e1e-7add-11e8-8e71-ad1b30a635e5.

[2018-06-28 08:18] #1689 closed

[2018-06-28 13:15] ralf0131 commented on #1998
Thanks for reporting, I am planning to look into it in the next one to two days.

[2018-06-28 13:24] kimmking commented on #1983
https://www.bbsmax.com/A/pRdBaZ75nx/

[2018-06-28 15:44] luyuanwan commented on #1919
告知服务消费端找不到服务提供者，这种做法可以让使用者知道自己当前服务的状况，是一种合适的做法，如果服务消费端非要去掉这个异常，可以在Reference中配置check = false

[2018-06-28 15:47] luyuanwan commented on #1935
@ralf0131  You can give an example for markdown style for reporting stack traces.

[2018-06-28 15:49] luyuanwan commented on #1943
You can provide these message in markdown style.

[2018-06-29 02:21] ralf0131 commented on #1988
@igoso Would you please send a pull request for this?

[2018-06-29 02:28] lovepoem commented on #1687
close via #1715 and #1736

[2018-06-29 02:28] #1687 closed

[2018-06-29 02:29] lovepoem commented on #1694
close via #1958

[2018-06-29 02:29] #1694 closed

[2018-06-29 02:34] lovepoem commented on #1690
This issue has been around for a while. What is the progress now? Please give me a feedback.

[2018-06-29 02:34] lovepoem commented on #1685
This issue has been around for a while. What is the progress now? Please give me a feedback.

[2018-06-29 02:34] lovepoem commented on #1696
This issue has been around for a while. What is the progress now? Please give me a feedback.

[2018-06-29 02:34] lovepoem commented on #1698
This issue has been around for a while. What is the progress now? Please give me a feedback.

[2018-06-29 02:34] lovepoem commented on #1680
This issue has been around for a while. What is the progress now? Please give me a feedback.

[2018-06-29 02:39] lovepoem commented on #1695
https://github.com/apache/incubator-dubbo/pull/2004

[2018-06-29 02:40] ralf0131 commented on #1690
Hi, I do not have enough time to do this recently... My plan is start to work on this in July...

[2018-06-29 02:44] zonghaishang commented on #1680
Planned to submit on July 15， because in the development of http2 and middleware contests, I didn't spend time on unit tests.

[2018-06-29 04:16] wanglei-sky commented on #1968
顶

[2018-06-29 05:36] luyuanwan commented on #1981
我觉得可以自己先做一个简易的版本试一下，如果觉得不错，可以提交上来，再决定是否要合并到主分支

[2018-06-29 05:39] luyuanwan commented on #1979
调用链如下：
consumer ---> provider ---> provider_1
provider是最为provide_1的消费方，所以在provider_1端获取调用方IP拿到的一定是provider机器的IP

[2018-06-29 05:39] diecui1202 commented on #1981
Eureka 2.0 is discontinued. Refer https://github.com/netflix/eureka/wiki

So it's necessary to support eureka for registry?

[2018-06-29 05:58] luyuanwan commented on #1306
Has this problem fixed ?

[2018-06-29 06:13] whanice commented on #619
use `-XX:-OmitStackTraceInFastThrow`  can solve such exception without stack trace.

[2018-06-29 06:17] #1996 closed

[2018-06-29 07:31] fingthinking opened #2006 "consumer 抛出Dubbo client can not supported string message原因分析"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.
* Operating System version: mac
* Java version: 1.8
### Step to reproduc

[2018-06-29 07:44] lgxnu opened #2007 "泛化调用出现递归问题导致StackOver,升级到2.5.10问题依然存在"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.4.6
* Operating System version: xxx
* Java version: xxx

### Step to repr

[2018-06-29 07:49] lgxnu commented on #2007
https://code.aliyun.com/alibaba/dubbo/commit/73700cb7296399be98316e09b44fb2ed4be5e924

This link should fix this bug, but I don't know which version on github works

[2018-06-29 08:48] zk789987 opened #2008 "通过java实现dubbo cache文件的自指定，求解！"
问题：
我们想通过java的动态改变dubbo缓存的存放路径（AbstractRegistry .java）
String filename = url.getParameter("file", System.getProperty("user.home") + "/.dubbo/dubbo-registry-" + url.getHost() + ".cache");

在调用方法下面源代码中的service()的service.export()后，将interfacename写入到自定义的dubbo cache文件中。

部分源代码：

[code]

[2018-06-29 10:07] LijyCasey opened #2009 "problem about dubbo's status checker SpringStatusChecker when using springboot"
recently I use spring boot to develop a dubbo monitor system like dubbo-admin or handu's dubbo-monitor.When I check the system's status with dubbo status checker,the SpringStatusChecker.check() throws an Exception:

[code]

It seems like GenericWebApplicationContext dosen't support function getConfigLocations().I think this exception related to Spring Boot because the same code run in the triditio

[2018-06-29 10:09] LijyCasey commented on #2009
edit title

[2018-06-30 14:59] zonghaishang opened #2010 "Unstable UT: org.apache.dubbo.rpc.protocol.webservice.WebserviceProtocolTest testDemoProtocol"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0-SNAPSHOT
* Operating System version: linux
* Java version: jdk8

###

[2018-07-01 09:13] gy0801151351 opened #2011 "ServiceAnnotationBeanPostProcessor的log信息级别有误"
https://github.com/apache/incubator-dubbo/blob/master/dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/beans/factory/annotation/ServiceAnnotationBeanPostProcessor.java

这个java类里面的private void registerServiceBean 这个方法, 下面这几行
if (scanner.checkCandidate(beanName, serviceBeanDefinition)) { // check duplicated candidate bean
            registry.registerBeanDefinition(beanN

[2018-07-01 09:20] gy0801151351 opened #2012 "application.yml文件里的dubbo节点无法处理${}形式的变量引用"
如下面所示:
dubbo:
　application:
　　id: service-core
　　name: service-core
　　version: 1.0.0
　　owner: GongYan

上面是一般配置, 可以正常读取, 但如果采用了${}的形式, 就无法正确解析属性值
dubbo:
　application:
　　id: service-core
　　name: service-core
　　version: 1.0.0
　　owner: ${dubbo.application.name}

但是, spring原生体系中,是可以通过${}形式解析属性值的

[2018-07-01 15:13] ralf0131 commented on #1998
Hi, I think removing SpringContextLoaderListener in your web.xml will solve this issue.  But that will require user to change their code.

The DubboWebApplicationInitializer will be called before any Listener configured in web.xml.

I am still thinking about a more elegant way to solve it.

[2018-07-02 02:04] lovepoem commented on #1695
close via #2004

[2018-07-02 02:04] #1695 closed

[2018-07-02 02:36] Jaskey opened #2013 "Need a limited Threadpool in consumer side"
### Environment

* Dubbo version: 2.5.3
* Java version: 1.7

in some circumstances,  too many threads will be created  and thus process will suffer from OOM.Here is the related issue https://github.com/apache/incubator-dubbo/issues/1932

After  analyzing the problem, I found that  the consumer used a cached thread pool which has no limited thread size, which is the root cause. So a choice for user

[2018-07-02 06:19] Nocturnana opened #2015 "configurators 里面的参数不能动态生效"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.3
* Operating System version: xxx
* Java version: xxx

### Step to repr

[2018-07-02 07:14] ralf0131 commented on #2013
+1 for a limited thread pool on consumer side.

[2018-07-02 08:09] ralf0131 commented on #1998
Yes. But that also requires user to change their configuration. Actually it is possible to configure the `DubboApplicationListener` in your applicationContext.xml or using annotations.

The primary concern here is how to enable that feature without user being aware of it. So I use the ServletContainerInitializer to implement that.

If you check the source code of `org.springframework.web.context.A

[2018-07-02 09:12] tnndwc commented on #1441
@463535160
I am trying to deploy dubbo on kubernetes using the docker image.
There is some description on how to deploy it: https://gist.github.com/tnndwc/bbb5c6d85b4e52f833d75670e2913bd2
(I pass the environment variables DUBBO_IP_TO_REGISTRY、DUBBO_PORT_TO_REGISTRY to shell script which runs the dubbo service using docker.)

[2018-07-02 10:45] gudegg commented on #2012
fixed  (#1895 )

[2018-07-02 13:17] carryxyh commented on #1841
transport config will not override.
the config that can override is like timeout, retries, loadbalance, actives and so on.

[2018-07-02 15:59] luyuanwan commented on #2015
可以把你的问题描述得再具体一些，比如给个具体的例子 @Nocturnana

[2018-07-03 01:15] ningyu1 commented on #1393
It should be written in a wiki to make it easier for the community to find

[2018-07-03 02:01] diecui1202 commented on #2007
@lgxnu could you try it with dubbo 2.6.2 ?

[2018-07-03 02:34] chickenlj commented on #2013
Agree to left the choice to users, the best threadpool policies may vary in different scenarios. Would you mind to enable the consumer side threadpool configuration and send a PR?

Consider another perspective, you may need to scale your cluster on the consumer side to make sure it can cope with the blazingly amount of QPS.

[2018-07-03 02:37] lgxnu commented on #2007
@diecui1202 many thanks, the problem resolved. Indeed, it caused by my pojo, the following code will case recursive calling on converting pojo to map as dubbo will convert every method starts with get to a map field. to correct this, we can change the method name which don't start with get

e.g.

Class Person{
Person getPerson(){
return this
}

}

[2018-07-03 02:46] haiyang1985 opened #2016 "Consumer throws RpcException after RegistryDirectory notify in high QPS"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: MacOS Sierra 10.12
* Java version: JDK 1

[2018-07-03 03:38] diecui1202 commented on #2007
Got it. Please label 'FAQ' on this issue for other users. Thanks a lot.

[2018-07-03 07:17] moyuqingxin commented on #1433
请问filter="-telnet"是在哪里设置呢，dubbo version 2.5.3

[2018-07-03 08:22] ningyu1 opened #2017 "redis auth problem for RedisProtocol"
Use RedisProtocol , no password access is currently supported.

expect： `<dubbo:reference id="cache" interface="com.foo.CacheService" url="redis://username:password@127.0.0.1:6379?db.index=1" p:set="putFoo" p:get="getFoo" p:delete="removeFoo" />`

ps. `username` has no effect on redis, just fill it in. `password` is a must, `db.index` defaults to 0.

[2018-07-03 10:05] WentHao commented on #1012
公司: 杭州点望科技有限公司（亲宝宝）
地址:中国杭州
官网:http://www.qbb6.com
联系方式:邮箱:zzuhwt@163.com
场景:公司内部系统服务化

[2018-07-03 16:14] liud5120 opened #2020 "dubbo.incubator.apache.org新版本站点文档链接Not Found"
open https://dubbo.incubator.apache.org/#/docs/user/quick-start.md?lang=en-us

Complete installation steps, see：Provider demo installation

“Provider demo installation”  open links Not Found

[2018-07-03 23:43] ralf0131 commented on #2020
Thanks for reporting,  working on this.

[2018-07-03 23:44] ralf0131 commented on #2011
Hi, thanks for reporting, would you please send a pull request?

[2018-07-03 23:49] ralf0131 commented on #2020
FYI, we suggest you report website related issues to https://github.com/apache/incubator-dubbo-website

[2018-07-04 01:55] dixian commented on #1012
组织：浙江新蓝网络传媒有限公司
地点：中国杭州
联系方式：dixian@foxmail.com
场景：微服务RPC调用

[2018-07-04 05:26] hubuyt opened #2021 "dubbo javassist 动态生成的类如何调试"
你好 我正在研究dubbo源代码 感觉dubbo里面大量应用了javassist生成新的类，不好调试，我把生成的类 自己新建类放到项目下去 可以直接调试吗
![qq 20180704132259](https://user-images.githubusercontent.com/11042146/42258320-b176fbee-7f8d-11e8-9abb-b9f5be65ca4b.png) 类似这样的  ，我试过adaptive 类的代码可以  provider的本地代理好像不行

[2018-07-04 07:17] dajiating182 opened #2022 "无法打开开发者手册的连接"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: xxx
* Operating System version: xxx
* Java version: xxx

### Step to reprod

[2018-07-04 08:23] carryxyh opened #2023 "ForkingClusterInvoker missing RpcContext and the attachments."
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.7.0-SNAPSHOT
* Operating System version: mac os
* Java version: 1.8

###

[2018-07-04 09:36] haiyang1985 commented on #2016
@ralf0131 Can you look up the issue?

[2018-07-04 10:16] kingwang317 commented on #1914
me too!!

[2018-07-04 10:31] Jaskey commented on #1784
@lovepoem  根据日志 "client elapsed: 0 ms, server elapsed: 1028 ms, timeout: 1000 ms", 可以推断，肯定不是客户端到服务端这一个方向的问题，应该是服务端回客户端的问题，但是服务端实际上耗时很短，所以如果真的是网络问题，那就是回程的问题。但是从来没发现去程有类似的问题啊，所以大概率和网络有关。

是否有可能和编解码这些地方有关系？

[2018-07-04 13:14] ralf0131 commented on #2022
@dajiating182 Do you mean this link: http://dubbo.apache.org/books/dubbo-admin-book/install/provider-demo.html  ?  I am fixing it now.

[2018-07-04 15:57] czbxyls commented on #381
issue：https://github.com/apache/incubator-dubbo/issues/799

echo status | nc -i 1 $SERVER_HOST $SERVER_PORT | grep -c OK 改为
(echo status;sleep 1) | nc $SERVER_HOST $SERVER_PORT | grep -c OK

[2018-07-05 00:47] li-keli commented on #1784
我这边曾今也出现类似的超时问题，两边的业务代码都没有异常，从远程调用到收到异常间隔也就几毫秒。但是却抛出超时异常。

后来就给服务方和消费方都加上timeout，就没有这个问题了。

[2018-07-05 02:03] ralf0131 commented on #1393
@ningyu1 Thanks for your advice, I've added here: https://github.com/apache/incubator-dubbo/wiki/Mailing-list-subscription-guide

[2018-07-05 02:31] wingyiu opened #2027 "xsd not found"
[code]

[2018-07-05 02:35] ralf0131 commented on #2027
Hi, this is caused by the new website transition. I am working on it.

[2018-07-05 02:40] wingyiu opened #2028 "get started docs sucks"
[code]

[2018-07-05 02:45] beiwei30 opened #2029 "upgrade netty4 to the latest release and make it the default option for transporter"
we should upgrade netty4 to the latest release and make it the default option for transporter

[2018-07-05 02:48] zonghaishang commented on #2029
It look goods to me :-)

[2018-07-05 02:53] ralf0131 commented on #2027
Please try again. It is fixed.

[2018-07-05 02:53] #2027 closed

[2018-07-05 03:50] chickenlj opened #2030 "[Proposal]Metadata(URL) problems and possible solutions"
Hello, community

We have previously roughly discussed the problems with Dubbo's metadata in GitHub issues and mailing list,  here when saying metadata I mainly refer to URL in Dubbo. Now I think it's time to bring the discussion onto the table and consider solving it.  Below is the proposal I've drafted:

**Problems**

URL works as the carrier for Dubbo internal data transfer at runtime, and is a

[2018-07-05 04:03] nobodyiam opened #2031 "StackOverflowError when using hessian2 to serialize object with writeReplace method returning itself"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.10
* Operating System version: Mac
* Java version: 1.7

### Issue Descr

[2018-07-05 06:07] fingthinking commented on #2006
@beiwei30 hi,能帮忙看看吗

[2018-07-05 09:10] carryxyh commented on #2029
looks good!
I'd like to add flow control into netty4 transport

[2018-07-05 09:46] carryxyh commented on #2030
Remove some unused info and use compression maybe better.
Integrate other Config Center make operation and maintenance complex. It means that we should deploy a Config Center to use dubbo, not very suitable for me

[2018-07-05 10:08] xizhimen opened #2033 "请问怎么关闭 dubbo的telnet"
### Environment

* Dubbo version: 2.5.3
* Operating System version: redhat 6.8
* Java version: 1.7

只看到这个https://github.com/apache/incubator-dubbo/issues/1433 但没找到具体方法

[2018-07-05 10:54] #1995 closed

[2018-07-05 13:09] carryxyh commented on #2033
use like this : <dubbo:service filter="-telnet" />

[2018-07-05 15:44] luyuanwan opened #2035 "使dubbo插件化的优化建议"
###  前言
      大家好，我是一名dubbo的深度使用者，在使用的过程中，发现在dubbo扩展点的设计上还留有一些小的缺陷。在说明的过程中，我会以接口org.apache.dubbo.rpc.Protocol来举例子。

###   缺陷说明
       dubbo的扩展点可以满足新增一种实现方式的需求，比如我可以新增一种Protocol的实现（如下面的代码），用户可以在他的配置文件中使用新的实现。
      但是却无法满足用户这样的需求：不想修改SPI默认扩展点的名字（对Protocl来说默认是dubbo），仅  仅想替换DubboProtocol的实现，也许是用户有更好的实现想自己尝试一把，但又不想通过修改源码重新  编译来完成，抑或者是用户发现了一个bug，但是社区又不可能马上修改这个bug立马发布一个版本,对此  时的用户而言，他最希望能无缝替换原实现）。我有时就有这

[2018-07-05 16:11] zonghaishang commented on #1841
@whanice
1. `if we config transporter="netty4" in provider side. It will affect the consumer。`
Transporter is the protocolconfig attribute， the client does not have a protocolconfig concept, therefore the tranporter on the provider side will not be passed to the client.
2. `but why dubbo check sever key in DubboProtocol.initClient ?`
Because the value stored by the server will be passed to the cli

[2018-07-06 02:01] whanice commented on #1841
Thanks for your guys reply.
Surely. the tcp connection should not be related to the nio framework,  No matter what you use, netty3, netty4 or mina in server. Will not affect the client use.

I care about migration.   when consumer use dubbo-2.5.x .  not have netty4 extension.
when provider  wants to upgrade dubbo verison to dubbo-2.6.x and use netty4. It will affect the consumer.

So I think in `D

[2018-07-06 02:04] whanice commented on #1841
And in the future. I think the sever ket shoud not pass to consumer.

[2018-07-06 02:31] luyuanwan commented on #2030
Config Center is not necessary in Dubbo, sometime I want to directly connect to the provider.

[2018-07-06 02:36] luyuanwan commented on #1995
You can give us a XML config file, It will  be clear.

[2018-07-06 02:37] luyuanwan commented on #2028
Your multicast address is invalid, the valid score is 224.0.0.0 - 239.255.255.255.   You see ?

[2018-07-06 02:38] whanice commented on #2035
+1

[2018-07-06 02:43] whanice commented on #2030
As for many company use config center. I think it can be an option for user

[2018-07-06 02:55] chickenlj commented on #2030
We need to keep compatibility with current Overrides policies. I listed 'Apollo', 'Archaius', 'Diamond' above, but Zookeeper can still be an option for configuration, Archaius itself also doesn't need too much effort to deploy. So it's not mandatory to deploy a Config Center.

Besides, Config Center seems to be a common system for a Microservice architecture, users usually don't need to deploy it

[2018-07-06 03:55] xizhimen commented on #2033
@carryxyh 我这么配的,但是报错了,具体如下:
![image](https://user-images.githubusercontent.com/19748550/42359264-6a7991de-8113-11e8-8248-546802e89553.png)
报错:
No such extension telnet for filter/com.alibaba.dubbo.rpc.Filter

[2018-07-06 04:59] playaround88 commented on #2030
hi, I think chose URL as the carrier for Dubbo is ingenious, and the goal you descripted here is keep Registry clean. but I have some questions:
1. Config Center dependency on Registry? or provider directly expose to Config Center?
2. Config Center is duplicate with Admin? and will community should talk about service governments around with Config Center? at  least we can list some topic and best

[2018-07-06 05:07] carryxyh commented on #2033
It might be a bug. @xizhimen

[2018-07-06 06:02] jsonzsh commented on #2035
mark

[2018-07-06 06:50] bohrqiu commented on #2033
关闭不了吧  https://github.com/apache/incubator-dubbo/blob/9e5d3bf031e63569b39171490dc15f52ecaf6b0f/dubbo-remoting/dubbo-remoting-api/src/main/java/org/apache/dubbo/remoting/exchange/support/header/HeaderExchangeHandler.java#L201

[2018-07-06 07:07] chickenlj opened #2037 "[Proposal]Embedded Short-Circuit support"
Hello, community

I am writing to introduce a proposal of supporting short-circuit in Dubbo. This is a feature that the community desperately needs.

Some discussions about this feature recently:

https://github.com/apache/incubator-dubbo/pull/1574
https://github.com/apache/incubator-dubbo/issues/1505
https://lists.apache.org/thread.html/59b8feb5b6c379e9aa081c1a2a39171f10108d4a79901320de2310d8@%3C

[2018-07-06 07:08] chickenlj commented on #2037
#1923

[2018-07-06 07:12] kibear opened #2038 "@Reference用起来有点别扭"
dubbo和spring-boot集成的时候。
consumer注入远程bean的时候，现在只能用 `@Reference` 来实现，
类似：
[code]

为什么不提供一个@Autowired的注解来实现属性注入
[code]

这样看起来更加直观。

[2018-07-06 07:13] chickenlj commented on #1923
I have submitted a Proposal for this feature.

Do you want to provide an implementation?

[2018-07-06 07:34] xizhimen commented on #2033
@bohrqiu
但https://github.com/apache/incubator-dubbo/issues/1433这里说可以关的

[2018-07-06 07:37] carryxyh commented on #2033
@xizhimen @bohrqiu
It should be.
But not  :(
we have noticed it. A response can be given soon.

[2018-07-06 07:40] wingyiu commented on #2028
@luyuanwan no, i mean to use zookeeper。but no examples or docs mention

[2018-07-06 08:28] imxig opened #2039 "Dubbo admin同步zookeeper服务延迟比较长"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.5.3
* Operating System version: xxx
* Java version: 1.7

Dubbo admin同步zoo

[2018-07-06 08:47] imxig commented on #751
@chickenlj 你好，dubbo-admin同步注册中心的bug已经修复了没？

[2018-07-06 09:14] AllenBlock opened #2040 "对于复杂enum作为参数的情况，dubbo是默认不支持的吗"
com.alibaba.dubbo.common.json.GenericJSONConverter.writeValue(Object, JSONWriter, boolean);
对于如下的enum：
public enum AAAEnum {
	A {
		@Override
		public void doSomething() {}
	},
	B {
		@Override
		public void doSomething() {}
	};
	public abstract void doSomething();
}
// 类似这种比较复杂一点点的enum里的对象，举个例子TimeUnit.DAY

Class<?> c = obj.getClass();// obj.getDeclareClass() 可以正确判断
c.isEnum();// 只会为false

这时候会导致

[2018-07-06 15:20] #2038 closed

[2018-07-06 17:45] kimmking commented on #2030
@carryxyh make a abstract composite for integration with different config centers, and then every contributor will be PR a specified one.

[2018-07-06 19:39] kimmking commented on #1696
@lovepoem  #2041

[2018-07-07 02:01] kimmking commented on #1992
@hanwangkun
I guess you can mapping a specified port across docker containers.

[2018-07-07 02:04] kimmking commented on #2028
@wingyiu
I got it, but you can submit a PR to fix/add some details such as docs or sample-codes for this.

[2018-07-07 02:10] kimmking commented on #2039
Update dubbo to latest version and retry.
@imxig

[2018-07-07 02:17] kimmking commented on #1977
@ningyu1  you are right.
1.  dubbo admin doesn't support more than 1 groups.
2. the version of Registry is no use until now.

[2018-07-07 02:18] kimmking commented on #1978
@liulijun553
This issue will be fixed sooner by @carryxyh.

[2018-07-07 02:21] kimmking commented on #1012
组织：北京融贯电子商务有限公司
地点：中国北京、武汉
联系方式：kimmking@163.com
场景：微服务架构、开放平台、业务服务化

[2018-07-07 04:44] kimmking opened #2043 "[Proposal]support hostname or domain in service discovery."
Hello, community,
        It's a nice way to support hostname or domain in service discovery, then we can gain more flexibility both developers and users.

## Problems
in Dubbo, providers register their IP addresses to Registry Server like ZK/Redis etc. It will be difficult for these case:

- case A: When a provider deployed in a vm container such as Docker, consumers in  other computer can't acce

[2018-07-07 05:40] carryxyh commented on #2030
@kimmking
yeah
make it optional and configure.

[2018-07-07 12:00] luyuanwan commented on #2035
Thank you for your advice. @kimmking

[2018-07-07 12:31] luyuanwan commented on #2040
Talking is cheap,show me your code please! @kimmking

[2018-07-07 14:53] luyuanwan commented on #2035
@liangfei0201 what about your opinion?

[2018-07-07 15:55] lovepoem commented on #1692
This issue has been around for a while. What is the progress now? Please give me a feedback.

[2018-07-07 16:08] kimmking commented on #2040
@luyuanwan I think you can reproduce and fix it, I will give you some guides for it. Are you want to try?

[2018-07-07 16:10] kimmking commented on #2040
@AllenBlock Can you show a testcase?

[2018-07-07 16:16] SkyDriveCN opened #2044 "dubbo:annotation标签在消费者端无法实例化Controller"
您好，我使用dubbo2.6.2版本时在服务端使用**dubbo:annotation**标签能够正常将服务注册到zookeeper。
但是在消费端使用**dubbo:annotation**标签扫描controller类所在包时，访问该controller中的方法一直404，改成使用dubbo:reference标签引用服务就可以了。请问这个问题是由什么原因造成的？
**这是服务端的配置：**
![1](https://user-images.githubusercontent.com/23717846/42412599-e38fc7c6-8241-11e8-8d43-53b827b31184.png)
![image](https://user-images.githubusercontent.com/23717846/42412607-0a7d7aae-8242-11e8-9f51-

[2018-07-08 03:12] brucelwl opened #2045 "采用dubbo的@Reference注解如何使用方法级别配置"
例如:如果是xml配置可以这样使用,
<dubbo:reference interface="com.xxx.XxxService">
    <dubbo:method name="findXxx" timeout="3000" retries="2" />
</dubbo:reference>
但是如果是
@Reference
private com.xxx.XxxService xxxService;
如何针对XxxService类中的findXxx 方法配置进行设置

[2018-07-08 03:16] brucelwl commented on #2038
@Reference代表远程调用, @Autowired 代表本地注入 我觉得很合理

[2018-07-08 04:11] kimmking commented on #2045
Add reference annotation to methods directly

[2018-07-08 09:44] yswwpp opened #2046 "关于服务开启后Qos服务没启动问题排查"
在使用qos的时候发现22222端口始终没有被监听，调试才知道是启动qos服务的时候报错了，缺少netty相关的包，但是从日志中没有任何迹象。分析代码，类org.apache.dubbo.qos.protocol.QosProtocolWrapper中方法
[code]

其中 ```java Server server = Server.getInstance(); ```报错之后，到catch中，结果日志也没有、异常也没上抛！！！
报错的那段代码虽然简单，但是有netty的依赖关系，所以还是存在报错的可能，建议此处catch之后打印一个警告级别的日志，用户可以清晰的看到为什么qos服务没有启动。

[2018-07-09 00:35] chutian52 commented on #2046
异常没有上抛应该是认为qos功能不影响dubbo使用吧？毕竟QOS只是个增强型的plugin

[2018-07-09 00:36] chutian52 commented on #2045
目前情况下好像是不可以的，你可以尝试下在parameters这个参数中设置下看看。

[2018-07-09 00:42] chutian52 commented on #2044
你的reference标注的，貌似不是dubbo的reference吧？dubbo的reference依赖注入是在你的controller初始化的时候自动使用`org.springframework.beans.factory.config.InstantiationAwareBeanPostProcessor`在bean实例化的时候注入的。有兴趣可以看下源码。你的`@Reference`注解是`jdk.narshron.internal.ir.annotation.Reference`, dubbo表示自己手太短，够不到阿！

[2018-07-09 00:46] chutian52 commented on #2043
In docker ，you can use net=host to resolve case A or  you can use same brige.
Also, you can use `@Reference` url to resolve your case B

[2018-07-09 00:47] chutian52 commented on #2040
我觉得你这个问题，问的不应该是dubbo的问题，应该问你序列化的问题。

[2018-07-09 02:06] imxig opened #2048 "dubbo2.6.2支持restful请求吗？"
dubbo2.6.2支持restful请求吗？

[2018-07-09 02:21] SkyDriveCN commented on #2044
您好，之前试了很多遍，最后截图的时候@Reference注解应该导错包了，不过我刚刚再试了一次还是不行。
我现在使用**dubbo:reference**标签可以做到引用该服务进行调用：
![image](https://user-images.githubusercontent.com/23717846/42427445-1abed2b2-8361-11e8-9015-0be5f8746c86.png)
![image](https://user-images.githubusercontent.com/23717846/42427465-2c57e676-8361-11e8-842d-1a2206427779.png)
但是使用**dubbo:annotation**标签扫描注解时却无法做到，如果我用的是**dubbox2.8.4**版本是能成功的：
![image](https://

[2018-07-09 02:57] imxig commented on #2048
dubbo2.6.X已经合并了当当网的分支是吧？那么dubbo2.5.3以前版本并不兼容dubbo2.6.X（即合并dubbox后的版本）吧？

[2018-07-09 03:10] chutian52 opened #2050 "Dubbo should pre check if serialization had already been failed."
### Environment

* Dubbo version: 2.6.1
* Operating System version: Fedora 27
* Java version: openjdk 1.8.0_171

### Step to reproduce this issue
* protocol: dubbo
* server: netty4
* serialization: kryo
 when we use `java.util.ArrayList` method `subList`, kyro use `com.esotericsoftware.kryo.serializers.JavaSerializer` to serialize `java.util.ArrayList$SubList`
2. NettyCodecAdapter$InternalEncoder

[2018-07-09 03:14] chutian52 commented on #2044
404表示DispatcherServlet找不到HandlerMethod，其实跟dubbo本身没有关系。我觉得你应该先确定下没有dubbo的情况下请求路径是否可以被访问。

[2018-07-09 03:59] peachyy commented on #2021
之前也尝试过这样的需求，感觉意义不大

[2018-07-09 04:07] web1992 commented on #2050
I agree this. Sometimes I forget `implements Serializable`. I get `TimeoutException` it confused for me.

[2018-07-09 04:08] web1992 commented on #2046
It`s bug

[2018-07-09 04:18] web1992 commented on #2040
To resolve this problem, I think need more test code show what happend.

[2018-07-09 05:17] zonghaishang commented on #1841
You are right, I will confirm this question again.

[2018-07-09 05:47] kimmking commented on #2048
yes

[2018-07-09 06:03] kingwang317 commented on #1914
my problems are resolved

if your services in docker

/dubbo-monitor-simple/src/main/resources/METAINF/dubbo/internal/com.alibaba.dubbo.container.Container

Edit to
jetty-monitor=com.alibaba.dubbo.monitor.simple.container.JettyContainer

and find dubbo.properties edit to

dubbo.container=log4j,spring,registry,jetty-monitor

[2018-07-09 06:17] #1696 closed

[2018-07-09 08:40] yunxiyi opened #2052 "dubbo 整合spring boot 的时候死锁"
dubbo 整合spring boot，在启动的时候发生死锁。在MulticastRegistry 在registered的时候。创建invoker过程中 ，会将MonitorFacotry注入MonitorFilter中。在取MonitorFacotry值时，首先会去SpiExtensionFactory 获取值，如果这里没有获取到；会到SpringExtensionFactory获取，SpringExtensionFactory 这个时候会触发ObjectFactory提前初始化。

[code]

这里会锁住所有对象，而被controller注解的，就是其中一员。

[code]

这个时候就可能产生死锁。因为main 线程可能正在执行创建bean
被 SPI 注解的接口不应该从SpringExtensionFactory 中获取代理对象。
所以这里修改了SpringExtensio

[2018-07-09 08:42] beiwei30 commented on #2050
this is a known issue, I will fix it soon.

[2018-07-09 09:05] chickenlj commented on #2040
@AllenBlock Please forget about the embedded `json` serialization, it has been deprecated and turned out to have some bugs.

recommend use the other serializations, fastjson, hessian, kryo, etc.

[2018-07-09 09:05] chickenlj commented on #2040
Reopen if necessary.

[2018-07-09 09:05] #2040 closed

[2018-07-09 09:09] L-Angel opened #2054 "anonymous inner class doesn't work in callback."
* Dubbo version: 2.5.10
* Operating System version: Win 10
* Java version: 1.8

下面这种写法 会报没有实现Serializable接口

/*cDubboDemoService.helloWorldAsyncCallback(req, new AsncCallbackListener<HelloWorldResponseType>() {
     @Override
     public void onComplete(HelloWorldResponseType response) {
         System.out.println("Async Callback : \n");
         System.out.println(response.getRetMsg());
        

[2018-07-09 09:37] foreveryang321 opened #2055 "ConfigUtils中使用Properties，导致读取boolean、integer等会返回null"
https://github.com/apache/incubator-dubbo-spring-boot-project/issues/60

dubbo-spring-boot-starter.0.2.0.jar
dubbo.2.6.2.jar

application.yml
[code]
调用ConfigUtils.replaceProperty(properties.getProperty(key, defaultValue), (Map) properties)读取配置时，返回 null，java.util.Properties.getProperty源码如下
![42026035-aa059c2e-7af8-11e8-8b6f-80ca38a3d128](https://user-images.githubusercontent.com/5868190/42442936-a3

[2018-07-09 11:03] SkyDriveCN commented on #2044
去除掉dubbo是能够访问到的，我刚才测试了下，发现当使用@Refrence注解和dubbo:annotation标签扫描时，Controller类的构造方法没有被执行即该Controller没有被实例化，而当我使用dubbo:refrence标签和context:component-scan组件扫描时这个Controller是能够被实例化并可以正常访问的。难道dubbo:annotation标签不支持扫描@RestController和@Controller?好像dubbox是支持的，dubbo不是已经合并了dubbox的代码吗？

[2018-07-09 11:33] chickenlj commented on #2039
Please update both dubbo-admin and Dubbo to the latest version first.

[2018-07-09 11:33] #2039 closed

[2018-07-09 11:48] chickenlj commented on #2054
Could you please describe in more detail, for example, stack trace and your configuration?

[2018-07-09 11:49] chickenlj commented on #2054
And do you get this problem when using this feature? http://dubbo.apache.org/#/docs/user/demos/callback-parameter.md?lang=en-us

[2018-07-09 12:36] L-Angel commented on #2054
Yes.is this feature.And some information as bellow is the part of trace.
[code]

[2018-07-09 13:40] chutian52 commented on #2044
xml形式的没有研究过，对于dubbo spring boot 而言，是可以的。爱莫能助

[2018-07-09 14:30] chickenlj commented on #2033
@carryxyh Please help check if it's a bug, if not, we can complete the document.

[2018-07-09 14:39] chickenlj commented on #2029
Fixed in the master branch with #2049, need to sync to 2.6.x.

[2018-07-09 14:42] chickenlj commented on #2021
You can try proxy='jdk', which is more easy to debug.

Reopen whenever is necesary

[2018-07-09 14:42] #2021 closed

[2018-07-09 14:48] chickenlj commented on #2015
@Nocturnana A more detailed case will help to reproduce the problem.

[2018-07-09 14:50] chickenlj commented on #2011
@gy0801151351 This is a good start for contributing to Dubbo in code.

[2018-07-09 14:53] #2007 closed

[2018-07-09 14:57] chickenlj commented on #2006
Can you please give a full stack trace.

[2018-07-09 15:04] chickenlj commented on #2000
It should work with .properties, would you please show your configuration files or attach a demo so we can reproduce the problem?

[2018-07-09 15:08] chickenlj commented on #1992
Would you please describe your problems with more details? We are thinking of the enhancements Dubbo should do in order to satisfy Docker and K8S, it will help a lot if you can do that.

[2018-07-10 01:28] morisenmen commented on #848
dubbo 是否能和dubbogo（https://github.com/AlexStocks/dubbogo）项目合作，以支持较完整的基于dubbo协议的golang的兼容扩展

If dubbo could work with the dubbogo (https://github.com/AlexStocks/dubbogo) project to support a more complete dubbo-based golang compatible extension?

[2018-07-10 02:08] #2029 closed

[2018-07-10 02:40] zhoujw8792 opened #2056 "Dubbo是否可以增加内部事件"
比如dubbo开始启动、停止、发布服务完成等事件

[2018-07-10 03:09] nuotang opened #2058 "Dubbo 使用kyro 序列化 会出现 序列化问题"
2018-07-10 09:41:47,756 [DubboServerHandler-172.17.1.3:20891-thread-499] WARN  CompatibleKryo getDefaultSerializer 39 -  [DUBBO] class java.sql.Timestamp has no zero-arg constructor and this will affect the serialization performance, dubbo version: 2.6.0, current host: 172.17.1.3

2018-07-10 09:34:44,313 [DubboServerHandler-172.17.1.3:20891-thread-500] WARN  CompatibleKryo getDefaultSerializer 39

[2018-07-10 03:16] imxig opened #2059 "exception in dubbo-admin when click provider list"
**官网dubbo-admin 2.6.2源码导入本地，启动运行成功，dubbo控制台中，点击服务【提供者】列表，报错如下：**

[code]

[2018-07-10 03:18] imxig commented on #2048
@kimmking 谢谢

[2018-07-10 03:35] zonghaishang commented on #1841
Through communication, we keep netty as the extension point name, there will be no problem

[2018-07-10 03:35] #1841 closed

[2018-07-10 03:45] beiwei30 commented on #2058
it's a warning from kryo.

[2018-07-10 03:45] #2058 closed

[2018-07-10 06:08] chickenlj commented on #1954
It follows the convention of the standard CachedThreadPool provided by JDK. I think there's no need for a further check.

[2018-07-10 06:13] chickenlj commented on #1960
Duplicate of #1981

[2018-07-10 06:13] #1960 closed

[2018-07-10 06:20] wu560130911 commented on #1954
@chickenlj  are you sure? jdk only provide use SynchronousQueue, not LinkedBlockingQueue

[2018-07-10 06:29] chickenlj commented on #1965
Dubbo-admin is maintained in another repository, please file a new issue here [apache/incubator-dubbo-ops](https://github.com/apache/incubator-dubbo-ops).

[2018-07-10 06:29] #1965 closed

[2018-07-10 07:08] chickenlj commented on #1967
I don't know why you want to try different serialID, which you mentioned from 0-31.

But this part you mentioned is quite reasonable, if a heartbeat event doesn't have any payload, we don't have to deserialize anymore.

[2018-07-10 07:09] chickenlj commented on #1967
Be aware that Dubbo itself mixed `read-only` and `heartbeat` event handling internally.

[2018-07-10 07:59] chickenlj commented on #1968
For case 2, I am afraid there are no perfect solutions, when a heuristic exception occur, you can only retry or check offline.

For case 1, I think it's meaningful to notify the hanging client requests as soon as possible. When Server goes down it will trigger `disconnect` on Client, and we can then return all requests related to this channel.

[2018-07-10 08:08] zhaobingss opened #2060 "thrift question"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: win10
* Java version: 1.8

### Step to re

[2018-07-10 08:18] chickenlj commented on #1977
As far as I know, some users rely on Registry group to isolate clusters belongs to the different business area.

So instead of deleting this feature, we may need to further enhance it, supplement docs, enhance functionality.

[2018-07-10 08:18] chickenlj commented on #1955
Duplicate of #1977

[2018-07-10 08:28] chickenlj commented on #1979
@luyuanwan explains the reason. I am almost sure it's the root cause, reopen if necessary.

[2018-07-10 08:28] #1979 closed

[2018-07-10 08:45] chickenlj commented on #1983
@vangoleo is working on this, @vangoleo , would you like to share your implementation and progress here?

[2018-07-10 08:46] chickenlj commented on #2000
Problem solved.

[2018-07-10 08:46] #2000 closed

[2018-07-10 08:51] ralf0131 commented on #1778
This issue has been done.

[2018-07-10 08:51] #1778 closed

[2018-07-10 08:52] ralf0131 commented on #1441
@MouGG Please check here: https://github.com/dubbo/dubbo-samples/tree/master/dubbo-samples-docker

[2018-07-10 09:12] hidehai commented on #1012
组织：四川文轩在线电子商务有限公司
地点：中国成都
官网:http://www.winxuan.com
联系方式：zhaohai@winshare.com.cn
场景：微服务架构、开放平台、直连平台、业务中台

[2018-07-10 09:19] ningyu1 commented on #2008
@zk789987    Such use: `RegistryConfig.setFile("your path")`

[2018-07-10 09:52] ningyu1 commented on #1923
Very much expect!
Users no longer need self to integrate hystrix to implement short-circuit.
Dubbo can support that too good.

[2018-07-10 09:54] zhaobingss opened #2061 "ThriftProtocol BUG"
- [x] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [x] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: win10
* Java version: 1.8

### Step to re

[2018-07-10 10:06] L-Angel opened #2062 "NPE when use callback and injvm together"
原因：
本地调用不会拿注册中心URL，会使用referenceConfig里面生成的URL，这个URL里面没有CallBack参数信息即INV_ATT_CALLBACK_KEY这个参数的信息

[2018-07-10 11:04] ningyu1 commented on #1505
@zonghaishang
Parameter configuration can be viewed: [Hystrix-Configuration](https://github.com/Netflix/Hystrix/wiki/Configuration)

@wanhuhou
Parameter configuration is best left to the user to choose their own scene to choose.
There are a lot of configurable items.
It’s not an easy thing to integrate well.

[2018-07-10 11:35] chickenlj commented on #1896
Duplicate of #2013

[2018-07-10 11:35] #1896 closed

[2018-07-10 11:38] Jaskey commented on #2013
when can this issue be implemented @chickenlj

[2018-07-10 11:40] chickenlj commented on #1988
In which case, did you find the invokers being empty?

[2018-07-10 11:43] chickenlj commented on #1841
Agree, and this can be solved with #2030

[2018-07-10 12:10] lovepoem commented on #2061
What kind of thrift  is used in your project?

I guess is native thrift

[2018-07-10 12:10] chickenlj commented on #2054
Do you add this part ? `<dubbo:argument index="1" callback="true" />`

[2018-07-10 12:28] chickenlj commented on #1932
Duplicate of #2013

[2018-07-10 12:29] chickenlj commented on #1932
Let's track this problem in #2013

[2018-07-10 12:29] #1932 closed

[2018-07-10 12:30] chickenlj commented on #1929
Would you please send a pull request?

[2018-07-10 12:32] chickenlj commented on #1924
sub-task for #2037

[2018-07-10 12:32] chickenlj commented on #1923
sub-task for #2037

[2018-07-10 13:00] L-Angel commented on #2054
yes,this config is already add to provider.xml that in server.

[2018-07-10 23:39] zhaobingss commented on #2061
no i do not use native thrift
@lovepoem

[2018-07-11 02:03] kibear commented on #2038
`@reference`代表引用spring中定义的bean，`@Autowired`代表注入spring中定义的bean，实际上他们功能是一直的，只不过ref是以前xml的有这个概念，Autowired是注解方式用的。既然现在都是用springboot全注解开发，当然用`@Autowired`来实现注入。没有远程不远程，ref没有远程意思，Autowired也没用本地的意思，如果有，那也是你们自己解释的。

[2018-07-11 03:01] diecui1202 commented on #2062
@L-Angel I'll appreciate that you could provide a demo : )

[2018-07-11 03:10] diecui1202 commented on #2059
@nzomkxia could you help to check this issue? Thanks.

[2018-07-11 03:12] beiwei30 commented on #2062
@L-Angel I tried to reproduce but failed, would you mind to provide a reproducer in your GitHub repo?

[2018-07-11 03:17] DoFunCloud commented on #1012
组织：兜风出行
地点：广东省深圳市
联系方式：lj@dofun.cc
场景：兜风出行车联网云平台

[2018-07-11 03:18] diecui1202 commented on #2056
@zhoujw8792 Dubbo 3.0 will provide these features, you can visit https://lists.apache.org/thread.html/2adaf2156c27a32330b7f0844e4b4c27ff03aa0a1669cc51d325cb4d@%3Cdev.dubbo.apache.org%3E for more information about Dubbo 3.0

Please stay tuned. Thanks.

[2018-07-11 03:32] beiwei30 commented on #2054
would you mind to take a look at https://github.com/dubbo/dubbo-samples/blob/master/dubbo-samples-callback/src/main/java/com/alibaba/dubbo/samples/callback/CallbackConsumer.java#L35 which is exact a anonymous inner class implementation?

[2018-07-11 03:48] nzomkxia commented on #2059
check `message_zh.properties` in your dubbo admin project, is the key `revision` exit? if not, please update your repo: https://github.com/apache/incubator-dubbo-ops/blob/master/dubbo-admin/src/main/resources/i18n/message_zh.properties#L21

[2018-07-11 03:58] L-Angel commented on #2062
@diecui1202 @beiwei30  i push a demo project  that remove internal information to github on weekends.

[2018-07-11 04:12] L-Angel commented on #2054
but this demo inner class is in static method not in a object.

[2018-07-11 05:30] xfbxag opened #2063 "@Service(register=false) is not work"
- [*] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [*] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

* Dubbo version: 2.6.2
* Operating System version: CentOS 7
* Java version: 1.8

@Service(interfaceClass = Du

[2018-07-11 05:51] beiwei30 commented on #2055
pls. check the latest release, I believe this issue has already been addressed. 'dubbo.consumer.check' is mapped to 'false' in the properties.

[2018-07-11 05:51] #2055 closed

[2018-07-11 06:09] zhaijw opened #2064 "ipv6 support"
- [ ] I have searched the [issues](https://github.com/apache/incubator-dubbo/issues) of this repository and believe that this is not a duplicate.
- [ ] I have checked the [FAQ](https://github.com/apache/incubator-dubbo/wiki/FAQ) of this repository and believe that this is not a duplicate.

### Environment

* Dubbo version: 2.6.2
* Operating System version: x86_64 GNU/Linux
* Java version: 1.7.0_80

[2018-07-11 06:35] cgfork commented on #2035
mark

[2018-07-11 07:25] simon518 opened #2065 "dubbo注册zk乱码"
异常：
zk节点： /dubbo/  下面一堆
%25252525252525252525252525，
%25252525252525252525252525，
com.***.**provider

正常：
    /dubbo/
com.***.***provider...

把zk /dubbo节点写了32m的数据，导致连不上zk

[2018-07-11 07:36] imxig commented on #2059
@nzomkxia 下载的message_zh.properties不完整，又重新拉了一份，现在已经好了，谢谢。

[2018-07-11 08:05] ralf0131 commented on #1998
Hi, I am closing this issue for now, please reopen it if you still encounter any issue.

[2018-07-11 08:07] ralf0131 commented on #2059
@imxig The i18n support has been  added recently, could you please check the latest code of  https://github.com/apache/incubator-dubbo-ops/ ?

[2018-07-11 09:30] zhaijw commented on #2064
@justinmclean

[2018-07-11 10:01] tonydzt commented on #1923
这个功能预计什么时候能发布呢

[2018-07-11 15:17] wallacepang opened #2067 "2.5.3版本reference注解调用抛空指针异常"
环境：2.5.3
异常：
A服务通过reference注解引用B，A启动的时候B服务宕机，后面重启B服务
A服务调用B的时候抛NullPointException
正常：
后面重启A服务，调用B服务才正常

[2018-07-11 23:43] majinkai commented on #1012
公司：韩都衣舍电子商务集团有限公司
地点：山东省济南市
联系方式：majinkai@dingtalk.com
场景：服务化架构、业务中台建设

[2018-07-12 01:43] imxig commented on #2059
@ralf0131 你好，我这边刚检查过，本地代码跟https://github.com/apache/incubator-dubbo-ops/ 上的代码一致的，但是一些配置项确实没有，比如：'default.threads、default.retries等等，但是有threads、retries的配置项，是不是源码配置项把"default"给漏掉了？？？请确认一下

[2018-07-12 05:42] beiwei30 commented on #2065
pls. provide a reproducer.

[2018-07-12 05:44] beiwei30 commented on #2062
sure, waiting for your reproducer. @L-Angel pls. make it as simple as possible.

[2018-07-12 05:52] beiwei30 commented on #2054
@L-Angel I don't see the difference. I move all logic in `main` into another class say `CallbackClient`:

[code]

and change `CallbackConsumer` to:

[code]

it still works.

[2018-07-12 05:54] beiwei30 commented on #2065
looks like lots of `%` is written into zookeeper, not sure what happens.

[2018-07-12 05:55] #2052 closed

[2018-07-12 07:02] 13289872326 opened #2069 "dubbo 服务提供者使用JPA 一对多关联，并关闭懒加载查询时，消费者调用服务抛出com.alibaba.com.caucho.hessian.io.HessianFieldException"
[DEBUG] [2018-07-12 14:58:45,030] [http-nio-9306-exec-7] org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:254): Returning cached instance of singleton bean 'basicErrorController'
[DEBUG] [2018-07-12 14:58:45,047] [http-nio-9306-exec-7] org.springframework.web.servlet.mvc.method.annotation.AbstractMessageConverterMethodProcessor.writeWithMessageConver

[2018-07-12 07:05] 13289872326 commented on #2069
此异常抛出极不规律，时有时无，时好时坏，极其影响正常的业务开发，恳请贵方提供一个良好的解决方案

[2018-07-12 07:55] L-Angel commented on #2054
@beiwei30 i push a demo project.the reps address is [https://github.com/L-Angel/dubbodemo](https://github.com/L-Angel/dubbodemo).
And this the reponse body is as bellow
[code]